<% if local_assigns.has_key? :counselors %>
<%
    num_alts = 0
%>
<% local_assigns[:counselors].each_with_index do |counselor, index| %>

<%
    first = index == 0
    last = (index + 1) == local_assigns[:counselors].length
    alt_class = (index + 1) % 2 > 0
    num_alts += 1 if alt_class
    alt_left = alt_class && (num_alts % 2) == 0 && !first && !last
%>

<section class="section section--interviewer <%= if alt_class then %'section--interviewer__alt' end %> <%= if alt_left then %'section--interviewer__alt-left' end %> <%= if last then 'section--interviewer__alt-last' end %>">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="image image--<%= if (index + 1) % 2 > 0 then 'right' else 'left' end %> image--<%= counselor[:frameColor]%>"><img src="<%= get_webpack_asset_value_for_key counselor[:photo] %>" data-rjs="<%= get_webpack_asset_value_for_key counselor[:photo2x] %>" alt="<%= counselor[:name] %>"></div>
            </div>
            <div class="col-md-9 content--interviewer">
                <h2><%= counselor[:name] %></h2>
                <p class="location"><%= counselor[:location] %></p>
                <p><%= counselor[:bio] %></p>
                <% counselor[:questions].each do |question| %>
                    <h3><%= question[:question] %></h3>
                    <p><%= question[:answer] %></p>
                <% end %>
            </div>
        </div>
    </div>
</section>

<% end %>
<% end %>
