<% if local_assigns.has_key? :associates %>
<div class="associates-wrapper container">
    <div class="row">
        <% local_assigns[:associates].sort_by {|a| a[:name].split(' ').last }.each do |associate| %>
        <div class="associates-member col-xs-12 col-sm-6 col-lg-4">
            <h2><%= associate[:name] %></h2>
            <p><%= associate[:description] %></p>
        </div>
        <% end %>
    </div>
</div>
<% end %>
