/*
    Teal: rgb(0, 105, 131);
    Dark Blue: #262E4B;
    Turquoise: #65B89B;
    Lime: #C7F2AA;
    White: #FFFFFF;
*/

/* Style, Image, Color Overrides */

body, html {
    background: #65B89B;
}
.video-overlay {
    background-color: rgba(101, 184, 155, 0.75); /*rgba(0, 105, 131, 0.55);*/
}

.overlay {
    background: rgba(28, 33, 58, 0.9);
}

.cbp-af-header .button {
    background: rgb(0, 105, 131);
}
.cbp-af-header .button:hover {
    background: #262E4B;
}

.header-page {
    background: url('/wwf/img/buildings.jpg');
    background-size: cover;
    min-height: 600px;
}

button.launch {
    background: rgb(0, 105, 131);
}

button.launch.learn-more-button {
    background: rgba(0,0,0,0.05);
    border: 1px solid white;
}

.morph-content,
.content-style-form .method-p .method-span {
    background-color: rgb(0, 105, 131);
}

.content-style-form button:hover,
.content-style-form button.social:hover {
    background-color: #45896E;
}

.content-style-form button,
.content-style-form .method-p:before,
.content-style-form .method-p:after {
    background-color: #65B89B;
}

.content-style-form input[type="text"],
.content-style-form input[type="email"],
.content-style-form input[type="password"] {
    border-color: #65B89B;
}

.content-style-form .icon-close:hover,
.content-style-form .terms-span,
.content-style-form .terms-span a {
  color: #65B89B;
}

.content-style-form input[type="text"]::-moz-placeholder,
.content-style-form input[type="email"]::-moz-placeholder,
.content-style-form input[type="password"]::-moz-placeholder {
  color: #65B89B;
}
.content-style-form input[type="text"]:-ms-input-placeholder,
.content-style-form input[type="email"]:-ms-input-placeholder,
.content-style-form input[type="password"]:-ms-input-placeholder {
  color: #65B89B;
}
.content-style-form input[type="text"]::-webkit-input-placeholder,
.content-style-form input[type="email"]::-webkit-input-placeholder,
.content-style-form input[type="password"]::-webkit-input-placeholder {
    color: #65B89B;
}

.bos-page {
    position: relative;
    background-color: #262E4B;
    background: url('/wwf/img/companies.jpg');
    background-size: cover;
}
.bos-page .background-overlay {
    background-color: rgba(38, 46, 75, 0.94);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.learn-page,
.learn-page .article {
    background-color: rgb(0, 105, 131);
}

#testimonial {
    background-color: #65B89B; /*#262E4B;*/
}

.learn-page .article li:before {
    content: '\f046';
    color: #C7F2AA;
}

.smartly-page,
.smartly-page .article,
.smartly-page .article p,
.smartly-page .article h3 {
    background: #fff;
    color: #000;
}

.mandela-quote {
    background-color: rgb(0, 105, 131);
    color: white;
}

.footer {
    background: #C7F2AA;
    padding: 60px 0px 60px 0px;
}
.footer-links > li,
.footer-links > li > a,
.footer-links > li > a:hover {
    color: rgb(0, 105, 131);
}

.wwf-logo-inline {
    vertical-align: middle;
    position: relative;
    height: 90px;
}
@media (min-width: 350px) {
}

/* Header */

.cbp-af-header #logo img {
    padding: 30px 20px 0px 0px;
}

.cbp-af-header .button {
    margin-top: 30px;
    display: block;
}

.cbp-af-header .button.login {
    margin-top: 30px;
}
.cbp-af-header.cbp-af-header-shrink .button.login {
    margin-top: 20px;
}

.cbp-af-header .social-ico {
    margin-top: 38px;
}

.cbp-af-header.cbp-af-header-shrink .social-ico {
    margin-top: 28px;
}

.cbp-af-header .social-ico .fb-like {
    display: inline-block;
}

/* Hero section */

.logo-phone {
    margin-bottom: 140px;
    margin-top: -60px;
}

.header-page .header1 {
    margin-top: -145px;
}

.header-page .header1 h1 {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 35px;
    line-height: 1.2em;
}

@media (min-width: 480px) {
    .header-page .header1 h1 {
        font-size: 50px;
    }
    button.launch.learn-more-button {
        margin-left: 20px;
    }
    .header-page .header1 h2 {
        margin-bottom: 35px;
    }
}

@media (min-width: 768px) {
    .header-page .header1 h1 {
        margin-left: 45px;
        margin-right: 45px;
        font-size: 60px;
    }
}

.bos-page .context-image {
    width: auto;
    height: auto;
    margin-top: 20px;
    max-width: 75%;
    display: block;
}
@media (min-width: 768) {
    .bos-page .context-image {
        padding-left: 20px;
    }
}

.bos-page .morph-button {
    margin-top: 40px;
}

.smartly-page {
    height: auto !important;
}

.smartly-page ul {
    list-style: disc;
    color: white;
    padding: 30px;
    text-align: left;
}

.smartly-page .smartly-logo-inline {
    width: 160px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

@media (min-width: 350px) {
    .smartly-page .smartly-logo-inline {
        width: 180px;
        margin-left: 10px;
    }
}

.mandela-quote {
    z-index: 998;
    position: relative;
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
}

.mandela-quote h3,
.mandela-quote h4 {
    color: white;
    opacity: 1;
    line-height: 1em;
    font-weight: 400;
}
