<div class="section--executive-certificates-description">
  <%= render partial: "marketing/program-description", locals: {
    title: local_assigns[:title],
    text: local_assigns[:text],
    cta_board:  {
      title: "Ready to start?",
      subtitle: "Applications open soon",
      button: {
        text: "Coming soon",
        loggedInLink: "/settings/application_status"
      },
      list: [
        {
          icon: "/assets/vectors/board/icon-duration.svg",
          label: "duration",
          text: "6-8 weeks"
        },
        {
          icon: "/assets/vectors/board/icon-class.svg",
          label: "class composition",
          text: "Independent Study"
        },
        {
          icon: "/assets/vectors/board/icon-effort.svg",
          label: "effort",
          text: "2-3 hours / week"
        },
        {
          icon: "/assets/vectors/board/icon-career-stage.svg",
          label: "career stage",
          text: "Early-Late Career"
        },
        {
          icon: "/assets/vectors/board/icon-format.svg",
          label: "format",
          text: "Self-paced Curriculum"
        },
        {
          icon: "/assets/vectors/board/icon-tuition.svg",
          label: "tuition",
          text: "Free"
        }
      ]
    }
  } %>
</div>