<div class="table-slider table-slider--with-sections table-slider--degree-comparison-desktop hidden-xs table-slider--degree-comparison-desktop--business-certificate">

    <div class="container">
        <!-- Begin desktop headings -->
        <div class="table-slider__headings-wrapper">
            <div class="table-slider__headings">
                <div class="no-background bordered-bottom heading-separator">Curriculum</div>
                <div class="muted-heading white-background">Economics</div>
                <div class="muted-heading blue-background">Analytics & Statistics</div>
                <div class="muted-heading white-background">Finance & Accounting</div>
                <div class="muted-heading blue-background">Excel</div>
                <div class="no-background bordered-bottom bordered-top heading-separator">Career network of</div>
                <div class="muted-heading blue-background">Enterprise Companies</div>
                <div class="muted-heading white-background">Innovative Startups</div>
                <div class="no-background bordered-bottom bordered-top heading-separator">Access</div>
                <div class="muted-heading blue-background">Start anytime</div>
                <div class="muted-heading white-background">Self paced</div>
                <div class="muted-heading blue-background">Anywhere</div>
                <div class="no-background bordered-top">Cost</div>
            </div>
        </div>
        <!-- End desktop headings -->

        <!-- Begin desktop columns -->
        <div class="table-slider__columns-wrapper">
            <!-- Begin Smartly column -->
            <div class="table-slider__highlighted-column">
                <div style="position: relative">
                    <figure class="table-slider__logo table-slider__logo--smartly">
                        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/logos/smartly-pink-logo.svg' %>" alt="Smartly">
                    </figure>
                    <span class="table-slider__caption">Business<br>Certificate</span>
                </div>
                <div>
                    <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon" style="visibility: hidden"></p>
                </div>
                <div>
                    <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                </div>
                <div>
                    <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                </div>
                <div>
                    <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                </div>
                <div>
                    <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                </div>
                <div>
                    <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon" style="visibility: hidden"></p>
                </div>
                <div>
                    <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                </div>
                <div>
                    <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                </div>
                <div>
                    <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon" style="visibility: hidden"></p>
                </div>
                <div>
                    <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                </div>
                <div>
                    <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                </div>
                <div>
                    <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the-business-certificate/all-devices.svg' %>" alt="all devices icon">&nbsp;&nbsp;***</p>
                </div>
                <div>
                    <p class="semibold">FREE</p>
                </div>
            </div>
            <!-- End Smartly column -->

            <div class="table-slider__columns">
                <div class="scroll-pane clearfix">
                    <!-- Begin HBX column -->
                    <div class="table-slider__col">
                        <div style="position: relative">
                            <figure class="table-slider__logo table-slider__logo--hbx">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/images/the-business-certificate/desktop/hbx-logo.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the-business-certificate/desktop/hbx-logo@2x.png' %>" alt="HBX Logo">
                            </figure>
                            <span class="table-slider__caption table-slider__caption--business-certificate">CORe</span>
                        </div>
                        <div class="no-background bordered-bottom">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon" style="visibility: hidden"></p>
                        </div>
                        <div class="white-background">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div class="blue-background">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div class="white-background">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div class="blue-background">
                            <p>**</p>
                        </div>
                        <div class="no-background bordered-top bordered-bottom">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon" style="visibility:hidden"></p>
                        </div>
                        <div class="blue-background">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                        </div>
                        <div class="white-background">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                        </div>
                        <div class="no-background bordered-top bordered-bottom">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon" style="visibility:hidden"></p>
                        </div>
                        <div class="blue-background">
                            <p>Monthly</p>
                        </div>
                        <div class="white-background">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                        </div>
                        <div class="blue-background">
                            <p class="semibold"><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the-business-certificate/mac.svg' %>" alt="mac icon">&nbsp;&nbsp;***</p>
                        </div>
                        <div class="white-background">
                            <p>$1,950</p>
                        </div>
                    </div>
                    <!-- End HBX column -->

                    <!-- Begin Dartmouth column -->
                    <div class="table-slider__col ">
                        <div style="position: relative">
                            <figure class="table-slider__logo table-slider__logo--dartmouth">
                                <img width="126" height="27" src="<%= get_webpack_asset_value_for_key '/assets/images/the-business-certificate/desktop/dartmouth-logo.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the-business-certificate/desktop/dartmouth-logo@2x.png' %>" alt="Darthmouth Logo">
                            </figure>
                            <span class="table-slider__caption table-slider__caption--business-certificate">BUSINESS BRIDGE</span>
                        </div>
                        <div class="no-background bordered-bottom">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon" style="visibility: hidden"></p>
                        </div>
                        <div class="white-background">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div class="blue-background">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div class="white-background">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div class="blue-background">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div class="no-background bordered-top bordered-bottom">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon" style="visibility:hidden"></p>
                        </div>
                        <div class="blue-background">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div class="white-background">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                        </div>
                        <div class="no-background bordered-top bordered-bottom">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon" style="visibility:hidden"></p>
                        </div>
                        <div>
                            <p class="blue-background two-lines">December,<br> June, July</p>
                        </div>
                        <div class="white-background">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                        </div>
                        <div class="blue-background">
                            <p class="semibold"><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the-business-certificate/school.svg' %>" alt="mac icon">&nbsp;&nbsp;***</p>
                        </div>
                        <div class="white-background">
                            <p>$7,500 - $10,500</p>
                        </div>
                    </div>
                    <!-- End Dartmouth column -->
                </div>
            </div>
        </div>
        <!-- End desktop columns -->
    </div>

</div>
