<div class="table-slider table-slider--degree-comparison-mobile table-slider--degree-comparison-mobile--with-sections table-slider--business-certificate-mobile visible-xs">

    <!-- Begin mobile stats -->
    <div class="table-slider__stats-wrapper">
        <div class="container table-slider__container">
            <div class="row">
                <div class="col-xs-6 col-xs-push-6 table-slider__stats-pane">
                    <div class="table-slider__stats">
                        <div class="table-slider__col">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div class="table-slider__col">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div class="table-slider__col">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div class="table-slider__col">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p class="semibold">**</p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div class="table-slider__col">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                         <div class="table-slider__col">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                        </div>
                        <div class="table-slider__col">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p>Monthly</p>
                            <p>December, June, July</p>
                        </div>
                        <div class="table-slider__col">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                        </div>
                        <div class="table-slider__col">
                            <p class="semibold"><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the-business-certificate/all-devices.svg' %>" alt="all devices icon">&nbsp;&nbsp;***</p>
                            <p class="semibold"><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the-business-certificate/mac.svg' %>" alt="mac icon">&nbsp;&nbsp;***</p>
                            <p class="semibold"><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the-business-certificate/school.svg' %>" alt="school icon">&nbsp;&nbsp;***</p>
                        </div>
                        <div class="table-slider__col">
                            <p class="semibold">FREE</p>
                            <p>$1,950</p>
                            <p>$7,500 - $10,500</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End mobile stats -->

    <!-- Begin mobile brands -->
    <div class="table-slider__brands-wrapper">
        <div class="container table-slider__container">
            <div class="row">
                <div class="col-xs-6 table-slider__brands-pane">
                    <div class="table-slider__brands">
                        <div class="table-slider__item" style="position: relative">
                            <figure class="table-slider__logo">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/logos/smartly-mobile-logo.svg' %>" alt="Smartly">
                            </figure>
                            <span class="table-slider__caption">Business Certificate</span>
                        </div>
                        <div class="table-slider__item" style="position: relative">
                            <figure class="table-slider__logo table-slider__logo--hbx">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/images/the-business-certificate/desktop/hbx-logo.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the-business-certificate/desktop/hbx-logo@2x.png' %>" alt="HBX">
                            </figure>
                            <span class="table-slider__caption">CORe</span>
                        </div>
                        <div class="table-slider__item" style="position: relative">
                            <figure class="table-slider__logo table-slider__logo--dartmouth">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/images/the-business-certificate/desktop/dartmouth-logo.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the-business-certificate/desktop/dartmouth-logo@2x.png' %>" alt="Darthmouth Logo">
                            </figure>
                            <span class="table-slider__caption">Business Bridge</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End mobile brands -->
    <!-- Begin Headings sections -->
    <div class="table-slider__headings-sections-wrapper table-slider__headings-sections-wrapper--enabled">
        <p id="curriculum" class="js-active">Curriculum</p>
        <p id="career-network">Career Network of</p>
        <p id="access">Access</p>
    </div>
    <!-- End Headings sections -->
    <!-- Begin mobile headings -->
    <div class="table-slider__headings-wrapper">
        <div class="table-slider__headings table-slider__headings--no-border-top">
            <div class="table-slider__item" data-parent-section="curriculum">Economics</div>
            <div class="table-slider__item" data-parent-section="curriculum">Analytics & Statistics</div>
            <div class="table-slider__item" data-parent-section="curriculum">Finance & Accounting</div>
            <div class="table-slider__item" data-parent-section="curriculum">Excel</div>
            <div class="table-slider__item" data-parent-section="career-network">Enterprise Companies</div>
            <div class="table-slider__item" data-parent-section="career-network">Innovative Startups</div>
            <div class="table-slider__item" data-parent-section="access">Start Anytime</div>
            <div class="table-slider__item" data-parent-section="access">Self Paced</div>
            <div class="table-slider__item" data-parent-section="access">Anywhere</div>
            <div class="table-slider__item">Cost</div>
        </div>
    </div>
    <!-- End mobile headings -->

</div>
