<a
    <% if local_assigns.has_key? :ng_if %>
        ng-if="<%= ng_if %>"
    <% end %>
    <% if local_assigns.has_key? :ng_click %>
        ng-click="<%= ng_click %>"
    <% end %>
    <% if local_assigns.has_key? :link %>
        href="<%= link %>"
    <% end %>
    <% if local_assigns.has_key? :target %>
        target="<%= target %>"
    <% end %>
    class="button button--lg-secondary"><%= text %></a>
