<a
    <% if local_assigns.has_key? :ng_show %>
        ng-show="<%= ng_show %>"
    <% end %>
    <% if local_assigns.has_key? :ng_click %>
        ng-click="<%= ng_click %>"
    <% end %>
    <% if local_assigns.has_key? :target %>
        target="<%= target %>"
    <% end %>
    <% if local_assigns.has_key? :link %>
        href="<%= local_assigns.fetch :link, '/candidates/signup' %>"
    <% end %>
    class="button button--lg-primary"><%= local_assigns.fetch :text, "sign up - it's free" %></a>