#testimonial.bos-kids {
    background: url(/blue-ocean-strategy/img/kids.jpg);
    z-index: 1000;
    padding-top: 60px;
    background-size: cover;
    background-position: center center;
}

#testimonial.bos-kids::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(8, 32, 71, 0.75);
    position: absolute;
    top: 0;
}

.cbp-af-header .button.login {
    margin-top: 40px;
}

.cbp-af-header.cbp-af-header-shrink .button.login {
    margin-top: 20px;
}

.cbp-af-header .button.share {
    display: none;
}

.morph-content {
    width: 269px;
}

@media screen and (max-width: 767px) {
    .morph-content.open {
        width: 100%;
    }
}