<div class="nav-menu clearfix hidden-xs hidden-sm">

    <% if !omit_nav %>
    <div class="nav-menu__col pull-left">
        <div class="nav-menu__content-middle">
            <div class="nav-menu__list-wrapper">
                <a class="nav-menu__list-title nav-menu-toggler">
                    <span>For Learners</span>
                    <img class="nav-menu-toggler__chevron-white" src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/chevron-icon.svg' %>" alt="chevron">
                    <img class="nav-menu-toggler__chevron-grey" src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/chevron-grey-icon.svg' %>" alt="grey chevron">
                </a>

                <ul class="nav-menu__list">
                    <li>
                        <a href="/platforms">Our Education Platforms</a>
                    </li>
                    <li>
                        <a href="/our-programs">Our Business Certificates</a>
                    </li>
                </ul>
            </div>

            <div class="nav-menu__list-wrapper">
                <a class="nav-menu__list-title nav-menu-toggler">
                    <span>For Employers</span>
                    <img class="nav-menu-toggler__chevron-white" src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/chevron-icon.svg' %>" alt="chevron">
                    <img class="nav-menu-toggler__chevron-grey" src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/chevron-grey-icon.svg' %>" alt="grey chevron">
                </a>

                <ul class="nav-menu__list">
                    <%= render partial: "/marketing/header/smartly/links/employers" %>
                </ul>
            </div>
        </div>
    </div>
    <% end %>

    <div class="nav-menu__col pull-right">
        <div class="nav-menu__content-middle" style="opacity: 0;" ng-style="{opacity: 1}">

            <a ng-show="!app.loggedIn" class="link link--color-secondary nav-menu__login-link" href="/sign-in">log in</a>

            <a ng-show="!!app.loggedIn && !app.continueApplicationInMarketing" ng-click="app.logClick('home')" class="js-cta button <%= " #{signBtnClass}" if local_assigns.has_key? :signBtnClass %>" href="/home" title="Return to Dashboard">Return to Dashboard</a>

            <a ng-show="!!app.loggedIn && app.continueApplicationInMarketing" ng-click="app.logClick('application')" class="js-cta button <%= " #{signBtnClass}" if local_assigns.has_key? :signBtnClass %>" href="/settings/application" title="Continue My Application">Continue My Application</a>

        </div>
    </div>

</div>
