<div class="nav-menu-mobile hidden-md hidden-lg">

    <a class="nav-menu-mobile__toggler-btn">
        <img class="js-close-mobile-menu nav-menu-mobile__toggler-btn--close" src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/close-menu-icon.svg' %>" alt="close menu">
        <img class="js-close-mobile-menu nav-menu-mobile__toggler-btn--close-sticky" src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/close-menu-icon.svg' %>" alt="close menu">
        <img class="js-open-mobile-menu nav-menu-mobile__toggler-btn--open" src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/hamburger-menu-icon.svg' %>" alt="menu">
        <img class="js-open-mobile-menu nav-menu-mobile__toggler-btn--open-sticky" src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/hamburger-menu-pink-icon.svg' %>" alt="menu">
    </a>

    <div class="nav-menu-mobile__toggler-wrapper" style="opacity: 0; top: -100px; display: none;">

        <%= render partial: "marketing/buttons/button-lg-primary", locals: { text: "return to dashboard", link: "/home", ng_show: "!!app.loggedIn && !app.continueApplicationInMarketing", ng_click: "app.logClick('home')" } %>

        <%= render partial: "marketing/buttons/button-lg-primary", locals: { text: "continue my application", link: "/settings/application", ng_show: "!!app.loggedIn && app.continueApplicationInMarketing", ng_click: "app.logClick('application')" } %>

        <% if !omit_nav %>
        <div class="nav-menu-mobile__list-wrapper">
            <div class="scroll-pane">
                <ul class="nav-menu-mobile__list">
                    <li class="nav-menu-mobile__item">For Learners</li>
                    <li>
                        <a href="/platforms">Our Education Platforms</a>
                    </li>
                    <li>
                        <a href="/our-programs">Our Business Certificates</a>
                    </li>
                </ul>
                <ul class="nav-menu-mobile__list">
                    <li class="nav-menu-mobile__item">For Employers</li>
                    <%= render partial: "/marketing/header/smartly/links/employers" %>
                </ul>

                <a ng-if="!app.loggedIn" class="link link--color-primary nav-menu-mobile__login-link text-center" href="/sign-in">
                    <span>log in</span>
                    <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'right-arrow-pink-icon.svg') %>
                </a>

                <br ng-if="!!app.loggedIn">

            </div>
        </div>
        <% end %>

    </div>

</div>
