<%= render partial: "marketing/the-executive-mba/description", locals: {
  title: "Who Enrolls?",
  text: "Selective in admissions, we welcome a diverse international group of high achieving, mid-career professionals to each class, typically with a minimum of seven years of work experience. We value but do not assume extensive executive experience; indeed, we welcome accomplished professionals and entrepreneurs from a diverse set of industry backgrounds."
} %>

<section class="meet-smartly-students meet-smartly-students--classmates meet-smartly-students--grey-reversed-background">
    <%
    @gonzalo = {
        url: "https://www.youtube.com/watch?v=Fozpup2RDyM",
        thumbnail: "/assets/images/the_executive_mba/thumbnails/desktop-gonzalo.jpg",
        thumbnailRetina: "/assets/images/the_executive_mba/thumbnails/desktop-gonzalo@2x.jpg",
        thumbnailMobile: "/assets/images/the_executive_mba/thumbnails/mobile-gonzalo.jpg",
        thumbnailMobileRetina: "/assets/images/the_executive_mba/thumbnails/mobile-gonzalo@2x.jpg",
        title: "Gonzalo de Gisbert",
        subtitle: "Head of Product, Drayson Technologies",
        content: "Imperial College London"
    }
    @joanne = {
        url: "https://www.youtube.com/watch?v=UeRTVmMlCoY",
        thumbnail: "/assets/images/the_executive_mba/thumbnails/desktop-joanne2.jpg",
        thumbnailRetina: "/assets/images/the_executive_mba/thumbnails/desktop-joanne2@2x.jpg",
        thumbnailMobile: "/assets/images/the_executive_mba/thumbnails/mobile-joanne2.jpg",
        thumbnailMobileRetina: "/assets/images/the_executive_mba/thumbnails/mobile-joanne2@2x.jpg",
        title: "Joanne Teh",
        subtitle: "Deputy Director, Monetary Authority of Singapore",
        content: "Harvard University"
    }
    @alexandra = {
        url: "https://www.youtube.com/watch?v=Nwm1iYT9HAU",
        thumbnail: "/assets/images/the_executive_mba/thumbnails/desktop-alexandra.jpg",
        thumbnailRetina: "/assets/images/the_executive_mba/thumbnails/desktop-alexandra@2x.jpg",
        thumbnailMobile: "/assets/images/the_executive_mba/thumbnails/mobile-alexandra.jpg",
        thumbnailMobileRetina: "/assets/images/the_executive_mba/thumbnails/mobile-alexandra@2x.jpg",
        title: "Alexandra Wittke",
        subtitle: "Director Change Management",
        content: "Agile Transformation, Manulife"
    }
    @brent = {
        url: "https://www.youtube.com/watch?v=kSVU3vNaIG8",
        thumbnail: "/assets/images/the_executive_mba/thumbnails/desktop-brent.jpg",
        thumbnailRetina: "/assets/images/the_executive_mba/thumbnails/desktop-brent@2x.jpg",
        thumbnailMobile: "/assets/images/the_executive_mba/thumbnails/mobile-brent.jpg",
        thumbnailMobileRetina: "/assets/images/the_executive_mba/thumbnails/mobile-brent@2x.jpg",
        title: "Brent Sarver",
        subtitle: "Country Program Manager",
        content: "Google Education"
    }
    @andrew = {
        url: "https://www.youtube.com/watch?v=AWt15nMn_-8",
        thumbnail: "/assets/images/the_executive_mba/thumbnails/desktop-andrew.jpg",
        thumbnailRetina: "/assets/images/the_executive_mba/thumbnails/desktop-andrew@2x.jpg",
        thumbnailMobile: "/assets/images/the_executive_mba/thumbnails/mobile-andrew.jpg",
        thumbnailMobileRetina: "/assets/images/the_executive_mba/thumbnails/mobile-andrew@2x.jpg",
        title: "Andrew Chan",
        subtitle: "APAC Regional Program Management",
        content: "Tesla"
    }
    @david = {
        url: "https://www.youtube.com/watch?v=orSvHK2Jl1w",
        thumbnail: "/assets/images/the_executive_mba/thumbnails/desktop-david.jpg",
        thumbnailRetina: "/assets/images/the_executive_mba/thumbnails/desktop-david@2x.jpg",
        thumbnailMobile: "/assets/images/the_executive_mba/thumbnails/mobile-david.jpg",
        thumbnailMobileRetina: "/assets/images/the_executive_mba/thumbnails/mobile-david@2x.jpg",
        title: "David Pengelley",
        subtitle: "Director, Engineering & Design Services",
        content: "Salesforce"
    }
    @anna = {
        url: "https://www.youtube.com/watch?v=zspZB8ZW-e8",
        thumbnail: "/assets/images/the_executive_mba/thumbnails/desktop-anna.jpg",
        thumbnailRetina: "/assets/images/the_executive_mba/thumbnails/desktop-anna@2x.jpg",
        thumbnailMobile: "/assets/images/the_executive_mba/thumbnails/mobile-anna.jpg",
        thumbnailMobileRetina: "/assets/images/the_executive_mba/thumbnails/mobile-anna@2x.jpg",
        title: "Anna Tidstam",
        subtitle: "Head of Software Quality",
        content: "BMW"
    }

    @videos = [@gonzalo, @joanne, @alexandra, @brent, @andrew, @anna, @david]
    
    %>
    <%= render partial: "marketing/galleries/video-gallery",
        locals: {
            title: "#{brand_name_standard} Students",
            videos: @videos
        }
    %>
</section>

<div class="free-mba__separator free-mba__separator--classmates"></div>

<div class="section__poster section__poster--winter-class section__poster--classmates text-center">
    <picture>
        <source media="(max-width: 767px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/emba-infographic.png' %>">
        <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/emba-infographic@2x.png' %>" alt="EMBA April 2019 Class" class="section__poster-image" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/emba-infographic@2x.png' %>">
    </picture>
</div>