<% safe_cache [is_quantic?, local_assigns.to_json.hash] do %>

<div class="table-slider table-slider--degree-comparison-mobile visible-xs">

    <!-- Begin mobile stats -->
    <div class="table-slider__stats-wrapper">
        <div class="container table-slider__container">
            <div class="row">
                <div class="col-xs-6 col-xs-push-6 table-slider__stats-pane">
                    <div class="table-slider__stats">
                        <div class="table-slider__col">
                            <p>$9,600*</p>
                            <p>$192,000</p>
                            <p>$187,000</p>
                            <p>$114,000</p>
                            <p>$58,000</p>
                            <p>$27,000</p>
                            <div class="table-slider__footnote">* <a class="tuition-details" data-toggle="modal" data-target="#modal__tuition">see full details</a></div>
                        </div>
                        <div class="table-slider__col">
                            <p>12 months</p>
                            <p>24 months</p>
                            <p>24 months</p>
                            <p>24 months</p>
                            <p>24 months</p>
                            <p>22 months</p>
                        </div>
                        <div class="table-slider__col">
                            <p>High</p>
                            <p>High</p>
                            <p>High</p>
                            <p>Moderate</p>
                            <p>Moderate</p>
                            <p>Moderate</p>
                        </div>
                        <div class="table-slider__col">
                            <p>680</p>
                            <p>700</p>
                            <p>N/A</p>
                            <p>650</p>
                            <p>622</p>
                            <p>570</p>
                        </div>
                        <div class="table-slider__col">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div class="table-slider__col">
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End mobile stats -->

    <!-- Begin mobile brands -->
    <div class="table-slider__brands-wrapper">
        <div class="container table-slider__container">
            <div class="row">
                <div class="col-xs-6 table-slider__brands-pane">
                    <div class="table-slider__brands">
                        <div class="table-slider__item">
                            <figure class="table-slider__logo">
                                <img src="<%= get_webpack_asset_value_for_key is_quantic? ? '/assets/vectors/logos/quantic-logo-color.svg' : '/assets/vectors/the_executive_mba/logos/smartly-mobile-logo.svg' %>" alt="<%= brand_name_short %>">
                            </figure>
                            <span class="table-slider__caption">Executive MBA</span>
                        </div>
                        <div class="table-slider__item">
                            <figure class="table-slider__logo">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/logos/wharton-mobile-logo.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/logos/wharton-mobile-logo@2x.png' %>" alt="Wharton">
                            </figure>
                            <span class="table-slider__caption">Executive MBA</span>
                        </div>
                        <div class="table-slider__item">
                            <figure class="table-slider__logo">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/logos/kellogg-mobile-logo.svg' %>" alt="Kellogg">
                            </figure>
                            <span class="table-slider__caption">Executive MBA</span>
                        </div>
                        <div class="table-slider__item">
                            <figure class="table-slider__logo">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/logos/johns-hopkins-mobile-logo.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/logos/johns-hopkins-mobile-logo@2x.png' %>" alt="Johns Hopkins">
                            </figure>
                            <span class="table-slider__caption">MBA</span>
                        </div>
                        <div class="table-slider__item">
                            <figure class="table-slider__logo">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/logos/kelley-mobile-logo.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/logos/kelley-mobile-logo@2x.png' %>" alt="Kelley">
                            </figure>
                            <span class="table-slider__caption">Online MBA</span>
                        </div>
                        <div class="table-slider__item">
                            <figure class="table-slider__logo">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/logos/carson-mobile-logo.svg' %>" alt="Carson">
                            </figure>
                            <span class="table-slider__caption">Online MBA</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End mobile brands -->

    <!-- Begin mobile headings -->
    <div class="table-slider__headings-wrapper">
        <div class="table-slider__headings">
            <div class="table-slider__item">Price</div>
            <div class="table-slider__item">Duration</div>
            <div class="table-slider__item">Selectivity</div>
            <div class="table-slider__item">Average GMAT</div>
            <div class="table-slider__item">Scholarships available</div>
            <div class="table-slider__item">Mobile-First curriculum</div>
        </div>
    </div>
    <!-- End mobile headings -->

</div>

<% end %>