<% safe_cache [is_quantic?, local_assigns.to_json.hash] do %>

<div class="table-slider table-slider--degree-comparison-desktop hidden-xs">

    <div class="container">
        <!-- Begin desktop headings -->
        <div class="table-slider__headings-wrapper">
            <div class="table-slider__headings">
                <div>Price</div>
                <div>Duration</div>
                <div>Selectivity</div>
                <div>Average GMAT</div>
                <div>Scholarships available</div>
                <div>Mobile-First curriculum</div>
            </div>
        </div>
        <!-- End desktop headings -->

        <!-- Begin desktop columns -->
        <div class="table-slider__columns-wrapper">
            <!-- Begin Smartly column -->
            <div class="table-slider__highlighted-column">
                <div>
                    <figure class="table-slider__logo">
                        <img src="<%= get_webpack_asset_value_for_key is_quantic? ? '/assets/vectors/logos/quantic-logo-color.svg' : '/assets/vectors/the_executive_mba/logos/smartly-pink-logo.svg' %>" alt="<%= brand_name_short %>">
                    </figure>
                    <span class="table-slider__caption">Executive MBA</span>
                </div>
                <div>
                    <p>$9,600*</p>
                </div>
                <div>
                    <p>12 months</p>
                </div>
                <div>
                    <p>High</p>
                </div>
                <div>
                    <p>680</p>
                </div>
                <div>
                    <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                </div>
                <div>
                    <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                </div>
            </div>
            <!-- End Smartly column -->

            <div class="table-slider__columns">
                <div class="scroll-pane clearfix">
                    <!-- Begin Wharton column -->
                    <div class="table-slider__col">
                        <div>
                            <figure class="table-slider__logo table-slider__logo--wharton">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/logos/wharton-logo.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/logos/wharton-logo@2x.png' %>" alt="Wharton">
                            </figure>
                            <span class="table-slider__caption">Executive MBA</span>
                        </div>
                        <div>
                            <p>$192,000</p>
                        </div>
                        <div>
                            <p>24 months</p>
                        </div>
                        <div>
                            <p>High</p>
                        </div>
                        <div>
                            <p>700</p>
                        </div>
                        <div>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                        </div>
                    </div>
                    <!-- End Wharton column -->

                    <!-- Begin Kellogg column -->
                    <div class="table-slider__col">
                        <div>
                            <figure class="table-slider__logo table-slider__logo--kellogg">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/logos/kellogg-logo.svg' %>" alt="Kellogg">
                            </figure>
                            <span class="table-slider__caption">Executive MBA</span>
                        </div>
                        <div>
                            <p>$187,000</p>
                        </div>
                        <div>
                            <p>24 months</p>
                        </div>
                        <div>
                            <p>High</p>
                        </div>
                        <div>
                            <p>N/A</p>
                        </div>
                        <div>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                        </div>
                    </div>
                    <!-- End Kellogg column -->

                    <!-- Begin Johns Hopkins column -->
                    <div class="table-slider__col">
                        <div>
                            <figure class="table-slider__logo table-slider__logo--johns-hopkins">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/logos/johns-hopkins-logo.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/logos/johns-hopkins-logo@2x.png' %>" alt="Johns Hopkins">
                            </figure>
                            <span class="table-slider__caption">MBA</span>
                        </div>
                        <div>
                            <p>$114,000</p>
                        </div>
                        <div>
                            <p>24 months</p>
                        </div>
                        <div>
                            <p>Moderate</p>
                        </div>
                        <div>
                            <p>650</p>
                        </div>
                        <div>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                        </div>
                    </div>
                    <!-- End Johns Hopkins column -->

                    <!-- Begin Kelley column -->
                    <div class="table-slider__col">
                        <div>
                            <figure class="table-slider__logo table-slider__logo--kelley">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/logos/kelley-school-of-business-logo.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/logos/kelley-school-of-business-logo@2x.png' %>" alt="Kelley">
                            </figure>
                            <span class="table-slider__caption">Online MBA</span>
                        </div>
                        <div>
                            <p>$58,000</p>
                        </div>
                        <div>
                            <p>24 months</p>
                        </div>
                        <div>
                            <p>Moderate</p>
                        </div>
                        <div>
                            <p>622</p>
                        </div>
                        <div>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                        </div>
                    </div>
                    <!-- End Kelley column -->

                    <!-- Begin Carson column -->
                    <div class="table-slider__col">
                        <div>
                            <figure class="table-slider__logo table-slider__logo--carson">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/logos/carson-logo.svg' %>" alt="Carson">
                            </figure>
                            <span class="table-slider__caption">Online MBA</span>
                        </div>
                        <div>
                            <p>$27,000</p>
                        </div>
                        <div>
                            <p>22 months</p>
                        </div>
                        <div>
                            <p>Moderate</p>
                        </div>
                        <div>
                            <p>570</p>
                        </div>
                        <div>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="yes icon"></p>
                        </div>
                        <div>
                            <p><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="no icon"></p>
                        </div>
                    </div>
                    <!-- End Carson column -->
                </div>
            </div>
        </div>
        <!-- End desktop columns -->

        <div class="table-slider__footnote">* <a class="tuition-details" data-toggle="modal" data-target="#modal__tuition">see full details</a></div>
    </div>

</div>

<% end %>