<div class="the-executive-mba-overview">
    <section class="section section--executive-mba text-center">
        <%= render partial: "marketing/galleries/1x1",
        locals: {
            galleryClass: 'gallery--elite-mba',
            col1:{
                title: "An top-tier online EMBA? Yes.",
                #description: "Modeled after executive programs at the world’s leading business schools, the EMBA combines our award-winning MBA curriculum with new courses designed for senior executives. Students " + (@full_exec_mba ? '' : 'will ') + "benefit from a flexible pace requirement and both personalized and group-based learning activities.",
                description: "The Executive MBA combines our award-winning MBA curriculum with added advanced courses designed for mid-career professionals and entrepreneurs. This curriculum is enhanced with a comprehensive <em>student experience</em> that includes exclusive conferences, virtual and in-person meet-ups, a <em>career network</em>, and more.",
                video: {
                    url: "#{is_quantic? ? 'https://www.youtube.com/watch?v=plxX1MYx-CY' : 'https://www.youtube.com/watch?v=UHdUtaaB9ng'}",
                    thumbnail: "/assets/images/the_executive_mba/tom-thumbnail-desktop.png",
                    thumbnailRetina: "/assets/images/the_executive_mba/tom-thumbnail-desktop@2x.jpg",
                    thumbnailMobile: "/assets/images/the_executive_mba/tom-thumbnail-mobile.jpg",
                    thumbnailMobileRetina: "/assets/images/the_executive_mba/tom-thumbnail-mobile@2x.jpg",
                    thumbnailCaption: "#{brand_name_short} Executive MBA Program"
                },
                linkText: 'Full Curriculum Details',
                linkUri: '/executive-mba/curriculum'
            }
        }
        %>
    </section>

    <section class="section section--your-classmates">
        <div class="gallery__title">Executive MBA Student Profile</div>
        <%= render partial: "marketing/galleries/1x1",
            locals: {
                stats: {
                    classModifier: "future-classmates",
                    items: [
                        {
                            title: "Women",
                            number: "34%",
                            numberColor: "coral",
                            iconPath: "/assets/vectors/the-business-certificate/woman-icon.svg",
                            iconTitle: "women icon"
                        },
                        {
                            title: "Countries",
                            number: "32",
                            numberColor: "yellow",
                            iconPath: "/assets/vectors/the_executive_mba/globe-icon.svg",
                            iconTitle: "countries icon"
                        },
                        {
                            title: "Age 34-44",
                            number: "81%",
                            numberColor: "green",
                            iconPath: "/assets/vectors/the_executive_mba/age-icon.svg",
                            iconTitle: "age icon"
                        },
                        {
                            title: "Top Employers",
                            custom: "/assets/vectors/the_free_mba/top-employers-illustration.svg",
                            numberColor: "grey",
                            iconPath: "/assets/vectors/the_free_mba/award-icon.svg",
                            iconTitle: "award icon"
                        }
                    ]
                },
                col1: {
                    description: "We evaluate applicants on education, work experience, and leadership attributes. Our global EMBA candidates possess top academic credentials and have demonstrated industry, management or entrepreneurial success."
                }
            }
        %>

        <div class="section__poster section__poster--executive-mba">
            <picture>
                <source media="(max-width: 767px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/emba-infographic.png' %>">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/emba-infographic@2x.png' %>" alt="EMBA April 2019 Class" class="section__poster-image" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/emba-infographic@2x.png' %>">
            </picture>
        </div>
    </section>

    <section class="meet-smartly-students">
    	<%
        @gonzalo = {
            url: "https://www.youtube.com/watch?v=Fozpup2RDyM",
            thumbnail: "/assets/images/the_executive_mba/thumbnails/desktop-gonzalo.jpg",
            thumbnailRetina: "/assets/images/the_executive_mba/thumbnails/desktop-gonzalo@2x.jpg",
            thumbnailMobile: "/assets/images/the_executive_mba/thumbnails/mobile-gonzalo.jpg",
            thumbnailMobileRetina: "/assets/images/the_executive_mba/thumbnails/mobile-gonzalo@2x.jpg",
            title: "Gonzalo de Gisbert",
            subtitle: "Head of Product, Drayson Technologies",
            content: "Imperial College London"
        }
        @joanne = {
            url: "https://www.youtube.com/watch?v=UeRTVmMlCoY",
            thumbnail: "/assets/images/the_executive_mba/thumbnails/desktop-joanne2.jpg",
            thumbnailRetina: "/assets/images/the_executive_mba/thumbnails/desktop-joanne2@2x.jpg",
            thumbnailMobile: "/assets/images/the_executive_mba/thumbnails/mobile-joanne2.jpg",
            thumbnailMobileRetina: "/assets/images/the_executive_mba/thumbnails/mobile-joanne2@2x.jpg",
            title: "Joanne Teh",
            subtitle: "Deputy Director, Monetary Authority of Singapore",
            content: "Harvard University"
        }
        @alexandra = {
            url: "https://www.youtube.com/watch?v=Nwm1iYT9HAU",
            thumbnail: "/assets/images/the_executive_mba/thumbnails/desktop-alexandra.jpg",
            thumbnailRetina: "/assets/images/the_executive_mba/thumbnails/desktop-alexandra@2x.jpg",
            thumbnailMobile: "/assets/images/the_executive_mba/thumbnails/mobile-alexandra.jpg",
            thumbnailMobileRetina: "/assets/images/the_executive_mba/thumbnails/mobile-alexandra@2x.jpg",
            title: "Alexandra Wittke",
            subtitle: "Director Change Management",
            content: "Agile Transformation, Manulife"
        }
        @brent = {
            url: "https://www.youtube.com/watch?v=kSVU3vNaIG8",
            thumbnail: "/assets/images/the_executive_mba/thumbnails/desktop-brent.jpg",
            thumbnailRetina: "/assets/images/the_executive_mba/thumbnails/desktop-brent@2x.jpg",
            thumbnailMobile: "/assets/images/the_executive_mba/thumbnails/mobile-brent.jpg",
            thumbnailMobileRetina: "/assets/images/the_executive_mba/thumbnails/mobile-brent@2x.jpg",
            title: "Brent Sarver",
            subtitle: "Country Program Manager",
            content: "Google Education"
        }

        @videos = [@gonzalo, @joanne, @alexandra, @brent]
	    %>
        <%= render partial: "marketing/galleries/video-gallery",
            locals: {
                videos: @videos,
                linkUri: '#',
                linkText: 'More About Our Students'
            }
        %>
        <div class="gallery__link text-center">
            <a class="link" href="/executive-mba/students">
                <span>More about our students</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                    <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
                </svg>
            </a>
        </div>
    </section>

    <div class="container">
        <hr class="divider divider--light-fade">
    </div>

    <section class="section section--two-by-two">
          <div class="gallery gallery--two-by-two container">
            <div class="row networking-weekends" id="events">
                <div class="col-xs-12 col-sm-6">
                    <div class="video-gallery__card">
                        <div class="video-gallery__panel" data-video-url="<%= is_quantic? ? 'https://www.youtube.com/watch?v=k7BL41Bmffc' : 'https://youtu.be/AFL_QFgRLDA' %>">
                            <picture>
                                <source media="(max-width: 991px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/studentsummit_thumbnail.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/studentsummit_thumbnail@2x.png' %> 2x">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/studentsummit_thumbnail.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/studentsummit_thumbnail@2x.png' %>" alt="Student Summit Video">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 text-center text-sm-left gallery__text">
                    <div class="gallery__title">Transformative Experiences</div>
                    <p class="gallery__description">During the program, you can attend EMBA-exclusive workshop and networking weekends in cities around the world (recent sites have included Washington DC, Dublin, and Singapore). You'll socialize with your exceptional classmates while putting your learning to use in group case studies. Beyond the curriculum, you'll connect with thousands of high-caliber students and employers in our <%= brand_name_short %> alumni and career platform, enhancing your personal and professional networks.</p>
                    <div class="gallery__link">
                        <a class="link link--text-sm" href="/executive-mba/network">
                            More about our Network
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                                <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row pricing-scholarships">
                <div class="col-xs-12 col-sm-6 col-sm-push-6">
                    <img width="260" src="<%= get_webpack_asset_value_for_key '/assets/vectors/free-mba/pricing-scholarships-illustration.svg' %>" class="gallery__illustration gallery__illustration--pricing-scholarships">
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-pull-6 text-center text-sm-left gallery__text">
                    <div class="gallery__title">Tuition and Scholarships</div>
                    <p class="gallery__description">Our model allows us to charge a small fraction of traditional EMBA programs. <%= Time.new.year %> tuition is just $9600 USD, not including optional networking events. We also award merit and need-based scholarships to make the EMBA as widely accessible as possible. Many companies <a href="/tuition-assistance/students">reimburse their employees</a> for our programs as well.</p>
                    <div class="gallery__link">
                        <a class="link link--text-sm tuition-details" data-toggle="modal" data-target="#modal__tuition">
                            See full tuition details
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                                <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row career-outcomes">
                <div class="col-xs-12 col-sm-6">
                    <img width="270" src="<%= get_webpack_asset_value_for_key '/assets/vectors/executive-mba/career-outcomes.svg' %>" class="gallery__illustration gallery__illustration--career-outcomes">
                </div>
                <div class="col-xs-12 col-sm-6 text-center text-sm-left gallery__text">
                    <div class="gallery__title">Proven Career Outcomes</div>
                    <p class="gallery__description"><%= brand_name_standard %> students gain the skills and perspective needed to secure more senior roles, and the confidence and connections to join or start a new company. In fact, 94% of our alumni say they met their career goals post graduation.</p>
                    <div class="gallery__link">
                        <a class="link link--text-sm" href="/executive-mba/outcomes">
                            More About Student Outcomes
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                                <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--degree-comparison text-center">
        <h1 class="section__title primary-title">MBA degree comparison</h1>

        <!-- Mobile comparison table -->
        <%= render partial: "marketing/the-executive-mba/comparison-table-mobile" %>

        <!-- Tablet/desktop comparison table -->
        <%= render partial: "marketing/the-executive-mba/comparison-table-desktop" %>
    </section>
</div>