<% safe_cache [is_quantic?, local_assigns.to_json.hash] do %>

<section class="section--student-experience">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="gallery__video gallery__video--small-button gallery__video--red-button" data-video-url="<%= is_quantic? ? 'https://www.youtube.com/watch?v=4ghCJPTN0jA' : 'https://www.youtube.com/watch?v=V4B89iLJGcM' %>">
            <picture>
                <source media="(max-width: 767px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/curriculum/student-experience-video-thumbnail-mobile.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/curriculum/student-experience-video-thumbnail-mobile@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/curriculum/student-experience-video-thumbnail-desktop@2x.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/curriculum/student-experience-video-thumbnail-desktop@2x.png' %>" alt="Our method" width="487" height="274">
            </picture>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 gallery__text">
        <h1 class="gallery__title"><%= local_assigns[:title] %></h1>
        <div class="gallery__description"><%= local_assigns[:text].html_safe %></div>
        <div class="gallery__link">
          <% if is_quantic? %>
          <a class="link link--text-sm" href="<%= local_assigns[:linkUri] %>">
            <span><%= local_assigns[:linkText] %></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
            </svg>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<% end %>