<div class="footer-disclaimer">
  <div class="divider divider--light-fade hidden-sm hidden-md hidden-lg"></div>
  <p>
    3000 K St NW, Ste 275, Washington, DC, 20007, USA • info@<%= AppConfig.smartly_domain %>
  </p>
</div>