<% if !alternateBottom %>
    <div class="footer-mobile hidden-md hidden-lg">
        <% if top %>
        <div class="footer-mobile__links">
            <div class="footer-mobile__links-row accordion">
                <div class="accordion__header">
                    <span class="accordion__title">smartly</span>
                    <div class="accordion__btn accordion__btn--expand">
                        <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'expand-footer-mobile-icon.svg') %>
                    </div>
                    <div class="accordion__btn accordion__btn--close">
                        <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'close-footer-mobile-icon.svg') %>
                    </div>
                </div>

                <div class="accordion__content">
                    <ul class="footer-mobile__links-list">
                        <%= render partial: "marketing/footer/smartly/links/about" %>
                    </ul>
                </div>
            </div>

            <div class="footer-mobile__links-row accordion">
                <div class="accordion__header">
                    <span class="accordion__title">career network</span>
                    <div class="accordion__btn accordion__btn--expand">
                        <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'expand-footer-mobile-icon.svg') %>
                    </div>
                    <div class="accordion__btn accordion__btn--close">
                        <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'close-footer-mobile-icon.svg') %>
                    </div>
                </div>

                <div class="accordion__content">
                    <ul class="footer-mobile__links-list">
                        <%= render partial: "marketing/footer/smartly/links/jobs", :locals => local_assigns %>
                    </ul>
                </div>
            </div>

            <div class="footer-mobile__links-row accordion">
                <div class="accordion__header">
                    <span class="accordion__title">resources</span>
                    <div class="accordion__btn accordion__btn--expand">
                        <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'expand-footer-mobile-icon.svg') %>
                    </div>
                    <div class="accordion__btn accordion__btn--close">
                        <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'close-footer-mobile-icon.svg') %>
                    </div>
                </div>

                <div class="accordion__content">
                    <ul class="footer-mobile__links-list">
                        <li><a href="/help/contact" target="_blank">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <br><br>

        <div class="footer-mobile__legal">
            <a class="footer-mobile__legal-link" href="/terms">Terms</a>
            <a class="footer-mobile__legal-link" href="/privacy">Privacy</a>
            <a class="footer-mobile__legal-link" href="/cookies">Cookies</a>
            <% if include_impressum %><a class="footer-mobile__legal-link" href="/impressum">Impressum</a><% end %>
            <a class="footer-mobile__legal-link" href="/regulatory-information">Regulatory Information</a>
        </div>

        <hr class="divider divider--light footer-mobile__separator">
        <% end %>
        <% if bottom and !alternateBottom %>
        <footer class="footer-mobile__credits">
            <div class="footer-mobile__credits-logo">
                <a href="#">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/logos/smartly-pink-logo.svg' %>" alt="Smartly">
                </a>
            </div>

            <h6>Washington, DC</h6>

            <h6>©<%= Time.new.year %> Pedago, LLC. All rights reserved.</h6>
        </footer>
        <% end %>
    </div>
<% end %>
<% if alternateBottom  %>
    <div class="footer-mobile-alternate visible-xs visible-sm">
        <div>
            <a href="/terms" target="_blank">Terms</a>
            <span class="separator">·</span>
            <a href="/privacy" target="_blank">Privacy</a>
            <span class="separator">·</span>
            <a href="/cookies" target="_blank">Cookies</a>
            <% if include_impressum %>
            <span class="separator">·</span>
            <a href="/impressum" target="_blank">Impressum</a>
            <% end %>
            <span class="separator">·</span>
            <a href="/regulatory-information">Regulatory Information</a>
        </div>
        <div>©<%= Time.new.year %> Pedago, LLC. All rights reserved.</div>
    </div>
<% end %>
