<div class="banner-message<%= " #{cssClass}" if local_assigns.has_key? :cssClass %>"  style="visibility: hidden" ng-style="{visibility: 'visible'}">
    <p>
        <span>
            <%= application_deadline_message[:message].html_safe %>

            <% if application_deadline_message[:admission_round] %>
                <% if application_deadline_message[:admission_round].cohort_has_multiple_rounds? %>
                    <% if application_deadline_message[:admission_round].last_round_in_cycle? %>
                        Final round applications close
                    <% else %>
                        Round <%= application_deadline_message[:admission_round].index %>
                        applications close
                    <% end %>
                <% else %>
                    Applications close
                <% end %>
                <strong>{{app.dateHelper.formattedUserFacingMonthDayLong(<%= 1000*application_deadline_message[:admission_round].application_deadline.to_i %>)}}</strong>.
            <% end %>

        </span>
        <% if local_assigns.has_key? :linkText && :linkUri  %>
        <a href="<%= linkUri %>">
            <%= linkText %>
        </a>
        <% end %>
    </p>
</div>