<div class="banner-message<%= " #{applyBannerCSS}" if local_assigns.has_key? :applyBannerCSS %>"  style="visibility: hidden" ng-style="{visibility: 'visible'}">
    <p>
        <span>
            COVID-19 Response: No Disruption to Classes, Increased Scholarships.
        </span>
        <% if local_assigns.has_key? :linkText && :linkUri  %>
        <a href="<%= linkUri %>" <%= 'target="_blank"' if local_assigns[:blankTarget] %>>
            <%= linkText %>
        </a>
        <% end %>
    </p>
</div>