<%
    site = is_quantic? ? "quantic" : "smartly"

    # Compute some things we'll need below, including updates to the @body_class
    # We have to do this outside of the cache below, since we want the side effects
    # of updating the @body_class to take effect for some other templates.
    smartly_post_switchover = !is_quantic?

    apply_banner_visible = local_assigns.has_key?(:banner) &&
            !local_assigns[:banner].blank? && 
            !local_assigns[:banner][:application_deadline_message].blank? &&
            !smartly_post_switchover

    covid19_banner_visible = !@disable_covid19_banner

    one_banner_visible = apply_banner_visible || covid19_banner_visible
    both_banners_visible = apply_banner_visible && covid19_banner_visible

    # This is a bit hackish, but we want this global side effect where we add these 
    # classes to the body of the page via this variable.
    @body_class += ' has-sticky-banner' if one_banner_visible
    @body_class += ' double-banner' if both_banners_visible

    # Gather up the nav menu variables we want to pass down
    nav_menu_assigns = {
        omit_nav: @omit_nav,
        show_hiring_join_button: @show_hiring_join_button,
        show_learner_join_button: @show_learner_join_button,
        show_emba_join_button: @show_emba_join_button,
        show_demo_request_button: @show_demo_request_button
    }
%>

<% safe_cache %W(
        #{site}
        #{is_quantic?}
        #{@body_class['no-sticky-menu']}
        #{apply_banner_visible}
        #{covid19_banner_visible}
        #{@no_smartly_link}
        #{nav_menu_assigns.to_json.hash}
        #{local_assigns.to_json.hash}
    ) do
%>

<div class="header">
    <div class="header__wrapper header__wrapper--sticky <% if @body_class['no-sticky-menu'] %>header__wrapper--absolute<% end%>">
        <div class="container">
            <div class="row">
                <div class="navbar col-xs-12 clearfix">
                    <div class="app-logo pull-left">

                        <% unless @no_smartly_link %><a href="/"><% end %>
                            <% if site == "smartly" %>
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/logos/smartly-logo.svg' %>" alt="Smartly">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/logos/smartly-pink-logo.svg' %>" alt="Smartly">
                            <% else %>
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/logos/quantic-logo-white.svg' %>" alt="Quantic" width="132" height="32" class="quantic">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/logos/quantic-logo-color.svg' %>" alt="Quantic" width="132" height="32" class="quantic">
                            <% end %>
                        <% unless @no_smartly_link %></a><% end %>
                    </div>

                    <nav class="nav-wrapper pull-right">

                        <%# Template Dependency: marketing/header/quantic/nav-menu-desktop %>
                        <%# Template Dependency: marketing/header/smartly/nav-menu-desktop %>
                        <%= render :partial => "marketing/header/#{site}/nav-menu-desktop", :locals => local_assigns.merge(nav_menu_assigns) %>

                        <%# Template Dependency: marketing/header/quantic/nav-menu-mobile %>
                        <%# Template Dependency: marketing/header/smartly/nav-menu-mobile %>
                        <%= render :partial => "marketing/header/#{site}/nav-menu-mobile", :locals => local_assigns.merge(nav_menu_assigns) %>
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <%
        # When there's just one banner, the local_assigns[:banner][:cssClass] defines the style override
        # If there are two banners, then the bottom banner gets the style override, while the top banner
        # gets the "inverse" color scheme (i.e.: red <--> blue). Note that when nothing is passed in, we
        # assume the default color of blue for the top-most banner.
        banner_css = local_assigns[:banner] && local_assigns[:banner][:cssClass]
        apply_banner_css = banner_css.nil? ? 'banner-message--default' : banner_css

        # Invert the top banner CSS if both are visible
        if both_banners_visible
            if (['banner-message--red', 'banner-message--pink'].include?(apply_banner_css))
                banner_css = 'banner-message--blue'
            elsif (['banner-message--blue', 'banner-message--default'].include?(apply_banner_css))
                banner_css = 'banner-message--red'
            end

            override = {
                cssClass: banner_css
            }
            if local_assigns[:banner]
                local_assigns[:banner] = local_assigns[:banner].merge(override)
            else
                local_assigns[:banner] = override;
            end
        end
    %>

    <% if one_banner_visible %>
        <div class="banner-message-container <%= both_banners_visible ? 'double-height' : '' %>">
            <%=
                if apply_banner_visible
                    render partial: "marketing/header/banner-message", locals: local_assigns[:banner]
                end
            %>

            <%=
                if covid19_banner_visible
                    render partial: "marketing/header/covid19-banner", locals: {
                        linkText: "Learn More",
                        linkUri: "https://blog.quantic.edu/2020/03/23/covid-19-response-no-disruption-to-classes-increased-scholarships/",
                        blankTarget: true,
                        applyBannerCSS: apply_banner_css
                    }
                end
            %>
        </div>
    <% end %>
</div>

<% end %>