<div class="tabs-header <% if local_assigns[:avoid_banner] %>tabs-header--avoid-banner<% end %>">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-8 tabs-header__nav">
        <div class="row">
          <div class="content-tabs content-tabs--minimal js-content-tabs">
            <div class="content-tabs__wrapper">
              <div class="scroller">
                <% tabs.each do |tab| %>
                  <a
                    href="<%= tab[:href] %>"
                    <% if tab[:active] %>
                      data-index="<%= tab[:href] %>"
                    <% end %>>
                    <%= tab[:title] %>
                  </a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-md-4 hidden-xs tabs-header__buttons">
        <a ng-show="!app.loggedIn" class="link link--color-secondary nav-menu__login-link" href="/sign-in">log in</a>
        <% if is_quantic? %>
        <a ng-show="!app.loggedIn" ng-click="app.logClick('join-free')" class="js-cta button button--sm-primary-pink button--sm-secondary" href="/candidates/signup"><%= local_assigns[:link_text] %></a>
        <% end %>
        <a ng-show="!!app.loggedIn" ng-click="app.logClick('home')" class="js-cta button button--sm-primary-pink ng-hide button--sm-secondary" href="/home" title="Return to Dashboard">Return to Dashboard</a>
      </div>
    </div>
  </div>
</div>