<%= render partial: "marketing/the-free-certificates/description", locals: {
  title: "Admission Decisions",
  text: "We evaluate candidates on their academic background, career accomplishments and the thoughtfulness and candor within their application. Ultimately, we look for driven individuals with business, management and leadership potential."
} %>

<section class="section section--one-by-one section--one-by-one-admissions-executive section--one-by-one-admissions-executive-certificates">
  <div class="gallery gallery--one-by-one container">
    <div class="row interviews">
      <div class="col-xs-12 col-sm-6">
        <img width="222" src="<%= get_webpack_asset_value_for_key '/assets/vectors/free-mba/illustration-interviews.svg' %>" class="gallery__illustration gallery__illustration--interviews">
      </div>
      <div class="col-xs-12 col-sm-6 text-center text-sm-left gallery__text">
        <div class="gallery__title">Enrollment</div>
        <p class="gallery__description">Once admitted, you may begin study at your convenience. The program is self-paced, typically completed in a 6-8 week timeframe.</p>
      </div>
    </div>
    <div class="row tuition-fees">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <img width="260" src="<%= get_webpack_asset_value_for_key '/assets/vectors/free-mba/pricing-scholarships.svg' %>" class="gallery__illustration gallery__illustration--tuition-fees">
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6 text-center text-sm-left gallery__text">
        <div class="gallery__title">Tuition Fees</div>
        <p class="gallery__description">Tuition is 100% free for our Fundamentals of Business Certificate students thanks to our innovative model that charges companies to hire students in our career network. To attend some of our optional group events and excursions, there may be a modest activity fee to cover costs.</p>
      </div>
    </div>
  </div>
</section>
