<%= render partial: "marketing/the-free-certificates/description", locals: {
  title: "Program Description",
  text: "The <strong>Fundamentals of Business Certificate</strong> is an introductory primer on business thinking and decision making. The curriculum instills a broad understanding of important concepts in finance, economics, accounting, and statistics and helps students develop fluency in the language of business. Each section in the curriculum is capped by an exam to demonstrate mastery."
} %>

<%= render partial: "marketing/the-executive-certificates/our-method",
    locals: {
      title: 'Our Method',
      text: "#{brand_name_short} is a pioneer in technology-driven instructional design. Our award-winning interactive software represents the core of this Free Certificate curriculum. Our team of writers, editors and developers work with leading professors from top business schools to bring a traditional course of study to life, with bite-size lessons and individualized feedback every 8 seconds.",
      linkText: 'More About Our Method',
      linkUri: '/programs/method'
    }
%>

<section class="section section--the-curriculum section--the-curriculum-executive-certificates">
  <div class="section-cut-shape"></div>
  <div class="container">
    <div class="row text-center">
      <h1 class="gallery__title">The Curriculum</h1>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <p class="gallery__description">The Fundamentals of Business curriculum is comprised of <strong><%= @curriculum[:concentrations].length %> required concentrations</strong> with an exam at the conclusion of each.</p>
      </div>
    </div>
    <div class="the-curriculum-accordion">
      <div class="nestable-accordion">
        <%= render partial: "marketing/nestable-accordion-playlists", locals: { playlists: @curriculum[:concentrations] } %>
      </div>
    </div>
  </div>
</section>

<section class="section--executive-certificates-projects-diploma">
  <div class="container">
    <div class="row projects">
      <div class="col-xs-12 col-sm-6">
        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/illustration-written-project.svg' %>" alt="Projects" class="gallery__illustration">
      </div>
      <div class="col-xs-12 col-sm-6 gallery__text">
        <div class="gallery__title">Exams</div>
        <div class="gallery__description">To earn the certificate, students complete <%= @curriculum[:concentrations].length %> concentrations in foundational business subjects, each of which concludes with an exam. A minimum score of 70% is required on each exam.</div>
      </div>
    </div>
    <div class="row diploma--free">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/free-certificates.svg' %>" alt="Diploma" class="gallery__illustration">
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6 gallery__text">
        <div class="gallery__title">Diploma</div>
        <div class="gallery__description">The Fundamentals of Business Certificate is awarded by Smartly's School of Professional Education, licensed by the Office of the State Superintendent of Education (OSSE) of Washington, DC.</div>
        <div class="gallery__link">
          <a class="link link--text-sm" href="/help/article/317-smartlys-degrees-and-certifications" target="_blank">
            <span>Learn More</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--degree-comparison section--degree-comparison--business-certificate text-center" id="rival-programs">
    <h1 class="section__title primary-title">How the Certificate Stacks Up</h1>
    <%= render partial: "marketing/the-free-certificates/table-mobile" %>
    <!-- Tablet/desktop comparison table -->
    <%= render partial: "marketing/the-free-certificates/table-desktop" %>
    <div class="table-disclaimer-wrapper">
        <p class="table-disclaimer">**HBX includes exercises in excel but does not offer specific coursework in mastering excel.</p>
        <p class="table-disclaimer">***<%= brand_name_short %> is mobile optimized and can be completed from your smartphone or tablet. HBX is optimized for a large screen. Tuck's Bridge to Business is a residential program in Hanover, NH.</p>
    </div>
</section>