<a class="facebook" href="https://www.facebook.com/<%= brand_social_name %>" target="_blank">
    <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'social_media', 'facebook-footer-icon.svg') %>
</a>
<a class="twitter" href="https://twitter.com/<%= brand_social_name %>" target="_blank">
    <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'social_media', 'twitter-footer-icon.svg') %>
</a>
<a class="linkedin" href="<%= is_quantic? ? "https://linkedin.com/school/QuanticSchool" : 'https://www.linkedin.com/school/15133128?pathWildcard=15133128'%>" target="_blank">
    <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'social_media', 'linkedin-footer-icon.svg') %>
</a>
<a class="instagram" href="https://www.instagram.com/<%= brand_social_name %>/" target="_blank">
    <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'social_media', 'instagram-footer-icon.svg') %>
</a>
