<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <%= render "shared/shared_head" %>

    <!-- Stylesheets /-->
    <link rel="stylesheet" href="/blue-ocean-strategy/css/consolidated.css"><!-- gumby, component, animate, style, smartly, content -->
    <link href="/assets/fontawesome/v5/css/all.min.css" rel="stylesheet">

    <script>
        window.MANUAL_BOOTSTRAP_MODULE = 'BOSLanding';
    </script>

</head>

<body ng-controller="BOSLandingCtrl as app">
    <script type="text/javascript">
        if (localStorageEnabled && !!window.localStorage.auth_headers && window.localStorage.auth_headers !== '{}') {
            // redirect to dashboard
            window.location = '/home';
        }
        window.serverDeterminedLocale = '<%= @server_determined_locale %>';
    </script>

    <!-- Preload the Whole Page -->
    <div id="preloader">
        <div id="loading-animation">&nbsp;</div>
    </div>


    <div class="overlay"></div>
    <signup-form></signup-form>

    <!-- NAVIGATION ############################################### -->
    <div class="cbp-af-header">

        <nav class="row">

            <!--  Share DIV-->
             <div class="right">

                <a class="button login" href="/sign-in" target="_self" ng-click="app.logClick('sign-in')">Login</a>

                <a class="button share">Share</a>

                <div class="social-ico" id="social-container" style="">

                    <!--  Facebook Share Button-->
                    <div class="fb-like" data-href="https://smart.ly/blue-ocean-strategy" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

                    <!-- Twitter Share Button -->
                    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Master #BlueOcean Strategy with the new course by #Smartly - free!" data-url="http://j.mp/learnblue" data-via="@<%= brand_social_name %> @BlueOceanStrtgy @HarvardBiz">Tweet</a>

                </div> <!-- End class social-ico div -->

            </div> <!-- End Share dIV -->

             <!-- Logo -->
            <div id="logo">
                <a href="/" target="_self" ng-click="app.logClick('home')"><img alt="Smartly" width="150" height="76" src="/landing-pages/img/smartly-logo2.svg"></a>
            </div>

        </nav>
    </div>
    <!-- END NAVIGATION ############################################### -->


    <!-- HEADER ############################################### -->


    <section class="header-page" id="top">

        <div class="video-overlay"></div>

        <!-- Huge Title centered -->

        <div class="huge-title">

            <!-- This Logo is only displayed on Tablet/iPhone !-->
            <div class="logo-phone centered"><img alt="Smartly" src="/landing-pages/img/smartly-icon.svg"></div>

            <div class="header1">
                <h1>Learn Blue Ocean</h1>
                <h2>Exclusively for Blue Ocean Entrepreneurship Competition students.</h2>
                <!-- <a href="#"> -->

                    <!-- begin: morph button -->
                    <div ng-click="app.logClick('launch-button-1')" class="morph-button morph-button-modal morph-button-modal-3 morph-button-fixed launch-button-1">
                        <button type="button" class="launch border-button pulse-outline">Get Started Now <i class="fa fa-angle-right fa-lg animated"></i></button>
                    </div>
                    <!-- end: morph-button -->

                    <br>
                    <span class="header1-button-tagline">Online, interactive, and free for all teams</span>
                <!-- </a> -->
            </div>
        </div>

        <!-- Little text on bottom with arrow -->
        <a href="#container">
            <div class="go-down">
                <p>Learn More</p>
                <img src="/landing-pages/img/go-down.png" alt="Go Down">
            </div>
        </a>

    </section>
    <!-- END HEADER ############################################### -->


    <!-- BEGIN CONTAINER ############################################### -->
    <div id="container" class="container">


        <!-- BOS INFO SECTION ############################################### -->
        <section class="cbp-so-section bos-page">

            <div class="row">
                <div class="six columns article make-it-appear-left">

                    <!-- Title -->
                    <h3>Be Blue Ocean</h3>

                    <!-- Content -->
                    <p>
                        At its publication, the internationally best-selling book by W. Chan Kim &amp; Renée Mauborgne overturned centuries-held notions of what drives strategic success.
                        <br><br>
                        The Blue Ocean Entrepreneurship Competition is founded upon these ideas. Blue Ocean Strategy is about creating value for consumers and eliminating competition with innovative ideas and business models. We challenge our competitors to channel blue ocean strategy in their ideas and pitches.
                    </p>

                    <div ng-click="app.logClick('launch-button-2')" class="morph-button morph-button-modal morph-button-modal-3 morph-button-fixed launch-button-2">
                        <button type="button" class="launch border-button">Get Started Now <i class="fa fa-angle-right fa-lg animated"></i></button>
                    </div>

                </div>

                <div class="six columns article make-it-appear-right">
                    <div class="space"></div>
                    <img src="/blue-ocean-strategy/img/book-and-phones.png" alt="blue ocean strategy book" class="context-image">
                </div>
            </div> <!-- End row div -->

        </section>
        <!-- END BOS INFO SECTION ############################################### -->


        <!-- WHAT YOU'LL LEARN SECTION ############################################### -->
        <section class="learn-page cbp-so-section">

            <div class="row make-it-appear-top">
                <div class="twelve columns centered">
                    <h3>What You'll Learn</h3>
                </div>
            </div>

            <div class="row make-it-appear-top">
                <div class="six columns article">
                    <ul>
                        <li><p>Creating New Market Space</p></li>
                        <li><p>Blue Oceans vs Red Oceans</p></li>
                        <li><p>The Importance of the Strategic Move</p></li>
                        <li><p>Value Innovation</p></li>
                        <li><p>The Strategy Canvas</p></li>
                        <li><p>The Four Actions Framework</p></li>
                        <li><p>The Eliminate-Reduce-Raise-Create Grid</p></li>
                    </ul>
                </div>
                <div class="six columns article">
                    <ul>
                        <li><p>Three Hallmarks of a Successful Strategy</p></li>
                        <li><p>The Strategic Sequence</p></li>
                        <li><p>The Buyer Experience Cycle</p></li>
                        <li><p>The Six Utility Levers</p></li>
                        <li><p>The Buyer Utility Map</p></li>
                        <li><p>Strategic Pricing</p></li>
                        <li><p>Adoption Strategies</p></li>
                    </ul>
                </div>
            </div>

        </section>

        <!-- END WHAT YOU'LL LEARN SECTION ############################################### -->

    </div>
    <!-- END CONTAINER ############################################### -->


    <!-- TESTIMONIALS SECTION ############################################### -->
    <section id="testimonial" class="bos-kids">

        <div class="row make-it-appear-top">

            <div class="twelve columns flexslider" id="slider2">

                <ul class="slides">
                    <li>
                        <h4 class="title">Rob H.</h5>
                        <div class="textblock">
                            <p>Loving the Blue Ocean course...I’m hooked on your product. Absolutely love it.</p>
                        </div>
                    </li>

                    <li>
                        <h4 class="title">Katie L.</h5>
                        <div class="textblock">
                            <p>I couldn't believe how much I learned on a short train ride.</p>
                        </div>
                    </li>

                    <li>
                        <h4 class="title">Grant H.</h5>
                        <div class="textblock">
                            <p>After taking this course, my mind was racing with new ideas.</p>
                        </div>
                    </li>
                </ul>

            </div> <!-- Columns end !-->

        </div> <!-- End Row !-->

    </section>
    <!-- END TESTIMONIALS SECTION ############################################### -->


    <!-- SMARTLY SECTION ############################################### -->
    <section class="cbp-so-section smartly-page" >

        <div class="row">

            <div class="six columns article make-it-appear-left">
                <div class="space"></div>
                <img src="/landing-pages/img/flat-devices.svg" alt="laptop, desktop, tablet, phone" class="context-image devices">
            </div>

            <div class="six columns article make-it-appear-right description">

                <!-- Title -->
                <h3>Introducing Smartly</h3>

                <!-- Content -->
                <p>
                    Smartly is an education platform that seeks to transform business education. Free from boring lecture videos, you learn by solving a sequence of practical problems. Developed in partnership with experts from leading business schools, Smartly offers a broad range of carefully crafted business courses, designed to make learning on-the-go easy, fun, and effective.
                    <br><br>
                    Blue Ocean Strategy is one of many courses built on the Smartly platform.
                </p>

                <div class="space"></div>

                    <div ng-click="app.logClick('launch-button-3')" class="morph-button morph-button-modal morph-button-modal-3 morph-button-fixed launch-button-3">
                        <button type="button" class="launch border-button">Get Started Now <i class="fa fa-angle-right fa-lg animated"></i></button>
                    </div>

                    <br>
                    <span>Free access to Blue Ocean Strategy</span>

            </div>
        </div>
    </section>
    <!-- END SMARTLY SECTION ############################################### -->

    <!-- BEGIN FOOTER SECTION ############################################### -->
    <section class="footer">
        <div class="row">
            <div class="article twelve columns centered">
                <!-- <p class="centered content-offer">
                    Interested in seeing your book or course on the Smartly platform? <a href="mailto:feedback@smart.ly" target="_blank"><button type="button" ng-click="app.logClick('contact-us-button')" class="contact-us-button">Contact Us</button></a>
                </p> -->

                <ul class="footer-links" >
                    <li class="copyright">&copy; Pedago, LLC 2015</li>
                    <li><a href="/terms" target="_self" ng-click="app.logClick('terms')">Terms</a></li>
                    <li><a href="/privacy" target="_self" ng-click="app.logClick('privacy')">Privacy</a></li>
                    <li><a href="mailto:feedback@smart.ly" target="_blank" ng-click="app.logClick('contact-us-link')">Contact</a></li>
                </ul>
            </div>
        </div>
        <p class="trademark">"Blue Ocean Strategy" is a registered trademark of W. Chan Kim &amp; Renée Mauborgne. All rights reserved.</p>

    </section>
    <!-- BEGIN FOOTER SECTION ############################################### -->
    <%= render "shared/webpack_scripts" %>

    <script type="text/javascript" src="/landing-pages/js/jquery.flexslider.js" defer></script>          <!-- FlexSlider -->
    <script type="text/javascript" src="/landing-pages/js/waypoints.min.js" defer></script>              <!-- Waypoints -->
    <script type="text/javascript" src="/landing-pages/js/jquery.backgroundvideo.js" defer></script>     <!-- Video Background -->
    <script type="text/javascript" src="/landing-pages/js/mediaCheck.js" defer></script>                 <!-- MediaCheck -->
    <script type="text/javascript" src="/landing-pages/js/jquery.easing.min.js" defer></script>          <!-- Easings -->
    <script type="text/javascript" src="/landing-pages/js/uiMorphingButton_fixed.js" defer></script>     <!-- Morphing Button Form -->
    <script type="text/javascript" src="/landing-pages/js/angular_signup_modal.js" defer></script>
    <script type="text/javascript" src="/blue-ocean-strategy/js/main.js" defer></script>                       <!-- Main Javascript File -->

    <div id="fb-root"></div>
    <script>
    // setup the registration modal code from angular_signup_modal.js
    window.landingConfig = {
        module: 'BOSLanding',
        controller: 'BOSLandingCtrl',
        page: 'blue-ocean-hs',
        pageTitle: 'blue-ocean-strategy-hs',
        path: '/bos/start',
        signUpCode: 'BOSHIGH',
        facebookConversionImg: '//www.facebook.com/tr?ev=6019201763899&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1',
        googleConversionImg: '//www.googleadservices.com/pagead/conversion/960118950/?label=s6sjCOmW81gQpoHpyQM&amp;guid=ON&amp;script=0'
    };

    // setup social sharing
    function initializeSocial() {
        var d = document, s = 'script', id = 'facebook-jssdk';
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=978172552216701";
        fjs.parentNode.insertBefore(js, fjs);


        id = 'twitter-wjs';
        fjs = d.getElementsByTagName(s)[0];

        if(d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = '//platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js,fjs);

        // Twitter button won't render inside of a container that is initially display: none
        container = d.getElementById('social-container');
        container.style.opacity = 0;
        setTimeout(function() {
            container.style.display = 'none';
            container.style.opacity = 1;
        }, 2000);
    }
    if (window.addEventListener) window.addEventListener("load", initializeSocial, false);
    else if (window.attachEvent) window.attachEvent("onload", initializeSocial);
    else window.onload = initializeSocial;
    </script>

</body>


</html>
