<div class="footer">
    <%
        site = is_quantic? ? "quantic" : "smartly"
    %>

    <% safe_cache [site, include_impressum?, local_assigns.to_json.hash] do %>
        <%# Template Dependency: marketing/footer/quantic/footer-mobile %>
        <%# Template Dependency: marketing/footer/quantic/footer-desktop %>
        <%# Template Dependency: marketing/footer/quantic/footer-disclaimer %>
        <%# Template Dependency: marketing/footer/smartly/footer-mobile %>
        <%# Template Dependency: marketing/footer/smartly/footer-desktop %>
        <%# Template Dependency: marketing/footer/smartly/footer-disclaimer %>
        <%= render :partial => "marketing/footer/#{site}/footer-mobile", :locals => { :top => top, :bottom => bottom, :alternateBottom => alternateBottom, :hidePricing => local_assigns.fetch(:hidePricing, false), :include_impressum => include_impressum? } %>
        <%= render :partial => "marketing/footer/#{site}/footer-desktop", :locals => { :top => top, :bottom => bottom, :alternateBottom => alternateBottom, :sticky => sticky, :hidePricing => local_assigns.fetch(:hidePricing, false), :include_impressum => include_impressum? } %>
        <%= render :partial => "marketing/footer/#{site}/footer-disclaimer" %>
    <% end %>
</div>
