<div class="call-to-action<%= " #{wrapperClass}" if local_assigns.has_key? :wrapperClass %>">
    <div class="<%= "#{bgClass}" if local_assigns.has_key? :bgClass %>"></div>

    <div class="banner<%= " #{bannerClass}" if local_assigns.has_key? :bannerClass %> text-center <%= if local_assigns.has_key? :wide then 'wide' else '' end %>">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 <%= if local_assigns.has_key? :wide then 'col-lg-9' else 'col-lg-6 col-lg-push-1' end %>">
                    <header class="banner__header">
                        <h1 class="text-highlight-primary-color"><%= title %></h1>
                        <p><%= subtitle.html_safe %></p>
                    </header>
                </div>

                <div class="col-xs-12 <%= if local_assigns.has_key? :wide then 'col-lg-3' else 'col-lg-3 col-lg-push-1' end %>">
                    <a class="button <%= if local_assigns.has_key? :btnClass then "#{btnClass}" else "button--md-primary" end %>" href="<%= btnLink %>"<%= " target=#{btnTarget}" if local_assigns.has_key? :btnTarget %><%= " ng-click=\"app.logClick('#{logClick}')\"" if local_assigns.has_key? :logClick %>><%= btnText %></a>
                </div>
            </div>
        </div>
    </div>
</div>
