<div class="banner banner--testimonials">

    <div class="banner__background"></div>

    <div class="banner__container container">
        <div class="row">

            <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-1">

                <div class="banner--testimonials__text">
                    <div class="align-middle">
                        <p>“Love how easy it makes building a top performing team.”</p>
                    </div>
                </div>

            </div>

            <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-1 text-xs-right text-md-left">

                <figure class="banner--testimonials__photo-wrapper">
                    <img class="img-circle" src="<%= get_webpack_asset_value_for_key '/assets/images/photos/stefanos-loukakos.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/photos/stefanos-loukakos@2x.png' %>" alt="Stefanos Loukakos">
                </figure>

                <div class="banner--testimonials__photo-caption">
                    <p class="banner--testimonials__author">Stefanos Loukakos</p>
                    <p class="banner--testimonials__job">Director at facebook</p>
                </div>

            </div>

        </div>

    </div>

</div>
