<div class="call-to-action<%= " #{wrapperClass}" if local_assigns.has_key? :wrapperClass %>">
    <div class="<%= "#{bgClass}" if local_assigns.has_key? :bgClass %>"></div>

    <div class="banner<%= " #{bannerClass}" if local_assigns.has_key? :bannerClass %> text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <header class="banner__header centered-message">
                        <h1 class="text-highlight-primary-color"><%= title %></h1>
                        <p><%= subtitle %></p>
                    </header>
                </div>
            </div>
        </div>
    </div>
</div>
