<div class="banner banner--career">
    <div class="container banner__container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-1">
                <header class="banner__header">
                    <h1 class="text-highlight-primary-color">Ready to make a career move?</h1>
                    <p>Your future is waiting for you.</p>
                </header>
            </div>

            <div class="col-xs-12 col-md-3 col-md-offset-1">
                <%=
                    render partial: "marketing/buttons/button-md-primary",
                    locals: {
                        text: "sign up now",
                        link: "/candidates/register"
                    }
                %>
            </div>
        </div>

        <hr class="divider divider--light banner__separator hidden-xs hidden-sm">
    </div>
</div>
