<div class="hiring-form-wrapper<%= " #{wrapperClass}" if local_assigns.has_key? :wrapperClass %>">
    <div class="<%= "#{bgClass}" if local_assigns.has_key? :bgClass %>"></div>
    <div class="banner banner--hiring-form text-center">
        <div class="container banner__container">
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <header class="banner__header">
                        <h1 class="text-highlight-primary-color"><%= title %></h1>
                        <p><%= subtitle %></p>
                    </header>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <form id="form--hiring" class="banner__form form form--hiring">
                      <input class="input input--primary" type="text" placeholder="<%= inputPlaceholder %>">
                      <button class="button <%= "#{btnClass}" if local_assigns.has_key? :btnClass %> button--form-btn"
                              data-url="<%= local_assigns.fetch :link, '/candidates/signup' %>">Sign up now</button>
                      <div class="form__error">
                          Sorry, but this email is invalid.
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
