  <section class="section section--employers-candidates">
    <div class="banner banner--testimonials banner--grey">
      <div class="banner__background"></div>

      <div class="gallery__wrapper gallery__wrapper--alist">
        <%= render partial: "marketing/galleries/2x2-1image",
        locals: {
            title: "Our Candidates: The A-List in Business and Tech",
            description: "With a candidate acceptance rate of 10%, we’re more selective that the world’s premier tech and business degree programs. The end result? A network of inspirational candidates with proven experience and exciting potential.",
            vectorPathMobile: '/assets/vectors/how_it_works/employer/only-the-best-candidate-mobile-illustration.svg',
            vectorPathDesktop: '/assets/vectors/how_it_works/employer/only-the-best-candidates-illustration.svg',
            vectorRight: true,
        }
        %>
      </div>

      <div class="gallery__wrapper gallery__wrapper--end-to-end">
        <%= render partial: "marketing/galleries/2x2-1image",
        locals: {
            title: "Our Difference: End-to-End Talent Engine",
            description: "We’re the first career network to connect higher education directly to job opportunities. In our innovative business programs, we educate passionate leaders prepared to help your company face the challenges of today and tomorrow.",
            vectorPathMobile: '/assets/images/employers-landing/illustration-end-to-end@2x.png',
            vectorPathDesktop: '/assets/images/employers-landing/illustration-end-to-end@2x.png',
        }
        %>
      </div>

     <div class="gallery__wrapper gallery__wrapper--platform">
        <%= render partial: "marketing/galleries/2x2-1image",
        locals: {
            title: "Our Platform: Fast & Efficient",
            description: "With one click, instantly review applications and connect with candidates. Our platform is intuitive and fast, so your team can spend time engaging candidates instead of engaged in busy work.",
            vectorPathMobile: '/assets/images/employers/illustration-find-candidates-desktop@2x.png',
            vectorPathDesktop: '/assets/images/employers/illustration-find-candidates-desktop@2x.png',
            vectorRight: true,
        }
        %>
      </div>

      <div class="gallery__wrapper gallery__wrapper--pricing">
      <%= render partial: "marketing/galleries/2x2-1image",
          locals: {
            title: "Our Pricing: Simple and Transparent",
            description: "Pay per job post or pay to source an unlimited number of candidates— with no success fees. Simple pricing that’s perfect for hiring teams, big and small.",
            vectorPathMobile: '/assets/vectors/emba/gallery/illustration-aid-scholarship-small.svg',
            vectorPathDesktop: '/assets/vectors/executive-mba/aid-scholarship.svg',
          }
      %>
      </div>

      <div class="gallery__cta col-sm-12 text-center">
        <%=
            render partial: "marketing/buttons/button-md-primary",
            locals: {
                text: "get started",
                link: "/candidates/register"
            }
        %>
      </div>
    </div>
  </section>