<section class="section section--bottom-grey section--employers-testimonials <%= " #{sectionModifier}" if local_assigns.has_key? :sectionModifier %>">
  <div class="banner banner--testimonials banner--grey">
    <div class="banner__background"></div>
    <div class="banner__container container">
      <%= render partial: "marketing/testimonials",
          locals: {
              wrapperClass: "why-people-love-us-testimonials",
              testimonials: [
                  {
                      authorName: "Ricky Ge",
                      authorEducation: "Cofounder, ZoomKinetics",
                      authorPhoto: "/assets/images/meet_our_candidates/zoomkinetics-logo.jpg",
                      authorPhoto2x: "/assets/images/meet_our_candidates/zoomkinetics-logo.jpg",
                      authorPhoto3x: "/assets/images/meet_our_candidates/zoomkinetics-logo.jpg",
                      authorQuote: "“Smartly's curated talent pool and efficient discovery system made it fast and easy for me to recruit talent for my company.”",
                      frameColor: "",
                      testimonialClass: "col-md-4"
                  },
                  {
                      authorName: "Greg Buechler",
                      authorEducation: "Talent Acquisition Specialist",
                      authorPhoto: "/assets/images/employers/talent-specialist-logo.png",
                      authorPhoto2x: "/assets/images/employers/talent-specialist-logo.png",
                      authorPhoto3x: "/assets/images/employers/talent-specialist-logo.png",
                      authorQuote: "“Smartly has allowed us to hire executive talent from around the world in the shortest time I have ever experienced in my 30 years of Recruiting. I am almost unwilling to share this gem of a tool!”",
                      frameColor: "",
                      testimonialClass: "col-md-4"
                  },
                  {
                      authorName: "Stefanos Loukakos",
                      authorEducation: "Director at facebook",
                      authorPhoto: "/assets/vectors/why-people-love-us/leading-companies/company-facebook-logo.svg",
                      authorPhoto2x: "/assets/vectors/why-people-love-us/leading-companies/company-facebook-logo.svg",
                      authorPhoto3x: "/assets/vectors/why-people-love-us/leading-companies/company-facebook-logo.svg",
                      authorQuote: "“Love how easy it makes building a top performing team.”",
                      frameColor: "",
                      testimonialClass: "col-md-4 no-margin"
                  }
              ]
          }
      %>
    </div>
  </div>
</section>