  <section class="section section--roles text-center">
    <div class="banner banner--testimonials banner--grey">
      <div class="banner__background"></div>

      <div class="banner__container container">
        <h2 class="section__title">What Roles Does Smartly Have?</h2>

        <div class="company-cards">
          <div class="gallery__stats">
            <div class="gallery__stats-item">
              <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/employers/tech-cyan.svg' %>" alt="Tech">
              <h3>Tech</h3>
              <p>Data Scientists, UX/UI Designers, Product Managers, Software Engineers & more.</p>
            </div>

            <div class="gallery__stats-item">
              <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/employers/business-red.svg' %>" alt="Business">
              <h3>Business</h3>
              <p>Account Managers, Business Analysts, Consultants, Investment Bankers, & more.</p>
            </div>

            <div class="gallery__stats-item">
              <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/employers/educate-yellow.svg' %>" alt="Elite Managers">
              <h3>Leadership</h3>
              <p>Directors, VPs, C-Suite. <br>MBAs from Harvard, Stanford, Wharton, Booth & more.</p>
            </div>
          </div>

          <h4 class="gallery__stats-cta message-tooltip">
            Across
            <a href="#" onclick="return false;" data-target='#modal__levels'>
              <span>Levels</span>
              <div class="message-tooltip__content" id="tooltip__levels">
                <div class="text-content">
                  <strong>Connect with Candidates across:</strong>
                  <p>Entry to mid-level, Director level, and Executive / C-Suite levels.</p>
                </div>
              </div>
            </a>
            and
            <a href="#" onclick="return false;" data-target='#modal__locations'>
              <span>Locations</span>
              <div class="message-tooltip__content" id="tooltip__locations">
                <div class="text-content">
                  <strong>Candidates from big cities across:</strong>
                  <p>North America, Europe, and the APAC region. We’re rapidly growing in the Middle East, South America, and Africa.</p>
                </div>
              </div>
            </a>
          </h4>
        </div>
      </div>
    </div>
  </section>