  <section class="section section--employers-logos <%= " #{sectionModifier}" if local_assigns.has_key? :sectionModifier %> text-center">
    <div class="container">
      <div class="row">
        <% if local_assigns.has_key? :title %>
        <h1 class="section__title"><%= raw title %></h1>
        <% end %>

        <div class="col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
          <ul class="flex-logos">
          <% local_assigns[:logos].each do |logo| %>
            <li class="flex-logos--<%= logo[:name].parameterize.dasherize %>">
              <picture>
                <% logo[:image] = get_webpack_asset_value_for_key logo[:image] %>
                <% logo[:imageRetina] = (logo.has_key? :imageRetina) ? (get_webpack_asset_value_for_key logo[:imageRetina]) : logo[:image] %>
                <source srcset="<%= logo[:image] %> 1x, <%= logo[:imageRetina] %> 2x">
                <img src="<%= logo[:image] %>" alt="<%= logo[:name] %> Logo">
              </picture>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </section>