  <section class="section section--employers-candidates section--timeline text-center">
    <div class="banner banner--testimonials banner--grey visible-xs">
      <div class="banner__background"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="recruit-our-candidates__text-separator hidden-xs">
          <div class="text-separator"></div>
        </div>
        <% if local_assigns.has_key? :title %>
          <h4 class="section__title"><%= raw title %></h4>
        <% end %>

        <div class="gallery-timeline">

          <div class="gallery__wrapper gallery__wrapper--post-a-job">
            <%= render partial: "marketing/galleries/timeline-2x2-1image",
                locals: {
                  title: "Our Platform: Easily Post Jobs and Source Candidates",
                  listItems: [
                    'Effortlessly post your open roles and search our exclusive candidate database.',
                    'Receive qualified candidates directly to your inbox.',
                    'See a perfect match? Connect in seconds.'
                  ],
                  vectorPathMobile: '/assets/images/employers/illustration-post-a-job-desktop.png',
                  vectorPathDesktop: '/assets/images/employers/illustration-post-a-job-desktop.png',
                  vectorRight: true,
                  galleryCount: 1
                }
            %>
          </div>

          <div class="gallery__wrapper gallery__wrapper--alist">
            <%= render partial: "marketing/galleries/timeline-2x2-1image",
            locals: {
                title: "Our Candidates: The Top 10%",
                listItems: [
                  'Our candidates have proven experience and exciting potential.',
                  'They’re passionate leaders prepared for the challenges of today and tomorrow.',
                  'Only the top 10% of candidates make it to our career network.'
                ],
                vectorPathMobile: '/assets/vectors/how_it_works/employer/only-the-best-candidate-mobile-illustration.svg',
                vectorPathDesktop: '/assets/vectors/how_it_works/employer/only-the-best-candidates-illustration.svg',
                galleryCount: 2
            }
            %>
          </div>

          <div class="gallery__wrapper gallery__wrapper--search-candidate-network">
            <%= render partial: "marketing/galleries/timeline-2x2-1image",
            locals: {
                title: "Our Difference: An End-to-End Talent Engine",
                listItems: [
                  'The only hiring platform directly tied to an innovative, world-class business school.',
                  'Instant access to our network of highly qualified business school students and graduates.',
                  'Our student candidates are highly motivated and prepared for the future of business.'
                ],
                vectorPathMobile: '/assets/images/employers-landing/search-candidate-network@2x.png',
                vectorPathDesktop: '/assets/images/employers-landing/search-candidate-network@2x.png',
                vectorRight: true,
                galleryCount: 3
            }
            %>
          </div>

          <div class="gallery__wrapper gallery__wrapper--pricing">
            <%= render partial: "marketing/galleries/timeline-2x2-1image",
              locals: {
                title: "Our Pricing: Transparent and Simple",
                listItems: [
                  'Pay per job post or pay to source an unlimited number of candidates.',
                  'No success fees.',
                  'Simple pricing that’s perfect for teams, big and small.'
                ],
                vectorPathMobile: '/assets/vectors/emba/gallery/illustration-aid-scholarship-small.svg',
                vectorPathDesktop: '/assets/vectors/executive-mba/aid-scholarship.svg',
                linkText: "See Pricing",
                linkUri: '/prices/employers',
                galleryCount: 4
            }
            %>
          </div>
        </div>

        <div class="gallery__cta col-sm-12 text-center">
         <a
          class="button button--sm-primary button--sm-secondary"
          href="/candidates/register">
            Get started
          </a>
        </div>
      </div>
    </div>
  </section>