<script type="text/javascript">
    'use strict';

    <% if @forward_to_home_if_has_auth_headers %>
        if (window.hasAuthHeaders) {
            /*
                /home is not always ideal, because if you have an invalid auth header
                and you hit a signup page, you end up getting send to the app and then
                back to the home screen, where sending you to sign-in would probably be better.

                We can't safely send you to /dashboard though, because that's not a good place
                for everyone (hiring managers)

                This is an edge case and the experience is not too bad.  so leaving it
            */
            window.open('/home', '_self');
        }
    <% end %>
</script>