<% safe_cache [local_assigns.to_json.hash] do %>

<div class="floating-companies row">
    <div class="col-xs-12 col-md-10">
        <ul>
            <li class="company-earnest">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/homepage/company_logos/company-earnest-logo.png' %>" data-no-retina>
            </li>
            <li class="company-patient-ping">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/homepage/company_logos/company-patientping-logo.png' %>" data-no-retina>
            </li>
            <li class="company-credit-karma">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/homepage/company_logos/company-creditkarma-logo.png' %>" data-no-retina>
            </li>
            <li class="company-capital-one">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/homepage/company_logos/company-capital-one-logo.png' %>" data-no-retina>
            </li>
            <li class="company-makespace">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/homepage/company_logos/company-makespace-logo.png' %>" data-no-retina>
            </li>
            <li class="company-doordash">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/the-business-certificate/mobile/logos/company-door-dash-logo@2x.png' %>" data-no-retina>
            </li>
        </ul>
    </div>
</div>

<% end %>