
<% if is_quantic? %>
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/quantic.edu/apple-touch-icon-57x57.png?v=3">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/quantic.edu/apple-touch-icon-114x114.png?v=3">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/quantic.edu/apple-touch-icon-72x72.png?v=3">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/quantic.edu/apple-touch-icon-144x144.png?v=3">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/quantic.edu/apple-touch-icon-60x60.png?v=3">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/quantic.edu/apple-touch-icon-120x120.png?v=3">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/quantic.edu/apple-touch-icon-76x76.png?v=3">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/quantic.edu/apple-touch-icon-152x152.png?v=3">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/quantic.edu/apple-touch-icon-180x180.png?v=3">
    <link rel="icon" type="image/png" href="/favicons/quantic.edu/favicon-192x192.png?v=3" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicons/quantic.edu/favicon-160x160.png?v=3" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicons/quantic.edu/favicon-96x96.png?v=3" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicons/quantic.edu/favicon-16x16.png?v=3" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicons/quantic.edu/favicon-32x32.png?v=3" sizes="32x32">
<% else %>
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/smart.ly/apple-touch-icon-57x57.png?v=2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/smart.ly/apple-touch-icon-114x114.png?v=2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/smart.ly/apple-touch-icon-72x72.png?v=2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/smart.ly/apple-touch-icon-144x144.png?v=2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/smart.ly/apple-touch-icon-60x60.png?v=2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/smart.ly/apple-touch-icon-120x120.png?v=2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/smart.ly/apple-touch-icon-76x76.png?v=2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/smart.ly/apple-touch-icon-152x152.png?v=2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/smart.ly/apple-touch-icon-180x180.png?v=2">
    <link rel="icon" type="image/png" href="/favicons/smart.ly/favicon-192x192.png?v=2" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicons/smart.ly/favicon-160x160.png?v=2" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicons/smart.ly/favicon-96x96.png?v=2" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicons/smart.ly/favicon-16x16.png?v=2" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicons/smart.ly/favicon-32x32.png?v=2" sizes="32x32">
<% end %>
