<script type="text/javascript">

    // See ConfigFactory in the client for how this is used
    window.preloadedConfig = <%= AppConfig.all.merge(gdpr_user: @gdpr_user, is_quantic: is_quantic? ? 'true' : 'false').to_json.html_safe %>;

</script>
