<title><%= @action_metadata.title %></title>

<link href="<%= @action_metadata.canonical_url  %>" rel="canonical">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui">
<meta name="description" content="<%= @action_metadata.description %>">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="theme-color" content="#ff4d63">
<meta name="msapplication-TileColor" content="#ff4d63">
<% if is_quantic? %>
    <meta name="msapplication-config" content="/favicons/quantic.edu/browserconfig.xml" />
    <meta name="msapplication-TileImage" content="/favicons/quantic.edu/mstile-144x144.png?v=3">
<% else %>
    <meta name="msapplication-config" content="/favicons/smart.ly/browserconfig.xml" />
    <meta name="msapplication-TileImage" content="/favicons/smart.ly/mstile-144x144.png?v=2">
<% end %>
<meta name="format-detection" content="telephone=no">

<meta property="article:publisher" content="<%= ENV['FACEBOOK_ACCOUNT_NAME'] %>">
<meta property="og:image" content="<%= @action_metadata.image_url %>">
<meta property="og:site_name" content="<%= ENV['FACEBOOK_ACCOUNT_NAME'] %>">
<meta property="og:title" content="<%= @action_metadata.title %>">
<meta property="og:url" content="<%= @action_metadata.canonical_url  %>">
<meta property="og:description" content="<%= @action_metadata.description %>">
<meta property="og:type" content="article">

<meta property="twitter:account_id" content="<%= ENV['TWITTER_ACCOUNT_ID']  %>">
<meta name="twitter:site" content="<%= ENV['TWITTER_ACCOUNT_NAME'] %>">
<meta name="twitter:creator" content="<%= ENV['TWITTER_ACCOUNT_NAME'] %>">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= @action_metadata.title %>">
<meta name="twitter:description" content="<%= @action_metadata.description %>">
<meta name="twitter:image:src" content="<%= @action_metadata.image_url %>">
<meta name="twitter:url" content="<%= @action_metadata.canonical_url  %>">

<meta name="alexaVerifyID" content="9QeLFfopxVhPhj0LUX2Nq3cdJ8">

<link href="https://www.google-analytics.com" rel="preconnect">
<link href="https://cdn.segment.com" rel="preconnect">
<link href="https://api.segment.io" rel="preconnect">
<link href="https://assets.customer.io" rel="preconnect">
<link href="https://track.customer.io" rel="preconnect">
<link href="https://connect.facebook.net" rel="preconnect">
<link href="https://www.facebook.com" rel="preconnect">
<link href="https://pixel-geo.prfct.co" rel="preconnect">
<link href="https://api.amplitude.com" rel="preconnect">
<link href="https://tag.perfectaudience.com" rel="preconnect">


<base href="/">
