<% if !@disable_cookie_banner && ( @gdpr_user == 'true' || request.path == '/cookies') %>

    <%# 
        The OneTrust javascript only works on specific domains; so, to ease local testing I've added this alert 
        you can uncomment to quickly check if it *would* load on staging/prod. 
    %>
    <%# if Rails.env.development? %>
    <%# <script type="text/javascript">window.alert('Cookie Banner would have been shown now.');</script> %>
    <%# end %>

    <%#
        NOTE: The `one-trust.js` / `one-trust-quantic.js` chunks depend on `$` being present on the window,
        so this partial must be rendered AFTER the `common.js` entry point chunk since
        the `common.js` chunk is responsible for shimming `$` onto the global window.

        To update this file:

        1. Download the latest version local scripts files from consent manager domain overview page

            > https://free.onetrust.com/cookies/script-integration
            > Script Tab --> Get the Code --> Download Local Script File --> Click button "Download Local File"

        2. Extract the downloaded file.

        3. Fix a bug in the export:

            > For Smartly:
            > find the folder oneTrust > logos > 113 > 113/smart.ly
            > rename this folder to: 113_smart.ly

            > For Quantic:
            > find the folder oneTrust > logos > 42 > 42/quantic.edu
            > rename this folder to: 42_quantic.edu

        4. Fix another bug in the export for IE 11

            > open up oneTrust > onetrustConsent.js
            > find the text: if(document.currentScript)scriptPath=document.currentScript.src.substring(0,document.currentScript.src.lastIndexOf("/"));
            > replace with: if(true)scriptPath='/oneTrust-quantic'; (or '/oneTrust' for smartly)

        5. Copy the oneTrust folder to vendor/static/oneTrust for Smartly or /vendor/static/oneTrust-quantic for Quantic
    %>

    <% if is_quantic? %>
    <%= webpack_bundle_tag 'one-trust-quantic.js' %>
    <% else %>
    <%= webpack_bundle_tag 'one-trust.js' %>
    <% end %>

    <script type="text/javascript">
    function OptanonWrapper() {
    }

    <% if @gdpr_user != 'true' %>
    // For non-EU users, simply allow all by default and suppress the box
    window.addEventListener('DOMContentLoaded', function() {
        Optanon.AllowAll();
        Optanon.SetAlertBoxClosed(true);
    });
    <% end %>
    </script>

<% end %>