<!-- Add scripts for `common` chunks that are needed by every page e.g. jQuery, Angular, etc. -->

<% if local_assigns[:include_common] != false %>
    <%= webpack_bundle_tags_for_chunk 'common' %>
<% end %>

<!-- onetrust must come AFTER common since it depends on the `$` global -->
<%= render "shared/onetrust" %>

<!-- Add scripts that will be lazy loaded after DOMContentLoaded -->
<% if @using_dynamic_landing_page %>
    <%= inline_chunk 'script-injector' %>
    <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', function() {
            // If we have auth headers, then we need the front-royal code before
            // we can show the continue button.
            //
            // If we have an oauth token in the url, then we need the front-royal
            // code to log the user in.
            //
            // In the normal case, when someone sees the survey for, it takes 90% of people
            // more than 25 seconds before they reach the sign up form on the page
            // and need the front-royal code.  So, waiting for 5 seconds seems safe here,
            // and it should be enough to avoid interfering with getting the page content onto the screen
            const delay = (window.hasAuthHeaders) ? 0 : 5000;
            const injectedScriptTags = {};
            <% for chunk_name in ['common', 'front-royal', 'marketing'] %>
                injectScriptTagsForModule('<%= chunk_name %>', injectedScriptTags, delay);
            <% end %>
        });
    </script>
<% end %>

<!-- Add scripts for any other requested chunks -->
<% if local_assigns[:chunks] %>
    <% for chunk in local_assigns[:chunks] %>
        <% if !chunk.key?(:if) || chunk[:if] %>
            <%= webpack_bundle_tags_for_chunk chunk[:name] %>
        <% end %>
    <% end %>
<% end %>