<!DOCTYPE html>
<html lang="<%= @server_determined_locale %>" class="<%= @is_staging ? 'staging' : '' %> <%= @is_local ? 'local' : '' %>">
    <head>

        <% if !@visible_to_search %>
        <meta name="robots" content="noindex">
        <% end %>

        <link rel="preconnect" href="<%= ENV['AWS_UPLOADS_BUCKET'] %>">

        <%= render "shared/shared_head" %>
        <%= render "shared/inline_config" %>

        <%= webpack_style_tags_for_chunk 'common' %>

    </head>

    <body>
        <!-- HACK: scrap div where we temporarily place mathjax when rendering it -->
        <div class="hidden" id="mathjax-hidden-div"></div>
        <!-- Define mathjax custom color overrides and other custom commands once when the page loads -->
        <div class="hidden" style="display: none;">
        %%
            \definecolor{coral}{RGB}{255, 77, 90}
            \definecolor{darkcoral}{RGB}{165, 46, 59}
            \definecolor{red}{RGB}{231, 56, 77}
            \definecolor{darkred}{RGB}{132, 33, 56}
            \definecolor{purple}{RGB}{149, 87, 236}
            \definecolor{darkpurple}{RGB}{81, 53, 132}
            \definecolor{blue}{RGB}{77, 122, 255}
            \definecolor{darkblue}{RGB}{25, 70, 149}
            \definecolor{turquoise}{RGB}{29, 208, 180}
            \definecolor{darkturquoise}{RGB}{16, 110, 110}
            \definecolor{green}{RGB}{13, 208, 55}
            \definecolor{darkgreen}{RGB}{10, 120, 35}
            \definecolor{yellow}{RGB}{255, 190, 0}
            \definecolor{darkyellow}{RGB}{137, 102, 0}
            \definecolor{orange}{RGB}{255, 99, 87}
            \definecolor{darkorange}{RGB}{149, 53, 41}
            \definecolor{plum}{RGB}{96, 4, 71}
            \definecolor{grey}{RGB}{181, 169, 158}
            \definecolor{white}{RGB}{255, 255, 255}
            \definecolor{eggplant}{RGB}{53, 9, 44}
            \require{enclose}
            \newcommand\currency[1]{\transt{$}{}#1\transt{}{د.أ}}
            \newcommand\tmdfrac[3]{\transs{#1\dfrac{#2}{#3}}{\alwaysar{\fliph{\dfrac{#2}{#3}#1}}}}

            \let\oldmeasuredangle\measuredangle
            \renewcommand\measuredangle[0]{\transx{\oldmeasuredangle}{\alwaysar{\oldmeasuredangle}}}

            \let\oldsphericalangle\sphericalangle
            \renewcommand\sphericalangle[0]{\transx{\oldsphericalangle}{\alwaysar{\oldsphericalangle}}}

            \let\oldangle\angle
            \renewcommand\angle[0]{\transx{\oldangle}{\alwaysar{\oldangle}}}

            \newcommand\per{\transx{/}{\text{\\}}}
        %%</div>

        <div class="loading-front-royal">
            <div class="front-royal-spinner fixed">
                <div class="wrapper">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
                </div>
            </div>
        </div>

        <script>
            window.MANUAL_BOOTSTRAP_MODULE = 'FrontRoyal';
        </script>

        <div ng-controller="SiteCtrl" ng-class="site()" id="wrap" ng-show="readyToShow">
            <front-royal-wrapper></front-royal-wrapper>
        </div>

        <script type="text/javascript" >
            window.serverDeterminedLocale = '<%= @server_determined_locale %>';
        </script>

        <%= render "shared/webpack_scripts", chunks: [{name: 'front-royal'}] %>

        <style>
            #unsupported-browser-blocker {
                position:absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background: #D4CCC3;
                float:left;
                z-index: 1000;
                display: none;
            }

            #unsupported-browser-blocker-content {
                z-index: 1001;
                background: #FFFFFF;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -200px 0px 0px -200px;
                width: 400px;
                height: 400px;
                font-size: 24px;
                padding: 20px;
                text-align: center;
                display: none;

                .btn {
                    width: 90%;
                    margin: 10px;
                }
            }
        </style>
        <div id="unsupported-browser-blocker"></div>
        <div id="unsupported-browser-blocker-content">
            <strong>WARNING</strong><br><br>You are using an unsupported browser. Please upgrade your browser:<br><br>
            <%= link_to button_tag('Chrome', :type => 'button', :class => 'flat coral'), "https://www.google.com/intl/en-US/chrome/browser/" %>
            <%= link_to button_tag('Firefox', :type => 'button', :class => 'flat coral'), "https://www.mozilla.org/en-US/firefox/new/" %>
            <%= link_to button_tag('Internet Explorer', :type => 'button', :class => 'flat coral'), "http://windows.microsoft.com/en-us/internet-explorer/download-ie" %>
        </div>

        <script>
            var match, version, unsupported,
                userAgent = window.navigator.userAgent;

            // we explicitly don't support IE < 10 or FF < 49
            if (userAgent.indexOf('MSIE') > -1) {
                version = parseFloat(navigator.appVersion.split('MSIE')[1]);
                unsupported = version < 10;
            } else if (match = userAgent.match(/Firefox\/([0-9]+)\./)) {
                version = match ? parseInt(match[1]) : 0;
                unsupported = version < 49;
            }

            // un-hide blocker if unsupported
            if (unsupported) {
                document.getElementById('unsupported-browser-blocker').style.display = 'block';
                document.getElementById('unsupported-browser-blocker-content').style.display = 'block';
            }
        </script>

    </body>

</html>
