<%= render partial: "marketing/header/header", locals: { signBtnClass: "button--sm-primary button--sm-primary-blue" } %>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--404">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-blue">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-blue">
            <figure>
                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/404/sign-illustration.svg' %>" alt="sign illustration">
            </figure>
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>404. Sorry, we lost you!</h1>
                        <p>Perhaps you should <a href="/"><b>go back home.</b></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
