<% safe_cache [local_assigns.to_json.hash] do %>

<div class="cta-board">
  <div class="cta-board__heading-wrapper">
    <div class="cta-board__heading">
      <h4><%= local_assigns[:title] %></h4>
      <p><%= local_assigns[:subtitle] %></p>
    </div>
    <% if local_assigns.has_key? :button %>
      <a class="button button--md-primary" href="<%= local_assigns[:button][:link] %>"><%= local_assigns[:button][:text] %></a>
    <% end %>
  </div>
  <div class="cta-board__list-wrapper">
    <% if local_assigns.has_key? :list %>
    <div class="cta-board__list">
      <% local_assigns[:list].each do |item| %>
      <div class="cta-board__list-item">
        <div class="cta-board__list-icon">
          <% if item.has_key? :icon 
            item[:icon] = get_webpack_asset_value_for_key item[:icon]
          %>
          <img src="<%= item[:icon] %>" alt="<%= item[:label] %>">
          <% end %>
        </div>
        <div class="cta-board__list-content">
          <span class="label"><%= item[:label] %></span>
          <span class="text">
            <%= item[:text] %>
            <% if item.has_key? :tuition_details %>
              <br class="hidden-sm hidden-md hidden-lg" /><span>(<a class="tuition-details" data-toggle="modal" data-target="#modal__tuition">full details</a>)</span>
            <% end %>
          </span>
          <span class="text text--undertext"><%= item[:underText] %></span>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <% if local_assigns.has_key? :crosslink %>
    <div class="cta-board__crosslink-wrapper">
      <p><%= local_assigns[:crosslink].html_safe %></p>
    </div>
  <% end %>
</div>

<% end %>

