<div class="emba-form__success emba-form__success-extra-button">
  <div class="emba-form__image-wrapper">
    <img class="emba-form__image" src="<%= get_webpack_asset_value_for_key '/assets/vectors/emba/form/icon-check-green-white-check.svg' %>" alt="Green Check">
  </div>
  <p class="emba-form__title">Thanks for signing up!</p>
  <p class="emba-form__text">We look forward to learning more about you during the application process.</p>
  <!-- We wait for FrontRoyal to load, log the user in, and log the logged_in_first_time event,
    then we hide the Loading application message and show the continue button.  See emba-form-step.js -->
  <div class="front-royal-spinner blue inline">
    <div class="wrapper">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  <div id="continue-button-wrapper">
    <a class="button button--sm-primary button--form" href="/home" target="_self">Continue Application</a>
    <a class="emba-form__link" href="<%= @learn_more_link %>"><%= @texts[:learn_more] %></a>
  </div>
</div>