<div class="gallery__title gallery-title--key-dates">Key Dates</div>
<%
  dates = local_assigns.fetch(:dates)
%>
<div class="dates-pole">
  <div class="dates-pole__year"><%= dates[0][:date].year %></div>
  <div>
    <% dates.each do |d| %>
    <%
      use_date_threshold = !['orientation','start'].include?(d[:type])
    %>
    <div class="dates-pole__event-wrapper">
      <div class="dates-pole__event">
        <% if d[:type] == 'start' %>
        <div class="dates-pole__event__party"></div>
        <% end %>
        <div class="dates-pole__artifact"></div>
        <div class="dates-pole__day">{{app.dateHelper.formattedUserFacingDay(<%= 1000*d[:date].to_i %>, <%= use_date_threshold %>)}}</div>
        <div class="dates-pole__right">
          <div class="dates-pole__month">{{app.dateHelper.formattedUserFacingMonthLong(<%= 1000*d[:date].to_i %>, <%= use_date_threshold %>)}}</div>
          <div class="dates-pole__title"><%= d[:text] %></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>