<div class="onboarding__form-wrapper"
    marketing-sign-up-form
    <%= @sign_up_program_type ? "program-type=#{@sign_up_program_type}" : "" %>
    <%= @using_dynamic_landing_page ? "complete-dynamic-landing-form-on-registration=true" : "" %>
>
    <div class="onboarding__social-auth">
        <button class="onboarding__social-auth-button onboarding__social-auth-button--google"
            ng-click="loginWithProvider('google_oauth2', signUpCode, programType)"
            disabled
            ng-disabled="!loginWithProvider || !signUpCode || preventSubmit"
        >Sign Up with Google</button>
        <button class="onboarding__social-auth-button onboarding__social-auth-button--facebook"
            ng-click="loginWithProvider('facebook', signUpCode, programType)"
            disabled
            ng-disabled="!loginWithProvider || !signUpCode || preventSubmit"
        >Sign Up with Facebook</button>
        <button class="onboarding__social-auth-button onboarding__social-auth-button--apple"
            ng-click="loginWithProvider('apple', signUpCode, programType)"
            disabled
            ng-disabled="!loginWithProvider || !signUpCode || preventSubmit"
        >Sign up with Apple</button>
        <div class="clearfix"></div>
        <div class="sm-form__group">
            <span class="sm-form__error-message sm-form__error-message--form-error"></span>
        </div>
    </div>
    <div class="onboarding__social-auth-separator">
        <span>Or</span>
    </div>
    <form class="sm-form" id="signup-form" novalidate name="signUpForm">
        <div class="sm-form__group first-form-group">
            <label for="name" class="sm-form__label">Name *</label>
            <input
                required
                class="sm-form__input"
                type="text"
                name="name"
                ng-model="name"
                placeholder="Enter full name"
                error-required="Please enter your name"
                ng-pattern="/./gi"
                pattern="/./gi">
            <div class="sm-form__error-message"></div>
        </div>
        <div class="sm-form__group">
            <label for="email" class="sm-form__label">Email address *</label>
            <input
                required
                class="sm-form__input"
                type="email"
                name="email"
                ng-model="email"
                placeholder="email@provider.com"
                ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                error="Invalid email address"
                error-required="Please use your email address."
                value="<%= params[:email] %>">
            <div class="sm-form__error-message"></div>
        </div>
        <div class="sm-form__group">
            <label for="password" class="sm-form__label">Password *</label>
            <input
                required
                class="sm-form__input sm-form__input--password"
                type="password"
                name="password"
                ng-model="password"
                placeholder="*********"
                error-required="Please enter your password"
                ng-pattern="/./gi"
                pattern="/./gi">
            <a class="sm-form__password-toggle"></a>
            <div class="sm-form__error-message"></div>
        </div>

        <input type="hidden" name="using_dynamic_landing_page" value="<%= @using_dynamic_landing_page %>">

        <% if @require_recaptcha && !@disable_recaptcha_for_dynamic_landing_page %>
            <div class="sm-form__group">
                <captcha-wrapper></captcha-wrapper>
            </div>
        <% end %>

        <%= render "privacy_notice" %>

        <div class="sm-form__group">
            <button class="sm-form__submit sm-form__submit--red" type="submit" loading-text="Sending" text="<%= @call_show_success_on_registration ? "Submit" : "Sign Up" %>" disabled  ng-disabled="!signUpForm.$valid || preventSubmit || $window.captchaInvalid()"><%= @call_show_success_on_registration ? "Submit" : "Sign Up" %></button>
            <div class="sm-form__error-message sm-form__error-message--form-error"></div>
        </div>
    </form>
</div>