<%
section_name = local_assigns.fetch(:section_name, 'core')
questions = local_assigns.fetch(:questions)

questions.each_with_index do |question, i|
%>
<section class="main faq">
  <header class="main <%= question[:class] %>" data-toggle="collapse" data-target="#<%= section_name %>-main-section-<%= i %>" aria-expanded="false">
    <div class="nestable-accordion__header-left">
      <img class="icon" src="<%= get_webpack_asset_value_for_key '/assets/vectors/quantic_name_change/faq-shape-hexagon.svg' %>" data-no-retina>

      <div class="nestable-accordion__header-text big">
        <h3 class="big"><%= question[:title].html_safe %></h3>
      </div>
    </div>
    <a class="nestable-accordion__toggle-desktop" href="javascript:void(0)">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 14 14">
          <path fill-rule="nonzero" d="M2.6 4.2a1 1 0 1 0-1.2 1.6l5 4a1 1 0 0 0 1.2 0l5-4a1 1 0 0 0-1.2-1.6L7 7.75 2.6 4.2z"/>
      </svg>
    </a>
  </header>
  <article class="is-content big collapse multi-collapse" id="<%= section_name %>-main-section-<%= i %>" aria-expanded="false">
    <p><%= question[:description].html_safe %></p>

    <% if question[:subquestion].present? %>
        <section class="child">
            <h3 class="big"><%= question[:subquestion][:title].html_safe %></h3>
            <p><%= question[:subquestion][:description].html_safe %></p>
        </section>
    <% end %>
  </article>
  <footer>
    <a href="javascript:void(0)" class="nestable-accordion__toggle-mobile collapsed" data-toggle="collapse" data-target="#<%= section_name %>-main-section-<%= i %>" aria-expanded="false">
      <span class="expanded">Expand</span>
      <svg class="expanded" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
        <path fill-rule="nonzero" d="M2.6 4.2a1 1 0 1 0-1.2 1.6l5 4a1 1 0 0 0 1.2 0l5-4a1 1 0 0 0-1.2-1.6L7 7.75 2.6 4.2z"/>
      </svg>
      <span class="closed">Close</span>
      <svg class="closed" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
        <path fill-rule="nonzero" d="M2.6 4.2a1 1 0 1 0-1.2 1.6l5 4a1 1 0 0 0 1.2 0l5-4a1 1 0 0 0-1.2-1.6L7 7.75 2.6 4.2z"/>
      </svg>
    </a>
  </footer>
</section>
<% end %>