<%
section_name = local_assigns.fetch(:section_name, 'core')
streams = local_assigns.fetch(:courses)

streams.each_with_index do |stream, i|
%>
<section class="main">
  <header class="main" data-toggle="collapse" data-target="#<%= section_name %>-main-section-<%= i %>" aria-expanded="false">
    <div class="nestable-accordion__header-left">
      <img src="<%= stream[:image_url] %>" data-rjs="<%= stream[:image_url] %>" alt="">
      <div class="nestable-accordion__header-text big">
        <h3 class="big"><%= stream[:title] %></h3>
        <h4 class="big hidden-xs big--truncated"><%= stream[:description][0, 94] + '...' %></h4>
        <h4 class="big hidden-xs big--original"><%= stream[:description] %>
          <% if stream[:canonical_url] %><a href="<%= "#{request.protocol}#{request.host_with_port}#{stream[:canonical_url]}"%>" target="_blank">VIEW COURSE</a><% end %>
        </h4>
      </div>
    </div>
    <a class="nestable-accordion__toggle-desktop" href="javascript:void(0)">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 14 14">
          <path fill-rule="nonzero" d="M2.6 4.2a1 1 0 1 0-1.2 1.6l5 4a1 1 0 0 0 1.2 0l5-4a1 1 0 0 0-1.2-1.6L7 7.75 2.6 4.2z"/>
      </svg>
    </a>
  </header>
  <h4 class="not-nested-description not-nested-description--truncated"><%= stream[:description][0, 94] + '...' %></h4>
  <h4 class="not-nested-description not-nested-description--original"><%= stream[:description] %></h4>
  <article class="is-content big collapse multi-collapse" id="<%= section_name %>-main-section-<%= i %>" aria-expanded="false">
    <ul class="concepts">
      <% stream[:lessons].each do |lesson| %>
        <li><%= lesson[:title] %> <% if lesson[:assessment] %><span class="smartcase">SMARTCASE</span><% end %></li>
      <% end %>
    </ul>
  </article>
  <footer>
    <a href="javascript:void(0)" class="nestable-accordion__toggle-mobile collapsed" data-toggle="collapse" data-target="#<%= section_name %>-main-section-<%= i %>" aria-expanded="false">
      <span class="expanded">Learn More</span>
      <svg class="expanded" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
        <path fill-rule="nonzero" d="M2.6 4.2a1 1 0 1 0-1.2 1.6l5 4a1 1 0 0 0 1.2 0l5-4a1 1 0 0 0-1.2-1.6L7 7.75 2.6 4.2z"/>
      </svg>
      <span class="closed">Close</span>
      <svg class="closed" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
        <path fill-rule="nonzero" d="M2.6 4.2a1 1 0 1 0-1.2 1.6l5 4a1 1 0 0 0 1.2 0l5-4a1 1 0 0 0-1.2-1.6L7 7.75 2.6 4.2z"/>
      </svg>
    </a>
  </footer>
</section>
<% end %>