<div style="display: none;" ng-style="{'display': 'block'}">
    <p ng-if="gdprAppliesToUser" class="privacy-notice">We value your privacy. <%= brand_name_short %> will never sell your data, and we strive to keep your information safe and secure. After registration, we may occasionally email you about important application deadlines and announcements. At any time, you may adjust your notification preferences or request removal of your account. For further details, see our <a href="/privacy" target="_blank">privacy policy</a>.</p>
</div>