<div class="gallery gallery--program-description container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="gallery__title">
        <p><%= local_assigns[:title] %></p>
      </div>
      <div class="gallery__description">
        <p><%= local_assigns[:text].html_safe %></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= render partial: "marketing/cta-board", locals: local_assigns[:cta_board] %>
    </div>
  </div>
</div>
