
<div class="smartly-stats homepage row">
    <div class="col-xs-12">
        <div class="smartly-stats__wrapper clearfix">
            <div class="smartly-stats__col smartly-stats__col--net-promoter">
                <figure>
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/mba-student-nps-mobile-illustration.svg' %>" class="visible-xs" alt="MBA Student Net Promoter Score">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/mba-student-nps-illustration.svg' %>" class="hidden-xs" alt="MBA Student Net Promoter Score">
                </figure>
                <h3>Alumni Net Promoter Score (NPS) rating</h3>
            </div>
            <div class="smartly-stats__col smartly-stats__col--lesson-approval">
                <figure>
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/lesson-approval-mobile-illustration.svg' %>" class="visible-xs" alt="Lesson approval">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/lesson-approval-illustration.svg' %>" class="hidden-xs" alt="Lesson approval">
                </figure>
                <h3>Lesson approval by our learners</h3>
            </div>
            <div class="smartly-stats__col smartly-stats__col--goals-achieved">
                <figure>
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/goals-achieved-mobile-illustration.svg' %>" class="visible-xs" alt="Students recommend">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/goals-achieved-illustration.svg' %>" class="hidden-xs" alt="Students recommend">
                </figure>
                <h3>Graduates say they’ve achieved their career goals</h3>
            </div>
            <div class="smartly-stats__col smartly-stats__col--students-recommend">
                <figure>
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/students-recommend-mobile-illustration.svg' %>" class="visible-xs" alt="Students recommend">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/students-recommend-illustration.svg' %>" class="hidden-xs" alt="Students recommend">
                </figure>
                <h3>Students would recommend <%= brand_name_short %> to a friend</h3>
            </div>
        </div>
    </div>
</div>