<script type="text/javascript">
  'use strict';

    window.institutional = <%= @redirect_support[:institutional] %>;
    window.consumer = <%= @redirect_support[:consumer] %>;

    /*
      We may want to skip the homepage and
      just send the user back into the app.

      This is the case if:
        There is a subdomain, which indicates that
        they are trying to hit an institutional version
        of smart.ly
    */
    function maybeRedirectToDashboard() {

      // http://stackoverflow.com/questions/2090551/parse-query-string-in-javascript
      function getQueryVariable(variable) {
          var query = window.location.search.substring(1);
          var vars = query.split('&');
          for (var i = 0; i < vars.length; i++) {
              var pair = vars[i].split('=');
              if (decodeURIComponent(pair[0]) === variable) {
                  return decodeURIComponent(pair[1]);
              }
          }
      }

      function getInstitutionalSubdomain() {
          var id = null;
          // only match something.smart.ly
          var match = location.hostname.match(/(\w+)\.smart\.ly/);

          if (match) {
              id = match[1];
          }

          // we have a staging CNAME pointing to our staging environment
          if (id === 'staging') {
              id = null;
          }

          // Local testing does not work using a real subdomain, so
          // allow it to be added as a query param
          var queryParam = getQueryVariable('subdomain');
          var source;
          if (!id && queryParam) {
              id = queryParam;
              source = 'queryParam';
          } else {
            source = 'subdomain';
          }
          return {
            id: id,
            source: source
          };
      }

      var institutionalSubdomain = getInstitutionalSubdomain();

      if (window.institutional && institutionalSubdomain.id && institutionalSubdomain.source === 'queryParam') {
        // redirect to dashboard, preserving subdomain query param
        window.location = '/dashboard?subdomain='+institutionalSubdomain.id;
      } else if ( (window.consumer && window.hasAuthHeaders) || (window.institutional && institutionalSubdomain.id) ) {
        window.location = '/home';
      }
    }
    maybeRedirectToDashboard();

</script>
