<div class="students-testimonials row <% if local_assigns.has_key?('wrapperClass') %><%= wrapperClass %><% end %>">
    <% local_assigns[:testimonials].each do |testimonial| %>
    <div class="col-xs-12 col-sm-6 <% if local_assigns[:testimonials].size == 1 %>col-sm-offset-3<% end %> <%= testimonial[:testimonialClass] %>">
        <div class="wrapper">
            <figure class="frame frame--<%= testimonial[:frameColor] %>">
                <% if testimonial.has_key? :authorPhoto3x
                    testimonial[:authorPhoto3x] = get_webpack_asset_value_for_key testimonial[:authorPhoto3x]
                end %>
                <img src="<%= testimonial[:authorPhoto3x] %>" alt="<%= testimonial[:authorName] %>" width="60" height="60" data-no-retina>
                <figcaption>
                    <h4><span><%= testimonial[:authorName] %></span></h4>
                    <h3><%= testimonial[:authorEducation] %></h3>
                    <h5><span><%= testimonial[:authorJob] %></span></h5>
                </figcaption>
            </figure>
            <div>
                <p><%= testimonial[:authorQuote].html_safe %></p>
            </div>
        </div>
    </div>
    <% end %>
</div>
