<div class="students-testimonials row students-testimonials--emba">
    <% local_assigns[:testimonials].each do |testimonial| %>
    <div class="col-sm-4 <%= testimonial[:testimonialClass] %>">
        <div class="wrapper">
            <figure class="frame frame--<%= testimonial[:frameColor] %>">
                <% if testimonial.has_key? :authorPhoto3x
                    testimonial[:authorPhoto3x] = get_webpack_asset_value_for_key testimonial[:authorPhoto3x]
                end %>
                <img src="<%= testimonial[:authorPhoto3x] %>" alt="<%= testimonial[:authorName] %>" width="60" height="60" data-no-retina>
                <figcaption>
                    <h4><span><%= testimonial[:authorName] %></span></h4>
                    <h3><%= testimonial[:authorEducation] %></h3>
                    <section class="job visible-md visible-lg"> 
                      <h5><span><%= testimonial[:authorCompany] %></span></h5>
                      <h6><span><%= testimonial[:authorJob] %></span></h6>
                    </section>
                    <section class="job hidden-md hidden-lg"> 
                      <h5><span><%= testimonial[:authorCompany] %> <%= testimonial[:authorJob] %></span></h5>
                    </section>
                </figcaption>
            </figure>
            <div class="frame-quote">
                <p><%= testimonial[:authorQuote].html_safe %></p>
            </div>
        </div>
    </div>
    <% end %>
</div>
