<div class="modal fade tuition__modal" id="modal__tuition" tabindex="-1" role="dialog" aria-labelledby="modal__tuition" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Full Tuition Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/cross-icon.svg' %>">
        </button>
      </div>
      <div class="modal-body">
        <p>Tuition is billed as a single up-front payment or divided into 12 monthly payments. For the convenience of this latter option, there is an additional payment plan fee of $75 USD per month. See our refund policy <a href="/help/article/337-tuition-refund-policy" target="_blank">here</a>.</p>
        <p>We award merit and need-based <a href="/help/article/191-are-scholarships-available" target="_blank">scholarships</a> on a case-by-case basis. Separately, we may offer <a href="/help/article/384-tuition-discounts" target="_blank">discounts</a> on tuition for defined groups and periods of time. You may also be eligible for <a href="/tuition-assistance/students">tuition reimbursement</a> by your company.</p>
        <p>Three optional weekend events are held during the program; they vary in cost from $300 USD to $600 USD to attend. Students are responsible for travel and accommodation.</p>
      </div>
    </div>
  </div>
</div>