<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-blue",
        text: "Sign Up - It’s Free",
        link: "/candidates/register",
        banner: {
            cssClass: 'banner-message--blue'
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--about">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/about/logo-vertical-white.svg' %>" alt="Quantic Logo" data-no-retina>
                        <p>Quantic School of Business & Technology is an online graduate school that’s connecting a rigorous MBA education directly to positive career outcomes and a global alumni network.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper wrapper--about">
    <section class="section section--about-galleries text-center">
        <%= render partial: "marketing/galleries/2x2-1image",
            locals: {
                title: "Business Programs",
                description: "Quantic offers two highly selective, accredited business degree programs — the <a href=\"/mba\">free MBA</a> and radically affordable <a href=\"/executive-mba\">Executive MBA</a>. Courses are delivered in the Quantic app on your mobile device or computer in bite-sized, interactive lessons and an accompanying peer learning platform. Its innovative business model transfers the burden of high tuition to employers who pay to recruit our exceptional students.",
                vectorPathMobile: "/assets/vectors/about/open-courses-illustration.svg",
                linkText: "about our programs",
                linkUri: "/programs",
                vectorRight: true,
                galleryClass: "gallery--smartly-mba"
            }
        %>

        <%= render partial: "marketing/galleries/2x2-1image",
            locals: {
                title: "Smartly Talent",
                description: "Quantic’s built-in career network, Smartly Talent, enables students and alumni to search for open positions and directly connect with top companies. Put your business knowledge to work, and get the career you deserve. Get educated. Get hired.",
                vectorPathMobile: '/assets/vectors/about/us-vs-top-mbas-graph-illustration.svg',
                linkText: "About Smartly Talent",
                linkUri: '/candidates/join-career-network',
                galleryClass: "gallery--smartly-network"
            }
        %>
    </section>

    <section class="section section--smartly-team text-center">
        <header>
            <h1 class="section__title primary-title">The Quantic Team</h1>
            <p>From our business content experts, to our programmers and engineers, to our executive leadership team — we’ve put together a team of pioneers. We’re the same core team that drove Rosetta Stone from its startup roots to the largest, most innovative language learning company in the world.</p>
        </header>

        <div class="team-wrapper container">
            <div class="row">
                <div class="team-member col-xs-12 col-sm-6">
                    <figure>
                        <span class="shape shape--red"></span>
                        <img src="<%= get_webpack_asset_value_for_key '/assets/images/about/team-member-1-picture.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/about/team-member-1-picture@2x.png' %>" alt="Tom Adams">
                    </figure>
                    <div>
                        <h2>Tom Adams</h2>
                        <h3>Chairman/CEO and Co-founder</h3>
                        <p>An E&amp;Y Entrepreneur of the Year National Winner, Tom is the former Chairman/CEO of Rosetta Stone and was previously on the board at Bridgewater Associates. He has an MBA from INSEAD and a B.A. in history from Bristol University.</p>
                    </div>
                </div>
                <div class="team-member col-xs-12 col-sm-6">
                    <figure>
                        <span class="shape shape--yellow"></span>
                        <img src="<%= get_webpack_asset_value_for_key '/assets/images/about/team-member-2-picture.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/about/team-member-2-picture@2x.png' %>" alt="Alexie Harper">
                    </figure>
                    <div>
                        <h2>Alexie Harper</h2>
                        <h3>Chief Academic Officer and Co-founder</h3>
                        <p>Previously the director of R&amp;D and a senior researcher at Rosetta Stone, and a travel writer and editor for Let's Go Inc., Alexie holds an M.A. in Irish and Irish-American Studies from NYU and an A.B. in English Literature and Language from Harvard University.</p>
                    </div>
                </div>
                <div class="team-member col-xs-12 col-sm-6">
                    <figure>
                        <span class="shape shape--purple"></span>
                        <img src="<%= get_webpack_asset_value_for_key '/assets/images/about/team-member-3-picture.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/about/team-member-3-picture@2x.png' %>" alt="Ori Ratner">
                    </figure>
                    <div>
                        <h2>Ori Ratner</h2>
                        <h3>CTO and Co-founder</h3>
                        <p>Ori previously was a director of software development and the software architect at Rosetta Stone. He has a B.S. in Computer Science from the University of Virginia, with a research focus in computer graphics and multi-agent simulation.</p>
                    </div>
                </div>
                <div class="team-member col-xs-12 col-sm-6">
                    <figure>
                        <span class="shape shape--green"></span>
                        <img src="<%= get_webpack_asset_value_for_key '/assets/images/about/team-member-5-picture.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/about/team-member-5-picture@2x.png' %>" alt="Matt Schenck">
                    </figure>
                    <div>
                        <h2>Matt Schenck</h2>
                        <h3>VP Admissions</h3>
                        <p>Having architected and built the consumer division of Rosetta Stone, Matt ultimately led the global growth strategy as Executive Vice President. He has a B.A. in psychology from Williams College.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="academics" class="section section--content-development text-center">
        <h1 class="section__title primary-title">Academics</h1>

        <%= render partial: "marketing/about/associates",
            locals: {
                associates: [
                    {
                        name: "Mai Ajjour",
                        description: "Prior to Quantic, Mai worked in the humanitarian sector at the International Rescue Committee as a senior information and communication technology for programs officer (ICT4P).  She holds a BS.c. from Al al-Bayt University in Computer Science."
                    },
                    {
                        name: "Kira Charlesworth",
                        description: "Prior to joining Quantic, Kira developed online learning resources for international educators and served as a Youth Development Peace Corps volunteer in Morocco. She holds a B.A. in Interdisciplinary Studies from the University of California, Berkeley and an MBA from Quantic."
                    },
                    {
                        name: "Ellie DiBerardino",
                        description: "Ellie joined Quantic after spending a few years in the world of advertising as a copywriter and strategist. She received her B.A. in Mathematics from Georgetown University, where she also minored in Russian and earned a place in the Dobro Slovo National Slavic Honor Society."
                    },
                    {
                        name: "James Kelly",
                        description: "Prior to Quantic, James worked as a professional musician, recording engineer, and photographer. He has an A.B. in history from Georgetown University where he also studied French and studio art. He's a Grammy® voter and was a 2012 Latin Grammy nominee."
                    },
                    {
                        name: "Catherine Killingsworth",
                        description: "Before joining Quantic, Catherine was a public school teacher, a school administrator, and the founder and executive director of an award-winning education nonprofit.  She earned her B.A. in English from Yale University and her MBA from Quantic."
                    },
                    {
                        name: "Daniel Mintz",
                        description: "Prior to Quantic, Daniel was a visiting assistant professor of mathematics at Georgetown University, where he also earned his A.B. in mathematics and classics. He received his doctorate in mathematics and classics from the University of St Andrews, and has also earned the CFA Institute Investment Foundations certificate."
                    },
                    {
                        name: "John Pella",
                        description: "Before joining Quantic, John worked as a researcher and lecturer in higher education.  He is the author of several academic articles and one book.  He received his Ph.D. in Politics and International Relations from the University of Bristol in the UK."
                    },
                    {
                        name: "Skylar Neil",
                        description: "Before Quantic, Skylar worked as a manager at an independent bookstore and a freelance copy editor. She recently received her PhD in Archaeology from the University of Cambridge, and holds an M.A. in Classical Archaeology from Tufts University and a B.A. in Ancient Studies from UMBC."
                    },
                    {
                        name: "Natalie Sappleton",
                        description: "Natalie joined Quantic after working as an assistant professor in Management and Entrepreneurship at Manchester Metropolitan University. She received her doctorate from the same university, and her M.A. in Economics and Politics from the University of Glasgow."
                    },
                    {
                        name: "Casey Williams",
                        description: "Casey has spent most of her career as a mathematics instructor at the college level. She was also a solutions architect for a private tech start-up before joining Quantic. Casey holds a B.S. in Mathematics Education and an M.S. in Mathematical Sciences."
                    },
                    {
                        name: "Chris Murcko",
                        description: "Prior to joining Quantic, Chris taught high school mathematics and worked as an education consultant for a national nonprofit organization. He holds a B.S. in Mathematics from the University of Houston."
                    },
                    {
                        name: "Dan Gryboski",
                        description: "Dan started his career as a mechanical engineer, helping airports procure automated trains. He then switched to education, teaching math and statistics to middle school, high school, and college students. He earned a B.A. in Math and Computer Science from Colorado College, and an M.S. in Mechanical Engineering from the University of Colorado."
                    },
                    {
                        name: "Kristina Batiste",
                        description: "Before joining Quantic, Kristina was a content strategist and user experience researcher for the University of Southern California and taught in the Master of Management in Library and Information Science program at USC Marshall School of Business. She earned her Bachelor of Arts in English from Stanford University and her Master of Information and Library Science from the University of British Columbia."
                    },
                    {
                        name: "Nan Zhang",
                        description: "Prior to joining Quantic, Nan was an assistant professor of marketing at North Carolina Central University. She received her Ph.D. in marketing from Southern Illinois University Carbondale."
                    },
                    {
                        name: "Sundar",
                        description: "Prior to joining Quantic, Sundar was a Finance Director for a publicly traded tech company and was responsible for the P&L of its largest Business Unit. He has extensive finance operational experience in Corporate Finance and M&A. He has also taught undergraduate and graduate courses in Economics and Finance. He holds multiple degrees from the University of New Orleans, including a Ph.D. in Financial Economics."
                    },
                    {
                        name: "Pierce Williams",
                        description: "Before joining Quantic, Pierce was a research fellow in Cultural Studies at Carnegie Mellon University. He has taught Literature and Composition at the high school and undergraduate levels, as well as to professionals at the US Army War College. He is currently working towards his PhD in English at Carnegie Mellon."
                    },
                ]
            }
         %>
    </section>

    <section id="operations" class="section section--operations text-center">
        <h1 class="section__title primary-title">Operations</h1>

        <%= render partial: "marketing/about/associates",
            locals: {
                associates: [
                    {
                        name: "Sarah Harder",
                        description: "Before joining Quantic, Sarah worked for 7 years at Rosetta Stone. She started in customer success before managing their B2B post-sales mass communications and their online support portal. She has a B.A. in Communications from Eastern Mennonite University."
                    },
                    {
                        name: "Nick Stevens",
                        description: "Prior to joining Quantic, Nick taught high school AP US History and transitioned into the sports media world. He received his B.A in History and M.A.T in Secondary Education from James Madison University."
                    },
                    {
                        name: "Indhika Jayaratnam",
                        description: "Prior to joining Quantic, Indhika helped launch a graduate program at the Walsh School of Foreign Service, then lead admissions for the McCourt School of Public Policy, both at Georgetown University. She holds an MA in International Peace and Conflict Resolution from American University and a BA/MA in Cultural and Social Anthropology from Stanford University."
                    },
                    {
                        name: "Alyssa Reid",
                        description: "Alyssa joined Quantic after working for eight years as a university Lecturer in Communication Studies while also serving as an intercollegiate public speaking coach. She received her B.A. in Communication: Culture and Public Affairs from California State University at Long Beach and her M.F.A. in Communication Studies from Minnesota State University Mankato."
                    },
                    {
                        name: "Carly Heider",
                        description: "Before joining Quantic, Carly taught eighth grade English/Language Arts, as well as GED and career readiness classes for adults. She received her B.S. in Education from Lock Haven University of Pennsylvania and is currently working on an M.F.A in creative writing through Southern New Hampshire University's online program."
                    },
                    {
                        name: "Allison Harper",
                        description: "Allison focuses on social learning, research, and analytics at Quantic. Previously, Allison was a senior manager at Rosetta Stone, leading a team in paid media and content marketing. She holds an A.B. in human evolutionary biology from Harvard University, where she also studied music."
                    },
                    {
                        name: "Jessica White",
                        description: "Prior to joining Quantic, Jessica owned a daycare for six years taking care of children between the ages of six weeks to five years old. Before this, she worked as a Nurse Manager at Walter Reed Army Medical Center. She received her A.S. in Nursing from the University of Central Florida."
                    },
                    {
                        name: "Justin Wise",
                        description: "Prior to joining Quantic, Justin interned in the Public Affairs office at the National Endowment for the Arts. He received his B.A. in CLEG, an interdisciplinary major that combines Communications, Law, Economics, and Government, from American University."
                    },
                    {
                        name: "Rachel Langley",
                        description: "Prior to joining Quantic, Rachel assisted in the expansion of a local educational tour company in Oaxaca, Mexico and taught English as a second language. She holds a B.A. from Portland State University in Liberal Studies with a focus in sustainable agriculture."
                    },
                    {
                        name: "Emily Merlino",
                        description: "Prior to joining Quantic, Emily worked for the New York Public Library and IES Abroad Dublin. She holds a B.A. in Economics from the University of Massachusetts Amherst and an M.Phil in Public History and Cultural Heritage from Trinity College Dublin."
                    },
                    {
                        name: "Marina Floratos",
                        description: "Prior to Quantic, Marina was in the hospitality industry where she specialized in events and recreation. She holds a B.S. in Marketing from the University of Richmond, and an MBA in Hospitality from Johnson & Wales University."
                    },
                ]
            }
         %>
    </section>

    <section id="engineering" class="section section--engineering text-center">
        <h1 class="section__title primary-title">Engineering</h1>

        <%= render partial: "marketing/about/associates",
            locals: {
                associates: [
                    {
                        name: "Nate Brustein",
                        description: "Before Quantic, Nate worked as an engineer at Rosetta Stone, as a New York City pedicab driver, taught English in China, and did economic research in the Senate. Nate has a B.A. in economics and political philosophy from NYU."
                    },
                    {
                        name: "Brent Dearth",
                        description: "Brent previously worked on simulation-based medical training at B-Line Medical and language learning systems at Rosetta Stone. Brent’s current passion is highly interactive interfaces and bleeding-edge JavaScript, as well as DevOps and process pipeline duties."
                    },
                    {
                        name: "Matt Langston",
                        description: "Matt received his M.S. in Computer Science from Mississippi State University. Prior to Quantic, he managed Android development for the Mississippi Department of Employment Security's job board. His current passions lie in mobile development, JavaScript, and UX."
                    },
                    {
                        name: "Isaac Mast",
                        description: "Before joining the Quantic team, Isaac studied at Eastern Mennonite University where he received a B.S. in computer science and studied subjects ranging from business administration to Middle Eastern religions and cultures."
                    },
                    {
                        name: "Colby Melvin",
                        description: "Prior to Quantic, Colby worked as an engineer at Communiqué, a multi-platform communication software service. Colby received his B.S. in Computer Science from UNC Wilmington."
                    },
                    {
                        name: "Adam Wilner",
                        description: "Before joining Quantic, Adam worked at several startups in the Boston area doing Full-Stack and DevOps Engineering. He graduated from The University of Maryland with a B.A. in Political Science and Philosophy."
                    }
                ]
            }
        %>
    </section>

    <section id="student-and-employer-relations" class="section section--business-and-marketing text-center">
        <h1 class="section__title primary-title">Student &amp; Employer Relations</h1>

        <%= render partial: "marketing/about/associates",
            locals: {
                associates: [
                    {
                        name: "Karim Chrobog",
                        description: "Karim leads business development at Quantic. He's an award-winning filmmaker and documentary maker. Prior, he was a partner at the Foxhall Group and senior policy analyst at Time Warner. Karim holds a BSFS from Georgetown University and MBAs from ESADE, FGV, and Georgetown."
                    },
                    {
                        name: "Jennifer Nearn",
                        description: "Jennifer’s experience in higher education spans two continents, from the University of London to the University of Washington’s Foster School of Business where she worked on the MBA admissions team as Program Coordinator. When not at Quantic, she can be found serving in one of three volunteer positions she holds in her community. Jennifer holds a B.A. in Psychology from Oregon State University."
                    },
                    {
                        name: "Makis Livadas",
                        description: "Before joining Quantic, Makis taught English in Seoul, South Korea, served as a paratrooper in the Greek military and worked as a marketing investment analyst at a SaaS company in the edtech sector. He earned his BA in economics and sociology from the University of Pittsburgh and MSc from Bocconi University."
                    },
                    {
                        name: "Theresa Stockdale",
                        description: "Theresa is a former Product and Supply Chain Manager from Kodak who has also traveled the world advocating for educational access on behalf of children living in extreme poverty. She holds an MBA in Finance and Marketing from the University of Rochester and a B.S. from Penn State University in Supply Chain Management."
                    },
                    {
                        name: "Gavin Moore",
                        description: "With nearly a decade of experience in the credentialing and education sectors, Gavin is interested in the processes by which people learn and validate their skills. He holds a B.A. from Iowa State University where he focused on environmental ethics through programs in both Philosophy and Environmental Studies."
                    },
                    {
                        name: "Matthew Chait",
                        description: "Before joining Quantic, Matthew worked as a Senior Admissions counselor at 2U with multiple programs working to improve business optimization and process. Prior to working in EdTech, Matthew served in various capacities as an EMT. He earned his Bachelor of Arts in Psychology from The George Washington University."
                    },
                    {
                        name: "Rachel Fletcher",
                        description: "Rachel is a brand strategist and marketer with an extensive background in digital media. Prior to joining Quantic, she worked at LA-based ad agency RPA, where her clients included Southwest Airlines and Honda. She holds a B.A. in English from the University of Pennsylvania."
                    },
                    {
                        name: "Sarah Price",
                        description: "Prior to joining Quantic, Sarah was a professional school counselor at a public charter school. She is also a Certified Health Coach with the Dr. Sears Wellness Institute and her passion is helping others reach their goals. Sarah earned a B.S. in Administration of Justice from Penn State University and an M.Ed. in Secondary School Counseling from Shippensburg University."
                    },
                    {
                        name: "Grace Liaw",
                        description: "Starting her teaching career in New Jersey public schools, Grace has since spent several years working in private international schools in China. Prior to joining Quantic, Grace was consulting international students and families on U.S. school choices. Grace received her Masters in Curriculum and Supervision from Penn State University and her Bachelor's in Child and Family Studies from Montclair State University."
                    },
                    {
                        name: "Nabila Quraishi",
                        description: "A lifelong learner, Nabila appreciates innovations that make education programs accessible and effective. She enjoys her roles as a volunteer in her community, working in real estate and as a student studying law. She holds an MSc in Analysis, Design and Management of Information Systems and a BSc in Economics from the London School of Economics."
                    },
                    {
                        name: "Kelsey Duggan",
                        description: "Kelsey previously worked in social media marketing for the TODAY Show, vineyard vines and the University of Massachusetts. She holds an M.A. in Broadcast Journalism and Public Affairs from American University and a B.A. in Communication and Mass Media from Fairfield University."
                    },
                    {
                        name: "Kristina Wessel",
                        description: "Prior to joining Quantic, Kristina designed and delivered corporate training in sustainability best practices, managed skills-based volunteer programs and corporate partnerships, and created and led a human resources department. She received an MBA in Sustainability and Social Impact from Boston University and a B.A. in English Literature from Eastern University. "
                    },
                    {
                        name: "Jessa Ramsey",
                        description: "Jessa is an Education Specialist and former bilingual classroom teacher with the New York City Department of Education. She loves the world of ideas and, in addition to English, speaks Spanish, French and Russian. Jessa holds a BA from Reed College and did her graduate work at The City College of New York through the NYC Teaching Fellows program."
                    },
                    {
                        name: "Lindsey Campion",
                        description: "With a background in teaching and supporting high-achievers to advance their careers, Lindsey is passionate about the Quantic mission. She received her B.A. in English and B.A. in French from the University of Kansas and her M.A. in English from the University of Texas-Austin."
                    },
                    {
                        name: "Josh Danetz",
                        description: "Prior to joining Quantic, Josh managed the CRM and Loyalty Program for CAVA Group and Zoës Kitchen. Previous to that, he led email and loyalty marketing for a direct-to-consumer nutritional supplement company. Josh received his B.B.A. in Marketing from James Madison University."
                    },
                    {
                        name: "David Goodman-Smith",
                        description: "Prior to joining Quantic, David ran a study abroad company in China for over a decade. David spent his childhood in Hong Kong and the UK before earning his B.A. from Santa Clara University in California."
                    },
                    {
                        name: "Senka Haveric",
                        description: "Prior to joining Quantic, Senka taught ESL in Colombia and helped develop educational tours for American students abroad. Senka completed her M.A. in International Training and Education at American University and holds a B.A. in International Relations & Spanish Studies from the University of Delaware."
                    },
                    {
                        name: "Rachel Hanson",
                        description: "Rachel has spent her career in education administration, at Harvard Business School, Merrimack College, and most recently Phillips Exeter Academy. She earned her BA in Judaic Studies at the University of Massachusetts Amherst."
                    },
                    {
                        name: "Molly Ricks",
                        description: "Prior to joining Quantic, Molly worked with the Tennessee Department of Education to provide alternative and augmented communication systems for students with complex communication needs. Before this, Molly facilitated lean manufacturing and process improvement workshops at McKinsey & Company. Molly graduated with a B.S. in International Affairs from The Georgia Institute of Technology."
                    },
                ]
            }
        %>
    </section>

    <section id="advisors" class="section section--advisors text-center">
        <h1 class="section__title primary-title">Advisors</h1>

        <%= render partial: "marketing/about/associates",
            locals: {
                associates: [
                    {
                        name: "Michael Horn",
                        description: "Michael is an advisor for Quantic. He is a co-founder of the Clayton Christensen Institute and co-author of Blended: Using Disruptive Innovation to Improve Schools. Michael holds a B.A. in history from Yale University and an MBA from Harvard Business School."
                    },
                    {
                        name: "Pawel Swiatek",
                        description: "Pawel is a board advisor at Quantic. His experience includes ten years as an investment and management professional at Bridgewater Associates, as well as consulting work with McKinsey & Company. He holds an MBA from Harvard Business School and an A.B. in Chemistry from Harvard University."
                    }
                ]
            }
        %>
    </section>

    <hr class="divider divider--light-fade">

    <footer>
        <p>Quantic also works with many additional content creators and reviewers, including professors and respected practitioners who are experts in their fields.</p>
    </footer>

    <section id="jobs" class="section text-center">
        <h1 class="section__title primary-title">Join Us</h1>
        <div class="container">
            <div class="bebop-jobs"></div>
            <script id="bebop-embed-loader" async defer src="https://hire.withgoogle.com:443/s/embed/jobs.js?company=pedagocom"></script>
        </div>
    </div>
</div>

<%= render partial: "marketing/banner/banner-call-to-action",
    locals: {
        title: "Ready to make a career move?",
        subtitle: "Your future is waiting for you.",
        bannerClass: "banner--sign-up-now",
        bgClass: "call-to-action__bg",
        btnText: "Sign Up Now",
        btnLink: "/candidates/register",
        btnClass: "button--md-primary"
    }
 %>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
