<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        text: "Apply to the MBA",
        link: "/candidates/signup",
        banner: {
            application_deadline_message: @application_deadline_message,
            linkText: "Apply now",
            linkUri: "/candidates/signup",
            cssClass: "banner-message--red"
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--quantic-announcement hero--accreditation">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>
                            The World’s First Accredited Mobile MBA.
                        </h1>
                        <p class="introducing">&nbsp;</p>
                        <div>
                            <svg class="quantic-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="381" height="193" viewBox="0 0 381 193">
                                <defs>
                                    <path id="a" d="M0 192.24h380.065V.364H0z"/>
                                </defs>
                                <g fill="none" fill-rule="evenodd">
                                    <path fill="#FFF" d="M83.096 144.263l83.076 47.964v-47.994L83.096 96.269z"/>
                                    <path fill="#FFF" d="M83.087.365L0 48.334v95.938l83.083 47.97V144.25l-41.523-23.972V72.33l41.526-23.975 41.523 23.975v47.934l41.56-23.996V48.334zM311.085 87.974h4.884v-22.07h-4.884zM272.25 74.541l9.742 13.432h3.72v-22.07h-4.888v13.305l-9.708-13.305h-3.75V87.94h4.883zM296.028 87.973h4.824V70.001h6.274v-4.098h-17.31v4.098h6.212zM332.237 88.32c3.437 0 5.674-1.104 7.912-2.775l-2.016-3.72c-1.609 1.23-3.376 2.143-5.864 2.143-4.48 0-7.19-3.09-7.19-7.03 0-3.942 2.71-7.032 7.19-7.032 2.488 0 4.255.914 5.864 2.144l2.016-3.718c-2.238-1.673-4.475-2.775-7.912-2.775-7.474 0-12.108 5.234-12.108 11.381 0 6.148 4.634 11.382 12.108 11.382M252.96 71.074l2.93 8.829h-5.958l3.028-8.829zm-4.353 12.769v.064h8.673v-.064l1.577 4.13h5.105l-8.639-22.07h-4.76l-8.513 22.07h5.044l1.513-4.13zM230.291 88.32c4.95 0 9.142-3.029 9.142-8.7V65.901h-4.887V79.62c0 3.058-1.986 4.603-4.255 4.603-2.272 0-4.226-1.545-4.226-4.603V65.902h-4.886V79.62c0 5.672 4.162 8.7 9.112 8.7M205.353 70.032c3.627 0 6.62 2.87 6.62 6.907 0 1.86-.655 3.45-1.695 4.647l-4.085-2.358v4.531c-.276.035-.554.081-.84.081-3.657 0-6.65-2.868-6.65-6.901 0-4.036 2.993-6.907 6.65-6.907m0 18.288c1.577 0 3.08-.32 4.45-.897l6.965 4.019v-6.108l-2.449-1.412c1.528-1.935 2.479-4.34 2.479-6.983 0-6.274-5.14-11.382-11.445-11.382-6.335 0-11.475 5.108-11.475 11.382 0 6.273 5.14 11.38 11.475 11.38M197.682 106.658c0 .958.357 2.193 2.824 3.067l3.097 1.097c2.794.877 4.632 2.878 4.632 5.07 0 3.182-2.659 5.429-6.633 5.429-3.728 0-6.224-2.057-6.936-4.467l2.003-.523c.463 1.565 2.274 3.07 4.906 3.07 2.794 0 4.494-1.48 4.494-3.37 0-1.755-1.508-2.851-3.124-3.37l-3.097-1.043c-3.647-1.18-4.332-3.263-4.332-4.908 0-3.233 2.878-5.177 6.113-5.177 3.262 0 5.317 1.781 5.892 4.302l-1.917.574c-.469-1.917-1.836-2.96-4.002-2.96-2.112 0-3.92 1.18-3.92 3.209M221.107 101.532c2.767 0 4.632.82 6.275 2.055l-.82 1.59c-1.343-.988-3.29-1.728-5.566-1.728-5.042 0-8.085 3.674-8.085 7.979 0 4.327 3.07 7.973 8.114 7.973 2.247 0 4.194-.712 5.537-1.7l.82 1.619c-1.643 1.205-3.508 2-6.248 2-6.55 0-10.389-4.548-10.389-9.892 0-5.347 3.84-9.896 10.362-9.896M233.184 112.77v8.25h-2.112v-19.186h2.112v9.181h9.865v-9.18h2.11v19.184h-2.11v-8.25zM259.263 119.401c4.275 0 7.783-3.479 7.783-7.973 0-4.5-3.508-7.979-7.783-7.979-4.248 0-7.784 3.48-7.784 7.979 0 4.494 3.536 7.973 7.784 7.973m0-17.869c5.482 0 9.95 4.44 9.95 9.896 0 5.453-4.468 9.893-9.95 9.893-5.483 0-9.95-4.44-9.95-9.893 0-5.455 4.467-9.896 9.95-9.896M281.833 119.401c4.275 0 7.784-3.479 7.784-7.973 0-4.5-3.509-7.979-7.784-7.979-4.248 0-7.784 3.48-7.784 7.979 0 4.494 3.536 7.973 7.784 7.973m0-17.869c5.482 0 9.95 4.44 9.95 9.896 0 5.453-4.468 9.893-9.95 9.893-5.482 0-9.95-4.44-9.95-9.893 0-5.455 4.468-9.896 9.95-9.896M307.036 121.018h-11.103v-19.185h2.114v17.43h8.99zM322.4 119.483c2.824 0 5.125-2.355 5.125-5.263 0-2.93-2.301-5.315-5.125-5.315-2.797 0-5.098 2.385-5.098 5.315 0 2.908 2.301 5.263 5.098 5.263m0-12.416c3.947 0 7.18 3.235 7.18 7.128 0 3.945-3.233 7.126-7.18 7.126-3.95 0-7.153-3.151-7.153-7.126 0-3.92 3.203-7.128 7.153-7.128M337.82 102.764c-1.095 0-2.248.712-2.248 3.209v1.397h3.782v1.643h-3.782v12.005h-2.055v-12.005h-2.274v-1.643h2.274v-1.154c0-4.302 2.22-5.287 4.302-5.287 2.55 0 3.975 1.453 3.975 3.343 0 0 0 .358-.136.74h-1.865c.054-.22.084-.412.084-.55 0-1.175-.877-1.698-2.058-1.698M198.587 145.09v7.045h5.482c2.328 0 4.029-1.235 4.029-3.233 0-2.028-1.7-3.812-5.429-3.812h-4.082zm3.481-1.67c3.617 0 5.071-1.838 5.071-3.728 0-2.164-1.865-3.236-3.977-3.236h-4.575v6.964h3.481zm3.425.685c3.152.384 4.768 2.439 4.768 4.849 0 3.016-2.518 4.935-6.192 4.935h-7.592v-19.187h6.685c3.457 0 6.143 1.754 6.143 4.852 0 2.057-1.18 3.893-3.812 4.55zM229.08 134.703v12.17c0 4.824-3.424 7.317-7.453 7.317-4.058 0-7.483-2.493-7.483-7.318v-12.17h2.112v12.17c0 3.617 2.466 5.401 5.371 5.401 2.878 0 5.345-1.784 5.345-5.4v-12.17h2.109zM235.648 139.527c0 .961.357 2.193 2.823 3.07l3.095 1.094c2.797.88 4.632 2.878 4.632 5.074 0 3.178-2.658 5.425-6.63 5.425-3.73 0-6.224-2.055-6.936-4.467l2-.52c.466 1.562 2.277 3.07 4.906 3.07 2.797 0 4.495-1.48 4.495-3.37 0-1.755-1.506-2.854-3.122-3.371l-3.098-1.042c-3.646-1.18-4.331-3.265-4.331-4.909 0-3.233 2.878-5.18 6.113-5.18 3.26 0 5.317 1.782 5.891 4.303l-1.917.577c-.468-1.92-1.838-2.962-4.001-2.962-2.114 0-3.92 1.18-3.92 3.208"/>
                                    <mask id="b" fill="#fff">
                                        <use xlink:href="#a"/>
                                    </mask>
                                    <path fill="#FFF" d="M250.192 153.89h2.11v-19.187h-2.11zM260.054 138.514v15.375h-2.112v-19.187h1.62l11.319 15.324v-15.324h2.109v19.187h-1.592zM290.546 153.89h-11.923v-19.187h11.923v1.754h-9.812v7.153h8.578v1.784h-8.578v6.742h9.812zM295.963 139.527c0 .961.357 2.193 2.823 3.07l3.098 1.094c2.794.88 4.632 2.878 4.632 5.074 0 3.178-2.659 5.425-6.633 5.425-3.728 0-6.224-2.055-6.936-4.467l2.003-.52c.463 1.562 2.274 3.07 4.906 3.07 2.794 0 4.494-1.48 4.494-3.37 0-1.755-1.508-2.854-3.124-3.371l-3.098-1.042c-3.646-1.18-4.331-3.265-4.331-4.909 0-3.233 2.878-5.18 6.113-5.18 3.262 0 5.317 1.782 5.891 4.303l-1.917.577c-.468-1.92-1.835-2.962-4.001-2.962-2.112 0-3.92 1.18-3.92 3.208M311.714 139.527c0 .961.357 2.193 2.824 3.07l3.095 1.094c2.796.88 4.632 2.878 4.632 5.074 0 3.178-2.659 5.425-6.63 5.425-3.731 0-6.225-2.055-6.937-4.467l2-.52c.467 1.562 2.278 3.07 4.907 3.07 2.796 0 4.494-1.48 4.494-3.37 0-1.755-1.506-2.854-3.122-3.371l-3.097-1.042c-3.647-1.18-4.332-3.265-4.332-4.909 0-3.233 2.878-5.18 6.113-5.18 3.26 0 5.318 1.782 5.892 4.303l-1.917.577c-.468-1.92-1.838-2.962-4.002-2.962-2.114 0-3.92 1.18-3.92 3.208M342.507 138.485c0-1.205-.85-2.466-2.824-2.466-1.232 0-2.602.823-2.602 2.658 0 1.205.985 2.44 2.163 3.536 2.058-.988 3.263-2.44 3.263-3.728zm-8.415 10.418c0 2.163 2.055 3.56 4.521 3.56 1.839 0 3.731-1.177 4.768-2.74l-4.684-5.4c-2 .714-4.605 2.222-4.605 4.58zm10.5 2.19c-1.346 1.92-3.702 3.098-5.979 3.098-3.617 0-6.576-1.865-6.576-5.207 0-3.07 2.96-4.962 5.537-6.032-1.373-1.123-2.521-2.794-2.521-4.356 0-3.235 2.602-4.194 4.657-4.194 3.154 0 4.824 1.89 4.824 4.029 0 2.028-2.082 4.085-4.193 4.99 1.397 1.586 2.767 3.124 4.14 4.713l2.74-3.755h2.138v.165l-3.674 4.933 1.592 1.809c.712.712 1.286 1.07 2.247 1.07.766 0 1.644-.25 2.11-.659.246.466.467.988.711 1.452-.655.63-1.535 1.042-2.878 1.042-1.697 0-2.658-.712-3.728-1.782l-1.148-1.315zM209.631 167.574v1.755h-6.714v17.43h-2.11v-17.43h-6.69v-1.755zM224.834 186.76H212.91v-19.185h11.923v1.754h-9.812v7.153h8.577v1.782h-8.577v6.741h9.812zM237.541 167.274c2.767 0 4.633.82 6.276 2.055l-.82 1.589c-1.343-.988-3.29-1.727-5.567-1.727-5.041 0-8.084 3.673-8.084 7.978 0 4.327 3.07 7.974 8.114 7.974 2.247 0 4.194-.713 5.536-1.7l.821 1.618c-1.643 1.205-3.509 2.001-6.249 2.001-6.549 0-10.388-4.549-10.388-9.893 0-5.347 3.839-9.895 10.361-9.895M249.618 178.51v8.25h-2.111v-19.185h2.111v9.181h9.866v-9.18h2.11v19.184h-2.11v-8.25zM269.34 171.383v15.376h-2.112v-19.185h1.619l11.32 15.321v-15.321h2.109v19.185h-1.592zM296.379 185.142c4.275 0 7.784-3.479 7.784-7.973 0-4.5-3.51-7.979-7.784-7.979-4.25 0-7.784 3.48-7.784 7.979 0 4.494 3.533 7.973 7.784 7.973m0-17.869c5.482 0 9.947 4.44 9.947 9.896 0 5.453-4.465 9.893-9.947 9.893-5.483 0-9.95-4.44-9.95-9.893 0-5.455 4.467-9.896 9.95-9.896M321.58 186.76h-11.1v-19.185h2.11v17.43h8.99zM331.96 185.142c4.275 0 7.784-3.479 7.784-7.973 0-4.5-3.509-7.979-7.784-7.979-4.248 0-7.784 3.48-7.784 7.979 0 4.494 3.536 7.973 7.784 7.973m0-17.869c5.482 0 9.95 4.44 9.95 9.896 0 5.453-4.468 9.893-9.95 9.893-5.482 0-9.95-4.44-9.95-9.893 0-5.455 4.468-9.896 9.95-9.896M346.746 177.221c0 4.085 2.933 7.922 8.196 7.922 1.7 0 3.427-.382 4.933-1.481v-4.467h-5.537v-1.782h7.456v7.099c-2.358 2.11-5.098 2.55-6.988 2.55-5.975 0-10.225-4.413-10.225-9.868 0-5.537 4.358-9.92 10.28-9.92 1.862 0 4.467.438 6.494 1.974l-.82 1.643c-2.385-1.592-4.47-1.7-5.401-1.7-5.837 0-8.388 4.22-8.388 8.03M371.786 177.002l5.92-9.427h2.356v.162l-7.234 11.1v7.922h-2.112v-7.921l-7.234-11.1v-.163h2.356l5.92 9.427z" mask="url(#b)"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg class="floating-shape shape-left hidden-xs hidden-sm" width="201px" height="232px" viewBox="0 0 201 232" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.200000003">
                <path d="M100.063941,0.04934656 L200.124588,57.8184602 L200.124588,115.552092 L150.09976,144.434347 L200.126868,173.316644 L200.126868,231.113636 L100.073825,173.352125 L100.073825,115.552599 L150.06976,144.416347 L150.070188,86.7207578 L100.063941,57.8463386 L50.0576947,86.7207578 L50.0576947,144.464527 L100.058872,173.333878 L100.058872,231.133404 L0.000760319999,173.364291 L0.000760319999,57.8184602 L100.063941,0.04934656 Z" id="shape-left" fill="#FFFFFF"></path>
            </g>
        </svg>

        <svg class="floating-shape shape-right hidden-xs hidden-sm" width="401px" height="463px" viewBox="0 0 401 463" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.200000003">
                <path d="M200.127882,0 L400.249175,115.538227 L400.249175,231.005491 L300.200521,288.77 L400.253737,346.534595 L400.253737,462.128579 L200.147651,346.605558 L200.147651,231.006505 L300.139521,288.735 L300.140375,173.342822 L200.127882,115.593984 L100.115389,173.342822 L100.115389,288.830362 L200.117745,346.569062 L200.117745,462.168115 L0.00152063999,346.629888 L0.00152063999,115.538227 L200.127882,0 Z" id="shape-right" fill="#FFFFFF"></path>
            </g>
        </svg>
    </div>
</section>

<div class="wrapper">
    <section class="section section--new-name text-center">
        <h2 class="section__title primary-title">Quantic is accredited by the Distance Education<br class="hidden-xs"> Accrediting Commission (DEAC), listed by the U.S.<br class="hidden-xs"> Department of Education as a recognized accrediting agency.</h2>

        <div class="hexagon-image container image-1">
            <picture>
                <source media="(min-width: 1200px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_desktop/image_1.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_desktop/image_1@2x.png' %> 2x, <%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_desktop/image_1@3x.png' %> 3x">
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_mobile/image_1.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_mobile/image_1@2x.png' %> 2x, <%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_mobile/image_1@3x.png' %> 3x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_mobile/image_1.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_mobile/image_1@2x.png' %>" alt="">
            </picture>
        </div>

        <div class="trail trail-1 container">
            <svg viewBox="0 0 472 415" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Trail-1" transform="translate(283.196266, 159.196266) rotate(-135.000000) translate(-283.196266, -159.196266) translate(-29.303734, 71.196266)">
                        <path d="M0.125904029,41.2664676 C0.125904029,41.2664676 104.450904,-42.5835324 153.200904,54.9164676 C201.950904,152.416468 250.700904,198.241468 312.125904,164.116468 C373.550904,129.991468 462.275904,0.316467633 624.125904,0.316467633" id="Trail-4" stroke="#4A76FF" stroke-width="2.5" opacity="0.2" stroke-dasharray="19.5"></path>
                        <circle id="Trail-Circle-Yellow" fill="#FFBF00" cx="313.100904" cy="162.966468" r="12.5"></circle>
                    </g>
                </g>
            </svg>
        </div>
    </section>

    <section class="section section--student-or-graduate text-center">
        <div class="section__background"></div>

        <div class="section__content">
            <div class="board-wrapper">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="board">
                            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/corporate_training/educate-icon.svg' %>" alt="Educate">
                            <div>
                                <h2>What is Accreditation?</h2>
                                <p>In the United States, accreditation provides assurance that an institution meets quality standards and is accountable for achieving the learning outcomes it promises. It is granted by independent agencies listed by the Department of Education.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hexagon-image container image-2">
            <picture>
                <source media="(min-width: 1200px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_desktop/image_2.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_desktop/image_2@2x.png' %> 2x, <%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_desktop/image_2@3x.png' %> 3x">
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_mobile/image_2.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_mobile/image_2@2x.png' %> 2x, <%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_mobile/image_2@3x.png' %> 3x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_mobile/image_2.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_mobile/image_2@2x.png' %>" alt="">
            </picture>
        </div>

        <div class="trail trail-2 container">
            <svg viewBox="0 0 247 416" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Trail-2" transform="translate(161.696266, 229.696266) scale(-1, 1) rotate(-300.000000) translate(-161.696266, -229.696266) translate(-78.303734, 173.196266)">
                        <path d="M-1.70530257e-13,15.5 C-1.70530257e-13,15.5 59.25,-14.5000001 162,9.5 C264.75,33.5000001 286.5,116.749996 240,103.25 C193.5,89.7500041 236.25,-1.75000409 286.5,20.75 C336.75,43.2500041 360.75,80.0000034 393,63.5 C453.868034,32.3582086 480,9.5 480,9.5" stroke="#4A76FF" stroke-width="2.5" opacity="0.2" stroke-dasharray="15"></path>
                        <circle id="Trail-Circle-Orange" fill="#FF5368" cx="240.75" cy="103.25" r="9.75"></circle>
                    </g>
                </g>
            </svg>
        </div>
    </section>

    <section class="section section--exciting-announcements text-center">
        <svg class="quantic-certification" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="199" height="191" viewBox="0 0 199 191">
            <defs>
                <path id="a" d="M.088.19H20.22v26.829H.088z"/>
                <path id="c" d="M.258.743h16.137v21.78H.258z"/>
                <path id="e" d="M.203.76h130.599v150.803H.202z"/>
            </defs>
            <g fill="none" fill-rule="evenodd">
                <path fill="#1B3B4F" d="M78.69 166.667c-6.05 0-10.916 1.773-15.377 5.828 4.385 2.794 8.815 4.041 13.995 4.041 6.356 0 12.004-1.825 17.517-5.687-7.334-3.457-11.483-4.182-16.134-4.182M91.417 167.266c-1.807-5.383-4.213-9.458-7.358-12.604-2.704-2.71-8.548-7.14-17.51-6.87.9 4.99 2.778 8.618 6.034 11.875 4.938 4.938 12.68 6.867 18.834 7.6M58.953 160.427c-5.8 0-10.775 1.33-16.004 4.416 4.945 3.281 9.778 4.697 15.55 4.697 6.92 0 11.689-2.067 15.969-5.01-4.788-2.643-9.547-4.103-15.515-4.103"/>
                <path fill="#1B3B4F" d="M65.513 160.934c.108-10.165-2.245-15.075-5.94-18.977-2.433-2.581-5.442-4.788-11.938-7.34-.718 7.133 1.8 14.124 7.28 19.604 3.121 3.117 6.111 5.068 10.598 6.713M36.73 149.214c-5.163 0-8.892 1.19-12.734 3.533 3.67 4.45 8.696 7.931 16.491 7.931 5.04 0 9.974-1.183 14.737-3.526-4.528-3.915-10.573-7.938-18.495-7.938M47.6 151.178c-.284-8.237-3.513-16.407-8.793-21.562-2.753-2.682-6.196-5.446-14.3-7.956-.35 4.373.348 12 7.442 19.1 4.732 4.727 9.55 7.648 15.65 10.418M35.224 147.487c-2.241-4.42-5.702-9.355-10.952-12.652-7.336-4.617-13.898-5.117-19.649-4.25 2.51 5.398 5.148 9.23 9.424 12.594 5.768 4.543 13.553 5.03 21.177 4.308M20.123 130.208c-.322-5.611-1.66-12.376-5.222-17.174-3.55-4.774-7.974-7.73-14.9-9.655-.039 7.312 2.373 13.437 7.196 18.267 3.183 3.19 7.59 6.096 12.926 8.562M16.93 97.772c0-6.864-3.047-12.79-8.893-17.415-1.705 3.186-2.542 6.52-2.542 10.085 0 7.722 4.206 14.4 8.808 19.79 2.048-5.04 2.626-8.135 2.626-12.46M103.744 170.849c5.513 3.862 11.169 5.687 17.51 5.687 5.176 0 9.62-1.247 14.002-4.041-4.466-4.055-9.333-5.828-15.385-5.828-4.647 0-8.79.725-16.127 4.182M132.02 147.792c-8.965-.27-14.803 4.16-17.518 6.87-3.144 3.146-5.54 7.222-7.353 12.604 6.16-.731 13.899-2.661 18.837-7.6 3.25-3.256 5.126-6.884 6.033-11.874M124.109 164.531c4.265 2.942 9.042 5.008 15.954 5.008 5.779 0 10.605-1.415 15.554-4.697-5.232-3.085-10.199-4.415-16.002-4.415-5.978 0-10.733 1.46-15.506 4.104"/>
                <path fill="#1B3B4F" d="M150.923 134.617c-6.492 2.553-9.487 4.759-11.934 7.34-3.684 3.902-6.045 8.812-5.94 18.977 4.493-1.646 7.484-3.596 10.607-6.713 5.474-5.48 7.996-12.47 7.267-19.604M143.345 157.152c4.752 2.343 9.697 3.526 14.74 3.526 7.795 0 12.82-3.48 16.487-7.93-3.837-2.344-7.567-3.534-12.73-3.534-7.921 0-13.976 4.023-18.497 7.938M166.62 140.76c7.092-7.099 7.791-14.727 7.438-19.1-8.1 2.51-11.546 5.274-14.296 7.957-5.277 5.154-8.517 13.324-8.793 21.56 6.101-2.77 10.92-5.69 15.65-10.418M174.296 134.834c-5.246 3.299-8.717 8.233-10.944 12.653 7.61.721 15.398.234 21.17-4.307 4.276-3.366 6.906-7.197 9.424-12.594-5.754-.868-12.314-.367-19.65 4.248"/>
                <g transform="translate(178.351 103.19)">
                    <mask id="b" fill="#fff">
                        <use xlink:href="#a"/>
                    </mask>
                    <path fill="#1B3B4F" d="M20.221.19C13.294 2.116 8.871 5.07 5.32 9.845 1.75 14.642.406 21.408.088 27.02c5.337-2.466 9.746-5.372 12.926-8.563C17.844 13.627 20.252 7.501 20.22.19" mask="url(#b)"/>
                </g>
                <path fill="#1B3B4F" d="M193.074 90.442c0-3.564-.848-6.899-2.546-10.086-5.838 4.626-8.888 10.552-8.888 17.416 0 4.325.574 7.42 2.623 12.46 4.598-5.39 8.811-12.068 8.811-19.79"/>
                <g transform="translate(90.956 168.158)">
                    <mask id="d" fill="#fff">
                        <use xlink:href="#c"/>
                    </mask>
                    <path fill="#1B3B4F" d="M12.207 10.28c-.592-1.979-.868-3.817-1.09-5.295-.21-1.373-.353-2.36-.668-3.012-.424-.876-1.04-1.23-2.115-1.23-1.087 0-1.699.354-2.123 1.23-.318.651-.473 1.639-.676 3.012-.217 1.478-.5 3.316-1.092 5.295-.725 2.399-1.808 4.503-2.676 6.194-.879 1.692-1.51 2.928-1.51 3.866 0 1.29.873 2.183 2.133 2.183 2.046 0 2.767-2.19 3.674-4.96l.386-1.137.307-.957c.477-1.474.88-2.75 1.577-2.75.679 0 1.082 1.28 1.562 2.75l.315.957.378 1.138c.903 2.77 1.625 4.96 3.684 4.96 1.247 0 2.122-.894 2.122-2.184 0-.938-.626-2.174-1.502-3.866-.876-1.69-1.954-3.795-2.686-6.194" mask="url(#d)"/>
                </g>
                <g transform="translate(33.784 .106)">
                    <mask id="f" fill="#fff">
                        <use xlink:href="#e"/>
                    </mask>
                    <path fill="#FF4D63" d="M.203 38.461v75.402l65.3 37.7 65.299-37.7V38.461l-65.3-37.7z" mask="url(#f)"/>
                </g>
                <path fill="#fff" d="M99.29 76.253v21.3l36.87 21.285V97.54z"/>
                <path fill="#fff" d="M99.286 33.69L62.413 54.98v42.578l36.872 21.287V97.547L80.859 86.908v-21.28L99.286 54.99l18.428 10.639v21.274l18.445-10.65V54.98z"/>
            </g>
        </svg>

        <div class="hexagon-image container image-3">
            <picture>
                <source media="(min-width: 1200px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_desktop/image_3.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_desktop/image_3@2x.png' %> 2x, <%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_desktop/image_3@3x.png' %> 3x">
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_mobile/image_3.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_mobile/image_3@2x.png' %> 2x, <%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_mobile/image_3@3x.png' %> 3x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_mobile/image_3.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/quantic_name_change/hexagons_mobile/image_3@2x.png' %>" alt="">
            </picture>
        </div>
    </section>

    <section class="section section--faq">
        <div class="container">
            <div class="the-curriculum-accordion">
                <div class="nestable-accordion">
                    <div class="faq-title">
                        <h2 class="primary-title">Frequently <br class="hidden-xs">Asked Questions</h2>
                    </div>

                    <%= render partial: "marketing/nestable-accordion-faq", locals: {
                        questions: [
                            {
                                title: %(What is the DEAC?),
                                description: %(The Distance Education Accrediting Commission (DEAC) is listed by the U.S. Department of Education as a recognized accrediting agency and also recognized by the Council for Higher Education Accreditation (CHEA). It accredits distance education institutions that offer online programs such as those pioneered by Quantic School of Business and Technology.)
                            },
                            {
                                title: %(I’m not from the United States. What does accreditation mean for me?),
                                description: %(Most employers and educational institutions outside the US will recognize your degree from Quantic School of Business and Technology, as it is an accredited US institution. Recognition of foreign degrees is determined on a country by country basis. If official recognition of your degree is important to employers or potential employers in your country, we encourage you to check on degree recognition with the relevant organizations in your country.),
                                class: 'two-lines-at-small-breakpoint'
                            },
                            {
                                title: %(With accreditation, is my company more likely to provide tuition assistance<br class="hidden-xs hidden-sm"> for my Quantic degree?),
                                description: %(Yes! Many companies that offer tuition assistance for higher education degree programs require those institutions to be accredited. For our tuition-based Executive MBA, this may mean that you are eligible for full funding of the degree. Check with your HR department and find out more <a href="/tuition-assistance/students">here</a>.),
                                class: 'two-lines-at-small-breakpoint two-lines-at-medium-breakpoint'
                            },
                        ].compact
                    } %>
                </div>
            </div>
        </div>
    </section>
</div>

<%= render partial: "marketing/banner/banner-centered-message",
    locals: {
        title: "Have more questions?",
        subtitle: "Send us an email at questions@quantic.edu",
        bannerClass: "banner--sign-up-now",
        bgClass: "call-to-action__bg"
    }
 %>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>