<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        banner: {
            application_deadline_message: @application_deadline_message,
            linkText: "Apply now",
            linkUri: "/candidates/signup",
            cssClass: "banner-message--red"
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--how-it-works-candidate">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>Fast track your career. Then <br class="hero__breakline"> land your dream job.</h1>
                        <a id="scroll-down" href="#how-it-works-candidate" class="hero__headline__go-down">See How It Works
                            <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'down-arrow-icon.svg') %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper wrapper--how-it-works">
    <section id="how-it-works-candidate" class="section section--candidate text-center">

        <%= render partial: "marketing/galleries/1x1",
        locals: {
            col1:{
                title: "Skill Up",
                description: "Apply for our <a href=\"/mba\"><em>Free MBA</em></a>, <a href=\"/executive-mba\"><em>Executive MBA</em></a>, and Business Certifications or enroll in our free open courses.",
                vectorPathMobile: '/assets/vectors/how_it_works/candidate/get-more-marketable-mobile-illustration.svg',
                vectorPathDesktop: '/assets/vectors/how_it_works/candidate/get-more-marketable-illustration.svg',
                linkText: "Learn more",
                linkUri: '/programs',
                vectorClass: 'gallery__illustration--get-more-marketable'
            }
        }
        %>

        <div class="build-profile-wrapper build-profile-wrapper--candidate">
            <%= render partial: "marketing/galleries/2x2-1image",
            locals: {
                title: "Raise your profile",
                description: "Showcase your education, experience and career interests. Then connect with alumni, colleagues and companies looking to hire.",
                vectorPathMobile: '/assets/vectors/how_it_works/candidate/create-your-profile-illustration.svg',
                linkText: "Sign up now",
                linkUri: '/candidates/register',
                vectorRight: true,
                galleryClass: "gallery--create-profile-candidate"
            }
            %>
        </div>

        <%= render partial: "marketing/galleries/2x2-1image",
        locals: {
            title: "Companies pursue you",
            description: "Make your profile public to receive interview requests from companies. Respond to only the ones you like.",
            vectorPathMobile: '/assets/vectors/how_it_works/candidate/companies-pursue-you-illustration.svg',
            # galleryClass: "gallery--first-move",
            linkText: "About Career Network",
            linkUri: '/candidates/join-career-network',
            galleryClass: "gallery--companies-pursue"
        }
        %>

        <hr class="divider divider--light section__separator">

        <%= render partial: "marketing/galleries/1x1",
        locals: {
            col1:{
                title: "Build a better career",
                description: "Grow your potential and your earning power.\nIt's time to land your dream job.",
                vectorPathMobile: '/assets/vectors/how_it_works/candidate/accept-interviews-illustration.svg',
                vectorClass: 'gallery__illustration--accept-interviews'
            }
        }
        %>
    </section>

    <section class="section section--credibility text-center">
        <div class="section__background"></div>

        <div class="section__content">
            <header>
                <h1 class="section__title primary-title">What people are saying</h1>
            </header>

            <div class="container">
                <%= render partial: "marketing/testimonials",
                    locals: {
                        testimonials: [
                            {
                                authorName: "Robin Lu",
                                authorEducation: "University of California, Berkeley",
                                authorJob: "Gomay Group, Front-end Engineer",
                                authorPhoto: "/assets/images/photos/robin-lu.png",
                                authorPhoto2x: "/assets/images/photos/robin-lu@2x.png",
                                authorPhoto3x: "/assets/images/photos/robin-lu@3x.png",
                                authorQuote: "“My journey with #{brand_name_short} has been incredible. The course material equipped me with knowledge that led to a 66% salary increase.”",
                                frameColor: "red"
                            },
                            {
                                authorName: "Thaddeus John Konicki, Jr",
                                authorEducation: "University of Pennsylvania",
                                authorJob: "L-3 Communications, System Engineering",
                                authorPhoto: "/assets/images/photos/thaddeus-konicki.png",
                                authorPhoto2x: "/assets/images/photos/thaddeus-konicki@2x.png",
                                authorPhoto3x: "/assets/images/photos/thaddeus-konicki@3x.png",
                                authorQuote: "“I have no doubt that what I learned during the #{brand_name_short} MBA program has set me up to be a leader in my organization going forward!”",
                                frameColor: "yellow"
                            },
                        ]
                    }
                %>
            </div>

            <footer>
                <a class="link link--text-sm link--color-default" href="/reviews">
                    <span>more <%= brand_name_short %> love</span>
                    <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'right-arrow-blue-icon.svg') %>
                </a>
            </footer>
        </div>
    </section>
</div>

<div class="hiring-form--no-bkg">
    <%= render partial: "marketing/banner/banner-hiring-form",
        locals: {
            title: "Ready to jump start your career?",
            subtitle: "Find your dream job. It's free.",
            inputPlaceholder: "Your email",
            bgClass: "hiring-form-wrapper--bg hiring-form-wrapper--bg--blue",
            btnClass: "button--lg-primary",
            wrapperClass: "hiring-form-wrapper--candidate",
            link: '/candidates/register'
        }
    %>
</div>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
