<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        text: "Sign up - It's Free",
        banner: {
            application_deadline_message: @application_deadline_message,
            linkText: "Apply now",
            linkUri: "/candidates/signup"
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--join-career-network-v2 hero--join-career-network-v3">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
          <div class="hero__image"></div>
          <div class="hero__image hero__image--retina"></div>
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>Where Education Meets<br class="hidden-xs"> Career Opportunity</h1>
                        <p>Smartly Talent is Quantic's built-in career network that connects our students with top employers.</p>
                        <div class="link-cta">
                          <span>Access to Smartly Talent is currently only available to<br class="hidden-xs"> Quantic students and graduates.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
  <section class="section section--recruit-companies">
    <div class="container">
      <div class="floating-companies row">
        <div class="col-xs-12">
          <ul>
            <li class="company-earnest">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-earnest-logo.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-earnest-logo@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-earnest-logo.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-earnest-logo@2x.png' %>" alt="Earnest Logo">
              </picture>
            </li>
            <li class="company-patient-ping">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-patient-ping-logo.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-patient-ping-logo@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-patient-ping-logo.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-patient-ping-logo@2x.png' %>" alt="Patient Ping Logo">
              </picture>
            </li>
            <li class="company-credit-karma">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-credit-karma-logo.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-credit-karma-logo@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-credit-karma-logo.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-credit-karma-logo@2x.png' %>" alt="Credit Karma Logo">
              </picture>
            </li>
            <li class="company-capital-one">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-capital-one-logo.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-capital-one-logo@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-capital-one-logo.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-capital-one-logo@2x.png' %>" alt="Capital One Logo">
              </picture>
            </li>
            <li class="company-makespace">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-makespace-logo.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-makespace-logo@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-makespace-logo.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-makespace-logo@2x.png' %>" alt="Makespace Logo">
              </picture>
            </li>
            <li class="company-doordash">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-door-dash-logo.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-door-dash-logo@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-door-dash-logo.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/employers/company_logos/bw-company-door-dash-logo@2x.png' %>" alt="DoorDash Logo">
              </picture>
            </li>
          </ul>
        </div>
      </div>

      <div class="student-testimonial row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-sm-offset-0 col-md-offset-1 text-xs-center">
            <div class="banner--testimonials__text">
                <div class="align-middle">
                    <p>“Smartly Talent is an innovative platform that allows me to apply to amazing, exclusive positions in just a few clicks. The overall platform, including the Quantic MBA, represents the future of career development.”</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-10 col-sm-offset-0 col-md-offset-1 text-xs-center">
            <div class="banner--testimonials__photo-caption">
                <p class="banner--testimonials__author">Valeria P.</p>
                <p class="banner--testimonials__job">Product Marketer</p>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--how-it-works text-center">
    
    <img style="width: 147px;" src="<%= get_webpack_asset_value_for_key '/assets/images/mission/smartly/smartly-talent@2x.png' %>" class="gallery__illustration">
    <br>
    <br>
    <hr class="divider divider--small divider--light-fade">
    <br>
    <br>
    <h1 class="section__title primary-title">How it works</h1>
    <p class="section__subtitle">Smartly Talent powers Quantic's "flipped" tuition model - companies pay to recruit<br class="hidden-xs"> our students, shifting cost from student to employer.</p>

    <div class="steps-timeline">
      <ul>
        <li class="steps-timeline__entry steps-timeline__entry--create-free-profile">
          <span class="steps-timeline__entry-number">1</span>
          <picture>
            <source media="(max-width: 767px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/interview-requests-mobile.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/interview-requests-mobile@2x.png' %> 2x">
            <img src="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/interview-requests-desktop.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/interview-requests-desktop@2x.png' %>" srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/interview-requests-desktop.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/interview-requests-desktop@2x.png' %> 2x" alt="Illustration Interview Requests">
          </picture>
          <div class="steps-timeline__entry-content">
            <h3>Choose and apply to one of our degree programs</h3>
            <div class="description">Apply to our <a href="/mba">Free MBA</a> or radically affordable <a href="/executive-mba">Executive MBA</a> in as little as 15 minutes. </div>
          </div>
        </li>
        <li class="steps-timeline__entry steps-timeline__entry--discover-job-opportunities">
          <span class="steps-timeline__entry-number">2</span>
          <picture>
            <source media="(max-width: 767px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/illustration-search-dream-job-mobile.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/illustration-search-dream-job-mobile@2x.png' %> 2x">
            <img src="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/illustration-post-a-job-desktop.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/illustration-post-a-job-desktop@2x.png' %>" srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/illustration-post-a-job-desktop.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/illustration-post-a-job-desktop@2x.png' %> 2x" alt="Illustration Search Dream Job">
          </picture>
          <div class="steps-timeline__entry-content">
            <h3>Explore Smartly Talent</h3>
            <div class="description">If you're accepted to Quantic, you'll have access to exclusive job opportunities and can actively send your profile to employers.</div>
          </div>
        </li>
        <li class="steps-timeline__entry steps-timeline__entry--field-interview-requests">
          <span class="steps-timeline__entry-number">3</span>
          <picture>
            <source media="(max-width: 767px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/illustration-find-candidates-mobile.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/illustration-find-candidates-mobile@2x.png' %> 2x">
            <img src="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/illustration-find-candidates-desktop.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/illustration-find-candidates-desktop@2x.png' %>" srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/illustration-find-candidates-desktop.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/illustration-find-candidates-desktop@2x.png' %> 2x" alt="Illustration Find Candidates">
          </picture>
          <div class="steps-timeline__entry-content">
            <h3>Get Discovered by Employers</h3>
            <div class="description">Not actively looking? Employers can still browse your profile. Get interview requests when job opportunities match what you're looking for.</div>
          </div>
        </li>
        <li class="steps-timeline__entry steps-timeline__entry--land-dream-job">
          <span class="steps-timeline__entry-number">4</span>
          <picture>
            <source media="(max-width: 767px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/land-dream-job-mobile.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/land-dream-job-mobile@2x.png' %> 2x">
            <img src="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/land-dream-job-desktop.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/land-dream-job-desktop@2x.png' %>" srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/land-dream-job-desktop.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/timeline/land-dream-job-desktop@2x.png' %> 2x" alt="Illustration Land Dream Job">
          </picture>
          <div class="steps-timeline__entry-content">
            <h3>Get Offers and Get Hired</h3>
            <div class="description">Congrats! Accept your job offer and start a new journey with a top company or innovative startup.</div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="section section--company section--employers-company text-center">
    <div class="container">
      <div class="floating-companies row">
        <h1 class="section__title floating-companies__title">You´re in good company</h1>
        <p class="section__subtitle">Candidates in Smartly Talent have top education backgrounds</p>

        <div class="floating-companies__row col-xs-12 col-md-10">
          <ul>
            <li class="company-yale">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/mobile/logo-yale.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/mobile/logo-yale@2x.png' %> 2x" media="(max-width: 767px)">
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-yale.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-yale@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-yale.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-yale@2x.png' %>" alt="Yale Logo">
              </picture>
            </li>
            <li class="company-princeton">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/mobile/logo-princeton.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/mobile/logo-princeton@2x.png' %> 2x" media="(max-width: 767px)">
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-princeton.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-princeton@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-princeton.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-princeton@2x.png' %>" alt="Princeton Logo">
              </picture>
            </li>
            <li class="company-california">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/mobile/logo-university-california.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/mobile/logo-university-california@2x.png' %> 2x" media="(max-width: 767px)">
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-university-california.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-university-california@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-university-california.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-university-california@2x.png' %>" alt="California University Logo">
              </picture>
            </li>
            <li class="company-stanford">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/mobile/logo-stanford.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/mobile/logo-stanford@2x.png' %> 2x" media="(max-width: 767px)">
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-stanford.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-stanford@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-stanford.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-stanford@2x.png' %>" alt="Stanford Logo">
              </picture>
            </li>
            <li class="company-duke">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/mobile/logo-duke.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/mobile/logo-duke@2x.png' %> 2x" media="(max-width: 767px)">
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-duke.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-duke@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-duke.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-duke@2x.png' %>" alt="Duke Logo">
              </picture>
            </li>
            <li class="company-michigan">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/mobile/logo-michigan.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/mobile/logo-michigan@2x.png' %> 2x" media="(max-width: 767px)">
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-michigan.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-michigan@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-michigan.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/universities/logo-michigan@2x.png' %>" alt="Michigan University Logo">
              </picture>
            </li>
          </ul>
        </div>

        <div class="floating-companies__row col-xs-12 col-md-10">
          <p class="section__subtitle">and work at leading companies.</p>

          <ul>
            <li class="company-google">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/mobile/logo-google.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/mobile/logo-google@2x.png' %> 2x" media="(max-width: 767px)">
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-google.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-google@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-google.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-google@2x.png' %>" alt="Google Logo">
              </picture>
            </li>
            <li class="company-apple">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/mobile/logo-apple.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/mobile/logo-apple@2x.png' %> 2x" media="(max-width: 767px)">
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-apple.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-apple@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-apple.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-apple@2x.png' %>" alt="Apple Logo">
              </picture>
            </li>
            <li class="company-pg">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/mobile/logo-pg.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/mobile/logo-pg@2x.png' %> 2x" media="(max-width: 767px)">
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-pg.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-pg@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-pg.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-pg@2x.png' %>" alt="PG Logo">
              </picture>
            </li>
            <li class="company-bcg">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/mobile/logo-bcg.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/mobile/logo-bcg@2x.png' %> 2x" media="(max-width: 767px)">
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-bcg.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-bcg@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-bcg.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-bcg@2x.png' %>" alt="BCG Logo">
              </picture>
            </li>
            <li class="company-airbnb">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/mobile/logo-airbnb.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/mobile/logo-airbnb@2x.png' %> 2x" media="(max-width: 767px)">
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-airbnb.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-airbnb@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-airbnb.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-airbnb@2x.png' %>" alt="Airbnb Logo">
              </picture>
            </li>
            <li class="company-citi">
              <picture>
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/mobile/logo-citi.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/mobile/logo-citi@2x.png' %> 2x" media="(max-width: 767px)">
                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-citi.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-citi@2x.png' %> 2x">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-citi.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/join_career_network/companies/logo-citi@2x.png' %>" alt="Citi Logo">
              </picture>
            </li>
          </ul>
        </div>

        <p class="section__subtitle section__subtitle--smaller">...and many more!</p>
      </div>
    </div>
  </section>

  <section class="section section--company section--candidates section--roles text-center">
    <div class="container company-cards">
      <div class="row">
        <div class="gallery__stats">
          <div class="gallery__stats-item">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/employers/tech-cyan.svg' %>" alt="Tech">
            <h3>Tech</h3>
            <p>Software Engineers, Data Scientists, Product Managers,  UX/UI Designers & more</p>
          </div>

          <div class="gallery__stats-item">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/employers/business-red.svg' %>" alt="Business">
            <h3>Business</h3>
            <p>Account Managers, Business Analysts, Consultants, Investment Bankers, Marketers & more</p>
          </div>

          <div class="gallery__stats-item">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/employers/educate-yellow.svg' %>" alt="Elite Managers">
            <h3>Leadership Roles</h3>
            <p>Managers, Directors, VPs, C-Suite & more</p>
          </div>
        </div>
      </div>
    </div>

    <div class="gallery__link">
      <a class="link link--text-sm link--color-default" data-toggle='modal' data-target='#modal__roles'>
        See more roles
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
          <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
        </svg>
      </a>
    </div>
  </section>
</div>

<div class="modal fade modal--message-tooltip" id="modal__roles" tabindex="-1" role="dialog" aria-labelledby="modal__roles" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Top roles on Smartly Talent</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/cross-icon.svg' %>">
        </button>
      </div>
      <div class="modal-body">
        <div class="panel-group" id="panels">
          <div class="panel panel-default">
            <div class="collapsed accordion-header" data-toggle="collapse" data-parent="#panels" data-target="#tech_talent" aria-expanded="true">
              <button class="btn">
                <picture class="icon-tech"><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/employers/tech-white.svg' %>" alt="Tech"></picture> Tech Roles
              </button>
            </div>
            <div id="tech_talent" class="accordion-content panel-collapse collapse in">
              <div class="accordion-body">
                <ul>
                  <li>Engineering
                    <ul>
                      <li>Back End Software Engineer</li>
                      <li>Data Engineer</li>
                      <li>DevOps / Infrastructure</li>
                      <li>Front End Software Engineer</li>
                      <li>Full Stack Software Engineer</li>
                      <li>Hardware Engineer</li>
                      <li>Mobile Engineer</li>
                      <li>QA Engineer</li>
                    </ul>
                  </li>
                </ul>
                <ul>
                  <li>Product Management
                    <ul>
                      <li>Product Manager</li>
                    </ul>
                  </li>

                  <li>Data Analytics
                    <ul>
                      <li>Data Scientist</li>
                      <li>Data Analyst</li>
                    </ul>
                  </li>

                  <li>Design
                    <ul>
                      <li>UX/UI Design</li>
                      <li>Graphic Design</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="collapsed accordion-header" data-toggle="collapse" data-parent="#panels" data-target="#business_talent" aria-expanded="false">
              <button class="btn">
                <picture class="icon-business"><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/employers/business-white.svg' %>" alt="Business"></picture> Business Roles
              </button>
            </div>
            <div id="business_talent" class="accordion-content panel-collapse collapse" aria-expanded="true">
              <div class="accordion-body">
                <ul>
                  <li>Finance
                    <ul>
                      <li>Accounting</li>
                      <li>FP&A</li>
                      <li>Investment Banking</li>
                      <li>Research (Sell-Side)</li>
                      <li>Risk / Audit</li>
                      <li>Trading</li>
                    </ul>
                  </li>

                  <li>Investing
                    <ul>
                      <li>Venture Capital</li>
                      <li>Private Equity</li>
                      <li>Hedge Fund</li>
                    </ul>
                  </li>
                </ul>
                <ul>
                  <li>Marketing & Communications
                    <ul>
                      <li>Content Marketer</li>
                      <li>Digital Marketer</li>
                      <li>Public Relation</li>
                      <li>Writer</li>
                    </ul>
                  </li>

                  <li>Sales / Business Development
                    <ul>
                      <li>Account Executive</li>
                      <li>Account Manager</li>
                      <li>Business Development Rep</li>
                      <li>Customer Success Manager</li>
                      <li>Sales Engineer</li>
                      <li>Sales Ops</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="collapsed accordion-header" data-toggle="collapse" data-parent="#panels" data-target="#management_roles" aria-expanded="false">
              <button class="btn">
                <picture class="icon-educate"><img src="<%= get_webpack_asset_value_for_key '/assets/vectors/employers/educate-white.svg' %>" alt="Manage"></picture> Management Roles
              </button>
            </div>
            <div id="management_roles" class="accordion-content panel-collapse collapse" aria-expanded="false">
              <div class="accordion-body">
                <ul>
                  <li>Director</li>

                  <li>Vice President</li>

                  <li>Management Director</li>

                  <li>C-Level positions across many job functions and industries</li>
                </ul>
                <ul>
                  <li>Many of our managers have MBAs from elite universities including:
                    <ul>
                      <li>Stanford</li>
                      <li>Harvard</li>
                      <li>Wharton</li>
                      <li>Sloan</li>
                      <li>Ross</li>
                      <li>Kellog</li>
                      <li>Booth</li>
                      <li>Boalt</li>
                      <li>Fuqua</li>
                      <li>INSEAD</li>
                      <li>Stern</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p class="visible-xs">Experience ranging from entry level to managers to C-suite</p>
        <p class="hidden-xs">With experience ranging from entry level to managers to C-suite, including former founders, senior executives and elite MBAs</p>
      </div>
    </div>
  </div>
</div>

<%= render partial: "marketing/banner/banner-hiring-form",
  locals: {
    title: "Ready to jump start your career?",
    subtitle: "Apply to Quantic today!",
    inputPlaceholder: "Your email",
    bgClass: "hiring-form-wrapper--bg hiring-form-wrapper--bg--blue",
    btnClass: "button--lg-primary",
    wrapperClass: "hiring-form-wrapper--candidate",
    link: '/candidates/register',
  }
%>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>