<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        text: "Apply to the MBA",
        link: "/candidates/signup",
        banner: {
            application_deadline_message: @application_deadline_message,
            linkText: "Apply now",
            linkUri: "/candidates/signup",
            cssClass: "banner-message--red"
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--learn-with-smartly">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                      <%= @heading.html_safe %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="learn-with-smartly">
    <section
        id="courses"
        class="content-tabs-panel <%= if @active_section == "courses" then 'active' end %>"
        data-content-url="/programs"
        style="background-color: white">

            <%= render partial: "marketing/galleries/2x2-1image",
                locals: {
                    galleryClass: 'gallery--the-free-mba',
                    title: "The Free MBA",
                    description: "#{brand_name_standard} is reinventing education by combining its award-winning mobile-first MBA curriculum with a thriving career network. Designed for the early-career learner, we’re highly selective. But if you’re accepted, it’s free. <strong>Yes, free.</strong>",
                    vectorPathMobile: '/assets/vectors/the_free_mba/price-tag-illustration.svg',
                    vectorPathDesktop: '/assets/vectors/the_free_mba/price-tag-illustration.svg',
                    linkText: "Learn more",
                    linkUri: '/mba'
                }
            %>

            <div class="wrapper--the-executive-mba">
                <%= render partial: "marketing/galleries/2x2-1image",
                    locals: {
                        title: "The Executive MBA",
                        description: "For mid-career professionals and entrepreneurs, we add advanced leadership, management, strategy, and entrepreneurship courses to the core MBA curriculum, while offering additional class projects, career services and networking events.",
                        vectorPathMobile: '/assets/vectors/candidates/our-courses/mobile/the-executive-mba-illustration.svg',
                        vectorPathDesktop: '/assets/vectors/candidates/our-courses/desktop/the-executive-mba-illustration.svg',
                        linkText: "Learn More",
                        linkUri: '/executive-mba',
                        vectorRight: true,
                        galleryClass: "gallery--the-executive-mba"
                    }
                %>
            </div>


            <%= render partial: "marketing/galleries/1x1",
                locals: {
                    galleryClass: "gallery--open-courses",
                    col1:{
                        title: "The Open Courses",
                        description: "Choose from our library of short, individual business courses. With no application required, these courses are free and available to everyone!",
                        vectorPathMobile: '/assets/vectors/candidates/our-courses/mobile/open-courses-illustration.svg',
                        vectorPathDesktop: '/assets/vectors/candidates/our-courses/desktop/open-courses-illustration.svg',
                        linkText: "Learn More",
                        linkUri: '/open-courses',
                        vectorClass: '',
                    }
                }
            %>

            <div class="section section--credibility text-center">
                  <div class="section__background"></div>

                  <div class="section__content">
                      <header>
                          <h1 class="section__title primary-title">What people are saying</h1>
                      </header>

                      <div class="container">
                          <%= render partial: "marketing/testimonials",
                              locals: {
                                  testimonials: [
                                      {
                                          authorName: "Aleshia Howell",
                                          authorEducation: "University of Westminster",
                                          authorJob: "Program Director, The Creative Coast",
                                          authorPhoto: "/assets/images/photos/aleshia-howell.png",
                                          authorPhoto2x: "/assets/images/photos/aleshia-howell@2x.png",
                                          authorPhoto3x: "/assets/images/photos/aleshia-howell@3x.png",
                                          authorQuote: "“#{brand_name_short} gave me the tools and knowledge I needed to start my business on the right foot. I'm amazed at how much I've learned in just a year.”",
                                          frameColor: "blue"
                                      },
                                      {
                                          authorName: "Marcus Gilmore",
                                          authorEducation: "New York University",
                                          authorJob: "Sr. Regional Manager, Center for Sustainable Energy (CSE)",
                                          authorPhoto: "/assets/images/photos/marcus-gilmore.png",
                                          authorPhoto2x: "/assets/images/photos/marcus-gilmore@2x.png",
                                          authorPhoto3x: "/assets/images/photos/marcus-gilmore@3x.png",
                                          authorQuote: "“Participating in #{brand_name_short}'s EMBA influenced how I approached my current role and contributed to me receiving a promotion prior to completing the program.”",
                                          frameColor: "green"
                                      }
                                  ]
                              }
                          %>
                      </div>

                      <footer>
                          <a class="link link--text-sm link--color-default" href="/prices/students">
                              <span>compare our programs</span>
                              <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'right-arrow-blue-icon.svg') %>
                          </a>
                      </footer>
                  </div>
              </div>
    </section>
    <section
        id="method"
        class="section--our-method text-center content-tabs-panel <%= if @active_section == "method" then 'active' end %>"
        data-content-url="/programs/method">
            <%= render partial: "marketing/galleries/1x1",
                locals: {
                    galleryClass: 'gallery--pedagogically-engineered',
                    col1:{
                        title: "Pedagogically Engineered",
                        description: "No boring lecture videos. No tedious textbooks. Just delightful interactive instruction designed to make learning dramatically easier and faster.",
                        youtubeEmbed: "" # see special code below to dynamically set YouTube URL when tab is visible
                    }
                }
            %>
            <%#
              Hack for this page: dynamically show the youtube video when this tab becomes visible
              If I don't do this, the Youtube video will load immediately while in a display: none; container.
              This tricks YouTube into thinking it's a tiny video, so it preloads a low resolution thumbnail image.
              To work around this, I created a mutation observer to watch for the tab to become visible, then
              set the correct youtube URL on the iframe.

              Look ma, no jquery!
            %>
            <script type="text/javascript">
              'use strict';
              (function() {
                // show video if we're on the correct tab and we haven't done it yet
                var maybeShowYoutubeVideo = function() {
                  if (window.location.pathname === '/programs/method') {
                    var youtubeUri = 'https://www.youtube.com/embed/PkCtiYYSzAk?modestbranding=1&rel=0&showinfo=0';
                    var elements = document.getElementsByClassName('youtube-iframe');
                    var element = elements[0];

                    if (element.getAttribute('src') !== youtubeUri) {
                      element.setAttribute('src', youtubeUri);
                    }
                  }
                };

                // watch for mutations on the method tab style (e.g.: when we get set to display:block)
                var methodElement = document.getElementById('method');
                var observer = new MutationObserver(function() {
                  maybeShowYoutubeVideo();
                });

                observer.observe(methodElement, {
                  attributes: true,
                  attributeFilter: ['style'],
                  childList: false,
                  characterData: false
                });

                // check if we're already on the method tab initially
                maybeShowYoutubeVideo();
              })();
            </script>

            <div class="wrapper--active-learning">
                <%= render partial: "marketing/galleries/2x2-1image",
                    locals: {
                        title: "Active Learning",
                        description: "With decades of experience in educational technology, as well as pedagogical conviction in experiential learning, #{brand_name_short} has reinvented adult education with interactive, mobile-first learning we call \"Active Learning.\"",
                        vectorPathMobile: '/assets/vectors/candidates/our-method/desktop/iphone-coffee-illustration.svg',
                        vectorRight: true,
                        galleryClass: "gallery--active-learning",
                        linkText: "More about our efficacy",
                        linkUri: '/efficacy',
                    }
                %>
            </div>
            <div class="wrapper--mastery-based-progression">
                <%= render partial: "marketing/galleries/2x2-1image",
                    locals: {
                        title: "Mastery-Based Progression",
                        description: "Gone are the passive approaches of video-based talking heads and long-winded prose. Instead, #{brand_name_short} lessons constantly challenge learners, requiring interactions every eight seconds. As every 5-10 minute lesson builds on prior lessons, students test their understanding while confronting new course material in a mastery-based progression of learning that ensures student advancement.",
                        vectorPathMobile: '/assets/vectors/candidates/our-method/mobile/mastery-based-progression-mobile-illustration.svg',
                        vectorPathDesktop: '/assets/vectors/candidates/our-method/desktop/mastery-based-progression-illustration.svg',
                        galleryClass: "gallery--mastery-based-progression"
                    }
                %>
            </div>
            <div class="wrapper--dont-teach-and-test">
                <%= render partial: "marketing/galleries/2x2-1image",
                    locals: {
                        title: "Don’t Teach and Test...",
                        description: 'For too long, online education has systematized the least effective practices of classroom instruction, broadcasting information then testing for student comprehension. Online education incumbents have stuck with this passive paradigm, despite poor engagement and efficacy.',
                        vectorPathMobile: '/assets/vectors/candidates/our-method/mobile/dont-teach-and-test-mobile-illustration.svg',
                        vectorPathDesktop: '/assets/vectors/candidates/our-method/desktop/dont-teach-and-test-illustration.svg',
                        vectorRight: true,
                        galleryClass: "gallery--dont-teach-and-test"
                    }
                %>
            </div>
            <div class="wrapper--test-to-teach">
                <%= render partial: "marketing/galleries/2x2-1image",
                    locals: {
                        title: "...Test to Teach!",
                        description: 'With Active Learning, our courseware immediately challenges the student to think as the protagonist. We’re not a lecturer, but rather a mentor and tutor, providing activities where students engage, making decisions with immediate feedback. We test not to confirm comprehension but rather as an opportunity to teach.',
                        vectorPathMobile: '/assets/vectors/candidates/our-method/mobile/test-to-teach-mobile-illustration.svg',
                        vectorPathDesktop: '/assets/vectors/candidates/our-method/desktop/test-to-teach-illustration.svg',
                        galleryClass: "gallery--test-to-teach",
                        linkText: "More about our efficacy",
                        linkUri: '/efficacy',
                    }
                %>
            </div>

            <div class="section--active-learning text-center">
                <hr class="divider divider--small divider--light-fade">

                <header>
                    <h2 class="section__title secondary-title">Active Learning flips the old educational paradigm with dramatic effects in both efficacy and retention.</h2>
                </header>

                <a class="link link--text-sm link--color-default" href="/efficacy-2016-download" target="_blank">
                    <span>see the study</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                        <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"/>
                    </svg>
                </a>
            </div>

            <div class="section section--credibility text-center">
                  <div class="section__background"></div>

                  <div class="section__content">
                      <header>
                          <h1 class="section__title primary-title">What people are saying</h1>
                      </header>

                      <div class="container">
                          <%= render partial: "marketing/testimonials",
                              locals: {
                                  testimonials: [
                                      {
                                          authorName: "Lindsey Allard",
                                          authorEducation: "Dartmouth College",
                                          authorPhoto: "/assets/images/photos/lindsey-allard.png",
                                          authorPhoto2x: "/assets/images/photos/lindsey-allard@2x.png",
                                          authorPhoto3x: "/assets/images/photos/lindsey-allard@3x.png",
                                          authorQuote: "“I loved the #{brand_name_short} program. I have never experienced interactive learning the way #{brand_name_short} provides. Highly recommend this to anybody who wants to take their career to the next level!”",
                                          frameColor: "red"
                                      },
                                      {
                                          authorName: "Samuel Miles",
                                          authorEducation: "Yale University",
                                          authorJob: "African Leadership University, Facilitator",
                                          authorPhoto: "/assets/images/photos/samuel-miles.png",
                                          authorPhoto2x: "/assets/images/photos/samuel-miles@2x.png",
                                          authorPhoto3x: "/assets/images/photos/samuel-miles@3x.png",
                                          authorQuote: "“#{brand_name_short} is pedagogy done right for the modern omni-learner.  As an educator I could really see the best practices so often talked about baked in seamlessly.”",
                                          frameColor: "yellow"
                                      },
                                  ]
                              }
                          %>
                      </div>

                      <footer>
                          <a class="link link--text-sm link--color-default" href="/prices/students">
                              <span>Compare Our Programs</span>
                              <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'right-arrow-blue-icon.svg') %>
                          </a>
                      </footer>
                  </div>
              </div>
    </section>
</div>

<div class="hiring-form--no-bkg">
    <%= render partial: "marketing/banner/banner-hiring-form",
        locals: {
            title: "Ready to jump start your career?",
            subtitle: "Start learning with #{brand_name_short} today.",
            inputPlaceholder: "Your email",
            bgClass: "hiring-form-wrapper--bg hiring-form-wrapper--bg--blue",
            btnClass: "button--lg-primary",
            wrapperClass: "hiring-form-wrapper--candidate",
            link: "/candidates/register"
        } %>
</div>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
