<%= render partial: "marketing/header/header",
  locals: {
    signBtnClass: "button--sm-primary button--sm-primary-blue",
    text: "Sign Up - It’s Free",
    link: "/candidates/register",
    banner: {
        cssClass: 'banner-message--blue'
    }
  }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--legal">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>Cookie Policy</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
  <!-- .legal-section -->
  <section class="section section--legal-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <small><span class="bold">Last revision:</span> 3rd May, 2018</small>
          <br><br>
          <p>
            Pedago ("us", "we", or "our") uses cookies on <%= current_domain %> and affiliated websites (collectively the "Site").<br><br>
            Our Cookies Policy explains what cookies are, how we use cookies, how third-parties we partner with may use cookies on the Site, and your choices regarding cookies. Please read this Cookies Policy in conjunction with our <a href="/privacy">Privacy Policy</a>, which sets out additional details on how we use personally identifiable information and your various rights.</p>

          <h3>What is a cookie?</h3>
          <p>Cookies are small text files sent by us to your computer or mobile device. They are unique to your account or your browser. Session-based cookies last only while your browser is open and are automatically deleted when you close your browser. Persistent cookies last until you or your browser delete them or until they expire.
          <br><br>
          To find out more about cookies, visit <a href="http://www.allaboutcookies.org/">this site</a>.</p>

          <br>
          <h3>Cookies we may use</h3>

          <!-- OneTrust Cookies Policy start -->
          <div id="optanon-cookie-policy"></div>
          <!-- OneTrust Cookies Policy end -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.legal-section -->
</div>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>