<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-blue",
        link: '/employers/signup',
        banner: {
            cssClass: 'banner-message--blue'
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--corporate-training">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right"></div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>Training doesn’t have to be tedious.</h1>
                        <p>With Active Learning, your team picks up skills and capabilities faster than with any other method. Unlock your team’s potential—fast.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper wrapper--corporate-training">
    <section id="corporate-training-improve-your-team" class="section section--improve-team text-center">
        <h1 class="section__title primary-title">Improve your team.</h1>
        <p>From Sexual Harassment to Ethics to Data Security to Sales, move your organization's training to the next level with Smartly's active learning platform.</p>

        <div class="board-wrapper container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="board">
                        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/corporate_training/onboard-icon.svg' %>" alt="On board">
                        <div>
                            <h2>Onboard</h2>
                            <p>Bring new employees up to speed fast with a customized onboarding experience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="board">
                        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/corporate_training/train-icon.svg' %>" alt="Train">
                        <div>
                            <h2>Train</h2>
                            <p>Effectively train and deliver job-specific learning and compliance requirements.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="board">
                        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/corporate_training/develop-icon.svg' %>" alt="Develop">
                        <div>
                            <h2>Develop</h2>
                            <p>Grow valuable professional skills such as leadership and communication.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="board">
                        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/corporate_training/educate-icon.svg' %>" alt="Educate">
                        <div>
                            <h2>Educate</h2>
                            <p>Offer MBA-level business training to engage your employees and unleash their potential.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--corporate-training-galleries text-center">
        <%= render partial: "marketing/galleries/2x2-1image",
            locals: {
                title: "Fast. Effective. Mobile.",
                description: "Learn 5 times faster than lecture-based videos. Our bite-sized, interactive lessons are available on desktop, tablet, and mobile.",
                vectorPathMobile: "/assets/images/corporate_training/conventiently-mobile-illustration.png",
                vectorPathMobileRetina: "/assets/images/corporate_training/conventiently-mobile-illustration@2x.png",
                linkText: "Request demo",
                linkUri: "/help/contact",
                vectorRight: true,
                galleryClass: "gallery--fast-effective"
            }
        %>

        <%= render partial: "marketing/galleries/2x2-1image",
            locals: {
                title: "Smartly reporting.",
                description: "Smartly offers a full suite of online tools to track student performance across all lessons. Monitor who is doing what, when, and how well.",
                vectorPathMobile: "/assets/images/corporate_training/smartly-reporting-illustration.png",
                vectorPathMobileRetina: "/assets/images/corporate_training/smartly-reporting-illustration@2x.png",
                galleryClass: "gallery--smartly-reporting"
            }
        %>

        <%= render partial: "marketing/galleries/2x2-1image",
            locals: {
                title: "Custom courses.",
                description: "Did you know we build custom content for your company in addition to our off-the-shelf courses? We can help you onboard new hires, conduct specialized sales training or anything in between.",
                vectorPathMobile: "/assets/images/corporate_training/custom-courses-illustration.png",
                vectorPathMobileRetina: "/assets/images/corporate_training/custom-courses-illustration@2x.png",
                linkText: "Contact us to learn more",
                linkUri: '/help/contact',
                linkTarget: '_blank',
                vectorRight: true,
                galleryClass: "gallery--custom-courses"
            }
        %>
    </section>
</div>

<%= render partial: "marketing/banner/banner-call-to-action",
    locals: {
        title: "Experience it now.",
        subtitle: "Sample a free lesson and see Smartly in action!",
        bannerClass: "banner--request-demo",
        bgClass: "call-to-action__bg",
        btnText: "Request Demo",
        btnLink: "/contact-form",
        btnTarget: "_blank",
        btnClass: "button--md-primary"
    }
 %>

 <%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
