<%= render partial: "marketing/header/header" %>
<a name="top"></a>

<main class="main-emba">
  <%# Send this through to the backend to add in users.experiment_ids.
    See https://trello.com/c/AF4bThbe %>
  <input name="experiment_id" type="hidden" value="<%= @experiment_id %>"/>

  <div class="form-wrapper<%= if @background == "green" then ' w-green-bg' end %>">
    <section class="hero hero--sm hero--homepage hero--how-it-works hero--recruit-our-candidates hero--emba">

      <% if @background == 'blue'%>
        <div class="hero__background">
          <div class="hero__gradient hero__gradient--left">
            <span class="hero__shadow hero__shadow--bottom-left"></span>
          </div>
          <div class="hero__gradient hero__gradient--right">
          </div>
          <span class="hero__shadow hero__shadow--top-left"></span>
          <span class="hero__shadow hero__shadow--top-right"></span>
        </div>
      <% end # if @background == 'blue' %>

      <% if @background == 'mountain'%>
        <div class="hero__background--mountain">
          <div class="hero__gradient hero__gradient--left">
            <span class="hero__shadow hero__shadow--bottom-left"></span>
          </div>
          <div class="hero__gradient hero__gradient--right">
            <div class="hero__image"></div>
          </div>
        </div>
      <% end # if @background == 'mountain' %>

      <% if @background == 'modernmba'%>
        <div class="hero__background--modernmba">
          <div class="hero__gradient hero__gradient--left">
            <span class="hero__shadow hero__shadow--bottom-left"></span>
          </div>
          <div class="hero__gradient hero__gradient--right">
            <div class="hero__image"></div>
          </div>
        </div>
      <% end # if @background == 'modernmba' %>

      <div class="hero__wrapper container">
        <div class="row">
          <div class="col-xs-12">
            <div class="hero__content">
              <div class="hero__headline color-text-highlight">
                <h1><%= @header_text.html_safe %></h1>
                <div class="hero-subsection">
                  <h2>SIGN UP TO...</h2>
                  <div class="divider"></div>
                  <ul class="hero-subsection__list visible-lg">
                    <li><%=  @texts[:apply_bullet] %></li>
                    <li>Immediately Access 40+ Free Lessons</li>
                    <li>Preview the Global Alumni Network</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% if @form == 'single-step' %>
      <div class="emba-form">
        <div class="emba-form__inner">
          <div class="emba-form__header js-emba">
            <p class="emba-form__main-title">Get Started.</p>
          </div>
          <div class="emba-form__body js-emba">
            <div class="emba-form__container">
            <%= render "marketing/marketing_sign_up_form" %>
            </div>

            <div class="emba-form-subsection">
              <div class="emba-form-subsection__heading-wrapper">
                <h3 class="emba-form-subsection__heading">SIGN UP TO...</h3>
              </div>
              <ul class="emba-form-subsection__list">
                <li><%=  @texts[:apply_bullet] %></li>
                <li>Access our open course library.</li>
                <li>Join our Career Network.</li>
              </ul>
            </div>
          </div>

          <%= render "marketing/dynamic_landing_page_success" %>
        </div>
      </div>
    <% elsif @form == 'multi-step' %>
      <%# NOTE: Right now the only option for @form_question_set is 'motivation'. But Makis said
        we will be using this option again at some point, so I'm leaving the logic here for posterity.  %>

      <div class="emba-form">
        <div class="emba-form__inner">
          <div class="emba-form__container js-emba">
            <div class="emba-form__header emba-form--step-by-step">
              <p class="emba-form__main-title">Get Started.</p>
              <div class="emba-step__header">
                <div class="emba-step__bar"></div>
                <p class="emba-step__title"><%= if @form_question_set == 'motivation' then 'Motivation' else 'Education Level' end %></p>
                <p class="emba-step__tracker"><span>1</span> of 4 Steps</p>
              </div>
            </div>

            <div class="emba-form__body emba-form--step-by-step">

              <% if @form_question_set == 'motivation' %>
              <div class="emba-form__step" data-title="Motivation" data-step="1">
                <div class="emba-form__group">
                  <label for="primary_reason_for_applying" class="emba-form__label sm-form__label"><%= @texts[:question_reason_for_applying] %></label>
                  <select class="pixel-select" name="primary_reason_for_applying">
                    <option value="" disabled selected>Select</option>
                    <option value="start_own_company">To start my own company</option>
                    <option value="advance_in_current_company">To advance in my current organization</option>
                    <option value="get_better_job">To change organizations / career</option>
                    <option value="expand_business_knowledge">To expand my business knowledge</option>
                    <option value="more_effective_leader">To become a more effective leader</option>
                    <option value="other">Other</option>
                  </select>
                </div>
                <a class="emba-form__button emba-form__button--next">Next Step</a>
              </div>
              <% end %>

              <div class="emba-form__step" data-title="Education Level" data-step="<%= if @form_question_set == 'motivation' then '2' else '1' end %>">
                <div class="emba-form__group">
                  <label for="survey_highest_level_completed_education_description" class="emba-form__label sm-form__label" >What is your highest level of COMPLETED education?</label>

                  <%# we need to check for onChangeEmbaFormSelect before calling it because
                      it's possible that dynamic-landing-page.js has not loaded yet and
                      onChangeEmbaFormSelect is not available (Although, if onChangeEmbaFormSelect
                      is not available, than neither is emba-form-step.js, and things are
                      going to be broken anyway.)
                    %>
                  <select class="pixel-select" name="survey_highest_level_completed_education_description" onchange="window.onChangeEmbaFormSelect && window.onChangeEmbaFormSelect(event, this)">
                    <option value="" disabled selected>Select</option>
                    <option value="high_school">High School</option>
                    <option value="associates">Associate's Degree</option>
                    <option value="undergraduate_bachelor">Undergraduate University / Bachelor’s Degree</option>
                    <option value="masters">Master’s Degree</option>
                    <option value="doctorate">Doctorate</option>
                  </select>
                </div>
                <a class="emba-form__button emba-form__button--next">Next Step</a>
              </div>

              <% if @form_question_set != 'motivation' %>
              <div class="emba-form__step" data-title="Area of Study" data-step="2">
                <div class="emba-form__group">
                  <label for="area_of_study" class="emba-form__label sm-form__label">What was your primary area of study?</label>
                  <select class="pixel-select" name="area_of_study">
                    <option value="" disabled selected>Select</option>
                    <option value="tech_engineering_math">Tech / Engineering / Math</option>
                    <option value="bioscience_medicine_pharma">Bioscience / Medicine / Pharma</option>
                    <option value="business_economics">Business / Economics</option>
                    <option value="humanities_arts_languages">Humanities / Arts / Languages</option>
                    <option value="social_sciences">Social Sciences</option>
                    <option value="other">Other</option>
                  </select>
                </div>

                <a class="emba-form__button emba-form__button--next">Next Step</a>
              </div>
              <% end %>

              <div class="emba-form__step" data-title="Work" data-step="3">
                <div class="emba-form__group">
                  <label for="survey_years_full_time_experience" class="emba-form__label sm-form__label">How many years of work experience do you have?</label>
                  <select class="pixel-select" name="survey_years_full_time_experience">
                    <option value="" disabled selected>Select</option>
                    <option value="0_2">0-2</option>
                    <option value="3_6">3-6</option>
                    <option value="7_10">7-10</option>
                    <option value="11_15">11-15</option>
                    <option value="16_plus">16+</option>
                  </select>
                </div>


                <% if @form_question_set == 'role' || @form_question_set == 'motivation' %>
                <div class="emba-form__group">
                  <label for="survey_most_recent_role_description" class="emba-form__label sm-form__label">Your role can best be described as…</label>
                  <select class="pixel-select" name="survey_most_recent_role_description">
                    <option value="" disabled selected>Select</option>
                    <option value="senior_management_role">Senior Management (VP / C-level)</option>
                    <option value="management_role">Management</option>
                    <option value="professional_role">Professional</option>
                    <option value="administrative_role">Administrative</option>
                    <option value="skilled_labor_role">Skilled Labor</option>
                    <option value="service_role">Service</option>
                    <option value="retail_role">Retail</option>
                  </select>
                </div>
                <% elsif @form_question_set == 'salary' %>
                <div class="emba-form__group">
                  <label for="salary" class="emba-form__label sm-form__label">What is your current salary?</label>
                  <select class="pixel-select" name="salary">
                    <option value="" disabled selected>Select</option>
                    <option value="less_than_40000">Less than $40,000 USD</option>
                    <option value="40000_to_49999">$40,000 to $49,999 USD</option>
                    <option value="50000_to_59999">$50,000 to $59,999 USD</option>
                    <option value="60000_to_69999">$60,000 to $69,999 USD</option>
                    <option value="70000_to_79999">$70,000 to $79,999 USD</option>
                    <option value="80000_to_89999">$80,000 to $89,999 USD</option>
                    <option value="90000_to_99999">$90,000 to $99,999 USD</option>
                    <option value="100000_to_119999">$100,000 to $119,999 USD</option>
                    <option value="120000_to_149999">$120,000 to $149,999 USD</option>
                    <option value="150000_to_199999">$150,000 to $199,999 USD</option>
                    <option value="over_200000">Over $200,000 USD</option>
                    <option value="prefer_not_to_disclose">Prefer not to disclose</option>
                  </select>
                </div>
                <% end %>

                <a class="emba-form__button emba-form__button--next">Next Step</a>
              </div>

              <div class="emba-form__step" data-main-title="Final Step." data-title="Sign Up" data-step="4">
                <%= render "marketing/marketing_sign_up_form" %>
              </div>

              <div class="emba-form-subsection">
                <div class="emba-form-subsection__heading-wrapper">
                  <h3 class="emba-form-subsection__heading">SIGN UP TO...</h3>
                </div>
                <ul class="emba-form-subsection__list">
                  <li><%=  @texts[:apply_bullet] %></li>
                  <li>Access our open course library.</li>
                  <li>Join our Career Network.</li>
                </ul>
              </div>
            </div>
          </div>

          <%= render "marketing/dynamic_landing_page_success" %>
        </div>
      </div>
    <% end %>
  </div>

  <section class="gallery-perks">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="perk">
            <picture>
              <img class="perk__image perk__image--iphone" src="<%= get_webpack_asset_value_for_key '/assets/vectors/emba/gallery/illustration-iphone-small--new.svg' %>"
                alt="Mobile-First Curriculum">
            </picture>
            <div class="perk__description">
              <h3>Mobile-First Curriculum</h3>
              <p><%= @texts[:mobile_first_curriculum] %></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="perk">
            <picture>
              <img class="perk__image perk__image--network" src="<%= get_webpack_asset_value_for_key '/assets/vectors/emba/gallery/meaningful-connections-illustration.svg' %>" alt="Powerful Alumni Network">
            </picture>
            <div class="perk__description">
              <h3>Powerful Alumni Network</h3>
              <p><%= @texts[:powerful_alumni_network] %></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="perk">
            <picture>
              <img class="perk__image perk__image--career" src="<%= get_webpack_asset_value_for_key '/assets/vectors/emba/gallery/dream-job-illustration.svg' %>"
                alt="Accelerated Career Outcomes">
            </picture>
            <div class="perk__description">
              <h3 class="perk__description--bigger">Accelerated Career Outcomes</h3>
              <p><%= @texts[:accelerated_career_outcomes] %></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="perk">
            <picture>
              <img class="perk__image perk__image--scholarship" src="<%= get_webpack_asset_value_for_key '/assets/vectors/emba/gallery/illustration-aid-scholarship-small.svg' %>"
                alt="Radically Affordable">
            </picture>
            <div class="perk__description">
              <h3>Radically Affordable</h3>
              <p><%= @texts[:radically_affordable] %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% if @global_network_section == 'show' %>
    <div class="hiring-form--free-mba hiring-form--emba offer-banner">
      <%= render partial: "marketing/banner/banner-call-to-action",
        locals: {
            title: "Ready to elevate your career?",

            # once angular is loaded, we will use dateHelper to replace "coming up soon." with the actual deadline.
            # see emba-form-step.js, `$('[app-deadline]')`
            subtitle: "The next application deadline is <span app-deadline='#{1000*@application_deadline.to_i}'>coming up soon</span>.",
            bannerClass: "banner--apply-to-emba",
            bgClass: "call-to-action__bg call-to-action__bg--blue",
            btnClass:"button--lg-primary",
            btnLink: "#{@path}#top", # since we've set <base href="/"> in metadata.html.erb, we need an absolute path here
            btnTarget: '_self',
            btnText: 'Sign up',
            wrapperClass: 'flush-top'
        }
      %>
    </div>

    <section class="section section--global-footprint">
      <div class="row global-footprint">
        <div class="row">
          <div class="col-xs-12">

            <div class="gallery__title text-center">
              Join our Leading Global Network
            </div>

            <div class="gallery__description text-center">
              <p><%= @texts[:global_section_description] %></p>
            </div>

            <div class="gallery__illustration gallery__illustration--global-footprint visible-xs">
                <img alt="Map with faces" src="<%= get_webpack_asset_value_for_key '/assets/images/offer/global-footprint.png' %>" data-no-retina>
            </div>

            <div class="gallery__illustration gallery__illustration--global-footprint hidden-xs">
                <img alt="Map with faces" src="<%= get_webpack_asset_value_for_key '/assets/images/offer/global-footprint.png' %>" data-no-retina>
            </div>

          </div>
        </div>
      </div>
    </section>
  <% end %>

  <% if @sign_up_program_type.nil? %>
  <section class="section section--which-degree">
    <div class="gallery gallery--2x4 container">
      <h1 class="section__title primary-title text-center">Which degree is right for me?</h1>

      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div class="col-xs-12 col-sm-6">

            <div class="gallery__title">The Free MBA</div>

            <div class="gallery__description">
                <p>The MBA is designed for future business leaders with superior academic credentials and impressive early-career backgrounds. Successful candidates typically have management and leadership potential with up to six years of work experience.</p>
            </div>

          </div>
          <div class="col-xs-12 col-sm-6">

            <div class="gallery__title">The Executive MBA</div>

            <div class="gallery__description">
                <p>The Executive MBA adds advanced strategy and management courses and optional events for more accomplished professionals from a wider variety of industries. Successful candidates have a minimum of seven years of work experience.</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <% end %>

  <% if @alumni_section == 'show' %>
    <section class="section section--credibility section--alumni section--limiter text-center">
      <div class="section__background--emba"></div>

      <div class="section__content">
        <header>
          <h1 class="section__title primary-title">Meet <%= brand_name_standard %> students</h1>
          <p>Quantic alumni are leading at some of the world's most influential and impactful companies.</p>
        </header>

        <div class="container">
          <div class="section__poster section__poster--alumni">
            <picture class="visible-xs">
                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/emba/where-they-live-infographic--mobile.svg' %>" alt="Where They Live and Work 2020" class="section__poster-image">
            </picture>
            <picture class="hidden-xs">
                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/emba/where-they-live-infographic.svg' %>" alt="Where They Live and Work 2020" class="section__poster-image">
            </picture>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <% if @testimonials_or_videos == 'videos' %>
    <section class="meet-smartly-students meet-smartly-students--emba text-center">
      <div class="meet-smartly-students__wrapper">
        <h3 class="meet-smartly-students__heading">Meet <%= brand_name_standard %> students</h3>
        <%
            @anna = {
                url: "https://www.youtube.com/watch?v=zspZB8ZW-e8",
                thumbnail: "/assets/images/the_executive_mba/thumbnails/desktop-anna.jpg",
                thumbnailRetina: "/assets/images/the_executive_mba/thumbnails/desktop-anna@2x.jpg",
                thumbnailMobile: "/assets/images/the_executive_mba/thumbnails/mobile-anna.jpg",
                thumbnailMobileRetina: "/assets/images/the_executive_mba/thumbnails/mobile-anna@2x.jpg",
                title: "Anna Tidstam",
                subtitle: "Head of Software Quality",
                content: "BMW"
            }
            @gonzalo = {
                url: "https://www.youtube.com/watch?v=Fozpup2RDyM",
                thumbnail: "/assets/images/the_executive_mba/thumbnails/desktop-gonzalo.jpg",
                thumbnailRetina: "/assets/images/the_executive_mba/thumbnails/desktop-gonzalo@2x.jpg",
                thumbnailMobile: "/assets/images/the_executive_mba/thumbnails/mobile-gonzalo.jpg",
                thumbnailMobileRetina: "/assets/images/the_executive_mba/thumbnails/mobile-gonzalo@2x.jpg",
                title: "Gonzalo de Gisbert",
                subtitle: "Head of Product, Drayson Technologies",
                content: "Imperial College London"
            }
            @joanne = {
                url: "https://www.youtube.com/watch?v=UeRTVmMlCoY",
                thumbnail: "/assets/images/the_executive_mba/thumbnails/desktop-joanne2.jpg",
                thumbnailRetina: "/assets/images/the_executive_mba/thumbnails/desktop-joanne2@2x.jpg",
                thumbnailMobile: "/assets/images/the_executive_mba/thumbnails/mobile-joanne2.jpg",
                thumbnailMobileRetina: "/assets/images/the_executive_mba/thumbnails/mobile-joanne2@2x.jpg",
                title: "Joanne Teh",
                subtitle: "Deputy Director, Monetary Authority of Singapore",
                content: "Harvard University"
            }

            @videos = [@anna, @gonzalo, @joanne]
          %>
        <%= render partial: "marketing/galleries/video-gallery-3x3",
            locals: {
              videos: @videos
            }
          %>
      </div>
    </section>
  <% elsif @testimonials_or_videos == 'testimonials' %>
    <section class="section section--credibility <%= if @alumni_section == 'show' then 'section--testimonials' else 'section--limiter' end %> text-center">

      <% if @alumni_section != 'show' %>
      <div class="section__background--emba"></div>
      <% end %>

      <div class="section__content">

        <% if @alumni_section != 'show' %>
        <header>
          <h1 class="section__title primary-title">Meet <%= brand_name_standard %> students</h1>
        </header>
        <% end %>

        <div class="container">
          <%= render partial: "marketing/testimonials-emba",
            locals: {
              testimonials: [
                {
                  authorName: "David Tarr",
                  authorEducation: "MIT",
                  authorCompany: "Boston Consulting Group (BCG),",
                  authorJob: "Consultant",
                  authorPhoto: "/assets/images/photos/david-tarr.png",
                  authorPhoto2x: "/assets/images/photos/david-tarr@2x.png",
                  authorPhoto3x: "/assets/images/photos/david-tarr@3x.png",
                  authorQuote: "“#{brand_name_short} worked seamlessly across all of my devices, kept me entertained, and the quality of my learning was validated during subsequent interviews and courses at a Stanford University summer program.”",
                  frameColor: "red"
                },
                {
                    authorName: "Regina Jaslow",
                    authorEducation: "University of Pennsylvania - The Wharton School",
                    authorCompany: "Amplicare,",
                    authorJob: "Chief Revenue Officer",
                    authorPhoto: "/assets/images/photos/regina-jaslow.png",
                    authorPhoto2x: "/assets/images/photos/regina-jaslow@2x.png",
                    authorPhoto3x: "/assets/images/photos/regina-jaslow@3x.png",
                    authorQuote: "“New courses are continually added and offer fantastic value for a quality education. Having access to the careers platform is also a huge plus.”",
                    frameColor: "blue"
                },
                {
                    authorName: "Marcus Gilmore",
                    authorEducation: "New York University",
                    authorCompany: "Center for Sustainable Energy (CSE),",
                    authorJob: "Sr. Regional Manager",
                    authorPhoto: "/assets/images/photos/marcus-gilmore.png",
                    authorPhoto2x: "/assets/images/photos/marcus-gilmore@2x.png",
                    authorPhoto3x: "/assets/images/photos/marcus-gilmore@3x.png",
                    authorQuote: "“Participating in #{brand_name_short}'s EMBA influenced how I approached my current role and contributed to me receiving a promotion prior to completing the program.”",
                    frameColor: "green"
                }
              ]
            }
          %>
        </div>
      </div>
    </section>
  <% end %>

  <% if @infographic_section == 'show' %>
    <section class="section section--infographic text-center">
      <div class="section__content">
        <div class="container">
          <div class="section__poster section__poster--infographic">
            <picture class="visible-xs">
                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/emba/meet-the-class-infographic--mobile.svg' %>" alt="EMBA April 2020 Class" class="section__poster-image">
            </picture>
            <picture class="hidden-xs">
                <img src="<%= get_webpack_asset_value_for_key '/assets/images/offer/alumni-meetclass-infographic@2x.png' %>" alt="EMBA April 2020 Class" class="section__poster-image">
            </picture>
          </div>
        </div>
      </div>
    </section>

    <div class="hiring-form--free-mba hiring-form--emba offer-banner">
      <%= render partial: "marketing/banner/banner-call-to-action",
        locals: {
            title: "Try sample MBA courses for free.",

            # once angular is loaded, we will use dateHelper to replace "coming up soon." with the actual deadline.
            # see emba-form-step.js, `$('[app-deadline]')`
            subtitle: "The next application deadline is <span app-deadline='#{1000*@application_deadline.to_i}'>coming up soon</span>.",
            bannerClass: "banner--apply-to-emba",
            bgClass: "call-to-action__bg call-to-action__bg--blue",
            btnClass:"button--lg-primary",
            btnLink: "#{@path}#top", # since we've set <base href="/"> in metadata.html.erb, we need an absolute path here
            btnTarget: '_self',
            btnText: 'Sign up',
            wrapperClass: 'flush-top'
        }
      %>
    </div>
  <% end %>

  <% if @bottom_section == 'Student experience' %>
    <section class="section section--executive-mba section--executive-emba text-center">
      <%= render partial: "marketing/galleries/1x1",
          locals: {
            galleryClass: 'gallery--elite-mba',
            col1: {
              title: @texts[:student_experience_video_headline],
              description: @texts[:student_experience_video_caption],
              video: {
                url: "https://www.youtube.com/watch?v=4ghCJPTN0jA",
                thumbnail: '/assets/images/the_executive_mba/student-experience-thumbnail-desktop.png',
                thumbnailRetina: '/assets/images/the_executive_mba/student-experience-thumbnail-desktop@2x.png',
                thumbnailMobile: '/assets/images/the_executive_mba/student-experience-thumbnail-mobile.png',
                thumbnailMobileRetina: '/assets/images/the_executive_mba/student-experience-thumbnail-mobile@2x.png',
                thumbnailCaption: "Quantic Executive MBA Program"
              }
            }
          }
        %>
    </section>

  <% elsif @bottom_section == 'Are you ready' %>
    <section class="section section--executive-mba section--executive-emba text-center">
      <%= render partial: "marketing/galleries/1x1",
          locals: {
            galleryClass: 'gallery--elite-mba',
            col1: {
              title: "An elite online EMBA? Yes.",
              description: "The Executive MBA combines our award-winning MBA curriculum with added courses designed for mid-career professionals and entrepreneurs. With more group projects and exclusive access to global networking events, the EMBA connects learning to alumni and career opportunities.",
              video: {
                url: "https://www.youtube.com/watch?v=plxX1MYx-CY",
                thumbnail: '/assets/images/the_executive_mba/tom-thumbnail-desktop.png',
                thumbnailRetina: '/assets/images/the_executive_mba/tom-thumbnail-desktop@2x.jpg',
                thumbnailMobile: '/assets/images/the_executive_mba/tom-thumbnail-mobile.jpg',
                thumbnailMobileRetina: '/assets/images/the_executive_mba/tom-thumbnail-mobile@2x.jpg',
                thumbnailCaption: "Quantic Executive MBA Program"
              }
            }
          }
        %>
    </section>
  <% end %>

  <% if @nps_section == 'show' %>
    <section class="section section--nps text-center">
      <h1 class="gallery__title text-center">Student Satisfaction</h1>
      <p class="gallery__description"><%= @texts[:nps_section_description] %></p>
      <div class="container">
        <%= render partial: "marketing/quantic-stats" %>
      </div>
    </section>
  <% end %>

  <% if @comparison_chart_section == 'show' %>
    <section class="section section--degree-comparison text-center">
      <div class="section__background--emba"></div>
          <h1 class="section__title primary-title">How does <%= brand_name_standard %> Compare?</h1>

          <div id="loading-comparison-tables">
            <div class="front-royal-spinner">
                <div class="wrapper">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
          </div>

          <!-- Mobile comparison table -->
          <%= render partial: "marketing/the-executive-mba/comparison-table-mobile" %>

          <!-- Tablet/desktop comparison table -->
          <%= render partial: "marketing/the-executive-mba/comparison-table-desktop" %>

          <!-- Tuition modal used in comparison tables -->
          <%= render partial: "marketing/tuition-modal" %>
    </section>
  <% end %>

  <div class="hiring-form--free-mba hiring-form--emba">
    <%= render partial: "marketing/banner/banner-call-to-action",
      locals: {
          title: "Ready to elevate your career?",

          # once angular is loaded, we will use dateHelper to replace "coming up soon." with the actual deadline.
          # see emba-form-step.js, `$('[app-deadline]')`
          subtitle: "The next application deadline is <span app-deadline='#{1000*@application_deadline.to_i}'>coming up soon</span>.",
          bannerClass: "banner--apply-to-emba",
          bgClass: "call-to-action__bg",
          btnClass:"button--md-primary",
          btnLink: "#{@path}#top", # since we've set <base href="/"> in metadata.html.erb, we need an absolute path here
          btnTarget: '_self',
          btnText: 'Sign up',
          wrapperClass: 'flush-top'
      }
    %>
  </div>
</main>

<%
    site = is_quantic? ? "quantic" : "smartly"
%>

<% safe_cache [site] do %>

<%# Template Dependency: marketing/footer/quantic/footer-landing %>
<%# Template Dependency: marketing/footer/smartly/footer-landing %>
<%= render :partial => "marketing/footer/#{site}/footer-landing"%>
<% end %>