<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        banner: {
            application_deadline_message: @application_deadline_message,
            linkText: "Apply now",
            linkUri: "/candidates/signup",
            cssClass: "banner-message--red"
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--difference">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>Not all MBA degrees are created equal</h1>
                        <p>An independent study confirms <%= brand_name_standard %>'s MBA degree stacks up to the best business schools in the world.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <section class="section section--difference text-center">

        <%= render partial: "marketing/galleries/2x2-1image",
            locals: {
                title: "The #{brand_name_short} Efficacy Study",
                description: "We understand the skepticism with online degrees. They often lack quality education, offer limited credibility, and come with high tuition.<br><br>#{brand_name_standard} is changing all of the above. With our award-winning Active Learning method, we teach faster and more effectively than traditional lecture-based instruction.",
                vectorPathMobile: "/assets/vectors/difference/superior-instruction-mobile-illustration.svg",
                vectorPathDesktop: "/assets/vectors/difference/superior-instruction-illustration.svg",
                linkText: "About our method",
                linkUri: "/programs/method",
                vectorRight: true,
                galleryClass: "gallery--difference-study"
            }
        %>

        <%= render partial: "marketing/galleries/2x2-1image",
            locals: {
                title: "#{brand_name_short} vs Top MBAs",
                description: "In an independent study by Stanford academics, #{brand_name_standard} students in Accounting and Finance performed as well or better than traditional MBA students comprised of many of the top 10 business schools in the world, including Stanford, Harvard, Wharton and Fuqua. Oh, and they did so over 5 times as quickly.",
                vectorPathMobile: '/assets/vectors/difference/us-vs-top-mbas-graph-mobile-illustration.svg',
                vectorPathDesktop: '/assets/vectors/difference/us-vs-top-mbas-graph-illustration.svg',
                linkText: "See full study",
                linkUri: '/efficacy-2016-download',
                linkTarget: '_blank',
                galleryClass: "gallery--smartly-vs-top"
            }
        %>

        <%= render partial: "marketing/galleries/2x2-1image",
            locals: {
                title: "How do students value it?",
                description: "Very highly. The study surveyed participants in overall satisfaction. With Net Promoter Scores (NPS) ranging between 40-52, students expressed extreme satisfaction on par with students at Harvard (41) and Wharton (51).",
                vectorPathMobile: '/assets/vectors/difference/pricing-and-scholarships-mobile-illustration.svg',
                vectorPathDesktop: '/assets/vectors/difference/pricing-and-scholarships-illustration.svg',
                vectorRight: true,
                galleryClass: "gallery--students-value"
            }
        %>

    </section>

    <section class="section section--credibility text-center">
        <div class="section__background"></div>

        <div class="section__content">
            <header>
                <h1 class="section__title primary-title">What people are saying</h1>
            </header>

            <div class="container">
                <%= render partial: "marketing/testimonials",
                    locals: {
                        testimonials: [
                            {
                                authorName: "Trisha Hautéa",
                                authorEducation: "Tufts University",
                                authorJob: "MIT, Program Facilitator",
                                authorPhoto: "/assets/images/photos/trisha-hautea.png.png",
                                authorPhoto2x: "/assets/images/photos/trisha-hautea@2x.png",
                                authorPhoto3x: "/assets/images/photos/trisha-hautea@3x.png",
                                authorQuote: "“I quickly learned how legitimate and challenging the #{brand_name_short} MBA program is. It's comprehensive and I learned way more than anticipated.”",
                                frameColor: "red"
                            },
                            {
                                authorName: "Veronica Shea Salkin",
                                authorEducation: "Northwestern University",
                                authorJob: "Primary Stages, Marketing",
                                authorPhoto: "/assets/images/photos/veronica-salkin.png",
                                authorPhoto2x: "/assets/images/photos/veronica-salkin@2x.png",
                                authorPhoto3x: "/assets/images/photos/veronica-salkin@3x.png",
                                authorQuote: "“What I learned will stick with me far longer than a standard lecture-based curriculum could.”",
                                frameColor: "yellow"
                            },
                        ]
                    }
                %>
            </div>

            <footer>
                <a class="link link--text-sm link--color-default" href="/reviews">
                    <span>more <%= brand_name_short %> love</span>
                    <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'right-arrow-blue-icon.svg') %>
                </a>
            </footer>
        </div>
    </section>
</div>

<div class="hiring-form--no-bkg">
    <%= render partial: "marketing/banner/banner-hiring-form",
    locals: {
        title: "Ready to jump start your career?",
        subtitle: "Start learning with #{brand_name_short} today.",
        inputPlaceholder: "Your email",
        bgClass: "hiring-form-wrapper--bg hiring-form-wrapper--bg--blue",
        btnClass: "button--lg-primary",
        wrapperClass: "hiring-form-wrapper--candidate"
    }
    %>
</div>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
