<%= render partial: "marketing/helpscout/helpscout-hiring" %>

<%= render partial: "marketing/header/header",
  locals: {
    signBtnClass: "button--sm-primary button--sm-primary-blue",
    link: '/employers/signup',
    banner: {
        cssClass: 'banner-message--blue'
    }
  }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--employers-pricing hero--employers-pricing-shorter">
  <div class="hero__background">
    <div class="hero__gradient hero__gradient--left hero__gradient--left-blue">
      <%# Shadow nested to hide overflow %>
      <span class="hero__shadow hero__shadow--bottom-left"></span>
    </div>
    <div class="hero__gradient hero__gradient--right hero__gradient--right-blue">
    </div>
    <span class="hero__shadow hero__shadow--top-left"></span>
    <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-blue"></span>
  </div>

  <div class="hero__wrapper container">
    <div class="row">
      <div class="col-xs-12">
        <div class="hero__content">
          <div class="hero__headline color-text-highlight has-button">
            <h1>Transparent, flexible pricing.</h1>
            <p>Recruit the highest quality candidates without bank-breaking pay-per-hire or headhunter fees.</p>
            <a class="button button--sm-primary-pink button--sm-secondary" href="/employers/signup">Get started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="wrapper">
  <section class="section--pricing-table">
    <div class="container">
      <div class="row">
        <%= render partial: "marketing/employers-pricing/pricing-table-mobile" %>
        <%= render partial: "marketing/employers-pricing/pricing-table-desktop" %>
        <a class="button button--md-primary" href="/employers/signup">Get Started</a>
      </div>
    </div>
  </section>

  <section class="section section--faq text-center">
    <div class="container">
      <div class="row">
        <h2 class="pricing-faq__title">Frequently Asked Questions</h2>

        <div class="display-toggle" data-toggle-state="hidden">
          <div class="display-toggle__container">
            <ul class="pricing-faq__list">
              <li>
                <h2>How is Smartly’s job board different?</h2>
                <p>Smartly Talent is the only hiring platform directly tied to an innovative, world-class business school. In our business programs, we educate passionate, adaptable leaders that come prepared to help your company face modern-day and future challenges. Once signed up, you’ll gain instant access to this network of highly qualified business school students and graduates.</p>
              </li>
              <li>
                <h2>Does Smartly Talent charge hiring fees?</h2>
                <p>No success fees! Pricing is simple and transparent with a two-tiered structure. Pay per job post, or subscribe for unlimited access to source candidates and post open roles. It’s simple pricing that’s perfect for your hiring team, big or small.</p>
              </li>
              <li>
                <h2>How does the free trial work?</h2>
                <p>When you subscribe for unlimited access, you’ll start out with a two-week free trial. Post your open roles and directly contact qualified candidates in our extensive network. Make the most of it to determine if Smartly Talent is a good fit for your team! (Spoiler: It is!)</p>
              </li>
              <li>
                <h2>What happens after I sign up?</h2>
                <p>After you sign up for Smartly Talent, you’ll soon receive email confirmation that you are approved as an employer in Smartly’s exclusive talent network. Once you’re approved, you can post open roles or start sourcing candidates right away.</p>
              </li>
            </ul>
          </div>
          <a class="display-toggle__trigger" href="#" onclick="return false;">
            <span class="display-toggle__show">View All</span>
            <span class="display-toggle__hide">Hide</span>
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/employers-landing/down-arrow.svg' %>" alt="Down Arrow">
          </a>
        </div>
      </div>
    </div>
  </section>

  <%= render partial: "marketing/employers-landing/employers-logos",
    locals: {
      title: 'You’re in Good Company',
      sectionModifier: "section--faq-logos section--skewed-grey-background",
      logos: [
        {
          image: "/assets/images/employers-landing/logos/logo-laserfiche.png",
          imageRetina: "/assets/images/employers-landing/logos/logo-laserfiche@2x.png",
          name: "Laserfiche",
        },
        {
          image: "/assets/images/employers-landing/logos/logo-earnest.png",
          imageRetina: "/assets/images/employers-landing/logos/logo-earnest@2x.png",
          name: "Earnest",
        },
        {
          image: "/assets/images/employers-landing/logos/logo-patient-ping.png",
          imageRetina: "/assets/images/employers-landing/logos/logo-patient-ping@2x.png",
          name: "Patient Ping",
        },
        {
          image: "/assets/images/employers-landing/logos/logo-better.png",
          imageRetina: "/assets/images/employers-landing/logos/logo-better@2x.png",
          name: "Better",
        },
        {
          image: "/assets/images/employers-landing/logos/logo-honeywell.png",
          imageRetina: "/assets/images/employers-landing/logos/logo-honeywell@2x.png",
          name: "Honeywell",
        },
        {
          image: "/assets/images/employers-landing/logos/logo-mosaic.png",
          imageRetina: "/assets/images/employers-landing/logos/logo-mosaic@2x.png",
          name: "Mosaic",
        }
      ]
    }
  %>
</div>

<div class="hiring-form">
    <%= render partial: "marketing/banner/banner-hiring-form",
    locals:{
        title: "Sign up for free.",
        subtitle: "Post your first job now.",
        inputPlaceholder: "Your work email",
        bgClass: "hiring-form-wrapper--bg",
        btnClass: "button--md-primary",
        link: '/employers/signup'
    }
    %>
</div>

<%= render partial: "marketing/modal/modal-tooltip",
  locals:{
      modalId: "modal__applicant",
      title: "Applicant Management",
      contentText: "Easily track and monitor the status of the candmodalIdates in your pipeline.",
  }
%>

<%= render partial: "marketing/modal/modal-tooltip",
  locals:{
      modalId: "modal__sourcing",
      title: "Sourcing",
      contentText: "Access to candidate database w/ advanced filtering.",
  }
%>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false, :hidePricing => true } %>
