<%= render partial: "marketing/helpscout/helpscout-hiring" %>
<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        text: "Sign up - It's free",
        link: "/employers/signup",
        banner: {
            cssClass: 'banner-message--blue'
        }
    }
%>
<section class="hero hero--sm hero--homepage hero--how-it-works hero--join-career-network-v2 hero--join-career-network-v3">
  <div class="hero__background">
    <div class="hero__gradient hero__gradient--left">
      <%# Shadow nested to hide overflow %>
      <span class="hero__shadow hero__shadow--bottom-left"></span>
    </div>
    <div class="hero__gradient hero__gradient--right">
      <div class="hero__image"></div>
      <div class="hero__image hero__image--retina"></div>
    </div>
    <span class="hero__shadow hero__shadow--top-left"></span>
    <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-blue"></span>
  </div>
  <div class="hero__wrapper container">
    <div class="row">
      <div class="col-xs-12">
        <div class="hero__content">
          <div class="hero__headline color-text-highlight">
            <h1>Top Talent with a World-Class Education</h1>
            <p>Looking to hire Quantic students and graduates? Head to Smartly Talent - the premier<br class="hidden-xs hidden-sm">
               career network for leaders in business and tech.</p>
            <div>
              <a class="button button--lg-primary-pink button--lg-primary" href="https://<%= AppConfig.smartly_domain %>/employers/recruit-our-candidates" target="_blank">Go to Smartly Talent</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="wrapper">
  <section class="section section--smartly-talent text-center container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <img style="width: 147px;" src="<%= get_webpack_asset_value_for_key '/assets/images/mission/smartly/smartly-talent@2x.png' %>" class="gallery__illustration">
        <br class="visible-xs">
        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/for-managers-illustration.svg' %>" class="gallery__illustration">
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-lg-pull-5 text-center text-sm-left gallery__text">
        <div class="gallery__title">How Does it Work?</div>
        <p class="gallery__description">Students enrolled in Quantic's highly selective MBA or<br class="hidden-xs hidden-sm">
           Executive MBA programs opt into Smartly Talent to<br class="hidden-xs hidden-sm">
           search jobs and connect with employers.</p>
        <p class="gallery__link">
          <a class="link link--text-xs link--color-primary" href="https://<%= AppConfig.smartly_domain %>/employers/recruit-our-candidates" target="_blank">
            <span>learn more at smartly talent</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
              <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"/>
            </svg>
          </a>
        </p>
      </div>
    </div>
  </section>
  <section class="section section--why-smartly-talent text-center">
    <h1 class="section__title primary-title">Why Smartly Talent?</h1>
    <%= render partial: "marketing/galleries/3x3",
      locals: {
          col1:{
              title: "Future-Ready Candidates",
              description: "Candidates are Quantic MBA and Executive MBA learners, equipped with core business skills and knowledge in fields like Data Science, Blue Ocean Strategy, and Blockchain.",
              vectorPathMobile: '/assets/vectors/homepage/ellite-candidates-illustration.svg',
              vectorPathDesktop: '/assets/vectors/homepage/ellite-candidates-illustration.svg',
              vectorClass: 'gallery__illustration--free-mba',
              linkText: "The Curriculum",
              linkUri: '/executive-mba/curriculum',
              linkClass: 'link--text-xs link--color-primary'
          },
          col2:{
              title: "Proven Performance",
              description: "With an admission rate of 7%, Quantic is highly selective and candidates have already been vetted for their academic and professional accomplishments.",
              vectorPathMobile: '/assets/vectors/career_network/talent-meets-opportunity-illustration.svg',
              vectorPathDesktop: '/assets/vectors/career_network/talent-meets-opportunity-illustration.svg',
              vectorClass: 'gallery__illustration--executive-mba',
              linkText: "See Candidates",
              linkUri: '/mba/students',
              linkClass: 'link--text-xs link--color-primary'
          },
          col3:{
              title: "Find Top Talent, Faster",
              description: "Smartly Talent is fast, easy to use, and efficient. Our students are highly engaged and responsive on the platform, enabling you to recruit and hire quicker.",
              vectorPathMobile: '/assets/vectors/homepage/speed-to-hire-illustration.svg',
              vectorPathDesktop: '/assets/vectors/homepage/speed-to-hire-illustration.svg',
              vectorClass: 'gallery__illustration--open-courses',
              linkText: "Post a Job",
              linkUri: "https://#{AppConfig.smartly_domain}/employers/recruit-our-candidates",
              linkClass: 'link--text-xs link--color-primary',
              linkTarget: "_blank"
          }
      }
      %>
    <hr class="divider divider--small divider--light-fade">
  </section>
  <section class="section section--employers-love-us text-center">
    <div class="container">
      <h1 class="section__title primary-title">Employers Love Us</h1>
      <div class="leading-companies row">
        <%= render "shared/company_logos" %>
      </div>
      <br>
      <a class="button button--lg-primary" href="https://<%= AppConfig.smartly_domain %>/employers/recruit-our-candidates" target="_blank">Learn More At Smartly Talent</a>
    </div>
  </section>

  <div class="container">
    <hr class="divider divider--light banner__separator hidden-xs hidden-sm">
  </div>
</div>


<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
