<%= render partial: "marketing/header/header",
  locals: {
    signBtnClass: "button--sm-primary button--sm-primary-blue",
    text: "Sign Up - It’s Free",
    link: "/candidates/register",
    banner: {
        cssClass: 'banner-message--blue'
    }
  }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--legal">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>Impressum</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
  <!-- .legal-section -->
  <section class="section section--legal-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <h3>Company</h3>
            <p>Pedago LLC, dba Smartly, Smartly Institute, Smartly School of Professional Education, Quantic, Quantic School of Business and Technology is a limited liability company registered in Delaware.</p>
            
            <h3>Board of Directors</h3>
            <p>
                <ul>
                    <li>Tom Adams, CEO</li>
                    <li>Alexie Harper, CAO</li>
                    <li>Ori Ratner, CTO</li>
                </ul>
            </p>

            <h3>Address</h3>
            <p>
                3000 K St NW<br>
                Ste 275<br>
                Washington, DC 20007
            </p>

            <h3>Contact</h3>
            <p>
                Phone: +1 571-483-8002<br>
                Email: info@<%= current_domain %>
            </p>

            <h3>Registration</h3>
            <p>
                DCRA Business License Registration Number: 400318800437<br>
                Government of the District of Columbia Certificate of Registration Number: L0003095922
            </p>
            
            <small><span class="bold">Last revision:</span> 11th December, 2019</small>
        </div>
      </div>
    </div>
  </section>
  <!-- /.legal-section -->
</div>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
