<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary",
        banner: {
            application_deadline_message: @application_deadline_message,
            linkText: "Apply now",
            linkUri: "/candidates/signup",
            cssClass: "banner-message--red"
        }
    }
%>

<section class="hero hero--homepage index">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
            <span class="hero__gradient hero__gradient--right hidden-xs hidden-sm"></span>

            <span class="hero__shadow hero__shadow--top-left"></span>
            <span class="hero__shadow hero__shadow--top-right"></span>

            <div class="hero__figure">
                <svg class="trail visible-lg" width="733" height="139" viewBox="0 0 733 139" xmlns="http://www.w3.org/2000/svg"><path d="M467 42s54.5-2 82 32 43.5 71.5 12.5 62.5 18.5-37 52-22 83.5 29.5 104 6S755.5 75 786 63M311 2s-54.5-2-82 32-43.5 71.5-12.5 62.5-18.5-37-52-22-83.5 29.5-104 6S22.5 35-8 23" stroke="#FFF" stroke-width="2" fill="none" opacity=".5" stroke-dasharray="10"/></svg>

                <picture class="phone">
                    <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/homepage/phone/phone.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/homepage/phone/phone@2x.png' %> 2x, <%= get_webpack_asset_value_for_key '/assets/images/homepage/phone/phone@3x.png' %> 3x">
                    <img class="visible-xs visible-sm" src="<%= get_webpack_asset_value_for_key '/assets/images/homepage/phone/phone--mobile.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/homepage/phone/phone--mobile@2x.png' %>" alt="smartphone">
                    <img class="hidden-xs hidden-sm"  src="<%= get_webpack_asset_value_for_key '/assets/images/homepage/phone/phone.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/homepage/phone/phone@2x.png' %>" alt="smartphone">
                </picture>
            </div>
        </div>
        <span class="hero__gradient hero__gradient--right hidden-lg hidden-md"></span>
    </div>

    <div class="hero__figure hidden-xs hidden-sm">
        <picture class="globe">
            <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/homepage/globe/globe.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/homepage/globe/globe@2x.png' %> 2x, <%= get_webpack_asset_value_for_key '/assets/images/homepage/globe/globe@3x.png' %> 3x">
            <img src="<%= get_webpack_asset_value_for_key '/assets/images/homepage/globe/globe.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/homepage/globe/globe@2x.png' %>" alt="Globe with students">
        </picture>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-6">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>The Business School of <br class="hidden-xs">the Future <b>Has Arrived</b></h1>
                        <p>Quantic School of Business & Technology is the #ModernMBA — the world’s only accredited mobile-first graduate school.</p>
                    </div>

                    <div class="hero__links">
                        <div class="hero__link-wrapper">
                            <%=
                                render partial: "marketing/buttons/button-md-primary",
                                locals: {
                                    text: "Apply Now",
                                    link: "/candidates/signup"
                                }
                            %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="wrapper">

    <section class="section section--our-programs text-center">
        <h1 class="section__title primary-title"><span class="highlight"><em>Our programs</em></span></h1>

        <%= render partial: "marketing/galleries/3x3",
        locals: {
            col1:{
                title: "The Free MBA",
                description: "Yes, Quantic is selective, but if you're admitted it's free. Join early-career learners eager to make a difference.",
                vectorPathMobile: '/assets/vectors/the_free_mba/price-tag-illustration.svg',
                vectorPathDesktop: '/assets/vectors/the_free_mba/price-tag-illustration.svg',
                vectorClass: 'gallery__illustration--free-mba',
                linkText: "Learn More",
                linkUri: '/mba',
                linkClass: 'link--text-xs'
            },
            col2:{
                title: "The Executive MBA",
                description: "Gain key leadership and management skills while collaborating with experienced professionals from top companies around the world.",
                vectorPathMobile: '/assets/vectors/candidates/our-courses/mobile/the-executive-mba-illustration.svg',
                vectorPathDesktop: '/assets/vectors/candidates/our-courses/desktop/the-executive-mba-illustration.svg',
                vectorClass: 'gallery__illustration--executive-mba',
                linkText: "Learn More",
                linkUri: '/executive-mba',
                linkClass: 'link--text-xs'
            },
            col3:{
                title: "The Open Courses",
                description: "Sign up for free and immediately access a library of 47 introductory business lessons.",
                vectorPathMobile: '/assets/vectors/candidates/our-courses/mobile/open-courses-illustration.svg',
                vectorPathDesktop: '/assets/vectors/candidates/our-courses/desktop/open-courses-illustration.svg',
                vectorClass: 'gallery__illustration--open-courses',
                linkText: "Try a Lesson",
                linkUri: '/candidates/signup',
                linkClass: 'link--text-xs'
            }
        }
        %>
    </section>
</div>

<%= render partial: "marketing/banner/banner-call-to-action",
    locals: {
        title: "Looking for Smartly Institute?",
        subtitle: "You're in the right place! We changed our name <br class=\"hidden-xs\">to Quantic School of Business and Technology. ",
        wrapperClass: "looking-for-smartly",
        bannerClass: "banner--looking-for-smartly",
        bgClass: "call-to-action__bg call-to-action__bg--blue",
        btnText: "Learn More",
        btnLink: "/quantic-name-change",
        btnClass: "button--lg-primary",
        wide: true
    }
 %>

<div class="wrapper">
    <section class="section section--why-candidates text-center">
        <h1 class="section__title primary-title">Why <span class="highlight highlight--pink"><em>students</em></span> love us</h1>

        <%= render partial: "marketing/galleries/3x3",
        locals: {
            col1:{
                title: "Amazing education",
                description: "From our free MBA to our affordable Executive MBA, our courses give you marketable skills that accelerate your career.",
                vectorPathMobile: '/assets/vectors/homepage/free-education-illustration.svg',
                vectorClass: 'gallery__illustration--free-education',
                linkText: "Review Programs",
                linkUri: '/programs',
                linkClass: 'link--text-xs link--color-primary'
            },
            col2:{
                title: "Meaningful connections",
                description: "Connect with other learners through our international network. Meet face-to-face at global conferences and regional meet-ups.",
                vectorPathMobile: '/assets/vectors/homepage/meaningful-connections-illustration.svg',
                vectorClass: 'gallery__illustration--meaningful-connections',
                linkText: "Preview the Network",
                linkUri: '/executive-mba/network',
                linkClass: 'link--text-xs link--color-primary'
            },
            col3:{
                title: "Proven career outcomes",
                description: "Earn a more senior role, greater responsibility, higher pay, and gain the network and confidence to start or join a new company.",
                vectorPathMobile: '/assets/vectors/homepage/dream-job-illustration.svg',
                vectorClass: 'gallery__illustration--dream-job',
                linkText: "Learn More",
                linkUri: '/executive-mba/outcomes',
                linkClass: 'link--text-xs link--color-primary'
            }
        }
        %>
    </section>

    <section class="section section--people-love-smartly">
        <h1 class="section__title">People<img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/heart-illustration.svg' %>" alt="heart"><%= brand_name_short %></h1>

        <div class="container">

            <div class="quoting-companies homepage row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="board board--harvard-business">
                        <figure>
                            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/logos/harvard-business-review-logo.svg' %>" alt="Harvard Business Review" data-no-retina>
                        </figure>
                        <header>
                            <h2>“How well do you know the concepts of #BlueOceanStrategy? s.hbr.org/1I96vU7 Find out via @<%= brand_social_name %></h2>
                        </header>
                        <footer>
                            <p>Harvard Business Review</p>
                            <span>@HarvardBiz</span>
                        </footer>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="board board--christensen-institute">
                        <figure>
                            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/logos/christensen-institute-logo.svg' %>" alt="Christensen Institute" data-no-retina>
                        </figure>
                        <header>
                            <h2>“In my 10 years in the education world, <%= brand_name_short %> offers the best, most engaging learning experience of anything I’ve seen...incredible disruptive potential.”</h2>
                        </header>
                        <footer>
                            <p>Michael Horn</p>
                            <span>Co-Founder, Clayton Christensen Institute</span>
                        </footer>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="board board--washington-post">
                        <figure>
                            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/logos/washington-post-logo.svg' %>" alt="Washington Post" data-no-retina>
                        </figure>
                        <header>
                            <h2>“...lived up to its billing. It was quick, and I learned a thing or two.”</h2>
                        </header>
                        <footer>
                            <p>Dan Byers</p>
                            <span>Founding Editor, Capital Business</span>
                        </footer>
                    </div>
                </div>
            </div>

            <%= render partial: "marketing/quantic-stats" %>

            <hr class="divider divider--small divider--light-fade">

            <% safe_cache ["root/testimonials"] do %>
                <%= render partial: "marketing/testimonials",
                    locals: {
                        testimonials: [
                            {
                                authorName: "Samuel Miles",
                                authorEducation: "Yale University",
                                authorJob: "African Leadership University, Facilitator",
                                authorPhoto: "/assets/images/photos/samuel-miles.png",
                                authorPhoto2x: "/assets/images/photos/samuel-miles@2x.png",
                                authorPhoto3x: "/assets/images/photos/samuel-miles@3x.png",
                                authorQuote: "“#{brand_name_short} is pedagogy done right for the modern omni-learner.”",
                                frameColor: "red"
                            },
                            {
                                authorName: "Anand Bhat",
                                authorEducation: "Purdue University",
                                authorJob: "Accenture, Systems Integration Lead",
                                authorPhoto: "/assets/images/photos/anand-bhat.png",
                                authorPhoto2x: "/assets/images/photos/anand-bhat@2x.png",
                                authorPhoto3x: "/assets/images/photos/anand-bhat@3x.png",
                                authorQuote: "“The value of an Ivy League MBA in a shortened compact and delightful user experience that makes learning great again!”",
                                frameColor: "yellow"
                            },
                            {
                                authorName: "Erin Pellegrino",
                                authorEducation: "Cornell University",
                                authorJob: "Harvard University School of Design",
                                authorPhoto: "/assets/images/photos/erin-pellegrino.png",
                                authorPhoto2x: "/assets/images/photos/erin-pellegrino@2x.png",
                                authorPhoto3x: "/assets/images/photos/erin-pellegrino@3x.png",
                                authorQuote: "“I can't believe I went to two universities for undergraduate and graduate school, and never learned what #{brand_name_short} offered.”",
                                frameColor: "blue"
                            },
                            {
                                authorName: "Aleshia Howell",
                                authorEducation: "University of Westminster",
                                authorJob: "Program Director, The Creative Coast",
                                authorPhoto: "/assets/images/photos/aleshia-howell.png",
                                authorPhoto2x: "/assets/images/photos/aleshia-howell@2x.png",
                                authorPhoto3x: "/assets/images/photos/aleshia-howell@3x.png",
                                authorQuote: "“#{brand_name_short} gave me the tools and knowledge I needed to start my business on the right foot. I'm amazed at how much I've learned in just a year.”",
                                frameColor: "blue"
                            },
                            {
                                authorName: "Elizabeth Kennard",
                                authorEducation: "Yale University",
                                authorJob: "Sr. Manager, Canon Medical Systems USA, Inc.",
                                authorPhoto: "/assets/images/photos/elizabeth-kennard.png",
                                authorPhoto2x: "/assets/images/photos/elizabeth-kennard@2x.png",
                                authorPhoto3x: "/assets/images/photos/elizabeth-kennard@3x.png",
                                authorQuote: "“The #{brand_name_short} program is a unique and engaging way for busy professionals to build their knowledge and gain their business degree.”",
                                frameColor: "green"
                            },
                            {
                                authorName: "Raphael Sung Tark Mun",
                                authorEducation: "Carnegie Mellon",
                                authorJob: "CEO, Lemmino",
                                authorPhoto: "/assets/images/photos/raphael-sung-tark-mun.png",
                                authorPhoto2x: "/assets/images/photos/raphael-sung-tark-mun@2x.png",
                                authorPhoto3x: "/assets/images/photos/raphael-sung-tark-mun@3x.png",
                                authorQuote: "“Finding out about #{brand_name_short} and deciding to apply is one of the best decisions I've ever made.”",
                                frameColor: "red"
                            },
                            {
                                authorName: "Geoffrey Schutta",
                                authorEducation: "The College of William and Mary",
                                authorJob: "CGI, Senior Consultant",
                                authorPhoto: "/assets/images/photos/geoffrey-schutta.png",
                                authorPhoto2x: "/assets/images/photos/geoffrey-schutta@2x.png",
                                authorPhoto3x: "/assets/images/photos/geoffrey-schutta@3x.png",
                                authorQuote: "“This MBA program could become one of the most beneficial and worthwhile endeavors for students and companies.”",
                                frameColor: "light-blue"
                            },
                            {
                                authorName: "Lydia Montagnese",
                                authorEducation: "Johns Hopkins University",
                                authorJob: "CEO, Givdo",
                                authorPhoto: "/assets/images/photos/lydia-montagnese.png",
                                authorPhoto2x: "/assets/images/photos/lydia-montagnese@2x.png",
                                authorPhoto3x: "/assets/images/photos/lydia-montagnese@3x.png",
                                authorQuote: "“I found a great community of colleagues with my same drive for higher education and self-development. I couldn't have asked for more!”",
                                frameColor: "yellow"
                            },
                            {
                                authorName: "Ian Lee",
                                authorEducation: "University of North Carolina at Chapel Hill",
                                authorJob: "Uber, Test Engineer - Self Driving",
                                authorPhoto: "/assets/images/photos/ian-lee.png",
                                authorPhoto2x: "/assets/images/photos/ian-lee@2x.png",
                                authorPhoto3x: "/assets/images/photos/ian-lee@3x.png",
                                authorQuote: "“#{brand_name_short} is the future of education: fast, effective and mobile.”",
                                frameColor: "red"
                            },
                            {
                                authorName: "Regina Jaslow",
                                authorEducation: "University of Pennsylvania - The Wharton School",
                                authorJob: "Chief Revenue Officer, Amplicare",
                                authorPhoto: "/assets/images/photos/regina-jaslow.png",
                                authorPhoto2x: "/assets/images/photos/regina-jaslow@2x.png",
                                authorPhoto3x: "/assets/images/photos/regina-jaslow@3x.png",
                                authorQuote: "“New courses are continually added and offer fantastic value for a quality education. Having access to the careers platform is also a huge plus.”",
                                frameColor: "blue"
                            }
                        ]
                    }
                %>
            <% end %>
        </div>
    </section>


    <section class="section section--achievements">
        <div class="container">
            <hr class="divider divider--small divider--light-fade">

            <div class="quantic-awards row">
                <div class="col-xs-12">
                    <div class="quantic-awards__wrapper clearfix">
                        <div class="quantic-awards__col quantic-awards__col--fast-company">
                            <figure>
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/fast-company-mobile-logo.svg' %>" class="visible-xs" alt="Fast company">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/fast-company-logo.svg' %>" class="hidden-xs" alt="Fast company">
                            </figure>
                            <h3>Fast Company's 2020 World Changing Ideas Awardee</h3>
                        </div>
                        <div class="quantic-awards__col quantic-awards__col--financial-times">
                            <figure>
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/financial-times-mobile-logo.svg' %>" class="visible-xs" alt="Financial times">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/financial-times-logo.svg' %>" class="hidden-xs" alt="Financial times">
                            </figure>
                            <h3>Financial Times: Tech Ventures Shake Up the MBA Marketplace</h3>
                        </div>
                        <div class="quantic-awards__col quantic-awards__col--edtech-awards">
                            <figure>
                                <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/homepage/awards/edtech-awards--2020.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/homepage/awards/edtech-awards--2020@2x.png' %> 2x">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/images/homepage/awards/edtech-awards--2020@2x.png' %>" alt="Edtech awards" height="165">
                            </figure>
                            <h3>EdTech Digest: 2020 EdTech Trendsetter Awards Finalist</h3>
                        </div>
                        <div class="quantic-awards__col quantic-awards__col--apple-store">
                            <figure>
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/apple-store-mobile-logo.svg' %>" class="visible-xs" alt="Apple rating">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/apple-store-logo.svg' %>" class="hidden-xs" alt="Apple rating">
                            </figure>
                            <h3>App Store Reviews</h3>
                        </div>
                        <div class="quantic-awards__col quantic-awards__col--google-store">
                            <figure>
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/google-play-store-mobile-logo.svg' %>" class="visible-xs" alt="Google rating">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/google-play-store-logo.svg' %>" class="hidden-xs" alt="Google rating">
                            </figure>
                            <h3>Google Play Store Reviews</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<hr class="divider divider--light banner__separator hidden-xs hidden-sm">

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
