<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink"
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--interview-guide">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
    </div>

    <div class="hero__wrapper container">
      <div class="row">
        <div class="col-xs-12 visible-xs visible-sm">
          <div class="hero__content">
            <div class="hero__headline color-text-highlight">
              <h1>Admissions Interview Guide</h1>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <picture class="hero__image-wrapper">
            <img class="hero__image" src="<%= get_webpack_asset_value_for_key '/assets/images/interview-guide.png' %>" alt="Hero Image" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/interview-guide@2x.png' %>">
          </picture>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="hero__content">
            <div class="hero__headline color-text-highlight">
              <h1 class="hidden-xs hidden-sm">Admissions Interview Guide</h1>
              <p>The admissions interview is an important step in the application process — it’s an opportunity for us to learn more about you and for you to ask us any questions. This guide will help you prepare for the interview by outlining what to expect. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="main-content--interview-guide">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <article>
          <h2>How will I know if I’m selected to interview?</h2>
          <p>If you are selected to interview, you will receive both an email and a notification in your <a href="/dashboard"><%= brand_name_short %> Dashboard</a>. Save <a href="mailto:admissions@<%= current_domain %>" target="_blank">admissions@<%= current_domain %></a> as a contact to ensure that this email is successfully delivered to your inbox. </p>
        </article>
        <article>
          <h2>How do I schedule my interview?</h2>
          <p>Click the link in the email you received or in your <a href="/dashboard"><%= brand_name_short %> Dashboard</a> to be taken to our Interview Calendar. Select any open time slot that fits your schedule. Available time slots fill up quickly so don’t wait to schedule yours. Please note that not every applicant to the program is invited to interview.</p>
        </article>
        <article>
          <h2>Is the interview mandatory if I receive an invitation?</h2>
          <p>Yes. If you receive an invitation to interview, you must schedule and complete your interview for your application to remain active.</p>
        </article>
        <article class="last-md">
          <h2>Where are the interviews conducted? </h2>
          <p>Interviews are conducted through a video conference service called <em>Zoom</em> or over the phone. When you schedule your interview, you will receive an email with a link to access the video conference. If you run into any issues accessing the <em>Zoom</em> platform, the Admissions Counselor will call you on the number you provided when you scheduled your interview.</p>
        </article>
      </div>
      <div class="col-md-6">
        <article>
          <h2>How long will my interview take?</h2>
          <p>Most interviews are completed in about 15 to 20 minutes.</p>
        </article>
        <article>
          <h2>Who will interview me?</h2>
          <p>When you schedule your interview, you will receive an email comfirming the date and time that you selected, as well as the name of the Admissions Counselor that will interview you. You can “meet” all of our Counselors <a href="/meet-our-admissions-counselors">here</a>.</p>
        </article>
        <article>
          <h2>What kinds of questions will the Admissions Counselor ask me?</h2>
          <p>The Admissions Counselor may ask you about your background, education, and career history, as well as your goals and aspirations for the future. They will want to know why <%= brand_name_short %> is of interest to you and perhaps why you wish to pursue a business degree. They may also ask you about your initial thoughts on the Business Foundations courses.</p>
        </article>
        <article class="last">
          <h2>Can I ask my Admissions Counselor questions about <%= brand_name_short %>?</h2>
          <p>Your Admissions Counselor will be happy to answer any questions that you may have about <%= brand_name_short %>, the curriculum, the career network, and peer learning opportunities. They will not be able to comment on your application status or chances for acceptance. If you want to ask some of your questions prior to the interview, feel free to email the admissions team now at <a href="mailto:admissions@<%= current_domain %>" target="_blank">admissions@<%= current_domain %></a> and someone will be happy to speak with you.</p>
        </article>
      </div>
  </div>
</section>

<section class="content--interview-guide">
  <div class="container">
    <div class="text-separator"><span>How to Prepare</span></div>
    <ul>
      <li>The Admissions Counselor will want to learn more about your experience, career goals, and reasons for wanting to pursue the program. This is a chance for you to provide additional context around what’s covered in your application.</li>
      <li>If interviewing via Zoom video conference, find a quiet, well-lit space and make sure your internet connection can support video streaming. If you run into technical issues with the Zoom platform, the Admissions Counselor is happy to call you at the number you provided when you scheduled the interview.</li>
      <li>Think of a few questions you’d like to ask to make sure you get all the information you need to make your decision.</li>
      <li>Do your best to complete a few of the <a href="/dashboard">Business Foundations</a> courses so that you can share your thoughts on how the material is delivered. Our admissions team considers your progress in this coursework as an indicator of your interest in the program and will factor it into their evaluation.</li>
    </ul>
  </div>
</section>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>