<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        banner: {
            application_deadline_message: @application_deadline_message,
            linkText: "Apply now",
            linkUri: "/candidates/signup",
            cssClass: "banner-message--red"
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--learn-with-smartly">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>Welcome <%= @school_name %> Alumni!</h1>
                        <h2>Meet the Business School of the Future.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="learn-with-smartly">
    <section
        id="courses"
        class="content-tabs-panel active"
        data-content-url="/programs"
        style="background-color: white">
            <%= render partial: "marketing/galleries/2x2-1image",
                locals: {
                    galleryClass: 'gallery--the-free-mba',
                    title: "The Free MBA",
                    description: "Aligned with early-career MBA programs at the world’s leading business schools, #{brand_name_short} flips traditional lecture-based instruction with active, individualized lessons available on any device. Highly selective. But if you’re accepted, it’s free. <strong>Yes, free.</strong>",
                    vectorPathMobile: '/assets/vectors/candidates/our-courses/mobile/superior-degree-illustration.svg',
                    vectorPathDesktop: '/assets/vectors/candidates/our-courses/desktop/superior-degree-illustration.svg',
                    linkText: "Learn more",
                    linkUri: '/mba'
                }
            %>
            <div class="wrapper--the-executive-mba">
                <%= render partial: "marketing/galleries/2x2-1image",
                    locals: {
                        title: "The Executive MBA",
                        description: "For mid-career executives and entrepreneurs, we add additional leadership, management and strategy courses, modify our MBA pace requirement, and offer dedicated career services and networking events. Modest tuition fees apply.",
                        vectorPathMobile: '/assets/vectors/candidates/our-courses/mobile/the-executive-mba-illustration.svg',
                        vectorPathDesktop: '/assets/vectors/candidates/our-courses/desktop/the-executive-mba-illustration.svg',
                        linkText: "Learn More",
                        linkUri: '/executive-mba',
                        vectorRight: true,
                        galleryClass: "gallery--the-executive-mba"
                    }
                %>
            </div>
            <div class="wrapper--free-business-certifications">
                <%= render partial: "marketing/galleries/2x2-1image",
                    locals: {
                        galleryClass: "gallery--free-business-certifications",
                        title: "Fundamental of Business Certificate",
                        description: "Looking to accelerate your career in business? Our free Fundamentals of Business Certificate is designed for college students and recent graduates with 0-2 years of experience. Learn foundational business skills from finance and statistics to economics and marketing in a 6-week course of study.",
                        vectorPathMobile: '/assets/vectors/candidates/our-courses/mobile/free-business-certifications.svg',
                        vectorPathDesktop: '/assets/vectors/candidates/our-courses/desktop/free-business-certifications.svg',
                        linkText: "Learn More",
                        linkUri: '/the-free-certificates/fundamentals-of-business'
                    }
                %>
            </div>
            <hr class="divider divider--light section__separator visible-xs"/>
            <%= render partial: "marketing/galleries/1x1",
                locals: {
                    galleryClass: "gallery--open-courses",
                    col1:{
                        title: "Free open courses",
                        description: "Choose from dozens of individual business courses in our open library. With no application required, many courses are free and available to everyone!",
                        vectorPathMobile: '/assets/vectors/candidates/our-courses/mobile/open-courses-illustration.svg',
                        vectorPathDesktop: '/assets/vectors/candidates/our-courses/desktop/open-courses-illustration.svg',
                        linkText: "Coming Soon",
                        vectorClass: '',
                    }
                }
            %>

            <div class="section section--credibility text-center">
                  <div class="section__background"></div>

                  <div class="section__content">
                      <header>
                          <h1 class="section__title primary-title">What people are saying</h1>
                      </header>

                      <div class="container">
                          <% testimonials = {
                              "upenn" => [
                                  {
                                      authorName: "Yash Jain",
                                      authorEducation: "University of Pennsylvania - 2016",
                                      authorPhoto: "/assets/images/photos/yash-jain.png",
                                      authorPhoto2x: "/assets/images/photos/yash-jain@2x.png",
                                      authorPhoto3x: "/assets/images/photos/yash-jain@3x.png",
                                      authorQuote: "“Coming from taking finance courses at Wharton, I found the content of the courses to be of similar caliber.”",
                                      frameColor: "red"
                                  },
                                  {
                                      authorName: "Thaddeus John Konicki, Jr.",
                                      authorEducation: "University of Pennslyvania - 2014",
                                      authorPhoto: "/assets/images/photos/thaddeus-konicki.png",
                                      authorPhoto2x: "/assets/images/photos/thaddeus-konicki@2x.png",
                                      authorPhoto3x: "/assets/images/photos/thaddeus-konicki@3x.png",
                                      authorQuote: "“I have no doubt that what I learned has set me up to be a leader in my organization!”",
                                      frameColor: "yellow"
                                  }
                              ],

                              "duke" => [
                                  {
                                      authorName: "Katherine Ernst",
                                      authorEducation: "Duke - 2015",
                                      authorPhoto: "/assets/images/photos/katherine-ernst.png",
                                      authorPhoto2x: "/assets/images/photos/katherine-ernst@2x.png",
                                      authorPhoto3x: "/assets/images/photos/katherine-ernst@3x.png",
                                      authorQuote: "“I love #{brand_name_short}! I have already found myself applying my knowledge every day in my current job!”",
                                      frameColor: "red"
                                  },
                                  {
                                      authorName: "Sachin Doshi",
                                      authorEducation: "Duke - 2014",
                                      authorPhoto: "/assets/images/photos/sachin-doshi.png",
                                      authorPhoto2x: "/assets/images/photos/sachin-doshi@2x.png",
                                      authorPhoto3x: "/assets/images/photos/sachin-doshi@3x.png",
                                      authorQuote: "“I've had the chance to get to know amazing classmates, and I feel better equipped to tackle real-world problems with the knowledge I've gained.”",
                                      frameColor: "yellow"
                                  }
                              ],

                              "jhu" => [
                                  {
                                      authorName: "Lydia Montagnese",
                                      authorEducation: "Johns Hopkins - 2017",
                                      authorPhoto: "/assets/images/photos/lydia-montagnese.png",
                                      authorPhoto2x: "/assets/images/photos/lydia-montagnese@2x.png",
                                      authorPhoto3x: "/assets/images/photos/lydia-montagnese@3x.png",
                                      authorQuote: "“I found a great community of colleagues with my same drive for higher education and self-development. I couldn’t have asked for more!”",
                                      frameColor: "red"
                                  },
                                  {
                                      authorName: "Taylor Reese",
                                      authorEducation: "Johns Hopkins - 2010",
                                      authorPhoto: "/assets/images/photos/taylor-reese.png",
                                      authorPhoto2x: "/assets/images/photos/taylor-reese@2x.png",
                                      authorPhoto3x: "/assets/images/photos/taylor-reese@3x.png",
                                      authorQuote: "“The interactive learning style of #{brand_name_short} is, without a doubt, the future of education.”",
                                      frameColor: "yellow"
                                  }
                              ],

                              "brown" => [
                                  {
                                      authorName: "William Van Deren",
                                      authorEducation: "Brown - 2015",
                                      authorPhoto: "/assets/images/photos/william-van-deren.png",
                                      authorPhoto2x: "/assets/images/photos/william-van-deren@2x.png",
                                      authorPhoto3x: "/assets/images/photos/william-van-deren@3x.png",
                                      authorQuote: "“#{brand_name_short} is ahead of the game, and I think soon it will be the standard for the future of education.”",
                                      frameColor: "red"
                                  }
                              ],

                              "cornell" => [
                                  {
                                      authorName: "Erin Pellegrino",
                                      authorEducation: "Cornell - 2014",
                                      authorPhoto: "/assets/images/photos/erin-pellegrino.png",
                                      authorPhoto2x: "/assets/images/photos/erin-pellegrino@2x.png",
                                      authorPhoto3x: "/assets/images/photos/erin-pellegrino@3x.png",
                                      authorQuote: "“I can’t believe I went to two universities for undergraduate and graduate school, and never learned what #{brand_name_short} offered.”",
                                      frameColor: "red"
                                  },
                                  {
                                      authorName: "Liza Graziano",
                                      authorEducation: "Cornell - 2015",
                                      authorPhoto: "/assets/images/photos/liza-graziano.png",
                                      authorPhoto2x: "/assets/images/photos/liza-graziano@2x.png",
                                      authorPhoto3x: "/assets/images/photos/liza-graziano@3x.png",
                                      authorQuote: "“#{brand_name_short} was a great way for me to obtain additional business acumen without needing to commit to the time and cost of a traditional MBA.”",
                                      frameColor: "yellow"
                                  }
                              ],

                              "columbia" => [
                                  {
                                      authorName: "Brian Ward",
                                      authorEducation: "Columbia - 2017",
                                      authorPhoto: "/assets/images/photos/brian-ward.png",
                                      authorPhoto2x: "/assets/images/photos/brian-ward@2x.png",
                                      authorPhoto3x: "/assets/images/photos/brian-ward@3x.png",
                                      authorQuote: "“#{brand_name_short} is a great opportunity to broaden your knowledge of the business world and do it in a fun and interactive way! ”",
                                      frameColor: "red"
                                  },
                                  {
                                      authorName: "Yash Jain",
                                      authorEducation: "University of Pennslyvania - 2016",
                                      authorPhoto: "/assets/images/photos/yash-jain.png",
                                      authorPhoto2x: "/assets/images/photos/yash-jain@2x.png",
                                      authorPhoto3x: "/assets/images/photos/yash-jain@3x.png",
                                      authorQuote: "“Coming from taking finance courses at Wharton, I found the content of the courses to be of similar caliber.”",
                                      frameColor: "yellow"
                                  }
                              ],

                              "georgiatech" => [
                                  {
                                      authorName: "Wei He",
                                      authorEducation: "Georgia Institute of Technology - 2016",
                                      authorPhoto: "/assets/images/photos/wei-he.png",
                                      authorPhoto2x: "/assets/images/photos/wei-he@2x.png",
                                      authorPhoto3x: "/assets/images/photos/wei-he@3x.png",
                                      authorQuote: "“#{brand_name_short} MBA is the first degree program that took use of full potential of modern technology.”",
                                      frameColor: "red"
                                  },
                                  {
                                      authorName: "Yash Jain",
                                      authorEducation: "University of Pennslyvania - 2016",
                                      authorPhoto: "/assets/images/photos/yash-jain.png",
                                      authorPhoto2x: "/assets/images/photos/yash-jain@2x.png",
                                      authorPhoto3x: "/assets/images/photos/yash-jain@3x.png",
                                      authorQuote: "“Coming from taking finance courses at Wharton, I found the content of the courses to be of similar caliber.”",
                                      frameColor: "yellow"
                                  }
                              ]
                            }

                            # fallback to the columbia testimonials if none found for this school
                            testimonial = testimonials[@school] || testimonials["columbia"]
                          %>
                          <%= render partial: "marketing/testimonials",
                              locals: {
                                  testimonials: testimonial
                              }
                          %>
                      </div>

                      <footer>
                          <a class="link link--text-sm link--color-default" href="/prices/students">
                              <span>compare our programs</span>
                              <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'right-arrow-blue-icon.svg') %>
                          </a>
                      </footer>
                  </div>
              </div>
    </section>
</div>

<div class="hiring-form--no-bkg">
    <%= render partial: "marketing/banner/banner-hiring-form",
        locals: {
            title: "Ready to jump start your career?",
            subtitle: "Start learning with #{brand_name_short} today.",
            inputPlaceholder: "Your email",
            bgClass: "hiring-form-wrapper--bg hiring-form-wrapper--bg--blue",
            btnClass: "button--lg-primary",
            wrapperClass: "hiring-form-wrapper--candidate",
            link: "/candidates/register"
        } %>
</div>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
