<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-blue"
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--meet-our-interviewers">
  <div class="hero__background">
    <div class="hero__gradient hero__gradient--left hero__gradient--left-blue">
      <%# Shadow nested to hide overflow %>
      <span class="hero__shadow hero__shadow--bottom-left"></span>
    </div>
    <div class="hero__gradient hero__gradient--right hero__gradient--right-blue">
    </div>
    <span class="hero__shadow hero__shadow--top-left"></span>
    <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-blue"></span>
  </div>

  <div class="hero__wrapper container">
    <div class="row">
      <div class="col-xs-12">
        <div class="hero__content">
          <div class="hero__headline color-text-highlight has-button">
            <h1>Meet Our Admissions Counselors!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--friendly-faces">
    <div class="container">
        <p>If you’ve been selected to participate in an admissions interview, you’ll be speaking with one of these friendly faces. Take a moment to learn a little about our team of Admissions Counselors.</p>
    </div>
</section>

<%
    ###############################
    # ADMISSIONS DIRECTOR
    ###############################
    director = {
        name: "Theresa Stockdale",
        location: "Philadelphia, Pennsylvania, USA",
        bio: "Theresa is a former Product Manager from Eastman Kodak. She has traveled the world advocating for children who live in extreme poverty to have greater access to education. She holds an MBA in Finance and Marketing from the University of Rochester and a B.S. in Supply Chain Management from Penn State University.",
        questions: [
            {
                question: "Three people (from the past or present) she’d choose to have dinner with: ",
                answer: "Malala Yousafzai, Joan of Arc, and Sojourner Truth. These women sought opportunity in the face of adversity. I'd want to soak in every word they had to say!"
            },
            {
                question: "Preferred superpower:",
                answer: "The power to heal. I can't think of anything better than being able to provide healing with the wave of a hand!"
            }
        ],
        photo: "/assets/images/interviewer-theresa_stockdale.png",
        photo2x: "/assets/images/interviewer-theresa_stockdale@2x.png",
        frameColor: "red"
    }

    ###############################
    # SENIOR ADMISSIONS COUNSELORS
    ###############################
    senior_counselors = [
        {
            name: "Gavin Moore",
            location: "Alexandria, VA, USA",
            bio: "With nearly a decade of experience in the credentialing and education sectors, Gavin is well-versed in the processes by which people learn and validate their skills. He holds a B.A. from Iowa State University where he studied environmental ethics in both Philosophy and Environmental Studies.",
            questions: [
                {
                    question: "If he could travel to any time and place in the universe:",
                    answer: "Watching a star go supernova would be pretty neat."
                },
                {
                    question: "If he could be cast in any movie and play any character:",
                    answer: "“Caddyshack” is ridiculously funny and was likely very fun to make. I'd like to have been the person that controlled the animatronic gopher that ravaged the golf course and country club."
                }
            ],
            photo: "/assets/images/interviewer-gavin_moore.png",
            photo2x: "/assets/images/interviewer-gavin_moore@2x.png",
            frameColor: "blue"
        },
        {
            name: "Jennifer Nearn",
            location: "Seattle, Washington, USA",
            bio: "Jennifer's passion for higher education has taken her from the University of London to the University of Washington where she worked on the Foster School of Business admissions team. She enjoys working with non-profit organizations and holds a B.A. in Psychology from Oregon State University.",
            questions: [
                {
                    question: "If she could be cast in any movie and play any character:",
                    answer: "I’d be Cosette in \"Les Miserables\" because I love musical theater, anything related to 19th century Europe, and would love to be able to sing (especially with Hugh Jackman!)"
                },
                {
                    question: "Three people (from the past or present) she’d choose to have dinner with:",
                    answer: "Abraham Lincoln, Corrie Ten Boom, and Martin Luther King, Jr. all for the same reason — each exhibited tremendous wisdom, bravery, and commitment, even risking their lives, to be a voice for the voiceless."
                }
            ],
            photo: "/assets/images/interviewer-jennifer_nearn.png",
            photo2x: "/assets/images/interviewer-jennifer_nearn@2x.png",
            frameColor: "green"
        },
        {
            name: "Rachel Langley",
            location: "Austin, Texas, USA",
            bio: "Prior to joining Quantic, Rachel assisted in the expansion of a local educational tour company in Oaxaca, Mexico and taught English as a second language. She holds a B.A. in Liberal Studies from Portland State University with a focus in sustainable agriculture.",
            questions: [
                {
                    question: "Three things she’d want to have if deserted on an island:",
                    answer: "A mariachi band, pen, and notebook."
                },
                {
                    question: "Preferred superpower:",
                    answer: "I’d want to be able to manipulate time. Not only to be able to get everything that I wanted done in a day, but also to pause and elongate moments that I find particularly special."
                }
            ],
            photo: "/assets/images/interviewer-rachel_langley.png",
            photo2x: "/assets/images/interviewer-rachel_langley@2x.png",
            frameColor: "purple"
        },
    ].sort_by {|a| a[:name].split(' ').last }

    ###############################
    # ADMISSIONS COUNSELORS
    ###############################
    other_counselors = [
        {
                name: "Sarah Price",
                location: "Clearwater, Florida, USA",
                bio: "Prior to joining Quantic, Sarah was a professional school counselor at a public charter school. She is also a Certified Health Coach with the Dr. Sears Wellness Institute and her passion is helping others reach their goals. Sarah earned a B.S. in Administration of Justice from Penn State University and an M.Ed. in Secondary School Counseling from Shippensburg University.",
                questions: [
                    {
                        question: "IF YOU COULD TIME TRAVEL TO A SPECIFIC TIME AND PLACE IN THE UNIVERSE, WHERE AND WHEN WOULD YOU GO AND WHY?",
                        answer: "I would go back to the 1960s and see what it was like during my parent’s heyday. I've heard so many great stories about how great it was back then, plus I love the music from that time period!"
                    },
                    {
                        question: "WHAT IS THE BEST ADVICE THAT YOU’VE RECEIVED?",
                        answer: "A goal without a plan is just a dream."
                    }
                ],
                photo: "/assets/images/interviewer-sarah_price.png",
                photo2x: "/assets/images/interviewer-sarah_price@2x.png",
                frameColor: "red"
            },
            {
                name: "Nabila Quraishi",
                location: "Philadelphia, Pennsylvania, USA",
                bio: "A lifelong learner, Nabila appreciates innovations that make education programs accessible and effective. She enjoys her roles as a volunteer in her community, working in real estate and as a student studying law. She holds an MSc in Analysis, Design, and Management of Information Systems and a BSc in Economics from the London School of Economics.",
                questions: [
                    {
                        question: "WOULD YOU RATHER WIN AN OLYMPIC MEDAL, AN ACADEMY AWARD OR THE NOBEL PEACE PRIZE?",
                        answer: "Nobel Peace Prize. What an honor to be a Nobel Laureate. To be among a distinguished group of individuals recognized for making a beneficial contribution to mankind."
                    },
                    {
                        question: "IF YOU COULD HAVE ONE SUPERPOWER, WHAT WOULD IT BE AND WHY?",
                        answer: "Teleportation. To help save time whenever I choose."
                    }
                ],
                photo: "/assets/images/interviewer-nabila_quraishi.png",
                photo2x: "/assets/images/interviewer-nabila_quraishi@2x.png",
                frameColor: "green"
            },
            {
                name: "Grace Liaw",
                location: "New York, New York, USA",
                bio: "Starting her teaching career in New Jersey public schools, Grace has since spent several years working in private international schools in China. Prior to joining Quantic, Grace was consulting international students and families on U.S. school choices. She received her Masters in Curriculum and Supervision from Penn State University and her Bachelor's in Child and Family Studies from Montclair State University.",
                questions: [
                    {
                        question: "IF SHE COULD BE CAST IN A MOVIE AND PLAY ANY CHARACTER:",
                        answer: "I would want to be Buttercup from The Princess Bride. Who wouldn't want to be a rags-to-riches, beautiful, tough and classy young woman who gets to hear \"As you wish\" all day?"
                    },
                    {
                        question: "WHAT’S THE BEST ADVICE YOU’VE RECEIVED?",
                        answer: "When you’re not feeling well, drink hot water. A lot."
                    }
                ],
                photo: "/assets/images/interviewer-grace_liaw.png",
                photo2x: "/assets/images/interviewer-grace_liaw@2x.png",
                frameColor: "blue"
            },
            {
                name: "Kristina Wessel",
                location: "Southampton, Massachusetts, USA",
                bio: "Kristina has spent much of her career focused on engaging and educating others on how to make a positive impact in the world. Prior to joining Quantic, she designed and delivered corporate training in sustainability best practices, managed skills-based volunteer programs and corporate partnerships, and created and led a human resources department. She received an MBA in Sustainability and Social Impact from Boston University and a BA in English Literature from Eastern University.",
                questions: [
                    {
                        question: "If you could have only one super power, what would it be and why?",
                        answer: "The ability to eradicate the Great Pacific Garbage Patch and protect all waters from pollution."
                    },
                    {
                        question: "What is the best advice you have ever received?",
                        answer: "A bird sitting on a tree is never afraid of the branch breaking because her trust is not in the branch, but in her own wings. Always believe in yourself!"
                    }
                ],
                photo: "/assets/images/interviewer-kristina-wessel.png",
                photo2x: "/assets/images/interviewer-kristina-wessel@2x.png",
                frameColor: "green"
            },
            {
                name: "Jessa Ramsey",
                location: "Brooklyn, New York, USA",
                bio: "Jessa is an Education Specialist and former bilingual classroom teacher with the New York City Department of Education. She loves the world of ideas and, in addition to English, speaks Spanish, French and Russian. Jessa holds a BA from Reed College and did her graduate work at The City College of New York through the NYC Teaching Fellows program.",
                questions: [
                    {
                        question: "If you could have only one super power, what would it be and why?",
                        answer: "Perhaps not much of a superpower, but I wish I knew how to grow things! I’ve killed just about every houseplant I’ve owned. For once I’d like to keep a basil plant alive long enough to say, \"Maybe I’ll make a nice pesto alla genovese tonight...\" and actually mean it."
                    },
                    {
                        question: "What is the best advice you have ever received?",
                        answer: "The advice I always come back to is, \"be a contribution.\"  The more I orient myself towards meaningful investment in my community and my work, the richer and more satisfying my life becomes."
                    }
                ],
                photo: "/assets/images/interviewer-jessa-ramsey.png",
                photo2x: "/assets/images/interviewer-jessa-ramsey@2x.png",
                frameColor: "purple"
            },
            {
                name: "Lindsey Campion",
                location: "Seattle, Washington, USA",
                bio: "With a background in teaching and supporting high-achievers to advance their careers, Lindsey is passionate about the Quantic mission. She received her B.A. in English and B.A. in French from the University of Kansas and her M.A. in English from the University of Texas-Austin.",
                questions: [
                    {
                        question: "If you could snap your fingers and become an expert at something, what would it be?",
                        answer: "To be fluent in every language."
                    },
                    {
                        question: "What is the best advice you have ever received?",
                        answer: "Honor your curiosities and follow them!"
                    }
                ],
                photo: "/assets/images/interviewer-lindsey-campion.png",
                photo2x: "/assets/images/interviewer-lindsey-campion@2x.png",
                frameColor: "purple"
            },
            {
                name: "David Goodman-Smith",
                location: "Chatsworth, CA, USA",
                bio: "David spent his childhood in Hong Kong and the UK before earning his B.A. from Santa Clara University in California. He went on to run a study abroad company in China for over a decade. Particularly interested in bringing people together through international education, David is also an avid rugby player. He could happily talk about China, travel, or rugby all day!",
                questions: [
                    {
                        question: "Who would you most like to swap places with for a day?",
                        answer: "Any astronaut in the space station on that particular day. I would love to see the earth from above!"
                    },
                    {
                        question: "If you could snap your fingers and become an expert at something, what would it be?",
                        answer: "The ability to speak all languages fluently."
                    }
                ],
                photo: "/assets/images/interviewer-david-goodman-smith.png",
                photo2x: "/assets/images/interviewer-david-goodman-smith@2x.png",
                frameColor: "blue"
            },
            {
                name: "Senka Haveric",
                location: "Chevy Chase, MD, USA",
                bio: "Senka's passion to ensure educational access to the brightest of students around the world stems from her childhood experiences as a Bosnian refugee. Prior to joining Quantic, Senka taught ESL in Colombia and helped develop educational tours for American students abroad. Senka completed her M.A. in International Training and Education at American University and holds a B.A. in International Relations & Spanish Studies from the University of Delaware.",
                questions: [
                    {
                        question: "If you could have only one superpower, what would it be and why?",
                        answer: "If I could have one superpower, it would be to speak every language in the world. I love connecting with others and developing meaningful relationships."
                    },
                    {
                        question: "What is the best advice you have ever received?",
                        answer: "Stay curious and never stop learning."
                    }
                ],
                photo: "/assets/images/interviewer-senka-haveric.png",
                photo2x: "/assets/images/interviewer-senka-haveric@2x.png",
                frameColor: "yellow"
            },
    ].sort_by {|a| a[:name].split(' ').last }

    # Senior Admissions Counselors first in alphabetical order and then everyone else in alphabetical order.
    counselors = [director] + senior_counselors + other_counselors
%>

<%= render partial: "marketing/counselors/counselors",
    locals: {
        counselors: counselors
    }
%>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>