<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-blue",
        text: "Sign Up - It’s Free",
        link: "/candidates/register",
        banner: {
            cssClass: 'banner-message--blue'
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--mission">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1><%= brand_name_long %></h1>
                        <p>Mission, Vision, and History</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <section class="section section--mission text-center">
        <%= render partial: "marketing/galleries/1x1-frame",
        locals: {
            items: [
                {
                    title: "",
                    galleryClass: "gallery--mission",
                    description: "The mission of #{brand_name_long} is to offer the most innovative, highest-quality, online education programs that are directly connected to positive career outcomes in business and technology.",
                    frameVectorMobile: "/assets/vectors/mission/frame-mission-illustration.svg",
                    frameVectorDesktop: "/assets/vectors/mission/frame-mission-illustration.svg",
                    frameClass: "gallery__frame--mission"
                },
                {
                    title: "",
                    galleryClass: "gallery--vision",
                    description: "#{brand_name_standard} seeks to reinvent graduate education for the 21st century, serving as a template for a new kind of school: leveraging pedagogical and technological innovation and a keen understanding of the power of professional networks to deliver best-in-class learning experiences and career outcomes for our students.",
                    frameVectorMobile: "/assets/vectors/mission/frame-vision-illustration.svg",
                    frameVectorDesktop: "/assets/vectors/mission/frame-vision-illustration.svg",
                    frameClass: "gallery__frame--vision"
                },
                {
                    title: "",
                    galleryClass: "gallery--our-story",
                    description_html: %|#{brand_name_standard} began with three questions: what if you could learn any subject, anywhere, on any device? What if that learning system was connected to a powerful professional network? And what if a new business model could make it radically affordable, or even free?
                        <br><br>
                        From this initial vision, our founders set out to build a new kind of graduate school.
                        <br><br>
                        The team began by inventing a ground-breaking <a href="/programs/method">instructional method</a>, then applying it in the creation of our state-of-the-art <a href="/mba/curriculum">curriculum</a>. After proving its <a href="/efficacy">speed and efficacy</a> compared to traditional programs, the team developed a unique business model which shifts the cost of education to a curated group of employers seeking to hire students through our <a href="/employers/recruit-our-candidates">integrated talent platform</a>. And finally, through a rigorous admissions process and employer vetting, the team created the basis for a valuable, exclusive network of alumni and corporate partners.
                        <br><br>
                        Today, #{brand_name_standard} is proud to offer two accredited degree programs - a <a href="/mba">Free MBA</a> and an affordable <a href="/executive-mba">Executive MBA</a> - to ambitious students from around the world.|,
                    frameVectorMobile: "/assets/vectors/mission/frame-our-story-illustration.svg",
                    frameVectorDesktop: "/assets/vectors/mission/frame-our-story-illustration.svg",
                    frameClass: "gallery__frame--our-story"
                }
            ]
        }
        %>

        <footer>
            <p>It’s an exciting road ahead. We hope you’ll be part of the journey.</p>
        </footer>
    </section>
</div>

<%= render partial: "marketing/banner/banner-call-to-action",
    locals: {
        title: "Ready to make a career move?",
        subtitle: "Your future is waiting for you.",
        bannerClass: "banner--sign-up-now",
        bgClass: "call-to-action__bg",
        btnText: "Sign Up Now",
        btnLink: "/candidates/register",
        btnClass: "button--md-primary"
    }
 %>
<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
