<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        text: "Sign up - It's Free",
        link: "/candidates/signup"
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--how-it-works-candidate">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>Experience <%= brand_name_short %> Right Now</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section--open-courses-three">
  <div class="container text-center text-sm-left">
    <div class="row free-open-courses">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <img class="gallery__illustration" src="<%= get_webpack_asset_value_for_key '/assets/vectors/candidates/our-courses/mobile/open-courses-illustration.svg' %>" alt="">
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6 gallery__text">
        <div class="gallery__title">Our Free Open Courses</div>
        <p class="gallery__description">Start learning right now with actual courses from our award-winning MBA curriculum. Choose among free courses in Finance, Economics, Statistics and more.</p>
        <div class="gallery__link">
          <a class="link link--text-sm" href="/candidates/signup?skip_apply=true">
            <span>Sign up - It's Free!</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="row smartly-difference">
      <div class="col-xs-12 col-sm-6">
        <img class="gallery__illustration" src="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/conventiently-mobile-illustration.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/conventiently-mobile-illustration@2x.png' %>" alt="">
      </div>
      <div class="col-xs-12 col-sm-6 gallery__text">
        <div class="gallery__title">The <%= brand_name_short %> Difference</div>
        <p class="gallery__description">We can explain our <a href="/programs/method">method</a>. And point you to our <a href="/efficacy">efficacy studies</a>. And introduce you to a few of the thousands of our high-achieving <a href="/mba/students">students</a>. Or you can just sample a few courses for yourself. It’s simply the best way to experience the educational power of <%= brand_name_short %>.</p>
        <div class="gallery__link">
          <a class="link link--text-sm" href="/candidates/signup?skip_apply=true">
            <span>Sample our courses</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="row our-mission">
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
          <img class="gallery__illustration" src="<%= get_webpack_asset_value_for_key is_quantic? ? '/assets/vectors/press/illustration-news-quantic.svg' : '/assets/vectors/press/illustration-news.svg' %>" alt="">
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 gallery__text">
          <div class="gallery__title">Our Mission</div>
          <p class="gallery__description">Why do we offer free open courses, <a href="/mba">a free MBA</a>, and a radically affordable <a href="/executive-mba">Executive MBA</a>? Because we believe in broadening access beyond the constraints of elite traditional business schools. We have the technology platform and the flipped business model that enables it, with the ultimate vision to democratize global education.</p>
          <div class="gallery__link">
            <a class="link link--text-sm" href="/mission">
              <span>More about our mission</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                  <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section section--credibility text-center">
  <div class="section__background"></div>

  <div class="section__content">
      <header>
          <h1 class="section__title primary-title">What people are saying</h1>
      </header>

      <div class="container">
          <%= render partial: "marketing/testimonials",
          locals: {
              testimonials: [
                  {
                      authorName: "Brett Shadbolt",
                      authorEducation: "NYU Stern School of Business",
                      authorJob: "CEO, Phusjon Group",
                      authorPhoto: "/assets/images/photos/brett-shadbolt.png",
                      authorPhoto2x: "/assets/images/photos/brett-shadbolt@2x.png",
                      authorPhoto3x: "/assets/images/photos/brett-shadbolt@3x.png",
                      authorQuote: "“Great for working professionals. Very flexible and informative.”",
                      frameColor: "red"
                  },
                  {
                      authorName: "Veronica Shea Salkin",
                      authorEducation: "Northwestern University",
                      authorJob: "Primary Stages, Marketing",
                      authorPhoto: "/assets/images/photos/veronica-salkin.png",
                      authorPhoto2x: "/assets/images/photos/veronica-salkin@2x.png",
                      authorPhoto3x: "/assets/images/photos/veronica-salkin@3x.png",
                      authorQuote: "“What I learned will stick with me far longer than a standard lecture-based curriculum could.”",
                      frameColor: "yellow"
                  },
              ]
          }
          %>
      </div>

      <footer>
          <a class="link link--text-sm link--color-default" href="/reviews">
              <span>see more</span>
              <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'right-arrow-blue-icon.svg') %>
          </a>
      </footer>
  </div>
</section>

<div class="hiring-form--no-bkg hiring-form--free-mba">
    <%= render partial: "marketing/banner/banner-call-to-action",
        locals: {
            title: "Ready to jump start your career?",
            subtitle: "Start learning with #{brand_name_short}.",
            bannerClass: "banner--request-demo banner--apply-to-mba",
            bgClass: "call-to-action__bg",
            btnClass: "button--lg-primary button--lg-primary-blue",
            btnLink: "/candidates/signup?skip_apply=true",
            btnTarget: '_self',
            btnText: 'Sign Up Now',
            wrapperClass: 'flush-top'
        }
    %>
</div>

<%= render :partial => "marketing/footer/footer", :locals => {
  :top => true,
  :bottom => true,
  :alternateBottom => false,
  :sticky => false
} %>
