<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-blue",
        link: '/employers/signup'
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--peer_recommendations">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>Your Peer Recommendation for <%= @user.name %></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section--improve-team">
            <section id="corporate-training-improve-your-team" class="section section--improve-team text-center">
                <div class="board-wrapper container">
                    <div class="row">
                        <div class="board">
                            <iframe src="<%= @typeform_peer_recommendation_url %>"></iframe>
                        </div>
                    </div>
                    <% if @gdpr_user == 'true' %>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                            <p class="privacy-notice">
                                We value your privacy. <%= brand_name_short %> will never sell your data, and we strive to keep your information safe and secure. After submitting your peer reference, we may very rarely follow up with you with additional questions or information by email. At any time, you may opt out of further contact. For further details, see our <a href="/privacy" target="_blank">privacy policy</a>.
                            </p>
                        </div>
                    </div>
                    <% end %>
                </div>
            </section>
        </div>
    </div>
</section>
<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
