<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        text: "Sign Up - It’s Free",
        banner: {
            application_deadline_message: @application_deadline_message,
            linkText: "Apply now",
            linkUri: "/candidates/signup",
            cssClass: "banner-message--red"
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--join-career-network">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>Regulatory Information</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <section class="section section--policy-list">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h2>Terms and Privacy</h2>
                    <ul class="text-list">
                        <li><a href="/terms">Terms and Conditions</a></li>
                        <li><a href="/cookies">Cookie Policy</a></li>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/help/article/312-privacy-shield">Privacy Shield Notice</a></li>
                        <li><a href="/help/article/307-gdpr">GDPR Commitment</a></li>
                        <li><a href="/help/article/449-ccpa-notice-for-california-residents">CCPA Notice for California Residents</a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-md-6">
                    <h2>Institutional Information</h2>
                    <ul class="text-list">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/mission">Mission</a></li>
                        <li><a href="/press">Press</a></li>
                        <li><a href="/consumer-disclosure">Consumer Information Disclosure</a></li>
                        <li><a href="/state-licensing">State Authorization (US students)</a></li>
                        <li><a href="/help/article/216-is-the-mba-only-open-to-students-residing-in-the-usa">International Students</a></li>
                        <li><a href="https://uploads.smart.ly/accreditation/Document%20Retention%20and%20Destruction%20Policy.pdf">Document Retention Policy</a></li>
                        <li><a href="/help/article/433-institutional-outcomes">Institutional Outcomes Statement</a></li>
                        <li><a href="/help/article/488-quantic-school-of-business-technology-memberships">Memberships</a></li>
                    </ul>
                </div>
            </div>
            <br class="hidden-xs">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <h2>Student Policies</h2>
                    <ul class="text-list two-column">
                        <li><a href="/help/article/337-tuition-refund-policy">Tuition Refund Policy</a></li>
                        <li><a href="/help/article/380-student-cancellation-policy">Cancellation Policy</a></li>
                        <li><a href="/help/article/315-smartly-special-needs-accommodation-requests-policy">Special Needs Accommodation Requests Policy</a></li>
                        <li><a href="/help/article/313-smartly-student-grievance-and-abuse-policy">Student Grievance and Abuse Policy</a></li>
                        <li><a href="/help/article/323-student-rights-privileges-and-responsibilities">Student Rights, Privileges, and Responsibilities</a></li>
                        <li><a href="/help/article/297-non-discrimination-policy">Non-Discrimination Policy</a></li>
                        <li><a href="/help/article/324-student-code-of-conduct">Student Code of Conduct</a></li>
                        <li><a href="/help/article/379-satisfactory-academic-progress-policy">Satisfactory Academic Progress Policy</a></li>
                        <li><a href="/help/article/378-what-if-my-transcripts-are-not-in-english">Foreign Language Transcript Requirements</a></li>
                        <li><a href="/help/article/377-english-language-requirements">English Language Proficiency Requirements</a></li>
                        <li><a href="/help/article/383-student-identity-verification-policy">Student Identity Verification</a></li>
                        <li><a href="/help/article/439-proctored-examination-policy">Proctored Examination Policy</a></li>
                        <li><a href="/help/article/128-transfer-of-credit">Transfer of Credit Policy</a></li>
                        <li><a href="/help/article/374-ferpa-notice">FERPA Notice</a></li>
                    </ul>
                </div>
            </div>
            <br class="hidden-xs">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h2>Catalogs</h2>
                    <ul class="text-list">
                        <li><a href="/school-catalog"><%= brand_name_long %> Catalog (2019-2020)</a></li>
                        <li><a ng-click="showArchive = !showArchive" style="cursor: pointer;">Catalog Archive</a>
                            <ul class="text-list" ng-if="showArchive">
                                <li><a href="https://uploads.smart.ly/accreditation/2018%20Smartly%20School%20Catalog.pdf">Smartly Institute Catalog (2018-2019)</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12 col-md-6">
                    <h2>Accreditation</h2>
                    <br>
                    <p>
                        Quantic School of Business and Technology is accredited by the Distance Education Accrediting Commission, which is listed by the U.S. Department of Education as a recognized accrediting agency, and is also recognized by the Council for Higher Education Accreditation (CHEA).
                    </p>
                    <ul class="text-list">
                        <li><a href="/accreditation">Accreditation FAQ</a></li>
                    </ul>
                    <img src="<%= get_webpack_asset_value_for_key '/assets/images/deac-logo.png' %>" width="250">
                </div>
            </div>
        </div>
    </section>

</div>

<div class="hiring-form--no-bkg">
    <%= render partial: "marketing/banner/banner-hiring-form",
    locals: {
        title: "Ready to jump start your career?",
        subtitle: "Your future is waiting for you.",
        inputPlaceholder: "Your email",
        bgClass: "hiring-form-wrapper--bg hiring-form-wrapper--bg--blue",
        btnClass: "button--lg-primary",
        wrapperClass: "hiring-form-wrapper--candidate",
        link: '/candidates/register',
    }
    %>
</div>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>