<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-blue",
        text: "Sign Up - It’s Free",
        link: "/candidates/register",
        banner: {
            cssClass: 'banner-message--blue'
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--press">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>Want to talk about <%= brand_name_short %>?</h1>
                        <p>Find everything you need here.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <section class="section section--press-galleries text-center">
        <%= render partial: "marketing/galleries/1x1",
        locals: {
            galleryClass: "gallery--press",
            col1:{
                title: "",
                description: "#{brand_name_long} has reimagined business education. It brings the MBA curriculum to the modern era, with bite-size lessons optimized for a mobile world. #{brand_name_short} students are high-achieving leaders with limitless potential, eager to make a difference. Paying for the privilege of recruiting in the network, our partner companies help enable our innovative tuition model, keeping #{brand_name_short} radically affordable to all accepted students",
                vectorPathMobile: is_quantic? ? '/assets/vectors/press/illustration-news-quantic.svg' : '/assets/vectors/press/illustration-news.svg'
            }
        }
        %>

        <%= render partial: "marketing/galleries/2x2-1image",
            locals: {
                title: "Created by Pedago.",
                description: "Founded in 2013, Pedago is out to change how we all learn. Counter to ineffective and passive learning approaches that dominate online education, Pedago’s highly interactive learning was conceived and designed for the smartphone era. Inspired by a desire to empower modern business leaders, Pedago developed #{brand_name_short} — a top-tier online business school that is rigorous, flexible, and more effective.",
                vectorPathMobile: '/assets/vectors/press/illustration-pedago.svg',
                galleryClass: "gallery--created-by-pedago"
            }
        %>
    </section>

    <section class="section section--resources text-center">
        <h1 class="section__title primary-title">Resources for Download.</h1>

        <div class="card-wrapper container">
            <div class="row">
                <div class="col-xs-12 col-lg-4">
                    <div class="card">
                        <figure>
                            <img class="visible-xs" src="<%= get_webpack_asset_value_for_key '/assets/images/press/photo-resource-mobile.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/press/photo-resource-mobile@2x.png' %>" alt="Founders">
                            <img class="hidden-xs" src="<%= get_webpack_asset_value_for_key '/assets/images/press/photo-resource.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/press/photo-resource@2x.png' %>" alt="Founders">
                        </figure>
                        <div>
                            <h2>Founders</h2>
                            <a href="https://uploads.smart.ly/downloads/press/founders.jpg" class="link link--text-xs">
                                <span>Download</span>
                                <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'press', 'right-arrow-blue-icon.svg') %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-4">
                    <div class="card">
                        <% if is_quantic? %>
                            <figure>
                                <img class="visible-xs" src="<%= get_webpack_asset_value_for_key '/assets/images/press/quantic/logo-resource-mobile.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/press/quantic/logo-resource-mobile@2x.png' %>" alt="Founders">
                                <img class="hidden-xs"  src="<%= get_webpack_asset_value_for_key '/assets/images/press/quantic/logo-resource.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/press/quantic/logo-resource@2x.png' %>" alt="Logos">
                            </figure>
                        <% else %>
                            <figure>
                                <img class="visible-xs" src="<%= get_webpack_asset_value_for_key '/assets/images/press/logo-resource-mobile.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/press/logo-resource-mobile@2x.png' %>" alt="Founders">
                                <img class="hidden-xs"  src="<%= get_webpack_asset_value_for_key '/assets/images/press/logo-resource.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/press/logo-resource@2x.png' %>" alt="Logos">
                            </figure>
                        <% end %>
                        <div>
                            <h2>Logos</h2>
                            <a href="https://uploads.smart.ly/downloads/press/<%= is_quantic? ? 'quantic' : 'smartly' %>-logos.zip" class="link link--text-xs">
                                <span>Download</span>
                                <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'press', 'right-arrow-blue-icon.svg') %>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-4">
                    <div class="card">
                        <figure>
                            <img src="<%= get_webpack_asset_value_for_key '/assets/images/press/screenshot-resource.jpg' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/press/screenshot-resource@2x.jpg' %>" alt="Screenshots">
                        </figure>
                        <div>
                            <h2>Screenshots</h2>
                            <a href="https://uploads.smart.ly/downloads/press/<%= is_quantic? ? 'quantic' : 'smartly' %>-screenshots.zip" class="link link--text-xs">
                                <span>Download</span>
                                <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'press', 'right-arrow-blue-icon.svg') %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <a href="https://uploads.smart.ly/downloads/press/<%= is_quantic? ? 'quantic' : 'smartly' %>-press-kit-complete.zip" class="button button--md-primary button--md-primary-outline">download full kit</a>
            </footer>
        </div>
    </section>
</div>

<div class="wrapper">
    <section class="section section--press-releases">
        <h1 class="section__title primary-title text-center">Press Releases</h1>

        <%= render partial: "marketing/press/press-releases",
            locals: {
                releases: [
                    {
                        title: "Quantic surveys over 450 executives and professionals about the state of remote work and management during the COVID-19 pandemic",
                        url: "https://uploads.smart.ly/downloads/press/releases/Quantic_Career_Outlook_Survey_Press_Release.pdf"
                    },
                    {
                        title: "Two Quantic MBA Students (formerly Smartly Institute) Make the 2018 Forbes 30 Under 30 List",
                        url: "http://www.businesswire.com/news/home/20171128005916/en"
                    },
                ]
            }
        %>
    </section>
</div>

<%= render partial: "marketing/banner/banner-call-to-action",
    locals: {
        title: "Ready to make a career move?",
        subtitle: "Your future is waiting for you.",
        bannerClass: "banner--sign-up-now",
        bgClass: "call-to-action__bg",
        btnText: "Sign Up Now",
        btnLink: "/candidates/register",
        btnClass: "button--md-primary"
    }
 %>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
