<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-purple",
        link: "/candidates/register"
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--pricing">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-purple">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-purple">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>The <%= brand_name_short %> Course Lineup</h1>
                        <p>We design our accredited programs to teach marketable skills that accelerate your career.<br>Which one is right for you?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="students-pricing__text-separator">
    <% if !is_quantic? %>
    <div class="text-separator"><span><%= brand_name_long %></div>
    <% end %>
</div>

<div class="students-pricing__wrapper">
    <div class="students-pricing__container">
        <div class="students-pricing__inside-container">
            <div class="students-pricing__plan  students-pricing__plan--second students-pricing__plan--green">
                <div class="students-pricing__illustration">
                  <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/pricing/illustration-green-hat.svg' %>" alt="green hat">
                </div>
                <h3 class="students-pricing__title">The <strong>Free</strong><br class="visible-md"> MBA</h3>
                <h4 class="students-pricing__subtitle">10 Months · Early Career</h4>
                <ul class="students-pricing__list">
                    <li>Degree program</li>
                    <li>MBA core curriculum</li>
                    <li>Career network</li>
                    <li>Online events</li>
                </ul>
                <div class="students-pricing__price">Tuition: Free</div>
                <a ng-href="{{ app.loggedIn ? '/settings/application' : '/candidates/signup?program=mba' }}" class="students-pricing__cta">Apply</a>
                <a href="/mba" class="students-pricing__link link link--text-sm">
                    <span>learn more</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                        <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
                    </svg>
                </a>
            </div>
            <div class="students-pricing__inside-container-separator"></div>
            <div class="students-pricing__plan students-pricing__plan--third students-pricing__plan--turquoise">
                <div class="students-pricing__illustration">
                  <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/pricing/illustration-blue-hat.svg' %>" alt="blue hat">
                </div>
                <h3 class="students-pricing__title">The <strong>Executive</strong> MBA</h3>
                <h4 class="students-pricing__subtitle">12 months · Mid career</h4>
                <ul class="students-pricing__list">
                    <li>Degree program</li>
                    <li>MBA core curriculum</li>
                    <li>Added Specializations / Electives</li>
                    <li>Advanced Management / Strategy courses</li>
                    <li>Career services</li>
                    <li>Career network</li>
                    <li>On-site workshop / networking weekends</li>
                </ul>
                <div class="students-pricing__price">Tuition: $9600 USD*<br><small>scholarships available</small></div>
                <a ng-href="{{ app.loggedIn ? '/settings/application' : '/candidates/signup?program=emba' }}" class="students-pricing__cta"><%= @full_exec_mba ? "Apply" : "Pre-Apply" %></a>
                <a href="/executive-mba" class="students-pricing__link link link--text-sm">
                    <span>learn more</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                        <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="students-pricing__footnote">*You may be eligible for <a href="/tuition-assistance/students">tuition reimbursement</a> for the Executive MBA. <a class="tuition-details" data-toggle="modal" data-target="#modal__tuition">See full tuition details</a></div>

<% if !is_quantic? %>
<div class="students-pricing__text-separator last">
    <div class="text-separator"><span>Smartly School of <br class="visible-xs">Professional Education</span></div>
</div>

<div class="students-pricing__wrapper">
    <div class="students-pricing__container">
        <div class="students-pricing__plan students-pricing__plan--first students-pricing__plan--secondary students-pricing__plan--blue">
            <h3 class="students-pricing__title">The <strong>Free</strong><br>Certificates</h3>
            <h4 class="students-pricing__subtitle">6 weeks · Early-Late Career</h4>
            <ul class="students-pricing__list">
                <li>Non-degree program</li>
                <li>Foundational Courses</li>
                <li>Career network</li>
            </ul>
            <div class="students-pricing__price">Tuition: Free</div>
            <a class="students-pricing__cta" href="{{ app.loggedIn ? '/settings/application' : '/candidates/signup?program=the_business_certificate' }}">Apply</a>
            <a href="/the-free-certificates" class="students-pricing__link link link--text-sm sidebar">
                <span>learn more</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                    <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
                </svg>
            </a>
        </div>

        <div class="students-pricing__inside-container-separator secondary"></div>

        <div class="students-pricing__plan students-pricing__plan--fourth students-pricing__plan--secondary students-pricing__plan--blue">
            <h3 class="students-pricing__title">The <strong>Executive</strong><br> Certificates</h3>
            <h4 class="students-pricing__subtitle">3-4 Months · Early-Late Career</h4>
            <ul class="students-pricing__list">
                <li>Non-degree program</li>
                <li>Specialized Courses</li>
                <li>Career network</li>
            </ul>
            <div class="students-pricing__price">Tuition: $1500 USD</div>
            <a ng-href="{{ app.loggedIn ? '/settings/application' : '/candidates/signup' }}" class="students-pricing__cta students-pricing__cta--disabled">Coming Soon</a>
            <a href="/the-executive-certificates" class="students-pricing__link link link--text-sm sidebar">
                <span>learn more</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                    <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
                </svg>
            </a>
        </div>
    </div>
</div>

<section class="section section--learn-more-emba">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <h2 class="gallery__title">Just interested in a new career?</h1>
        <p class="gallery__description">Apply to <a ng-href="{{ app.loggedIn ? '/settings/application' : '/candidates/signup' }}">Smartly Talent</a>, our free career network.</p>
      </div>
    </div>
  </div>
</section>

<% end %>

<%= render partial: "marketing/banner/banner-hiring-form",
    locals:{
        title: "Ready to jump start your career?",
        subtitle: "Start learning with #{brand_name_short} today.",
        inputPlaceholder: "Your email",
        wrapperClass: "hiring-form-wrapper--sign-up hiring-form-wrapper--students-pricing",
        bgClass: "hiring-form-wrapper--bg",
        btnClass: "button--md-primary",
        link: "/candidates/signup"
    }
 %>
<%= render partial: "marketing/tuition-modal" %>
<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false,  :sticky => false } %>
