<%= render partial: "marketing/header/header",
  locals: {
    signBtnClass: "button--sm-primary button--sm-primary-blue",
    text: "Sign Up - It’s Free",
    link: "/candidates/register",
    banner: {
        cssClass: 'banner-message--blue'
    }
  }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--legal">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>Privacy Policy</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
  <!-- .legal-section -->
  <section class="section section--legal-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-2 col-sm-offset-1">Related Links:</div>
        <div class="col-xs-12 col-sm-2"><a href="/cookies">Cookie Policy</a></div>
        <div class="col-xs-12 col-sm-2"><a href="/help/article/312-privacy-shield">Privacy Shield Notice</a></div>
        <div class="col-xs-12 col-sm-2"><a href="/help/article/307-gdpr">GDPR Commitment</a></div>
        <div class="col-xs-12 col-sm-2"><a href="/help/article/449-ccpa-notice-for-california-residents">Notice for CA Residents</a></div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <small><span class="bold">Last revision:</span> 23th July, 2019</small>
          <br><br>
          <h2>Introduction</h2>
          <p>Pedago (“Company”) is committed to protecting your privacy. We have prepared this Privacy Policy to describe to you our practices regarding the Personal Data (as defined below) we collect from users of our website, located at <%= current_domain %>, our mobile application <%= brand_name_short %> ( “Application”), and our widgets (collectively, the “Site”) and services (“Services”).</p>

          <h3>1. Use Consent</h3>
          <p>By submitting Personal Data through our Site or Services, you agree to the terms of this Privacy Policy and you expressly consent to the collection, use and disclosure of your Personal Data in accordance with this Privacy Policy.</p>

          <h3>2. A Note About Children</h3>
          <p>We do not intentionally gather Personal Data from visitors who are under the age of 18. If a child under 18 submits Personal Data to Company and we learn that the Personal Data is the information of a child under 18, we will attempt to delete the information as soon as possible. If you believe that we might have any Personal Data from a child under 18, please contact us at legal@pedago.com.</p>

          <h3>3. Types of Data We Collect</h3>
          <p><span class="semibold">“Personal Data”</span> means data that allows someone to identify or contact you, including, for example, your name, address, telephone number, e-mail address, as well as any other non-public information about you that is associated with or linked to any of the foregoing data.</p>
          <p><span class="semibold">“Anonymous Data”</span> means data that is not associated with or linked to your Personal Data; Anonymous Data does not, by itself, permit the identification of individual persons. We collect Personal Data and Anonymous Data, as described below.</p>
          <ol class="letters-list">
            <li>
              Information You Provide to Us
              <ul>
                <li>We may collect Personal Data from you, such as your first and last name, gender, e-mail and mailing addresses, and password when you create an account to log in to our network (<span class="semibold">“Account”</span>).</li>
                <li>If you use our Services on your mobile device, including through our Application, we may collect your phone number and the unique device id number.</li>
                <li>If you tell us where you are (e.g., by allowing your mobile device to send us your location), we may store and use that information to provide you with location-based information and advertising. If you want to deactivate this feature, you can either reinstall the Application or deactivate GPS on your mobile device.</li>
                <li>Our mobile homepage may let you store preferences like your location, safe search settings, and favorites. We may associate these choices with your ID or the mobile device, and you can edit these preferences at any time on our mobile homepage.
                </li>
                <li>When connecting to our Services via a service provider that uniquely identifies your mobile device, we may receive this identification and use it to offer extended services and/or functionality.</li>
                <li>Certain Services may require our collection of your phone number. We may associate that phone number to your mobile device identification information.</li>
                <li>When you order Services on our Application, we will collect all information necessary to complete the transaction, including your name, credit card information, billing information and shipping information.</li>
                <li>We retain information on your behalf, such as files and messages that you store using your Account.</li>
                <li>If you provide us feedback or contact us via e-mail, we will collect your name and e-mail address, as well as any other content included in the e-mail, in order to send you a reply.</li>
                <li>When you post content (text, images, photographs, messages, comments or any other kind of content that is not your e-mail address) on our Site, the information contained in your posting will be stored in our servers and other users will be able to see it, along with your profile photo and any other information that you choose to make public on your public profile page (“Profile”). The information that you provide in your Profile will be visible to others if you choose to activate your profile.</li>
                <li>When you post messages on the message boards of our Site, the information contained in your posting will be stored on our servers and other users will be able to see it.</li>
                <li>We also collect other types of Personal Data that you provide to us voluntarily, such as your operating system and version, product registration number, and other requested information if you contact us via e-mail regarding support for the Services.</li>
                <li>We may also collect Personal Data at other points in our Application that state that Personal Data is being collected.</li>
              </ul>
            </li>
            <li>
              <span class="bullet-subheading">Information You Provide to Facebook and other Social Networking Sites</span>
              <span class="normal">The Services allow users to access Facebook to interact with friends and to share on Facebook through Wall and friends’ News Feeds. If you are already logged into the Services and Facebook or another SNS, when you click on “Connect with Facebook,” or a similar connection on another SNS, you will be prompted to merge your profiles. If you are already logged into the Services but not logged into Facebook or another SNS that we support, when you click on “Connect with Facebook,” or a similar connection on another SNS, you will be prompted to enter your SNS credentials or to “Sign Up” for the SNS. By proceeding, you are allowing the Services to access your information and you are agreeing to the Facebook or other SNS’s Terms of Use in your use of the Services. Conversely, if you are not currently registered as a user of the Services, and you click on “Sign in” using Facebook or another SNS that we support, you will first be asked to enter your Facebook or SNS credentials and then be given the option to register for the Services. In this case, we may receive information from Facebook or another SNS to make it easier for you to create an Account on the Site and show our relevant content from your Facebook or SNS friends. Once you register on the Application and connect with Facebook or another SNS, you will be able to automatically post recent activity back to Facebook or the other SNS. Any information that we collect from your Facebook or other SNS account may depend on the privacy settings you have with that SNS, so please consult the SNS’s privacy and data practices. You have the option to disable Facebook Connect at any time by logging into your Account through the Site and going to settings, “About Me,” “Linked Accounts,” and then unselecting “Facebook.” Further, you can edit privacy settings for the reviews that appear on Facebook or disconnect your Services activity stream by visiting the Facebook Applications Settings page.</span>
            </li>
            <li>
              Information Collected via Technology
              <ul>
                <li><span class="bullet-subheading">Information Collected by Our Servers:</span> To make our Site, Application, and Services more useful to you, our servers (which may be hosted by a third party service provider) collect information from you, including your browser type, operating system, Internet Protocol (<span class="semibold">“IP”</span>) address (a number that is automatically assigned to your computer when you use the Internet, which may vary from session to session), domain name, and/or a date/time stamp for your visit.</li>
                <li><span class="bullet-subheading">Log Files:</span> As is true of most websites, we gather certain information automatically and store it in log files. This information includes IP addresses, browser type, Internet service provider (<span class="semibold">“ISP”</span>), referring/exit pages, operating system, date/time stamp, and clickstream data. We use this information to analyze trends, administer the Site, track users’ movements around the Site, gather demographic information about our user base as a whole, and better tailor our Services to our users’ needs. For example, some of the information may be collected so that when you visit the Site or the Services again, it will recognize you and the information could then be used to serve advertisements and other information appropriate to your interests. Except as noted in this Privacy Policy, we do not link this automatically-collected data to Personal Data.</li>
                <li><span class="bullet-subheading">Cookies:</span> Like many online services, we use cookies to collect information. <span class="semibold">“Cookies”</span> are small pieces of information that a website sends to your computer’s hard drive while you are viewing the website. We may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which stay on your computer until you delete them) to provide you with a more personal and interactive experience on our Site. This type of information is collected to make the Site more useful to you and to tailor the experience with us to meet your special interests and needs. Please see our <a href="/cookies">Cookie Policy</a> for more information.</li>
                <li><span class="bullet-subheading">Pixel Tags:</span> In addition, we use <span class="semibold">“Pixel Tags”</span> (also referred to as clear Gifs, Web beacons, or Web bugs). Pixel Tags are tiny graphic images with a unique identifier, similar in function to Cookies, that are used to track online movements of Web users. In contrast to Cookies, which are stored on a user’s computer hard drive, Pixel Tags are embedded invisibly in Web pages. Pixel Tags also allow us to send e-mail messages in a format users can read, and they tell us whether e-mails have been opened to ensure that we are sending only messages that are of interest to our users. We may use this information to reduce or eliminate messages sent to a user. We do not tie the information gathered by Pixel Tags to our users’ Personal Data.</li>
                <li><span class="bullet-subheading">Mobile Services:</span> We may also collect non-personal information from your mobile device if you have downloaded our Application. This information is generally used to help us deliver the most relevant information to you. Examples of information that may be collected and used include your geographic location, how you use the Application, and information about the type of device you use. In addition, in the event our Application crashes on your mobile device, we will receive information about your mobile device model software version and device carrier, which allows us to identify and fix bugs and otherwise improve the performance of our Application(s). This information is sent to us as aggregated information and is not traceable to any individual and cannot be used to identify an individual.</li>
                <li><span class="bullet-subheading">Google Analytics:</span> We use Google Analytics to help analyze how users use the Site. Google Analytics uses Cookies to collect information such as how often users visit the Site, what pages they visit, and what other sites they used prior to coming to the Site. We use the information we get from Google Analytics only to improve our Site and Services. Google Analytics collects only the IP address assigned to you on the date you visit the Site, rather than your name or other personally identifying information. We do not combine the information generated through the use of Google Analytics with your Personal Data. Although Google Analytics plants a persistent Cookie on your web browser to identify you as a unique user the next time you visit the Site, the Cookie cannot be used by anyone but Google. Google’s ability to use and share information collected by Google Analytics about your visits to the Site is restricted by the Google Analytics Terms of Use and the Google Privacy Policy.</li>
              </ul>
            </li>
            <li>
              <span class="bullet-subheading">Location Information</span>
              <span class="normal">If you have enabled location services on your phone, we collect your location information to make a map available to the recipients of your messages showing your location. If you do not want this information collected by us, you can disable location services on your phone.</span>
          </ol>

          <h3>4. Use of Your Personal Data</h3>
          <p>Pedago uses Personal Data in furtherance of our legitimate interests in operating our Application, Site and Services. More specifically:</p>
          <ol class="letters-list">
            <li>
              <span class="bullet-subheading">General Use</span>
              <span class="normal">In general, Personal Data you submit to us is used either to respond to requests that you make, or to aid us in serving you better. We use your Personal Data in the following ways:</span>
              <ul>
                <li>facilitate the creation of and secure your Account on our network;</li>
                <li>identify you as a user in our system;</li>
                <li>provide improved administration of our Site and Services;</li>
                <li>provide the Services you request;</li>
                <li>improve the quality of experience when you interact with our Site and Services;</li>
                <li>send you a welcome e-mail to verify ownership of the e-mail address provided when your Account was created;</li>
                <li>send you administrative e-mail notifications, such as security or support and maintenance advisories;</li>
                <li>make telephone calls to you, from time to time, to solicit your feedback; and</li>
                <li>send newsletters, surveys, offers, and other promotional materials related to our Services and for other marketing purposes of Company.</li>
              </ul>
            </li>
            <li>
              <span class="bullet-subheading">User Testimonials and Feedback</span>
              <span class="normal">We often receive testimonials and comments from users who have had positive experiences with our Services. We occasionally publish such content. When we publish this content, we may identify our users by their first and last name, and may also additional data such as their home city, professional experience, and education. We obtain the user’s consent prior to posting his or her name along with the testimonial. We may post user feedback on the Site from time to time. We will share your feedback with your first name and last initial only. If we choose to post your first and last name along with your feedback, we will obtain your consent prior to posting you name with your feedback. If you make any comments on a blog or forum associated with your Site, you should be aware that any Personal Data you submit there can be read, collected, or used by other users of these forums, and could be used to send you unsolicited messages. We are not responsible for the personally identifiable information you choose to submit in these blogs and forums.</span>
            </li>
            <li>
              <span class="bullet-subheading">Creation of Anonymous Data</span>
              <span class="normal">We may create Anonymous Data records from Personal Data by excluding information (such as your name) that makes the data personally identifiable to you. We use this Anonymous Data to analyze request and usage patterns so that we may enhance the content of our Services and improve Site navigation. We reserve the right to use Anonymous Data for any purpose and disclose Anonymous Data to third parties in our sole discretion.</span>
            </li>
          </ol>

          <h3>5. Disclosure of Your Personal Data</h3>
          <p>We disclose your Personal Data as described below and as described elsewhere in this Privacy Policy.</p>
          <ol class="letters-list">
            <li>
              <span class="bullet-subheading">Third Parties Designated by You</span>
              <span class="normal">When you use the Services, the Personal Data you provide will be shared with the third parties that you designate to receive such information, including other websites, your friends, relatives and business associates. Depending on the type of access you grant to such third parties, they may also be permitted to edit the information you have provided to us and to designate others to access and edit such information. You may change your settings at any time as to who has access to your information by going to your account settings and changing your publishing options.</span>
            </li>
            <li>
              <span class="bullet-subheading">Users</span>
              <span class="normal">We will share your Personal data with other Users solely for the purpose of providing the Services.</span>
            </li>
            <li>
              <span class="bullet-subheading">Third Party Service Providers</span>
              <span class="normal">We may share your Personal Data with third party service providers to: provide you with the Services that we offer you through our Site; to conduct quality assurance testing; to facilitate creation of accounts; to provide technical support; and/or to provide other services to the Company. These third party service providers are required not to use your Personal Data other than to provide the services requested by Company.</span>
            </li>
            <li>
              <span class="bullet-subheading">Affiliates</span>
              <span class="normal">We may share some or all of your Personal Data with our parent company, subsidiaries, joint ventures, or other companies under a common control (<span class="semibold">“Affiliates”</span>), in which case we will require our Affiliates to honor this Privacy Policy.</span>
            </li>
            <li>
              <span class="bullet-subheading">Corporate Restructuring</span>
              <span class="normal">We may share some or all of your Personal Data in connection with or during negotiation of any merger, financing, acquisition or dissolution transaction or proceeding involving sale, transfer, divestiture, or disclosure of all or a portion of our business or assets. In the event of an insolvency, bankruptcy, or receivership, Personal Data may also be transferred as a business asset. If another company acquires our company, business, or assets, that company will possess the Personal Data collected by us and will assume the rights and obligations regarding your Personal Data as described in this Privacy Policy.</span>
            </li>
            <li>
              <span class="bullet-subheading">Social Networking Sites</span>
              <span class="normal">Some of our Applications and Services may enable you to post content to SNSs (e.g., Facebook or Twitter). If you choose to do this, we will provide information to such SNSs in accordance with your elections. You acknowledge and agree that you are solely responsible for your use of those websites and that it is your responsibility to review the terms of use and privacy policy of the third party provider of such SNSs. We will not be responsible or liable for: (i) the availability or accuracy of such SNSs; (ii) the content, products or services on or availability of such SNSs; or (iii) your use of any such SNSs.</span>
            </li>
            <li>
              <span class="bullet-subheading">Other Disclosures</span>
              <span class="normal">Regardless of any choices you make regarding your Personal Data (as described below), Company may disclose Personal Data if it believes in good faith that such disclosure is necessary (a) in connection with any legal investigation; (b) to comply with relevant laws or to respond to subpoenas or warrants served on Company; (c) to protect or defend the rights or property of Company or users of the Site or Services; and/or (d) to investigate or assist in preventing any violation or potential violation of the law, this Privacy Policy, or our Terms of Use.</span>
            </li>
          </ol>

          <h3>6. Third Party Websites</h3>
          <p>Our Site may contain links to third party websites. When you click on a link to any other website or location, you will leave our Site and go to another site, and another entity may collect Personal Data or Anonymous Data from you. We have no control over, do not review, and cannot be responsible for, these outside websites or their content. Please be aware that the terms of this Privacy Policy do not apply to these outside websites or content, or to any collection of your Personal Data after you click on links to such outside websites. We encourage you to read the privacy policies of every website you visit. The links to third party websites or locations are for your convenience and do not signify our endorsement of such third parties or their products, content or websites.</p>

          <h3>7. Your Choices Regarding Information</h3>
          <p>You have several choices regarding the use of information on our Service:</p>
          <ol class="letters-list">
            <li>
              <span class="bullet-subheading">Email Communications</span>
              <span class="normal">We will periodically send you free newsletters and e-mails that directly promote the use of our Site or Services. When you receive newsletters or promotional communications from us, you may indicate a preference to stop receiving further communications from us and you will have the opportunity to “opt-out” by following the unsubscribe instructions provided in the e-mail you receive or by contacting us directly (please see contact information below). Despite your indicated e-mail preferences, we may send you service related communications, including notices of any updates to our Terms of Use or Privacy Policy.</span>
            </li>
            <li>
              <span class="bullet-subheading">Cookies</span>
              <span class="normal">If you decide at any time that you no longer wish to accept Cookies from our Service for any of the purposes described above, then you can instruct your browser, by changing its settings, to stop accepting Cookies or to prompt you before accepting a Cookie from the websites you visit. Consult your browser’s technical information. If you do not accept Cookies, however, you may not be able to use all portions of the Service or all functionality of the Service. If you have any questions about how to disable or modify Cookies, please let us know at the contact information provided below.</span>
            </li>
            <li>
              <span class="bullet-subheading">De-Linking SNS</span>
              <span class="normal">If you decide at any time that you no longer wish to have your SNS account (e.g., Facebook) linked to your Account, then you may de-link the SNS account in the “preferences” section in your account settings. You may also manage the sharing of certain Personal Data with us when you connect with us through an SNS, such as through Facebook Connect. Please refer to the privacy settings of the SNS to determine how you may adjust our permissions and manage the interactivity between the Services and your social media account or mobile device.</span>
            </li>
            <li>
              <span class="bullet-subheading">Changing or Deleting Your Personal Data</span>
              <span class="normal">You may change any of your Personal Data in your Account by editing your profile within your Account or by sending an e-mail to us at <a href="mailto:privacy@<%= current_domain %>">privacy@<%= current_domain %></a>. You may request deletion of your Personal Data by us, and we will use commercially reasonable efforts to honor your request, but please note that we may be required to keep such information and not delete it (or to keep this information for a certain time, in which case we will comply with your deletion request only after we have fulfilled such requirements). When we delete any information, it will be deleted from the active database, but may remain in our archives. We may also retain your information for fraud or similar purposes.</span>
            </li>
            <li>
              <span class="bullet-subheading">Applications</span>
              <span class="normal">You can stop all collection of information by the Application by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network.</span>
            </li>
          </ol>

          <h3>8. Security of Your Personal Data</h3>
          <ul>
            <li>For online payments and/or Automated Clearing House (ACH) payouts, we use the payment services of Stripe (https://stripe.com). We do not process, record or maintain your credit card or bank account information. For more information on how payments are handled, or to understand the data security and privacy afforded such information, please refer to https://stripe.com/us/privacy.</li>
            <li>Company is committed to protecting the security of your Personal Data. We use a variety of industry-standard security technologies and procedures to help protect your Personal Data from unauthorized access, use, or disclosure. We also require you to enter a password to access your Account information. Please do not disclose your Account password to unauthorized people. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, while Company uses reasonable efforts to protect your Personal Data, Company cannot guarantee its absolute security.</li>
          </ul>

          <h3>9. How will we use your identification document and transcripts/academic records?</h3>
          <ul>
            <li>Students in our degree programs are asked to verify their identity upon matriculation.</li>
            <li>We partner with IDology, a leading provider of identity verification solutions. Through IDology’s hosted ID verification process, students are asked to scan a government-issued photo ID. It then asks the student to take a live photo of themselves. From there, IDology verifies the authenticity of the scanned documents and performs a facial comparison of the ID to the live photo. Scanned ID card images are deleted following identity verification.</li>
            <li>Students in our degree programs are asked to submit official transcripts for each degree program completed from all institutions they previously attended and listed on their application. We need to receive a transcript for every completed degree earned. These transcripts are reviewed for authenticity and verified against the student's application record. If a discrepancy is found in any submitted documents, the Institute will contact the student to rectify the discrepancy.</li>
            <li>Academic transcripts are securely kept in a separate authenticated filestore. Data access is limited to a restricted list of administrators, and document viewing is logged. Official transcripts are retained as a permanent part of a student's record.</li>
            <li>Note: prior to partnering with IDology, degree program students were asked to upload an image of their ID to verify their identity. These documents were used solely for identity verification and were not shared or sold to any third party. Once the student's identity was verified, the scanned ID was deleted.</li>
          </ul>

          <h3>10. EU-U.S. Privacy Shield and Swiss-U.S. Privacy Shield</h3>
          <p>
            Pedago has self-certified to the EU-U.S. and Swiss-U.S. Privacy Shield frameworks set forth by the U.S Department of Commerce with respect to collection, use and retention of Customer Data. For more information, see our <a href="/help/article/312-privacy-shield">Privacy Shield Notice</a>. We may process some personal data from individuals or companies via other compliance mechanisms, including data processing agreements based on the EU Standard Contractual Clauses. To learn more about the Privacy Shield program, refer to <a href="https://www.privacyshield.gov/welcome" target="_blank">https://www.privacyshield.gov/welcome</a>.
          </p>

          <h3>11. A Note to Users Outside of the United States</h3>
          <p>If you are a non U.S. user of the Site, by visiting the Site and providing us with data, you acknowledge and agree that your Personal Data may be processed for the purposes identified in the Privacy Policy. In addition, your Personal Data may be processed in the country in which it was collected and in other countries, including the United States, where laws regarding processing of Personal Data may be less stringent than the laws in your country. By providing your data, you consent to such transfer.</p>

          <p>Individuals located in certain countries, including the European Economic Area, have certain statutory rights in relation to their personal data. Subject to any exemptions provided by law, you may have the right to request access to Information, as well as to seek to update, delete or correct this Information. You can usually do this using the settings and tools provided in your account, or by contacting us at <a href="mailto:privacy@<%= current_domain %>">privacy@<%= current_domain %></a>.</p>

          <p>To the extent that Pedago's processing of your Personal Data is subject to the General Data Protection Regulation, Pedago relies on its legitimate interests, described above, to process your data. Pedago may also process Other Information that constitutes your Personal Data for direct marketing purposes and you have a right to object to Pedago's use of your Personal Data for this purpose at any time.</p>

          <h3>12. Questions; Contacting Company; Reporting Violations</h3>
          <p>If you have any questions or concerns or complaints about our Privacy Policy or our data collection or processing practices, or if you want to report any security violations to us, or to communicate with our Data Protection Officer, please contact us at the following address or phone number:</p>
          <p><span class="semibold">Address:</span><br/>Pedago<br/>3000 K St NW Ste 275<br/>Washington, DC 20007</p>
          <p><span class="semibold">Telephone:</span><br/>571-483-8002</p>
          <p><span class="semibold">Email Address:</span><br/>privacy@<%= current_domain %></p>

          <h3>13. Data Protection Authority</h3>
          <p>VeraSafe has been appointed as Pedago's representative in the European Union for data protection matters, pursuant to Article 27 of the General Data Protection Regulation of the European Union. VeraSafe can be contacted in addition to <a href="mailto:privacy@<%= current_domain %>">privacy@<%= current_domain %></a>, only on matters related to the processing of personal data. To make such an inquiry, please contact VeraSafe using this contact form: https://www.verasafe.com/privacy-services/contact-article27-representative</p>

          <p>Alternatively, VeraSafe can be contacted at:</p>
          <div class="row">
            <div class="col-xs-6">
              VeraSafe Ireland Ltd<br>
              Unit 3D North Point House<br>
              North Point Business Park<br>
              New Mallow Road<br>
              Cork T23AT2P<br>
              Ireland<br>
            </div>
            <div class="col-xs-6">
              VeraSafe Czech Republic s.r.o<br>
              Klimentská 46<br>
              Prague 1, 11002<br>
              Czech Republic<br>
            </div>
          </div>
          <br class="clearfix">

          <h3>14. Changes to This Privacy Policy</h3>
          <p>This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy here and we will change the “Last Updated” date. You should consult this Privacy Policy regularly for any changes.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- /.legal-section -->
</div>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>