<div class="sticky-footer-page-wrapper">
    <div class="mute-header">
        <div class="mute-header__wrapper">
            <a href="/" title="Smartly" class="mute-header__logo"></a>
            <div class="mute-header__text">
                <span>Don't have an account?</span>
                <a href="/candidates/signup">Get Started</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <section class="hero hero--sm hero--homepage hero--how-it-works hero--meet-candidates hero--login">
        <div class="hero__background">
            <div class="hero__gradient hero__gradient--left">
                <span class="hero__shadow hero__shadow--bottom-left"></span>
            </div>
            <div class="hero__gradient hero__gradient--right">
            </div>
            <span class="hero__shadow hero__shadow--top-left"></span>
            <span class="hero__shadow hero__shadow--top-right"></span>
        </div>

        <div class="hero__wrapper container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="hero__content">
                        <div class="hero__headline color-text-highlight">
                            <h1>Reset your password.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="onboarding onboarding--login onboarding--reset-password">
        <div class="onboarding__wrapper">
            <div class="onboarding__card">
                <div class="onboarding__form-wrapper">
                    <p class="onboarding__text text-center">Choose your new password below.</p>
                    <div class="onboarding__horizontal-separator"></div>
                    <form class="sm-form" id="reset-password-form" novalidate>
                        <div class="sm-form__group">
                            <label for="password" class="sm-form__label">New password *</label>
                            <input
                                required
                                class="sm-form__input sm-form__input--password"
                                type="password"
                                name="password"
                                placeholder="*********"
                                error-required="Please enter your password"
                                pattern="/./gi">
                            <button class="sm-form__password-toggle" type="button"></button>
                            <div class="sm-form__error-message"></div>
                        </div>
                        <div class="sm-form__group">
                            <button class="sm-form__submit sm-form__submit--red sm-form__submit--lower-margin" type="submit" loading-text="Resetting" text="Reset Password" disabled>Reset Password</button>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <div class="page-switcher visible-xs visible-sm">
        <span>Don't have an account?</span>
        <a href="/candidates/signup">Sign up</a>
    </div>
</div>
<%= render :partial => "marketing/footer/footer", :locals => { :top => false, :bottom => true, :alternateBottom => true, :sticky => true } %>
