<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        link: "/candidates/signup?program=career_network_only",
        text: "Sign Up - It’s Free"
    }
%>

<% if !@referred_by_id.blank? %>
   <script type="text/javascript">
     try {
        window.localStorage.setItem('referredById', '<%= @referred_by_id %>');
     } catch (e) { console.error(e); }
   </script>
<% end %>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--school_landing hero--pricing">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                      <% if !@school_name.blank? %>
                        <h1>Welcome <%= @school_name %> Students and Alumni! <br class="hidden-xs">It's time to land your dream job.</h1>
                      <% else %>
                        <h1>Welcome to Smartly Talent. <br class="hidden-xs"> It’s time to land your dream job.</h1>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <section class="section section--simple-fast-fun-first text-center">
        <h1 class="section__title primary-title">Simple. Fast. Fun.</h1>

        <%= render partial: "marketing/galleries/3x3",
        locals: {
            col1: {
                title: "Apply to Smartly",
                galleryClass: "gallery--sign-up",
                description: "It’s fast and completely free. Once accepted, you'll be visible to every company in our network.",
                vectorPathMobile: '/assets/vectors/pricing/sign-up-illustration.svg'
            },
            col2: {
                title: "Match with employers",
                galleryClass: "gallery--match-with-candidates",
                description: "Companies reach out to you. If you like the opportunity, you’ll connect right away.",
                vectorPathMobile: '/assets/vectors/pricing/match-with-candidates-illustration.svg'
            },
            col3: {
                title: "Interview & get hired",
                galleryClass: "gallery--interview-and-hire",
                description: "Set up interviews in-app and move swiftly to close the deal.",
                vectorPathMobile: '/assets/vectors/pricing/interview-&-hiring-illustration.svg'
            }
        }
        %>
    </section>

    <section class="section section--join-career-network text-center">
        <div class="wrapper--in-good-company gallery-background-wrapper">
            <div class="skew-background"></div>

            <div class="gallery gallery--2x2-1image gallery--in-good-company container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-push-6">
                        <div class="gallery__illustration">
                            <%= render partial: "marketing/schools_svg", locals: { school: @school } %>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 gallery__information col-sm-pull-6">
                        <div class="gallery__title">
                            You're in Good Company
                        </div>
                        <div class="gallery__description">
                            Why do the hottest companies recruit in our network? We only accept the best students and alumni from top schools.
                        </div>
                        <div class="gallery__link">
                            <a class="link link--text-sm link--color-default" href="/candidates/signup?program=career_network_only">
                                Apply Now
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                                    <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <%= render partial: "marketing/galleries/2x2-1image",
        locals: {
            title: "Employers Pursue You.",
            description: "Sit back and watch the interview requests come in. Swipe right if you're interested, swipe left if you're not.",
            vectorPathMobile: '/assets/vectors/how_it_works/candidate/companies-pursue-you-illustration.svg',
            galleryClass: "gallery--employers-pursue"
        }
        %>

        <%= render partial: "marketing/galleries/2x2-1image",
        locals: {
            title: "You Get Paid to Get Hired.",
            description: "Apply today and get $500 when you get hired.",
            vectorPathMobile: '/assets/vectors/career_network/price-tag-illustration.svg',
            linkText: "Apply Now",
            linkUri: '/candidates/signup?program=career_network_only',
            vectorRight: true,
            galleryClass: "gallery--price-tag"
        }
        %>
    </section>
</div>

<div class="section section--credibility text-center">
  <div class="section__background"></div>

  <div class="section__content">
      <header>
          <h1 class="section__title primary-title">What people are saying</h1>
      </header>

      <div class="container">
          <%= render partial: "marketing/testimonials",
              locals: {
                  testimonials: [
                      {
                          authorName: "Lindsey Allard",
                          authorEducation: "Dartmouth College",
                          authorJob: "The Strategic Agency, Marketing",
                          authorPhoto: "/assets/images/photos/lindsey-allard.png",
                          authorPhoto2x: "/assets/images/photos/lindsey-allard@2x.png",
                          authorPhoto3x: "/assets/images/photos/lindsey-allard@3x.png",
                          authorQuote: "“Highly recommend this to anybody who wants to take their career to the next level!”",
                          frameColor: "green"
                      },
                      {
                          authorName: "Benjamin Piven",
                          authorEducation: "Columbia University",
                          authorJob: "Digital Content Editor, Open Society Foundations",
                          authorPhoto: "/assets/images/photos/benjamin-piven.png",
                          authorPhoto2x: "/assets/images/photos/benjamin-piven@2x.png",
                          authorPhoto3x: "/assets/images/photos/benjamin-piven@3x.png",
                          authorQuote: "“Smartly provides curious students of business with a convenient way to learn new skills, develop business acumen, and broaden their knowledge base.”",
                          frameColor: "blue"
                      }
                  ]
              }
          %>
      </div>
  </div>
</div>

<div class="hiring-form--no-bkg">
    <%= render partial: "marketing/banner/banner-hiring-form",
        locals: {
            title: "Ready to jump start your career?",
            subtitle: "Your future is waiting for you.",
            inputPlaceholder: "Your email",
            bgClass: "hiring-form-wrapper--bg hiring-form-wrapper--bg--blue",
            btnClass: "button--lg-primary",
            wrapperClass: "hiring-form-wrapper--candidate",
            link: '/candidates/signup?program=career_network_only'
        }
    %>
</div>

<%= render :partial => "marketing/footer/footer", :locals => { :top => false, :bottom => true, :alternateBottom => false,  :sticky => false } %>
