<div class="sticky-footer-page-wrapper">
    <div class="mute-header">
        <div class="mute-header__wrapper">
            <a href="/" title="<%= brand_name_short %>" class="mute-header__logo <%= is_quantic? ? 'quantic' : 'smartly' %>"></a>
            <div class="mute-header__text">
                <span>Already have an account?</span>
                <a href="/sign-in">Log In</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <section class="hero hero--homepage hero--how-it-works hero--signup hero--sm">
        <div class="hero__background">
            <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
                <span class="hero__shadow hero__shadow--bottom-left"></span>
            </div>
            <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
            </div>
            <span class="hero__shadow hero__shadow--top-left"></span>
            <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
        </div>
        <div class="hero__wrapper container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="hero__content">
                        <div class="hero__headline color-text-highlight">
                            <h1>Let's get you signed up. It's free!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="onboarding onboarding--employers">
        <div class="onboarding__wrapper">
            <%#
                <div class="onboarding__tabs">
                    <a href="/candidates/signup">Candidates</a>
                    <a class="active">Employers</a>
                </div>
            %>
            <div class="onboarding__card">
                <div class="onboarding__form-wrapper" marketing-sign-up-form url-prefix="hiring">

                    <% if @hiring_team_invite %>
                        <h1 class="onboarding__features-title">You've been invited by <%= @hiring_team_invite[:inviterName] %> to join Smartly Talent!</h1>
                        <br/>
                    <% end %>

                    <form class="sm-form" id="signup-form" novalidate name="signUpForm">
                        <% if !@hiring_team_invite %>
                            <div class="sm-form__group">
                                <label for="name" class="sm-form__label">Name *</label>
                                <input
                                    required
                                    class="sm-form__input"
                                    type="text"
                                    name="name"
                                    ng-model="name"
                                    placeholder="Enter full name"
                                    error-required="Please enter your name"
                                    ng-pattern="/./gi"
                                    pattern="/./gi">
                                <div class="sm-form__error-message"></div>
                            </div>
                        <% end %>
                        <div class="sm-form__group email">
                            <label for="work_email" class="sm-form__label">Your work email *</label>
                            <input
                                required
                                class="sm-form__input"
                                type="email"
                                name="email"
                                ng-disabled="disableEmailInput"
                                ng-model="email"
                                placeholder="<%= @hiring_team_invite ? @hiring_team_invite[:fixedEmail] : 'email@provider.com' %>"
                                ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                                email-validation="{errors: form_errors, requireCompanyEmail: true}"
                                value="<%= params[:email] %>">
                            <div class="sm-form__error-message">{{form_errors.email}}</div>
                        </div>
                        <div class="sm-form__group">
                            <label for="company" class="sm-form__label">Company *</label>
                            <input
                                ng-if="fixedCompanyName"
                                disabled="true"
                                ng-model='fixedCompanyName'
                                value='<%= @hiring_team_invite ? @hiring_team_invite[:fixedCompanyName] : '' %>'
                                class="sm-form__input"
                            >

                            <div ng-if="!fixedCompanyName">
                                <organization-autocomplete
                                    options-type="'professional_organization'"
                                    ng-model="$parent.professional_organization">
                                </organization-autocomplete>
                            </div>
                            <div class="sm-form__error-message">{{form_errors.company}}</div>
                        </div>
                        <% if !@hiring_team_invite %>
                            <div class="sm-form__group">
                                <label for="job_title" class="sm-form__label">Job title *</label>
                                <input
                                    required
                                    class="sm-form__input"
                                    type="text"
                                    name="job_title"
                                    ng-model="job_title"
                                    placeholder="Current job title"
                                    error-required="Please enter your current job title"
                                    ng-pattern="/./gi"
                                    pattern="/./gi">
                                <div class="sm-form__error-message"></div>
                            </div>
                        <% end %>

                        <% if !@hiring_team_invite %>
                            <div class="sm-form__group location">
                                <label for="location" class="sm-form__label">Location *</label>
                                <input
                                    ng-if="false"
                                    disabled="true"
                                    placeholder="City, State"
                                    class="sm-form__input"
                                >

                                <location-autocomplete
                                    ng-model="place_id"
                                    name="location"
                                    details-model="place_details"
                                    required
                                ></location-autocomplete>
                                <div class="sm-form__error-message">{{form_errors.location}}</div>
                            </div>
                        <% end %>
                        <div class="sm-form__group">
                            <label for="password" class="sm-form__label">Choose Password *</label>
                            <!-- this is terrible.  Some browsers will autofill emails in any field before a password field, so we need a blank field to defend against it -->
                            <input name="block-autocomplete" style="padding: 0px; opacity: 0.0; width: 1px; height: 1px; left: -20px; position: absolute;" tabindex="-1" />
                            <input
                                required
                                class="sm-form__input sm-form__input--password"
                                type="password"
                                name="password"
                                ng-model="password"
                                placeholder="*********"
                                error-required="Please enter your password"
                                ng-pattern="/./gi"
                                pattern="/./gi">
                            <a class="sm-form__password-toggle"></a>
                            <div class="sm-form__error-message"></div>
                        </div>

                        <% if @require_recaptcha %>
                            <div class="sm-form__group">
                                <captcha-wrapper></captcha-wrapper>
                            </div>
                        <% end %>

                        <%= render "privacy_notice" %>

                        <div class="sm-form__group">
                            <button class="sm-form__submit sm-form__submit--blue" type="submit" loading-text="Sending" text="Sign Up" ng-disabled="!signUpForm.$valid || preventSubmit || !$window.captchaComplete"">Sign Up</button>
                            <div class="sm-form__error-message sm-form__error-message--form-error"></div>

                            <div class="terms-notice">I accept the site <a href="/terms">terms</a> and <a href="/privacy">privacy policy</a>.</div>
                        </div>
                    </form>
                </div>
                <div class="onboarding__separator"></div>
                <div class="onboarding__features-wrapper">
                    <div class="onboarding__features">
                        <div class="onboarding__features-image-wrapper">
                            <img class="onboarding__features-image" src="<%= get_webpack_asset_value_for_key '/assets/vectors/signup/employers-illustration.svg' %>" alt="Sign up to source top talent.">
                        </div>
                        <h1 class="onboarding__features-title">A Better Way to Hire</h1>
                        <ul class="onboarding__features-list onboarding__features-list--red">
                            <li>Top business &amp; tech talent</li>
                            <li>Flexible pricing</li>
                            <li>No direct hire fees</li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <div class="page-switcher visible-xs visible-sm">
        <span>Already have an account?</span>
        <a href="/sign-in">Log In</a>
    </div>
</div>
<%= render :partial => "marketing/footer/footer", :locals => { :top => false, :bottom => true, :alternateBottom => true, :sticky => true } %>
