<div class="sticky-footer-page-wrapper">
    <div class="mute-header">
        <div class="mute-header__wrapper">
            <a href="/" title="<%= brand_name_short %>" class="mute-header__logo <%= is_quantic? ? 'quantic' : 'smartly' %>"></a>
            <div class="mute-header__text">
                <span>Already have an account?</span>
                <a href="/sign-in">Log In</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <section class="hero hero--sm hero--homepage hero--how-it-works hero--meet-candidates hero--signup">
        <div class="hero__background">
            <div class="hero__gradient hero__gradient--left">
                <span class="hero__shadow hero__shadow--bottom-left"></span>
            </div>
            <div class="hero__gradient hero__gradient--right">
            </div>
            <span class="hero__shadow hero__shadow--top-left"></span>
            <span class="hero__shadow hero__shadow--top-right"></span>
        </div>

        <div class="hero__wrapper container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="hero__content">
                        <div class="hero__headline color-text-highlight">
                            <h1>Let's get you signed up. It's free!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="onboarding onboarding--candidates">
        <div class="onboarding__wrapper">
            <%#
            <div class="onboarding__tabs">
                <a class="active">Candidates</a>
                <a href="/employers/signup">Employers</a>
            </div>
            %>
            <div class="onboarding__card">
                <%= render "marketing/marketing_sign_up_form" %>

                <div class="onboarding__separator"></div>
                <div class="onboarding__features-wrapper">
                    <div class="onboarding__features">
                        <div class="onboarding__features-image-wrapper">
                            <img class="onboarding__features-image" src="<%= get_webpack_asset_value_for_key '/assets/vectors/signup/candidates-illustration.svg' %>" alt="Sign up to source top talent.">
                        </div>
                        <h1 class="onboarding__features-title">Sign up for free to...</h1>
                        <ul class="onboarding__features-list onboarding__features-list--blue">
                            <li>Apply to the MBA or Executive MBA degree programs.</li>
                            <li>Access our free course library.</li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <div class="page-switcher visible-xs visible-sm">
        <span>Already have an account?</span>
        <a href="/sign-in">Log In</a>
    </div>
</div>
<%= render :partial => "marketing/footer/footer", :locals => { :top => false, :bottom => true, :alternateBottom => true, :sticky => true } %>
