<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        text: "Sign Up - It’s Free",
        banner: {
            application_deadline_message: @application_deadline_message,
            linkText: "Apply now",
            linkUri: "/candidates/signup",
            cssClass: "banner-message--red"
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--join-career-network">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>State Authorization and Accreditation</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">

    <section class="section section--state-licensing-text">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <h2>State Licensure as a Degree-Granting Institution</h2>
                    <p>Regulated by the Office of the State Superintendent of Education (OSSE) of Washington, DC, <%= brand_name_long %> is a licensed, degree-granting institution of higher education. Graduating students obtain the internationally recognized MBA and Executive MBA academic credentials.</p>
                </div>
            </div>
        </div>
    </section>

	<section class="section section--state-licensing-text">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1">
					<h2>Authorization, License, Accreditation, and Membership</h2>
					<p>We work with states directly to ensure whether authorization or licensure is necessary and that required approvals are obtained. While we do monitor the laws in each state, authorization of distance education is a dynamic environment and prospective students should check Quantic's website often for updates.</p>

                    <p>Quantic School of Business and Technology is currently authorized or exempt from authorization, and accepting new applications to the MBA and Executive MBA from the following states/territories:</p>
				</div>

                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <ul class="state-list">
                        <li>Alabama</li>
                        <li>Alaska</li>
                        <li>American Samoa</li>
                        <li>Arizona</li>
                        <li>Arkansas</li>
                        <li>California</li>
                        <li>Colorado</li>
                        <li>Connecticut</li>
                        <li>Delaware</li>
                        <li>District of Columbia</li>
                        <li>Florida</li>
                        <li>Georgia</li>
                        <li>Guam</li>
                        <li>Hawaii</li>
                        <li>Idaho</li>
                        <li>Illinois</li>
                        <li>Indiana</li>
                        <li>Iowa</li>
                        <li>Kansas</li>
                        <li>Kentucky</li>
                        <li>Louisiana</li>
                        <li>Maine</li>
                        <li>Maryland</li>
                        <li>Massachusetts</li>
                        <li>Michigan</li>
                        <li>Minnesota</li>
                        <li>Mississippi</li>
                        <li>Missouri</li>
                        <li>Montana</li>
                        <li>Nebraska</li>
                        <li>Nevada</li>
                        <li>New Hampshire</li>
                        <li>New Jersey</li>
                        <li>New Mexico</li>
                        <li>New York</li>
                        <li>North Carolina</li>
                        <li>North Dakota</li>
                        <li>N. Marianas Islands</li>
                        <li>Ohio</li>
                        <li>Oklahoma</li>
                        <li>Oregon</li>
                        <li>Pennsylvania</li>
                        <li>Puerto Rico</li>
                        <li>Rhode Island</li>
                        <li>South Carolina</li>
                        <li>South Dakota</li>
                        <li>Tennessee</li>
                        <li>Texas</li>
                        <li>Utah</li>
                        <li>Vermont</li>
                        <li>Virginia</li>
                        <li>Virgin Islands</li>
                        <li>Washington</li>
                        <li>West Virginia</li>
                        <li>Wisconsin</li>
                        <li>Wyoming</li>
                    </ul>
                </div>
			</div>
		</div>
	</section>

    <section class="section section--state-licensing-text">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <h2>Note for International Students</h2>
                    <p>Quantic School of Business and Technology accepts applications from students living around the world. Due to US government guidelines, we do not currently enroll students from Iran, Sudan, Syria, North Korea, Cuba.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="section section--credibility text-center">
        <div class="section__background"></div>

        <div class="section__content">
            <header>
                <h1 class="section__title primary-title">What people are saying</h1>
            </header>

            <div class="container">
                <%= render partial: "marketing/testimonials",
                    locals: {
                        testimonials: [
                            {
                                authorName: "Robin Lu",
                                authorEducation: "University of California, Berkeley",
                                authorPhoto: "/assets/images/photos/robin-lu.png",
                                authorPhoto2x: "/assets/images/photos/robin-lu@2x.png",
                                authorPhoto3x: "/assets/images/photos/robin-lu@3x.png",
                                authorQuote: "“My journey with #{brand_name_short} has been incredible. The course material equipped me with knowledge that led to a 66% salary increase.”",
                                frameColor: "green"
                            },
                            {
                                authorName: "Alexandra Ekman",
                                authorEducation: "Karolinska Institutet",
                                authorJob: "Client Manager at Redeye AB",
                                authorPhoto: "/assets/images/photos/alexandra-ekman.png",
                                authorPhoto2x: "/assets/images/photos/alexandra-ekman@2x.png",
                                authorPhoto3x: "/assets/images/photos/alexandra-ekman@3x.png",
                                authorQuote: "“The freedom to take the courses wherever you are, together with the innovative pedagogy makes the #{brand_name_short} EMBA unique.”",
                                frameColor: "yellow"
                            }
                        ]
                    }
                %>
            </div>

            <footer>
                <a class="link link--text-sm link--color-default" href="/reviews">
                    <span>more <%= brand_name_short %> love</span>
                    <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'right-arrow-blue-icon.svg') %>
                </a>
            </footer>
        </div>
    </section>
</div>

<div class="hiring-form--no-bkg">
    <%= render partial: "marketing/banner/banner-hiring-form",
    locals: {
        title: "Ready to jump start your career?",
        subtitle: "Your future is waiting for you.",
        inputPlaceholder: "Your email",
        bgClass: "hiring-form-wrapper--bg hiring-form-wrapper--bg--blue",
        btnClass: "button--lg-primary",
        wrapperClass: "hiring-form-wrapper--candidate",
        link: '/candidates/register',
    }
    %>
</div>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>