<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        text: "Apply to the MBA",
        link: "/candidates/signup",
        banner: {
            application_deadline_message: @application_deadline_message,
            linkText: "Apply now",
            linkUri: "/candidates/signup",
            cssClass: "banner-message--red"
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--student-experience">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
            <span class="hero__gradient hero__gradient--right hero__gradient--desktop"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink hero__gradient--mobile">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <div class="row hero__inner-wrapper">
                            <h1 class="hero__title mobile-title">App-based. <br/> Network-focused.</h1>
                            <div class="col-xs-12 col-sm-6 gallery__text">
                                <h1 class="hero__title desktop-title">App-based. <br/> Network-focused.</h1>
                                <div class="hero__description">There’s nothing else quite like Quantic. The world’s only accredited app-based graduate school, with a network and collaborative approach that rivals top business schools.</div>
                            </div>
                            <div class="col-xs-12 col-sm-6 gallery__video-wrapper">
                                <div class="gallery__video gallery__video--small-button gallery__video--red-button" data-video-url="<%= is_quantic? ? 'https://www.youtube.com/watch?v=4ghCJPTN0jA' : 'https://www.youtube.com/watch?v=V4B89iLJGcM' %>">
                                    <picture>
                                        <source media="(max-width: 767px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/curriculum/student-experience-video-thumbnail-mobile.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/curriculum/student-experience-video-thumbnail-mobile@2x.png' %> 2x">
                                        <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/curriculum/student-experience-video-thumbnail-desktop@2x.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/curriculum/student-experience-video-thumbnail-desktop@2x.png' %>" alt="Our method" width="487" height="274">
                                    </picture>
                                </div>
                                <p class="hero__video-tagline">Experience the #ModernMBA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="student-experience-page__content">
    <section class="student-experience-page__galleries">
        <div class="wrapper--effective-learning">
            <%= render partial: "marketing/galleries/2x2-1image",
                locals: {
                    title: "Effective, Efficient Learning",
                    description: "With decades of experience in educational technology, #{brand_name_short} has reinvented online education with interactive, feedback-based learning or 'Active Learning'. This approach helps students learn more, faster, and from any device.",
                    vectorPathMobile: '/assets/vectors/student-experience/iphone-test-to-teach.svg',
                    galleryClass: "gallery--effective-learning",
                    linkText: "More on our method and efficacy",
                    linkUri: '/efficacy',
                }
            %>
        </div>

        <div class="wrapper--classmate-collaboration">
            <%= render partial: "marketing/galleries/2x2-1image",
                locals: {
                    title: "Classmate Collaboration",
                    description: "Challenge and be challenged! #{brand_name_short}'s selective admissions and network-focused approach comes to life in virtual discussions, case studies, and group projects. Students gain a global perspective and form lasting personal and professional relationships.",
                    vectorRight: true,
                    vectorPathDesktop: '/assets/vectors/student-experience/collaboration.svg',
                    vectorPathMobile: '/assets/vectors/student-experience/collaboration-mobile.svg',
                    galleryClass: "gallery--classmate-collaboration"
                }
            %>
        </div>
        <div class="wrapper--student-resources">
            <%= render partial: "marketing/galleries/2x2-1image",
                locals: {
                    title: "Student Resources",
                    description: "Learning with #{brand_name_short} is enhanced by our library, research advisors, and access to paid databases. Students also enjoy  access to our courses for life - so you can always stay ahead of the curve by learning new, in-demand skill sets.",
                    vectorPathMobile: '/assets/vectors/candidates/our-method/mobile/mastery-based-progression-mobile-illustration.svg',
                    vectorPathDesktop: '/assets/vectors/candidates/our-method/desktop/mastery-based-progression-illustration.svg',
                    galleryClass: "gallery--student-resources"
                }
            %>
        </div>
        <div class="wrapper--post-graduate-opportunities">
            <%= render partial: "marketing/galleries/2x2-1image",
                locals: {
                    title: "Post-Graduate Opportunities",
                    description: "Upon graduation, #{brand_name_short} <em>MBA</em> and <em>Executive MBA</em> students see increases in pay, promotions, and take on bigger roles. To aid learners in their careers, Quantic offers resume and cover letter consultations, a built-in <em>career network</em>, and a global alumni network where students can connect with peers and search for a new co-founder, mentor, investor, or job opportunities!",
                    vectorPathMobile: '/assets/vectors/student-experience/rocket-opportunities.svg',
                    vectorRight: true,
                    galleryClass: "gallery--post-graduate-opportunities",
                }
            %>
        </div>

        <div class="section--active-learning text-center">
            <hr class="divider divider--small divider--light-fade">

            <header>
                <h2 class="section__title secondary-title">Active Learning flips the old educational paradigm with dramatic effects in both efficacy and retention.</h2>
            </header>

            <a class="link link--text-sm link--color-default" href="/efficacy-2016-download" target="_blank">
                <span>see the study</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                    <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"/>
                </svg>
            </a>
        </div>
    </section>
    <section class="section section--credibility text-center">
        <div class="section__background"></div>

        <div class="section__content">
            <header>
                <h1 class="section__title primary-title">What people are saying</h1>
            </header>

            <div class="container">
                <%= render partial: "marketing/testimonials",
                    locals: {
                        testimonials: [
                            {
                                authorName: "Lindsey Allard",
                                authorEducation: "Dartmouth College",
                                authorPhoto: "/assets/images/photos/lindsey-allard.png",
                                authorPhoto2x: "/assets/images/photos/lindsey-allard@2x.png",
                                authorPhoto3x: "/assets/images/photos/lindsey-allard@3x.png",
                                authorQuote: "“I loved the #{brand_name_short} program. I have never experienced interactive learning the way #{brand_name_short} provides. Highly recommend this to anybody who wants to take their career to the next level!”",
                                frameColor: "red"
                            },
                            {
                                authorName: "Samuel Miles",
                                authorEducation: "Yale University",
                                authorJob: "African Leadership University, Facilitator",
                                authorPhoto: "/assets/images/photos/samuel-miles.png",
                                authorPhoto2x: "/assets/images/photos/samuel-miles@2x.png",
                                authorPhoto3x: "/assets/images/photos/samuel-miles@3x.png",
                                authorQuote: "“#{brand_name_short} is pedagogy done right for the modern omni-learner.  As an educator I could really see the best practices so often talked about baked in seamlessly.”",
                                frameColor: "yellow"
                            },
                        ]
                    }
                %>
            </div>
            <footer>
                <a class="link link--text-sm link--color-default" href="/prices/students">
                    <span>Compare Our Programs</span>
                    <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'right-arrow-blue-icon.svg') %>
                </a>
            </footer>
        </div>
    </section>
</div>

<div class="hiring-form--no-bkg">
    <%= render partial: "marketing/banner/banner-hiring-form",
        locals: {
            title: "Ready to jump start your career?",
            subtitle: "Start learning with #{brand_name_short} today.",
            inputPlaceholder: "Your email",
            bgClass: "hiring-form-wrapper--bg hiring-form-wrapper--bg--blue",
            btnClass: "button--lg-primary",
            wrapperClass: "hiring-form-wrapper--candidate",
            link: "/candidates/register"
        } %>
</div>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
