<%= render partial: "marketing/header/header",
  locals: {
    signBtnClass: "button--sm-primary button--sm-primary-blue",
    text: "Sign Up - It’s Free",
    link: "/candidates/register",
    banner: {
        cssClass: 'banner-message--blue'
    }
  }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--legal">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>Terms and Conditions</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
  <!-- .legal-section -->
  <section class="section section--legal-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <h2>Introduction</h2>
            <p>These Terms of Use (the “Terms”) govern use of the Pedago (“Company”) website, located at <%= current_domain %> (“Website”), mobile application, <%= brand_name_short %> (“Application”), and our widgets (“Widgets”), hereinafter the Website, Application and Widgets collectively referred to as, the “Site”, and the online services provided via the Site ( “Services”) by visitors and users, including, but not limited to, Employers or Candidates (“You” or “Your”) of the Site and Services.</p>

            <h3>1. Acceptance of Terms of Use</h3>
            <p>Please carefully read the following Terms before using the Site and Services. By accessing and using this Site, you acknowledge that You have read, understood and agree to be bound by these Terms which form an agreement that is effective as if You had signed it. If at any time You do not agree to these Terms, please do not access or use the Site or Services, or any content thereof (<span class="semibold">“Content”</span>).</p>
            <p>YOUR ACCESS TO, USE OF AND BROWSING OF THE SITE, AVAILABLE SERVICES AND THE CONTENT ARE SUBJECT TO ALL TERMS OF USE CONTAINED HEREIN AND ALL APPLICABLE LAWS AND REGULATIONS.  IF YOU DO NOT AGREE TO THESE TERMS OF USE, YOUR PERMISSION TO ACCESS OR USE THE SITE, SERVICES AND CONTENT IS AUTOMATICALLY AND IMMEDIATELY REVOKED.</p>
            <p>These Terms may be revised or updated from time to time. Accordingly, You should check the Terms regularly for updates.  You can determine when the Terms were last revised by referring to the “Last Revised” legend at the top of this page.  Any changes in these Terms take effect upon posting and will only apply to use of the Site, Services and Content after that date.  Each time You access, use or browse the Site, Services or Content, You expressly acknowledge and agree to the then-current Terms.</p>

            <h3>2. Permitted Users</h3>
            <p>The Site, Services and Content are directed to persons 18 years of age or older.  This Site and the Company do not knowingly collect information from persons under age 18 or children under age 13.  If You are under 18 years of age, You may visit, browse and use the Content on the Site , but You may not submit any personal information to, or for, the Services.  If You are under age 13, You are not permitted to use or access this Site or the Content or to submit any personally identifiable information to, or for, the Services.</p>

            <h3>3. Permitted Use</h3>
            <p>The Content is the sole and exclusive property of Company and/or Company’s licensors. You agree not to reproduce, duplicate, copy, sell, resell or exploit for any commercial purpose, any portion of the Site or the Content other than as expressly authorized by Company in writing. Use of the Site, Services or the Content in any way not expressly permitted by these Terms is prohibited, and may be actionable under United States or international law.</p>
            <p>So long as You agree and comply with these Terms, and unless these Terms are otherwise terminated or modified by Company, You are permitted to view and use the Site and Content solely for Your own information and for purchase of the products or Services offered here.  You may not duplicate, publish, modify, distribute, perform or create derivative works from any part of the Site or the Content unless expressly authorized by Company in writing. You agree that You will not remove or modify any acknowledgements, credits or legal notices contained on the Site or in the Content.</p>
            <p>Special terms may apply to some products or Services offered on the Site, or to any sweepstakes, contests or promotions that may be offered on the Site.  Such special terms (which may include official rules) may be posted in connection with the applicable product, service, sweepstakes, contest, promotion, feature or activity.  Any such special terms are in addition to these Terms and, in the event of a conflict, any such terms shall prevail over these Terms.</p>

            <h3>4. Privacy Policy</h3>
            <p>Please review the Privacy Policy for the Site at https://<%= current_domain %>/privacy. If You do not agree with the Privacy Policy at https://<%= current_domain %>/privacy, You may not use the Site.</p>

            <h3>5. Proprietary Rights</h3>
            <p>You acknowledge and agree that, as between Company and You, all right, title, and interest in and to the Site and the Content, including without limitation any patents, copyrights, trademarks, service ,marks, trade names, trade dress, trade secrets, domain names, inventions, know-how, and all other intellectual property rights, of whatever kind, type or nature are owned exclusively by Company or its licensors and are protected by, at least, United States intellectual property laws and other applicable laws.</p>
            <p><span class="semibold">Copyright:</span> All Content included in the Site, such as text, graphics, pictures, logos, icons, images, media, data, audio, animation, software and other information and materials, is the copyright and property of Company or its content suppliers and protected by U.S. and international copyright laws.  Permission is granted to electronically copy and print hard copy portions of the Site for the sole purpose of placing an order for Services; using the Site as a resource; or using the Site for personal information.  Any other use, including the reproduction, modification, distribution, transmission, republication, display or performance, of the Content of the Site, is strictly prohibited.</p>

            <p><span class="semibold">Trademarks:</span> The trademarks, service marks, logos, slogans, trade names and trade dress (collectively, <span class="semibold">“Trademarks”</span>) used on the Site are proprietary to Company or its content suppliers.  Without limiting the foregoing, Quantic®, Pedago® and Smartly® are registered trademarks of Company.  Unauthorized use of any Trademarks of Company may be a violation of trademark laws.  Any third party names or trademarks referenced in the Site do not constitute or imply affiliation, endorsement or recommendation by Company or of Company by the third parties.</p>

            <h3>6. Your Indemnity of Company</h3>
            <p>YOU AGREE TO INDEMNIFY, DEFEND AND HOLD COMPANY, ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, SUBSIDIARIES, AFFILIATES, LICENSORS, SERVICE PROVIDERS, CONTENT SUPPLIERS AND OTHERS ACTING IN CONCERT WITH COMPANY, OR ANY OF THEM, HARMLESS FROM ANY LOSS, LIABILITY, CLAIM OR DEMAND, INCLUDING WITHOUT LIMITATION REASONABLE ATTORNEYS' FEES, MADE BY YOU OR ON YOUR BEHALF OR BY ANY THIRD PARTY DUE TO OR ARISING OUT OF (A) YOUR CONNECTION OR SUBMISSION TO OR USE OF THE SITE OR THE CONTENT; OR (B) YOUR VIOLATION OF THESE TERMS OF USE, ANY APPLICABLE LAWS, OR THE RIGHTS OF COMPANY OR ANY THIRD PARTY.</p>

            <h3>7. User Generated Content</h3>
            <p><span class="semibold">Communications Services:</span> The Site may contain galleries for blogs, chat areas, forums, comments and rankings, contests, communities, calendars, and/or other message or communication facilities designed to enable You and others to communicate with Company, the Site and other users of the Site (collectively, "Communication Services").  Where the Site seeks Your submissions, You acknowledge that Your submissions may be or become available to others.  You agree to use the Communication Services only for Your personal use in connection with Your personal information and enjoyment of the Site.  You agree only to post, send and receive messages and materials that are proper and related to the particular Communication Services.</p>

            <p><span class="semibold">You, As Employer, Partial (Free) Access:</span> When You are as an approved Employer seeking a new hire, Your access and Registration to the Site are free and You can create an unlimited number of job posts (“Posts”) on the Site, also for free. Once You are registered and have made at least one (1) Post on the Site, You may view the first three (3) Candidates to each Post that show interest in the Post.  Thereafter, You are also able to invite, through the Site, any, or all, of these first 3 Candidates for an interview with You.  These initial invitations for an interview must be made through the Site.  Employers herein agree to immediately notify Company of any and all job offers made to a prospective hire made via the Site.  Employers also agree to immediately notify Company when a Candidate is hired.  This Partial (Free) Access to the Site does not allow or include Your ability to browse or search Candidate profiles.  All such notices to be made by Employer to Company within three (3) business days of the job offer and within three (3) business days of the hire, and sent via email to Company at hiring@<%= current_domain %>.   If, for whatever reason, the employment does not take effect, Employer shall promptly notify Company of the same.</p>

            <p><span class="semibold">You, As Employer, Complete Access:</span> For Complete Access to the Site, including searching for and/or browsing the Candidate database and profiles or to see the total number of Candidates interested in a position, an Employer must choose one of the following payment plans:</p>

            <ul>
              <li><span class="semibold">Pay Per Match Plan:</span> Employers pay a fee to Company of twenty ($20.00) dollars for each Candidate they connect with via the Site, including, but not limited to, connecting with a Candidate by inviting them for an interview or by communicating with them in response to a Candidate’s interest in You; or</li>
              <li><span class="semibold">Unlimited Access Plan:</span> Employers pay a fixed, monthly fee of three hundred ($300.00) dollars to connect with as many Candidates as desired by the Employer.  The Unlimited Access Plan may be cancelled at any time by the Employer, but Company will not prorate, nor pay back, any of the monthly fee regardless of when in the month the Employer effects its cancellation.</li>
            </ul>

            <p>Under either the Pay Per Match or Unlimited Access Plan, Employers herein agree to immediately notify Company of any and all job offers made to a prospective hire via the Site. Employers also agree to immediately notify Company when a Candidate is hired. All such notices to be made by Employer to Company within three (3) business days of the job offer and within three (3) business days of the hire, and sent via email to Company at <a href="mailto:hiring@<%= current_domain %>">hiring@<%= current_domain %></a>. If, for whatever reason, the employment does not take effect, Employer shall promptly notify Company of the same.</p>

            <p><span class="semibold">Employer Prohibited Actions:</span> In addition to any other Prohibited Actions under these Terms, and regardless of the Plan chosen, You, as an Employer expressly agree herein not to circumvent the Site in offering employment to a prospective hire found via the Site. Should Company determine Employer to be in violation of this provision, Company reserves the right to remove You from any and all use of or access to the Site. In addition to the above, if Employer has selected and is operating under the Pay Per Match Plan and circumvents use of the Site to connect with any Candidate(s) outside of the Site, Company shall charge Employer, and Employer herein expressly agrees to immediately pay to Company, liquidated damages of one hundred ($100.00) dollars, which is the equivalent of five (5) matches under the Pay Per Match Plan.  Company reserves the right to remove any Employer who circumvents the express requirements of use of the Site, as prescribed in these Terms.</p>

            <p><span class="semibold">You, As Candidate:</span> When you are a Candidate seeking a job offer, Your access to the Site is free. For any job offer You accept from an Employer through the Site, you herein agree to immediately notify Company of the same by sending an email to Company at talent@<%= current_domain %>.  You may qualify for a discretionary signing bonus from Company for a job you accept that was obtained via the Site as a Candidate.  Such discretionary bonus to be paid to you by Company after you are employed by the Employer for one hundred twenty (120) calendar days.</p>

            <p><span class="semibold">Prohibited Actions:</span> You agree that the following actions are prohibited and constitute a material breach of these Terms.  This list is not meant to be exhaustive, and Company reserves the right to determine what types of conduct it considers to be inappropriate use of the Site, Services or Content. In the case of inappropriate use, the Site moderator may take such measures as it determines in its sole discretion.  </p>
            <p>By way of example, and not as a limitation, You agree that when using any Communication Services, You will not:</p>

            <ol>
              <li>Use the Site or the Content for any purpose or take any other actions in violation of local, state, national, or international laws or regulations.</li>
              <li>Violate any code of conduct or other guidelines which may be applicable for any particular Communication Service.</li>
              <li>Take any action that imposes an unreasonable or disproportionately large load on the Site's infrastructure or otherwise in a manner that may adversely affect performance of the Site or restrict or inhibit any other user from using and enjoying the Communication Services or the Site.</li>
              <li>Use the Site for unauthorized framing of or linking to, or access via automated devices, bots, agents, scraping, scripts, intelligent search or any similar means of access to the Content or any other materials or information available from the Site.</li>
              <li>Aggregate, copy, duplicate, publish, or make available to third parties outside the Site in any manner any of the Content or any other materials or information available from the Site.</li>
              <li>Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others.</li>
              <li>Publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material or information.</li>
              <li>Upload or download files that contain software or other material protected by intellectual property laws or other laws, unless You own or control the rights thereto or have received all necessary consents.</li>
              <li>Upload files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of another's computer</li>
              <li>Use the Site to make available unsolicited advertising or promotional materials, spam, pyramid schemes, chain letters, or similar forms of unauthorized advertising or solicitation.</li>
              <li>Harvest or otherwise collect information about others, including e-mail addresses, without their consent.</li>
              <li>Falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded.</li>
              <li>Engage in any other action that, in the judgment of Company, exposes it or any third party to potential liability or detriment of any type.</li>
            </ol>

            <p><span class="semibold">User Materials:</span> Any content or views posted, shared, transmitted or otherwise made available by users through the Site, including, but not limited to, resumes, phone numbers, email addresses, contact addresses or social media addresses or information (“User Materials”) are strictly those of the originating author, who is solely responsible for their content. Use of or reliance on User Materials is entirely at Your own risk. Company does not endorse any User Materials nor vouch for their reliability. Under no circumstances is Company liable in any way or manner, for any use, misuse or other malfeasance related to any such User Materials, it being expressly understood and agreed to herein by You that all such User Materials are posted, shared, transmitted or otherwise made available by You with Your full and complete knowledge, consent and liability for the same.</p>

            <p>You acknowledge that Company may or may not pre-screen User Materials, but that it and its designees have the right (but not the obligation) in their sole discretion to pre-screen, refuse, delete and/or move any User Materials that are available via the Site. Without limiting the foregoing, Company and its designees have the right to remove any User Materials that violate these Terms or are otherwise objectionable in Company’s sole discretion. Company shall have no liability for such removal.</p>

            <p>You understand that by using the Site, You may be exposed to User Materials that You may consider to be offensive or objectionable. You agree that You must evaluate, and bear all risks associated with, the use or exposure to any User Materials posted by others.  You further acknowledge and agree that You will not rely on any Content available on or through the Site..</p>

            <p><span class="semibold">Submissions:</span> You are solely responsible for the User Materials that You post, share, email, transmit or otherwise make available via the Site (“Submission”).  All Submissions are subject to these Terms. Company is under no obligation to post or use any Submission and may remove any Submission at any time in its sole discretion.</p>
            <p>By making a Submission, You represent and warrant that Your Submission is true, is Your own original work, and does not infringe any other person’s or entity’s rights, and that You and any other person mentioned or shown in Your Submission release any and all claims concerning Company’s or its designees’ use, modification or distribution of the Submission or any part thereof.  You must own all rights, including copyright, to Your Submission, and must hold all necessary releases concerning the contents of Your Submission.  You agree that You must evaluate, and bear all risks associated with, Your disclosure of any Submission.</p>
            <p>By making a Submission, You grant Company and its licensees, assignees and designees an irrevocable, assignable, fully sub-licensable, perpetual, world-wide, royalty-free, non-exclusive license, in their sole discretion, to use, distribute, reproduce, modify, combine, adapt, publish, translate, rent, lease, sell, publicly perform and publicly display Your Submission (in whole or in part), along with Your name or any part thereof and state of residency, in Company’s discretion, on the Site or elsewhere, and to use or incorporate all or any part of Your Submission into other advertising, promotion, research, analysis or other materials in any format or medium now known or later developed.  You hereby waive any right to inspect such use and any claims based on privacy, publicity, defamation, misappropriation, intellectual property or similar claims for any use of Your Submission.</p>

            <h3>8. Notice and Procedures for Making Claims of Copyright or Intellectual Property Infringement</h3>
            <p>Company may, in appropriate circumstances and at its sole discretion, disable and/or terminate use by users who infringe the intellectual property of others. If You believe that Your work has been copied in a way that constitutes copyright infringement, or Your intellectual property rights have been otherwise violated, please provide Company’s Copyright Agent a Notice containing the following information:</p>
            <ol>
              <li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest;</li>
              <li>a description of the copyrighted work or other intellectual property that is claimed to be infringed;</li>
              <li>a description of where the material claimed to be infringing is located on the Site (providing URL(s) in the body of an email is the best way to help Company locate content quickly);</li>
              <li>Your address, telephone number, and email address;</li>
              <li>a statement by You that You have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;</li>
              <li>a statement by You, made under penalty of perjury, that the above information in Your Notice is accurate and that You are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner’s behalf.</li>
            </ol>
            <p>Company’s Copyright Agent for Notice of claims of copyright or other intellectual property infringement can be reached in the following ways:</p>
            <p><span class="semibold">Address:</span><br/>Pedago Copyright Agent<br/>3000 K St NW Ste 275<br/>Washington, DC 20007</p>
            <p><span class="semibold">Telephone:</span><br/>571-483-8002</p>
            <p><span class="semibold">Email:</span><br/>ip@pedago.com</p>

            <h3>9. Links</h3>
            <p><span class="semibold">Links to Other Websites and Search Results:</span> The Site may contain links to websites operated by other parties.  The Site provides these links to other websites as a convenience, and use of these sites is at Your own risk.  The linked sites are not under the control of Company and Company is not responsible for the content available on these third party sites.  Such links do not imply endorsement of information or material on any other site and Company disclaims all liability with regard to Your access to, use of or transactions with such linked websites.  You acknowledge and agree that Company shall not be responsible or liable, directly or indirectly, for any damage, loss or other claim caused or alleged to be caused by or in connection with, access to, use of or reliance on any content available on or through any other site or resource.</p>
            <p><span class="semibold">Links to the Site:</span> You may link another website to the Site subject to the following linking policy:  (i) the appearance, position and other aspects of any link may not be such as to damage or dilute the reputation of Company or the Site; (ii) the appearance, position and other attributes of the link may not create the false appearance that Your site, business, organization or entity is sponsored by, affiliated with, or associated with Company or the Site; (iii) when selected by a user, the link must display the site on full-screen and not within a "frame" on the linking website; and (iv) Company reserves the right to revoke its consent to the link at any time and in its sole discretion.</p>

            <h3>10. Modifications to Site</h3>
            <p>Company reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Site, or any portion thereof, with or without notice. You agree that Company shall not be liable to You or to any third party for any modification, suspension, or discontinuance of the Site.</p>

            <h3>11. Suspension and Termination Rights</h3>
            <p>Company reserves the right, at its sole discretion, immediately and without notice, to suspend or terminate Your access to the Site, Content or Services for any reason, including without limitation any breach by You of these Terms. You agree that Company shall not be liable to You or any third party for any such suspension or termination.</p>

            <h3>12. Disclaimer</h3>
            <p>THE SITE AND CONTENT AND THE INFORMATION, SERVICES, PRODUCTS OFFERED FOR SALE AND MATERIALS AND ACTIVITIES CONTAINED IN OR ADVERTISED ON THE SITE , INCLUDING WITHOUT LIMITATION TEXT, GRAPHICS AND LINKS, ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED.  TO THE MAXIMUM EXTENT PERMITTED BY LAW, COMPANY AND ITS SUPPLIERS AND RELATED PARTIES DISCLAIM ALL REPRESENTATIONS AND WARRANTIES, EXPRESS OR IMPLIED, WITH RESPECT TO SUCH INFORMATION, SERVICES, PRODUCTS AND MATERIALS, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, FREEDOM FROM COMPUTER VIRUS AND IMPLIED WARRANTIES ARISING FROM COURSE OF DEALING OR COURSE OF PERFORMANCE.</p>
            <p>Without limiting the foregoing, You are responsible for taking all necessary precautions to insure that any Content or access to the Site is free of viruses or other harmful code.</p>

            <h3>13. Limitation on Liability</h3>
            <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, COMPANY AND ITS RELATED PARTIES DISCLAIM ALL LIABILITY, WHETHER BASED IN CONTRACT, TORT (INCLUDING WITHOUT LIMITATION NEGLIGENCE), STRICT LIABILITY OR ANY OTHER THEORY ARISING OUT OF OR IN CONNECTION WITH THE SITE OR CONTENT, USE, INABILITY TO USE OR PERFORMANCE OF THE INFORMATION, SERVICES, PRODUCTS AND MATERIALS AVAILABLE FROM THE SITE.  IN NO EVENT SHALL COMPANY OR ANY OF ITS AFFILIATED ENTITIES OR SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, EVEN IF THESE ENTITIES HAVE BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  THESE LIMITATIONS SHALL APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OR THE EXISTENCE OF ANY LIMITED REMEDY.  WITHOUT LIMITING THE FOREGOING, THE MAXIMUM AGGREGATE LIABILITY OF COMPANY ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OF USE OR THE SITE OR APPLICATION SHALL NOT EXCEED FIFTY DOLLARS (U.S.).</p>
            <p><span class="semibold">Exclusions and Limitations:</span> Because some jurisdictions do not allow limitations on how long an implied warranty lasts, or the exclusion or limitation of liability for consequential or incidental damages, the above limitations may not apply to You. This Limitation of Liability shall be to the maximum extent permitted by applicable law.</p>

            <h3>14. Governing Law and Disputes </h3>
            <p>These Terms shall be governed by, and will be construed under, the laws of the State of Virginia, U.S.A., without regard to choice of law principles.  You irrevocably agree to the exclusive jurisdiction and venue by the federal and state courts located in or for Company County, in the State of Virginia, U.S.A., to settle any dispute which may arise out of, under, or in connection with these Terms, as the most convenient and appropriate for the resolution of disputes concerning these Terms.  Any cause of action or claim You may have with respect to these Terms, Company, the Site or its Content must be commenced within six (6) months after the claim or cause of action arises or such claim or cause of action shall be barred.</p>
            <p>The Site and Application are controlled within the United States of America.  Those who choose to access the Site from locations outside of the United States do so on their own initiative, and are responsible for compliance with local laws if and to the extent local laws are applicable. Company does not represent that the Site or Content are appropriate outside the United States of America.</p>

            <h3>15. Force Majeure</h3>
            <p>Company shall not be liable for any delay or failure to perform resulting from causes outside its reasonable control or unforeseen circumstances such as acts of nature or God, fire, flood, earthquake, accidents, strikes, war, terrorism, governmental act, failure of common carriers (including without limitation Internet service providers and web hosting providers), or shortages of transportation facilities, fuel, energy, labor or materials.</p>

            <h3>16. Reliance on Information Posted</h3>
            <p>The information presented on or through the Site is made available solely for general information purposes. We do not make any statements regarding the accuracy, completeness or usefulness of this information. Any reliance You place on such information is strictly at Your own risk. The Website includes content provided by third parties, including materials provided by other users and third-party licensors. We are not responsible, or liable to You or any third-party, for the content or accuracy of materials provided by any third parties.</p>

            <h3>17. Miscellaneous</h3>
            <p>These Terms set forth the entire understanding and agreement between You and Company with respect to the subject matter hereof. If any provision of the Terms is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the Terms shall remain in full force and effect. Headings are for reference only and in no way define, limit, construe or describe the scope or extent of such section.  Company’s failure to act with respect to any failure by you or others to comply with these Terms does not waive its right to act with respect to subsequent or similar failures. You may not assign or transfer Your rights or obligations under these Terms without the prior written consent of Company, and any assignment or transfer in violation of this provision shall be null and void.  There are no third party beneficiaries to these Terms.</p>

            <h3>18. Questions?</h3>
            <p>Please direct any questions about these Terms of Use, technical questions or problems with the Site , or comments or suggestions to Company at legal@pedago.com.</p>

            <hr>

            <h3>3rd Party Software</h3>
            <p>Icons provided by <a href="http://emojione.com/" target="_blank">Emoji One</a>.<br>
            </p>

            <small><span class="bold">Last revision:</span> 20th November, 2019</small>
        </div>
      </div>
    </div>
  </section>
  <!-- /.legal-section -->
</div>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
