<% @body_class += ' no-sticky-menu' %>

<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        text: "Sign Up - It's Free",
        banner: {
            application_deadline_message: @application_deadline_message,
            linkText: "Apply now",
            linkUri: "/candidates/signup",
            cssClass: "banner-message--red"
        }
    }
%>

<%= render partial: "marketing/header/tabs-header",
    locals: {
        avoid_banner: true,
        link_text: 'Apply to the MBA',
        tabs: [
            {
                title: 'Overview',
                href: "/mba",
                active: true
            }, {
                title: 'Curriculum',
                href: "/mba/curriculum",
                active: false
            }, {
                title: 'Students',
                href: "/mba/students",
                active: false
            }, {
                title: 'Network',
                href: "/mba/network",
                active: false
            }, {
                title: 'Outcomes',
                href: "/mba/outcomes",
                active: false
            }, {
                title: 'Admissions',
                href: "/mba/admissions",
                active: false
            }
        ]
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--free-mba <%= @subheading ? 'with-subheading' : '' %>">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
            <span class="hero__shadow hero__shadow--white"></span>
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>The Free MBA</h1>
                        <p>Quantic School of Business & Technology</p>
                        <% if @subheading %>
                        <h2><%= @subheading %></h2>
                        <% end %>
                        <div class="content-tabs content-tabs--minimal js-content-tabs">
                          <div class="content-tabs__wrapper">
                            <div class="scroller">
                              <a href="/mba" data-index="/mba">overview</a>
                              <a href="/mba/curriculum">curriculum</a>
                              <a href="/mba/students">students</a>
                              <a href="/mba/network">network</a>
                              <a href="/mba/outcomes">outcomes</a>
                              <a href="/mba/admissions">admissions</a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper wrapper--the-free-mba <%= @subheading ? 'with-subheading' : '' %>">
    <div class="content-tabs-panel" data-content-url="/mba" data-index="/mba">
        <%= render "marketing/the-free-mba/overview" %>
    </div>
    <div class="content-tabs-panel" data-content-url="/mba/curriculum">
        <%= render "marketing/the-free-mba/curriculum" %>
    </div>
    <div class="content-tabs-panel" data-content-url="/mba/students">
        <%= render "marketing/the-free-mba/classmates" %>
    </div>
    <div class="content-tabs-panel" data-content-url="/mba/network">
        <%= render "marketing/the-free-mba/network" %>
    </div>
    <div class="content-tabs-panel" data-content-url="/mba/outcomes">
        <%= render "marketing/the-free-mba/outcomes" %>
    </div>
    <div class="content-tabs-panel" data-content-url="/mba/admissions">
        <%= render "marketing/the-free-mba/admissions" %>
    </div>
</div>

<section class="section section--learn-more-emba">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <h2 class="gallery__title">Mid-career professional? Entrepreneur? <br class="hidden-xs">Less traditional career background?</h1>
        <p class="gallery__description">Learn more about our <a href="/executive-mba">Executive MBA</a>.</p>
      </div>
    </div>
  </div>
</section>


<section class="section section--credibility text-center">
  <div class="section__background"></div>
  <div class="section__content">
      <header>
          <h1 class="section__title primary-title">What people are saying</h1>
      </header>

      <div class="container">
          <%= render partial: "marketing/testimonials",
          locals: {
              testimonials: [
                  {
                      authorName: "Nathan Philip Wang",
                      authorEducation: "Massachusetts Institute of Technology (MIT)",
                      authorJob: "M3 Design, Inc, Mechanical Engineering",
                      authorPhoto: "/assets/images/photos/nathan-wang.png",
                      authorPhoto2x: "/assets/images/photos/nathan-wang@2x.png",
                      authorPhoto3x: "/assets/images/photos/nathan-wang@3x.png",
                      authorQuote: "“The Quantic MBA program was a fantastic way to earn an MBA. It truly fit my schedule!”",
                      frameColor: "red"
                  },
                  {
                      authorName: "Daniel Gale-Rosen",
                      authorEducation: "Harvard University",
                      authorJob: "HYFN, Strategic Services",
                      authorPhoto: "/assets/images/photos/daniel-gale-rosen.png",
                      authorPhoto2x: "/assets/images/photos/daniel-gale-rosen@2x.png",
                      authorPhoto3x: "/assets/images/photos/daniel-gale-rosen@3x.png",
                      authorQuote: "“The Quantic MBA program was an amazing way for me to broaden my skills and knowledge...”",
                      frameColor: "yellow"
                  },
              ]
          }
          %>
      </div>

      <footer>
          <a class="link link--text-sm link--color-default" href="/reviews">
              <span>More Quantic Love</span>
              <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'right-arrow-blue-icon.svg') %>
          </a>
      </footer>
  </div>
</section>


<div class="hiring-form--no-bkg hiring-form--free-mba">
    <%= render partial: "marketing/banner/banner-call-to-action",
        locals: {
            title: "Ready to jump start your career?",
            subtitle: "Start learning with Quantic.",
            bannerClass: "banner--request-demo banner--apply-to-mba",
            bgClass: "call-to-action__bg",
            btnClass: "button--lg-primary button--lg-primary-blue",
            btnLink: "/candidates/signup",
            btnTarget: '_self',
            btnText: 'Apply to the MBA',
            wrapperClass: 'flush-top'
        }
    %>
</div>


<%= render :partial => "marketing/footer/footer", :locals => {
  :top => true,
  :bottom => true,
  :alternateBottom => false,
  :sticky => false
} %>
