<% @body_class += ' no-sticky-menu' %>
<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        banner: {
            application_deadline_message: @application_deadline_message,
            linkText: "Apply now",
            linkUri: "/candidates/signup?program=emba",
            cssClass: "banner-message--red"
        }
    }
%>
<%= render partial: "marketing/header/tabs-header",
    locals: {
        link_text: 'Apply to the EMBA',
        avoid_banner: true,
        tabs: [
            {
                title: 'Overview',
                href: "/executive-mba",
                active: true
            }, {
                title: 'Curriculum',
                href: "/executive-mba/curriculum",
                active: false
            }, {
                title: 'Students',
                href: "/executive-mba/students",
                active: false
            }, {
                title: 'Network',
                href: "/executive-mba/network",
                active: false
            }, {
                title: 'Outcomes',
                href: "/executive-mba/outcomes",
                active: false
            }, {
                title: 'Admissions',
                href: "/executive-mba/admissions",
                active: false
            }
        ]
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--free-mba">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
            <span class="hero__shadow hero__shadow--white"></span>
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1><span class="hidden-xs hidden-sm">The </span>Executive MBA</h1>
                        <p>Quantic School of Business & Technology</p>
                        <div class="content-tabs content-tabs--minimal js-content-tabs">
                            <div class="content-tabs__wrapper">
                                <div class="scroller">
                                    <a href="/executive-mba" data-index="/executive-mba">overview</a>
                                    <a href="/executive-mba/curriculum">curriculum</a>
                                    <a href="/executive-mba/students">students</a>
                                    <a href="/executive-mba/network">network</a>
                                    <a href="/executive-mba/outcomes">outcomes</a>
                                    <a href="/executive-mba/admissions">admissions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper wrapper--the-free-mba wrapper--the-executive-mba">
    <div class="content-tabs-panel" data-content-url="/executive-mba" data-index="/executive-mba">
        <%= render "marketing/the-executive-mba/overview" %>
    </div>
    <div class="content-tabs-panel" data-content-url="/executive-mba/curriculum">
        <%= render "marketing/the-executive-mba/curriculum" %>
    </div>
    <div class="content-tabs-panel" data-content-url="/executive-mba/students">
        <%= render "marketing/the-executive-mba/classmates" %>
    </div>
    <div class="content-tabs-panel" data-content-url="/executive-mba/network">
        <%= render "marketing/the-executive-mba/network" %>
    </div>
    <div class="content-tabs-panel" data-content-url="/executive-mba/outcomes">
        <%= render "marketing/the-free-mba/outcomes" %>
    </div>
    <div class="content-tabs-panel" data-content-url="/executive-mba/admissions">
        <%= render "marketing/the-executive-mba/admissions" %>
    </div>
</div>


<section class="section section--credibility text-center">
  <div class="section__background"></div>

  <div class="section__content">
      <header>
          <h1 class="section__title primary-title">What people are saying</h1>
      </header>

      <div class="container">
          <%= render partial: "marketing/testimonials",
          locals: {
              testimonials: [
                  {
                      authorName: "Aleshia Howell",
                      authorEducation: "University of Westminster",
                      authorJob: "Program Director, The Creative Coast",
                      authorPhoto: "/assets/images/photos/aleshia-howell.png",
                      authorPhoto2x: "/assets/images/photos/aleshia-howell@2x.png",
                      authorPhoto3x: "/assets/images/photos/aleshia-howell@3x.png",
                      authorQuote: "“Quantic gave me the tools and knowledge I needed to start my business on the right foot. I'm amazed at how much I've learned in just a year.”",
                      frameColor: "blue"
                  },
                  {
                      authorName: "Marcus Gilmore",
                      authorEducation: "New York University",
                      authorJob: "Sr. Regional Manager, Center for Sustainable Energy (CSE)",
                      authorPhoto: "/assets/images/photos/marcus-gilmore.png",
                      authorPhoto2x: "/assets/images/photos/marcus-gilmore@2x.png",
                      authorPhoto3x: "/assets/images/photos/marcus-gilmore@3x.png",
                      authorQuote: "“Participating in Quantic's EMBA influenced how I approached my current role and contributed to me receiving a promotion prior to completing the program.”",
                      frameColor: "green"
                  }
              ]
          }
          %>
      </div>

      <footer>
          <a class="link link--text-sm link--color-default" href="/reviews">
              <span>More Quantic Love</span>
              <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'right-arrow-blue-icon.svg') %>
          </a>
      </footer>
  </div>
</section>

<div class="hiring-form--no-bkg hiring-form--free-mba">
    <%= render partial: "marketing/banner/banner-call-to-action",
        locals: {
            title: "Ready to jump start your career?",
            subtitle: "Start learning with Quantic.",
            bannerClass: "banner--request-demo banner--apply-to-mba",
            bgClass: "call-to-action__bg",
            btnClass: "button--lg-primary button--lg-primary-blue",
            btnLink: "/candidates/signup?program=emba",
            btnTarget: '_self',
            btnText: 'Apply to the EMBA',
            wrapperClass: 'flush-top'
        }
    %>
</div>
<%= render partial: "marketing/tuition-modal" %>
<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>