<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        text: "Apply Now",
        banner: {
            cssClass: "banner-message--red"
        }
    }
%>

<%= render partial: "marketing/header/tabs-header",
    locals: {
        link_text: 'Apply Now',
        tabs: [
            {
                title: 'Curriculum',
                href: "/the-free-certificates/fundamentals-of-business",
                active: true
            }, {
                title: 'Admissions',
                href: "/the-free-certificates/fundamentals-of-business/admissions",
                active: false
            }
        ]
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--free-mba hero--executive-certificates with-subheading">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
            <span class="hero__shadow hero__shadow--white"></span>
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h2><span class="hidden-xs">The </span>Free Certificates:</h2>
                        <h1>The Fundamentals of Business</h1>
                        <div class="content-tabs content-tabs--minimal js-content-tabs">
                          <div class="content-tabs__wrapper">
                            <div class="scroller">
                              <a href="/the-free-certificates/fundamentals-of-business" data-index="/the-free-certificates/fundamentals-of-business">curriculum</a>
                              <a href="/the-free-certificates/fundamentals-of-business/admissions">admissions</a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="content-tabs-panel" data-content-url="/the-free-certificates/fundamentals-of-business" data-index="/the-free-certificates/fundamentals-of-business">
    <%= render partial: "marketing/the-free-certificates/fundamentals-of-business/curriculum" %>
</div>
<div class="content-tabs-panel" data-content-url="/the-free-certificates/fundamentals-of-business/network">
    <%= render partial: "marketing/the-free-certificates/fundamentals-of-business/network" %>
</div>
<div class="content-tabs-panel" data-content-url="/the-free-certificates/fundamentals-of-business/admissions">
    <%= render partial: "marketing/the-free-certificates/fundamentals-of-business/admissions" %>
</div>
<div class="container">
  <div class="divider divider--light-fade"></div>
</div>

<section class="section section--credibility text-center">
  <div class="section__background"></div>

  <div class="section__content">
      <header>
          <h1 class="section__title primary-title">What people are saying</h1>
      </header>

      <div class="container">
          <%= render partial: "marketing/testimonials",
          locals: {
              testimonials: [
                  {
                      authorName: "Aleshia Howell",
                      authorEducation: "University of Westminster",
                      authorJob: "Program Director, The Creative Coast",
                      authorPhoto: "/assets/images/photos/aleshia-howell.png",
                      authorPhoto2x: "/assets/images/photos/aleshia-howell@2x.png",
                      authorPhoto3x: "/assets/images/photos/aleshia-howell@3x.png",
                      authorQuote: "“#{brand_name_short} gave me the tools and knowledge I needed to start my business on the right foot. I'm amazed at how much I've learned in just a year.”",
                      frameColor: "blue"
                  },
                  {
                      authorName: "Sachin Doshi",
                      authorEducation: "Duke University",
                      authorJob: "Mental Health America (MHA)",
                      authorPhoto: "/assets/images/photos/sachin-doshi.png",
                      authorPhoto2x: "/assets/images/photos/sachin-doshi@2x.png",
                      authorPhoto3x: "/assets/images/photos/sachin-doshi@3x.png",
                      authorQuote: "“The format engaged me more than most classes I've taken in person. I feel better equipped to tackle real-world problems with the knowledge I've gained.”",
                      frameColor: "light-blue"
                  }
              ]
          }
          %>
      </div>

      <footer>
          <a class="link link--text-sm link--color-default" href="/reviews">
              <span>see more</span>
              <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'right-arrow-blue-icon.svg') %>
          </a>
      </footer>
  </div>
</section>

<div class="hiring-form--no-bkg hiring-form--free-mba">
    <%= render partial: "marketing/banner/banner-call-to-action",
        locals: {
            title: "Ready to jump start your career?",
            subtitle: "Start learning with #{brand_name_short}.",
            bannerClass: "banner--request-demo banner--apply-to-mba",
            bgClass: "call-to-action__bg",
            btnClass: "button--lg-primary button--lg-primary-blue",
            btnLink: nil, # "/candidates/signup",
            btnTarget: '_self',
            btnText: 'Coming Soon', # 'Sign Up Now',
            wrapperClass: 'flush-top'
        }
    %>
</div>

<%= render :partial => "marketing/footer/footer", :locals => {
  :top => true,
  :bottom => true,
  :alternateBottom => false,
  :sticky => false
} %>
