<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        text: "Sign up - It's Free",
        link: "/candidates/signup",
        banner: {
            cssClass: "banner-message--red"
        }
    }
%>
<section class="hero hero--sm hero--homepage hero--how-it-works hero--how-it-works-candidate">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>The Free Certificates to Launch<br class="hidden-xs"><span class="hidden-sm hidden-md hidden-lg"> </span>Your Career</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section--foundational-instruction">
    <div class="container text-center text-sm-left">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/illustration-person-free-certificate.svg' %>" alt="" class="gallery__illustration">
            </div>
            <div class="col-xs-12 col-sm-6 gallery__text">
                <div class="gallery__title">Foundational Instruction</div>
                <div class="gallery__description">Our free certificates teach foundational skills essential in today's business world. Designed for business novices, each certificate is delivered in our award-winning, interactive format. Selective in admissions, accepted students typically complete these self-paced, non-degree programs in 6-8 weeks.</div>
            </div>
        </div>
    </div>
</section>

<section class="section--select-certificate">
    <div class="section-cut-shape"></div>
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-12">
                <div class="gallery__title">Select Your Certificate</div>
            </div>
        </div>
        <div class="row">
            <div class="big-slots big-slots--first col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-sm-push-4">
                        <a href="/the-free-certificates/fundamentals-of-business" class="big-slot">
                            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/big/image-marketing-big.svg' %>" alt="">
                            <div class="content"><span>Fundamentals of Business</span></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="divider divider--light-fade divider--first"></div>
                <div class="big-slots big-slots--second col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <a href="javascript:void(0)" class="big-slot big-slot--comming-soon">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/big/image-illustration-fundamentals-business.svg' %>" alt="">
                                <div class="content"><span>Introduction to Python</span></div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a href="javascript:void(0)" class="big-slot big-slot--comming-soon">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/big/image-illustration-getting-hired.svg' %>" alt="">
                                <div class="content"><span>Getting Hired</span></div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a href="javascript:void(0)" class="big-slot big-slot--comming-soon">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/big/image-illustration-getting-ahead.svg' %>" alt="">
                                <div class="content"><span>Getting Ahead</span></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="divider divider--light-fade divider--second"></div>
    </div>
</section>
<section class="section--two-two text-center text-sm-left">
    <div class="container">
        <div class="row free-yes-free">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/price-tag-illustration.svg' %>" alt="" class="gallery__illustration">
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 gallery__text">
                <div class="gallery__title">Free? Yes, free.</div>
                <div class="gallery__description">We’re selective, but if you’re accepted, these certificates are free. How? Rather than charging tuition, we flip the model of education by charging companies to recruit and hire students in Smartly Talent, our optional career network.</div>
            </div>
        </div>
        <div class="row the-smartly-network">
        <div class="col-xs-12 col-sm-6">
                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/smartly-network-illustration.svg' %>" alt="" class="gallery__illustration">
            </div>
            <div class="col-xs-12 col-sm-6 gallery__text">
                <div class="gallery__title">The <%= brand_name_short %> Network</div>
                <div class="gallery__description">Once admitted, you’ll gain access to the thousands of exceptional students and graduates in our alumni network. For those who qualify for Smartly Talent, our career network, you’ll have the chance to connect with all our partner companies, looking to hire.</div>
            </div>
        </div>
    </div>
</section>



<section class="section section--credibility text-center">
  <div class="section__background"></div>

  <div class="section__content">
      <header>
          <h1 class="section__title primary-title">What people are saying</h1>
      </header>

      <div class="container">
          <%= render partial: "marketing/testimonials",
          locals: {
              testimonials: [
                  {
                      authorName: "Ian Rea",
                      authorEducation: "Princeton University",
                      authorJob: "Pricing Associate at EDP Renewables North America",
                      authorPhoto: "/assets/images/photos/ian-rea.png",
                      authorPhoto2x: "/assets/images/photos/ian-rea@2x.png",
                      authorPhoto3x: "/assets/images/photos/ian-rea@3x.png",
                      authorQuote: "“Honestly, in terms of learning efficiency and effectiveness, the #{brand_name_short} app put most of the courses I took at Princeton to shame.”",
                      frameColor: "green"
                  },
                  {
                      authorName: "Veronica Shea Salkin",
                      authorEducation: "Northwestern University",
                      authorJob: "Primary Stages, Marketing",
                      authorPhoto: "/assets/images/photos/veronica-salkin.png",
                      authorPhoto2x: "/assets/images/photos/veronica-salkin@2x.png",
                      authorPhoto3x: "/assets/images/photos/veronica-salkin@3x.png",
                      authorQuote: "“What I learned will stick with me far longer than a standard lecture-based curriculum could.”",
                      frameColor: "yellow"
                  },
              ]
          }
          %>
      </div>

      <footer>
          <a class="link link--text-sm link--color-default" href="/reviews">
              <span>see more</span>
              <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'right-arrow-blue-icon.svg') %>
          </a>
      </footer>
  </div>
</section>

<div class="hiring-form--no-bkg hiring-form--free-mba">
    <%= render partial: "marketing/banner/banner-call-to-action",
        locals: {
            title: "Ready to jump start your career?",
            subtitle: "Start learning with #{brand_name_short}.",
            bannerClass: "banner--request-demo banner--apply-to-mba",
            bgClass: "call-to-action__bg",
            btnClass: "button--lg-primary button--lg-primary-blue",
            btnLink: nil, # "/candidates/signup",
            btnTarget: '_self',
            btnText: 'Coming Soon', # 'Sign Up Now',
            wrapperClass: 'flush-top'
        }
    %>
</div>

<%= render :partial => "marketing/footer/footer", :locals => {
  :top => true,
  :bottom => true,
  :alternateBottom => false,
  :sticky => false
} %>
