<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        text: "Sign Up - It's Free",
        banner: {
            cssClass: "banner-message--red"
        }
    }
%>
<section class="hero hero--sm hero--homepage hero--how-it-works hero--how-it-works-candidate">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>The Certificates to Supercharge<br class="hidden-xs"> Your Career.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section--foundational-instruction">
    <div class="container text-center text-sm-left">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/illustration-person-certificate.svg' %>" alt="" class="gallery__illustration">
            </div>
            <div class="col-xs-12 col-sm-6 gallery__text">
                <div class="gallery__title">Specialized Instruction</div>
                <div class="gallery__description">Executive Certificates provide focused instruction in the key areas of business. Adapted from our full MBA curriculum, each certificate is delivered in our award-winning, interactive format. Highly selective, admitted students typically complete each of these self-paced, non-degree programs in 3 to 4 months.</div>
            </div>
        </div>
    </div>
</section>

<section class="section--select-certificate">
  <div class="section-cut-shape"></div>
  <div class="container text-center">
      <div class="row">
          <div class="col-xs-12">
              <div class="gallery__title">Select Your Certificate</div>
          </div>
      </div>
      <div class="row">
        <div class="big-slots big-slots--first col-xs-12">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <a href="/the-executive-certificates/marketing-pricing-strategy" class="big-slot">
                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/big/image-marketing-bullseye-big.svg' %>" alt="">
                <div class="content"><span>Marketing</span></div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <a href="/the-executive-certificates/financial-managerial-accounting" class="big-slot">
                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/big/image-accounting-big.svg' %>" alt="">
                <div class="content"><span>Accounting</span></div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-4">
              <a href="/the-executive-certificates/essentials-of-management" class="big-slot">
                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/big/image-management-big.svg' %>" alt="">
                <div class="content"><span>Management</span></div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-push-2">
              <a href="/the-executive-certificates/business-strategy" class="big-slot">
                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/big/image-strategy-big.svg' %>" alt="">
                <div class="content"><span>Strategy</span></div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-push-2">
              <a href="/the-executive-certificates/data-analytics" class="big-slot">
                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/big/image-data-analytics-big.svg' %>" alt="">
                <div class="content"><span>Data Analytics</span></div>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<section class="section--two-two text-center text-sm-left">
    <div class="container">
        <div class="row the-smartly-network">
          <div class="col-xs-12 col-sm-6 col-sm-push-6">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/smartly-network-illustration.svg' %>" alt="" class="gallery__illustration">
          </div>
          <div class="col-xs-12 col-sm-6 col-sm-pull-6 gallery__text">
            <div class="gallery__title">The <%= brand_name_short %> Network</div>
            <div class="gallery__description">Once admitted, you’ll gain access to the thousands of exceptional students and graduates in our alumni network. For those who qualify for Smartly Talent, our career network, you’ll have the chance to connect with all our partner companies, looking to hire.</div>
          </div>
        </div>
    </div>
</section>



<section class="section section--credibility text-center">
  <div class="section__background"></div>

  <div class="section__content">
      <header>
          <h1 class="section__title primary-title">What people are saying</h1>
      </header>

      <div class="container">
          <%= render partial: "marketing/testimonials",
            locals: {
                testimonials: [
                    {
                        authorName: "Aleshia Howell",
                        authorEducation: "University of Westminster",
                        authorJob: "Program Director, The Creative Coast",
                        authorPhoto: "/assets/images/photos/aleshia-howell.png",
                        authorPhoto2x: "/assets/images/photos/aleshia-howell@2x.png",
                        authorPhoto3x: "/assets/images/photos/aleshia-howell@3x.png",
                        authorQuote: "“#{brand_name_short} gave me the tools and knowledge I needed to start my business on the right foot. I'm amazed at how much I've learned in just a year.”",
                        frameColor: "blue"
                    },
                    {
                        authorName: "Sachin Doshi",
                        authorEducation: "Duke University",
                        authorJob: "Mental Health America (MHA)",
                        authorPhoto: "/assets/images/photos/sachin-doshi.png",
                        authorPhoto2x: "/assets/images/photos/sachin-doshi@2x.png",
                        authorPhoto3x: "/assets/images/photos/sachin-doshi@3x.png",
                        authorQuote: "“The format engaged me more than most classes I've taken in person. I feel better equipped to tackle real-world problems with the knowledge I've gained.”",
                        frameColor: "light-blue"
                    }
                ]
            }
        %>
      </div>

      <footer>
          <a class="link link--text-sm link--color-default" href="/reviews">
              <span>see more</span>
              <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'right-arrow-blue-icon.svg') %>
          </a>
      </footer>
  </div>
</section>

<div class="hiring-form--no-bkg hiring-form--free-mba">
    <%= render partial: "marketing/banner/banner-call-to-action",
        locals: {
            title: "Ready to jump start your career?",
            subtitle: "Start learning with #{brand_name_short}.",
            bannerClass: "banner--request-demo banner--apply-to-mba",
            bgClass: "call-to-action__bg",
            btnClass: "button--lg-primary button--lg-primary-blue",
            btnLink: nil, # "/candidates/signup",
            btnTarget: '_self',
            btnText: 'Coming Soon', # 'Sign Up Now',
            wrapperClass: 'flush-top'
        }
    %>
</div>
<%= render :partial => "marketing/footer/footer", :locals => {
  :top => true,
  :bottom => true,
  :alternateBottom => false,
  :sticky => false
} %>
