<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        text: "Sign up - It's free",
        link: '/employers/signup'
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--tuition-reimbursement companies">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>The Ultimate Win-Win.</h1>
                        <p>Our Executive MBA Tuition Reimbursement Program is the low-cost, high reward benefit that builds loyalty and improves performance.</p>
                        <a class="button button--md-primary" href="<%= @typeform_reimbursement_url %>" target="_blank">Register Your Company</a>
                        <p class="subtext">Prospective student? Find out how tuition <br class="visible-xs visible-sm">reimbursement can <a href="/tuition-assistance/students">work for you.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section--top-companies text-center">

    <header>
        <h2 class="section__title secondary-title">The world’s top companies reimburse their employees for our degree programs.<br> <b>Are you on the list?</b></h2>
    </header>

    <ul class="list--top-companies">
        <li class="company-american-express">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/logo-american-express.svg' %>" data-no-retina="">
        </li>
        <li class="company-wework">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/logo-wework.svg' %>" data-no-retina="">
        </li>
        <li class="company-sp-global">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/logo-sp-global.svg' %>" data-no-retina="">
        </li>
        <li class="company-grant-thornton">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/logo-grant-thornton.svg' %>" data-no-retina="">
        </li>
        <li class="company-apple">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/logo-apple.svg' %>" data-no-retina="">
        </li>
        <li class="company-ge">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/logo-ge.svg' %>" data-no-retina="">
        </li>
        <li class="company-salesforce">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/logo-salesforce.svg' %>" data-no-retina="">
        </li>
        <li class="company-farmers">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/logo-farmers.svg' %>" data-no-retina="">
        </li>
    </ul>

    <a class="link link--text-sm link--color-default" href="<%= @typeform_reimbursement_url %>" target="_blank">
        <span>Join the list</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
            <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
        </svg>
    </a>
</section>

<section class="section section--employer-benefits">
    <div class="section section--credibility text-center">
        <div class="section__background"></div>
            <div class="section__content">
                <header>
                    <h1 class="section__title primary-title">Why Employers Love Quantic</h1>
                </header>

                <div class="board-wrapper container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="board">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/corporate_training/educate-icon.svg' %>" alt="Rigorous Education">
                                <div>
                                    <h2>Elevate Talent</h2>
                                    <p>Elevate your top current and potential leaders with an MBA that will allow them to take their performance to more senior roles to support your growth.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="board">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/icon-time.svg' %>" alt="Fast and Flexible">
                                <div>
                                    <h2>Higher Retention</h2>
                                    <p>Invest in your top employees to signal your confidence in their potential, and your commitment to their success; you'll cultivate loyalty and retain them longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="board">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/icon-results.svg' %>" alt="High ROI">
                                <div>
                                    <h2>Affordable Tuiton</h2>
                                    <p>Primarily online, our best-in-class MBA programs are designed to deliver incredible learning at a fraction of the cost of traditional top business school programs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="board">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/icon-heart.svg' %>" alt="Team Loyalty">
                                <div>
                                    <h2>Minimal Disruption</h2>
                                    <p>Our mobile first degree programs are designed for the modern executive allowing them to pursue their studies without compromising their work. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <a class="link link--text-sm link--color-default" href="<%= @reimbursement_brochure_url %>" target="_blank">
                    <span>Download the Employer Guide</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"><path fill="#4C79FF" d="M8.586 6H2C.667 6 .667 8 2 8h6.586l-2.293 2.293a1 1 0 0 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4a1 1 0 0 0-1.414 1.414L8.586 6z"></path></svg>
                </a>
                <p class="text--contact">Or <a href="<%= @typeform_reimbursement_url %>" target="_blank">Contact Us</a> for more info.</p>
                <hr class="divider divider--light-fade">
                <p class="text--disclaimer">Please note that admission is competitive and not all employees will gain acceptance to the program.</p>
            </footer>
        </div>
    </div>
</section>

<section class="section section--degree-admissions text-center">
    <header>
        <h1 class="section__title primary-title">A New Gold Standard in Online Graduate Education</h1>
    </header>

    <div class="quantic-stats container">
        <%= render partial: "marketing/quantic-stats" %>
    </div>

    <div class="gallery gallery--2x2-1image gallery--for-students-job-seekers container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <div class="gallery__illustration">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/executive-certificates.svg' %>" alt="The Degree" data-no-retina="">
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 gallery__information col-sm-pull-6">
                <div class="gallery__title">
                    <p>Modern Accredited Degree</p>
                </div>
                <div class="gallery__description">
                    <p>Students earn our accredited Executive MBA degree, a global 12-month online program designed for professionals and executives that adds leadership, management, and advanced strategy to our core MBA curriculum.</p>
                </div>
                <div class="gallery__link">
                    <a class="link link--text-sm link--color-default" href="/executive-mba">
                        About the Executive MBA
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                            <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery gallery--2x2-1image gallery--for-managers-recruiters container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 ">
                <div class="gallery__illustration">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/free-mba/illustration-interviews.svg' %>" alt="Multiple Employee Admissions" data-no-retina="">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 gallery__information ">
                <div class="gallery__title">
                    <p>Multiple Employee Admissions</p>
                </div>
                <div class="gallery__description">
                    <p>Select companies that enroll multiple employees per year may be eligible for volume accounts, reducing tuition below the published rate of $9600 USD per student.</p>
                </div>

                <div class="gallery__link">
                    <a class="link link--text-sm link--color-default" href="<%= @typeform_reimbursement_url %>" target="_blank">
                        Inquire about Volume Accounts
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                            <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery gallery--2x2-1image gallery--networking-weekends container">
        <div class="row networking-weekends" id="events">
            <div class="col-xs-12 col-sm-6 text-center text-sm-left gallery__text">
                <div class="gallery__title">Transformative Experiences</div>
                <p class="gallery__description">During the program, you can attend EMBA-exclusive workshop and networking weekends in cities around the world (recent sites have included Washington DC, Dublin, and Singapore). You'll socialize with your exceptional classmates while putting your learning to use in group case studies. Beyond the curriculum, you'll connect with thousands of high-caliber students and employers in our <%= brand_name_short %> alumni and career platform, enhancing your personal and professional networks.</p>
                <div class="gallery__link">
                    <a class="link link--text-sm" href="/executive-mba/network">
                        More about our Network
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                            <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 gallery__video-wrapper">
                <div class="video-gallery__card">
                    <div class="video-gallery__panel" data-video-url="<%= is_quantic? ? 'https://www.youtube.com/watch?v=k7BL41Bmffc' : 'https://youtu.be/AFL_QFgRLDA' %>">
                        <picture>
                            <source media="(max-width: 991px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/studentsummit_thumbnail.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/studentsummit_thumbnail@2x.png' %> 2x">
                            <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/studentsummit_thumbnail.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/studentsummit_thumbnail@2x.png' %>" alt="Student Summit Video">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%= render partial: "marketing/banner/banner-call-to-action",
    locals: {
        title: "Ready to Supercharge Your Teams?",
        subtitle: "Set up tuition reimbursement for #{brand_name_short}’s degree programs today.",
        bannerClass: "banner--sign-up-now",
        bgClass: "call-to-action__bg",
        btnText: "Contact Us",
        btnLink: @typeform_reimbursement_url,
        btnTarget: "_blank",
        btnClass: "button--md-primary"
    }
 %>

 <%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>