<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-blue",
        text: "Sign up - It's free",
        link: '/candidates/signup'
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--tuition-reimbursement students">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>The Cost-Free Way to an Elite Executive MBA</h1>
                        <p>The skills you acquire in business school directly benefit your employer. Shouldn’t they help shoulder tuition costs?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section--top-companies text-center">

    <header>
        <h2 class="section__title secondary-title">The world’s top companies reimburse their employees for our degree programs.<br> <b>Is yours on the list?</b></h2>
    </header>

    <ul class="list--top-companies">
        <li class="company-american-express">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/logo-american-express.svg' %>" data-no-retina="">
        </li>
        <li class="company-wework">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/logo-wework.svg' %>" data-no-retina="">
        </li>
        <li class="company-sp-global">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/logo-sp-global.svg' %>" data-no-retina="">
        </li>
        <li class="company-grant-thornton">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/logo-grant-thornton.svg' %>" data-no-retina="">
        </li>
        <li class="company-apple">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/logo-apple.svg' %>" data-no-retina="">
        </li>
        <li class="company-ge">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/logo-ge.svg' %>" data-no-retina="">
        </li>
        <li class="company-salesforce">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/logo-salesforce.svg' %>" data-no-retina="">
        </li>
        <li class="company-farmers">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/logo-farmers.svg' %>" data-no-retina="">
        </li>
    </ul>

    <header>
        <h2 class="section__title secondary-title"><a href="<%= @typeform_reimbursement_url %>" target="_blank">Contact Us</a> or Your HR Department to Find Out</h2>
    </header>

</section>

<section class="section section--employer-benefits">
    <div class="section section--credibility text-center">
        <div class="section__background"></div>
            <div class="section__content">
                <header>
                    <h1 class="section__title primary-title">Benefits to <span class="section--credibility__highlighted-word">You</span> and Your Company</h1>
                </header>

                <div class="board-wrapper container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="board">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/corporate_training/educate-icon.svg' %>" alt="Modern Education">
                                <div>
                                    <h2>Best in Class Education</h2>
                                    <p>Mobile-first and crafted in collaboration with professors at top business schools, our interactive curriculum sets a new standard in efficacy and engagement.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="board">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/icon-time.svg' %>" alt="Fast and Flexible">
                                <div>
                                    <h2>Career Acceleration</h2>
                                    <p>Students gain the skills to secure more senior roles and the confidence and connections to start a new venture. In fact, 94% of our alumni say they met their career goals post graduation.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="board">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/icon-results.svg' %>" alt="High ROI">
                                <div>
                                    <h2>Radically Affordable</h2>
                                    <p>Our innovative tuition model is powered by a built-in career network that helps offset tuition fees resulting in a radically more affordable top-tier education.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="board">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/tuition-reimbursement/icon-heart.svg' %>" alt="Team Loyalty">
                                <div>
                                    <h2>Fast and Flexible</h2>
                                    <p>No relocation or career hiatus required. Students continue working full-time during the 12-month program so they can make an immediate impact at their work.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <p class="text--download">
                Help your company see the benefits with our
                    <a class="link link--text-sm link--color-default" href="<%= @reimbursement_brochure_url %>" target="_blank">
                        <span>Employer Guide</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"><path fill="#4C79FF" d="M8.586 6H2C.667 6 .667 8 2 8h6.586l-2.293 2.293a1 1 0 0 0 1.414 1.414l4-4a1 1 0 0 0 0-1.414l-4-4a1 1 0 0 0-1.414 1.414L8.586 6z"></path></svg>
                    </a>
                </p>
                <hr class="divider divider--light-fade">
                <p class="text--disclaimer">Please note that admission is competitive and not all candidates will gain acceptance to the program.</p>
            </footer>
        </div>
    </div>
</section>

<section class="section section--degree-admissions text-center">
    <header>
        <h1 class="section__title primary-title">A New Gold Standard in Online Graduate Education</h1>
    </header>

    <div class="quantic-stats container">
        <%= render partial: "marketing/quantic-stats" %>
    </div>

    <div class="gallery gallery--2x2-1image gallery--for-students-job-seekers container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <div class="gallery__illustration">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/executive-certificates.svg' %>" alt="The Degree" data-no-retina="">
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 gallery__information col-sm-pull-6">
                <div class="gallery__title">
                    <p>Modern Accredited Degree</p>
                </div>
                <div class="gallery__description">
                    <p>Students earn our accredited Executive MBA degree, a global 12-month online program designed for professionals and executives that adds leadership, management, and advanced strategy to our core MBA curriculum.</p>
                </div>
                <div class="gallery__link">
                    <a class="link link--text-sm link--color-default" href="/executive-mba">
                        About the executive MBA
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                            <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery gallery--2x2-1image gallery--for-managers-recruiters container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 ">
                <div class="gallery__illustration">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/free-mba/illustration-interviews.svg' %>" alt="Multiple Employee Admissions" data-no-retina="">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 gallery__information ">
                <div class="gallery__title">
                    <p>Study with Colleagues</p>
                </div>
                <div class="gallery__description">
                    <p>Students are more successful when they enroll with a colleague and your company may be eligible for a volume account, reducing per student tuition fees.</p>
                </div>

                <div class="gallery__link">
                    <a class="link link--text-sm link--color-default" href="<%= @typeform_reimbursement_url %>" target="_blank">
                        Inquire about Volume Accounts
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                            <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery gallery--2x2-1image gallery--networking-weekends container">
        <div class="row networking-weekends" id="events">
            <div class="col-xs-12 col-sm-6 text-center text-sm-left gallery__text">
                <div class="gallery__title">Transformative Experiences</div>
                <p class="gallery__description">During the program, you can attend EMBA-exclusive workshop and networking weekends in cities around the world (recent sites have included Washington DC, Dublin, and Singapore). You'll socialize with your exceptional classmates while putting your learning to use in group case studies. Beyond the curriculum, you'll connect with thousands of high-caliber students and employers in our <%= brand_name_short %> alumni and career platform, enhancing your personal and professional networks.</p>
                <div class="gallery__link">
                    <a class="link link--text-sm" href="/executive-mba/network">
                        More about our Network
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                            <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 gallery__video-wrapper">
                <div class="video-gallery__card">
                    <div class="video-gallery__panel" data-video-url="<%= is_quantic? ? 'https://www.youtube.com/watch?v=k7BL41Bmffc' : 'https://youtu.be/AFL_QFgRLDA' %>">
                        <picture>
                            <source media="(max-width: 991px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/studentsummit_thumbnail.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/studentsummit_thumbnail@2x.png' %> 2x">
                            <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/studentsummit_thumbnail.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_executive_mba/studentsummit_thumbnail@2x.png' %>" alt="Student Summit Video">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

 <%= render partial: "marketing/banner/banner-hiring-form",
    locals:{
        title: "Ready to Make a Career Move?",
        subtitle: "Apply to the Executive MBA, then talk to your HR department about its tuition reimbursement program.",
        inputPlaceholder: "Your email",
        wrapperClass: "hiring-form-wrapper--sign-up hiring-form-wrapper--students-pricing",
        bgClass: "hiring-form-wrapper--bg",
        btnClass: "button--md-primary",
        link: "/candidates/signup"
    }
 %>

 <%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>