<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-blue",
        link: '/candidates/register',
        banner: {
            cssClass: 'banner-message--blue'
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--why-people-love-us">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>People love <%= brand_name_short %></h1>
                        <p>Join students, academic institutions, companies, and thought leaders in educational technology around the globe.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section--people-love-smartly section--why-people-love-us">
    <h1 class="section__title">Students and education leaders see <br class="hidden-xs">our value and disruptive potential.</h1>
    <div class="container">
        <div class="quoting-companies row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="board board--harvard-business">
                    <figure>
                        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/logos/harvard-business-review-logo.svg' %>" alt="Harvard Business Review" data-no-retina>
                    </figure>
                    <header>
                        <h2>“How well do you know the concepts of #BlueOceanStrategy? s.hbr.org/1I96vU7 Find out via @<%= brand_social_name %>”</h2>
                    </header>
                    <footer>
                        <p>Harvard Business Review</p>
                        <span>@HarvardBiz</span>
                    </footer>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="board board--christensen-institute">
                    <figure>
                        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/logos/christensen-institute-logo.svg' %>" alt="Christensen Institute" data-no-retina>
                    </figure>
                    <header>
                        <h2>“In my 10 years in the education world, <%= brand_name_short %> offers the best, most engaging learning experience of anything I’ve seen...incredible disruptive potential.”</h2>
                    </header>
                    <footer>
                        <p>Michael Horn</p>
                        <span>Co-Founder, Clayton Christensen Institute</span>
                    </footer>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="board board--washington-post">
                    <figure>
                        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/logos/washington-post-logo.svg' %>" alt="Washington Post" data-no-retina>
                    </figure>
                    <header>
                        <h2>“...lived up to its billing. It was quick, and I learned a thing or two.”</h2>
                    </header>
                    <footer>
                        <p>Dan Byers</p>
                        <span>Founding Editor, Capital Business</span>
                    </footer>
                </div>
            </div>
        </div>

        <div class="smartly-stats row">
            <div class="col-xs-12">
                <div class="smartly-stats__wrapper clearfix">
                    <div class="smartly-stats__col smartly-stats__col--net-promoter">
                        <figure>
                            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/mba-student-nps-mobile-illustration.svg' %>" class="visible-xs" alt="MBA Student Net Promoter Score">
                            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/mba-student-nps-illustration.svg' %>" class="hidden-xs" alt="MBA Student Net Promoter Score">
                        </figure>
                        <h3>MBA Student Net Promoter Score (NPS) rating</h3>
                    </div>
                    <div class="smartly-stats__col smartly-stats__col--lesson-approval">
                        <figure>
                            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/lesson-approval-mobile-illustration.svg' %>" class="visible-xs" alt="Lesson approval">
                            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/lesson-approval-illustration.svg' %>" class="hidden-xs" alt="Lesson approval">
                        </figure>
                        <h3>Lesson approval by our learners</h3>
                    </div>
                    <div class="smartly-stats__col smartly-stats__col--students-recommend">
                        <figure>
                            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/students-recommend-mobile-illustration.svg' %>" class="visible-xs" alt="Students recommend">
                            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/students-recommend-illustration.svg' %>" class="hidden-xs" alt="Students recommend">
                        </figure>
                        <h3>Students would recommend <%= brand_name_short %> to a friend</h3>
                    </div>
                </div>
            </div>
        </div>

        <hr class="divider divider--small divider--light-fade">

        <%= render partial: "marketing/testimonials",
            locals: {
                wrapperClass: "why-people-love-us-testimonials",
                testimonials: [
                    {
                        authorName: "Nathan Philip Wang",
                        authorEducation: "Massachusetts Institute of Technology (MIT)",
                        authorJob: "M3 Design, Inc, Mechanical Engineering",
                        authorPhoto: "/assets/images/photos/nathan-wang.png",
                        authorPhoto2x: "/assets/images/photos/nathan-wang@2x.png",
                        authorPhoto3x: "/assets/images/photos/nathan-wang@3x.png",
                        authorQuote: "“The #{brand_name_short} MBA program was a fantastic way to earn an MBA.  It truly fit my schedule!”",
                        frameColor: "yellow",
                        testimonialClass: "why-love-us-wang"
                    },
                    {
                        authorName: "Aleshia Howell",
                        authorEducation: "University of Westminster",
                        authorJob: "Program Director, The Creative Coast",
                        authorPhoto: "/assets/images/photos/aleshia-howell.png",
                        authorPhoto2x: "/assets/images/photos/aleshia-howell@2x.png",
                        authorPhoto3x: "/assets/images/photos/aleshia-howell@3x.png",
                        authorQuote: "“#{brand_name_short} gave me the tools and knowledge I needed to start my business on the right foot. I'm amazed at how much I've learned in just a year.”",
                        frameColor: "blue"
                    },
                    {
                        authorName: "Daniel Gale-Rosen",
                        authorEducation: "Harvard University",
                        authorJob: "HYFN, Strategic Services",
                        authorPhoto: "/assets/images/photos/daniel-gale-rosen.png",
                        authorPhoto2x: "/assets/images/photos/daniel-gale-rosen@2x.png",
                        authorPhoto3x: "/assets/images/photos/daniel-gale-rosen@3x.png",
                        authorQuote: "“The #{brand_name_short} MBA program was an amazing way for me to broaden my skills and knowledge...”",
                        frameColor: "light-blue",
                        testimonialClass: "why-love-us-daniel"
                    },
                    {
                        authorName: "Robin Lu",
                        authorEducation: "University of California, Berkeley",
                        authorJob: "Gomay Group, Front-end Engineer",
                        authorPhoto: "/assets/images/photos/robin-lu.png",
                        authorPhoto2x: "/assets/images/photos/robin-lu@2x.png",
                        authorPhoto3x: "/assets/images/photos/robin-lu@3x.png",
                        authorQuote: "“My journey with #{brand_name_short} has been incredible. The course material equipped me with knowledge that led to a 66% salary increase.”",
                        frameColor: "green"
                    },
                    {
                        authorName: "Marcela Ruiz de Chávez Vélez",
                        authorEducation: "University of Cambridge",
                        authorJob: "Representative of Mexico, Mission Innovation Secretariat SENER",
                        authorPhoto: "/assets/images/photos/marcela-ruiz.png",
                        authorPhoto2x: "/assets/images/photos/marcela-ruiz@2x.png",
                        authorPhoto3x: "/assets/images/photos/marcela-ruiz@3x.png",
                        authorQuote: "“As an engineer, I learned quite a lot of business skills that I would have not learned otherwise. The #{brand_name_short} MBA gives a feeling of total satisfaction.”",
                        frameColor: "red"
                    },
                    {
                        authorName: "Brooke Gerstein",
                        authorEducation: "Cornell University",
                        authorJob: "Banfi Vintners, Marketing",
                        authorPhoto: "/assets/images/photos/brooke-gerstein.png",
                        authorPhoto2x: "/assets/images/photos/brooke-gerstein@2x.png",
                        authorPhoto3x: "/assets/images/photos/brooke-gerstein@3x.png",
                        authorQuote: "“#{brand_name_short} has given me the opportunity to not only work alongside incredibly talented classmates from around the country, but also to solidify concepts in a tangible and meaningful way, wherever I am, all via smartphone. Thank you, #{brand_name_short}!”",
                        frameColor: "yellow"
                    },
                    {
                        authorName: "Trisha Hautéa",
                        authorEducation: "Tufts University",
                        authorJob: "MIT, Program Facilitator",
                        authorPhoto: "/assets/images/photos/trisha-hautea.png",
                        authorPhoto2x: "/assets/images/photos/trisha-hautea@2x.png",
                        authorPhoto3x: "/assets/images/photos/trisha-hautea@3x.png",
                        authorQuote: "“I quickly learned how legitimate and challenging the #{brand_name_short} MBA program is. It's comprehensive and I learned way more than anticipated.”",
                        frameColor: "blue",
                        testimonialClass: "why-love-us-tricia"
                    },
                    {
                        authorName: "Anand Bhat",
                        authorEducation: "Purdue University",
                        authorJob: "Accenture, Systems Integration Lead",
                        authorPhoto: "/assets/images/photos/anand-bhat.png",
                        authorPhoto2x: "/assets/images/photos/anand-bhat@2x.png",
                        authorPhoto3x: "/assets/images/photos/anand-bhat@3x.png",
                        authorQuote: "“The value of an Ivy League MBA in a shortened compact and delightful user experience that makes learning great again!”",
                        frameColor: "light-blue"
                    },
                    {
                        authorName: "Kristian Fennessy",
                        authorEducation: "Massachusetts Institute of Technology (MIT)",
                        authorJob: "Solutions Engineering, Chartio",
                        authorPhoto: "/assets/images/photos/kristian-fennessy.png",
                        authorPhoto2x: "/assets/images/photos/kristian-fennessy@2x.png",
                        authorPhoto3x: "/assets/images/photos/kristian-fennessy@3x.png",
                        authorQuote: "“I used the knowledge I gained in #{brand_name_short}'s MBA to acquire a significant promotion in both role and compensation. I loved the program.”",
                        frameColor: "green"
                    },
                    {
                        authorName: "Tanzim Khan Milkey",
                        authorEducation: "Williams College",
                        authorJob: "360AlumniInc",
                        authorPhoto: "/assets/images/photos/tanzim-milkey.png",
                        authorPhoto2x: "/assets/images/photos/tanzim-milkey@2x.png",
                        authorPhoto3x: "/assets/images/photos/tanzim-milkey@3x.png",
                        authorQuote: "“#{brand_name_short} helped me become a better marketer, a better manager, and a better businessman.”",
                        frameColor: "red"
                    },
                    {
                        authorName: "Veronica Shea Salkin",
                        authorEducation: "Northwestern University",
                        authorJob: "Primary Stages, Marketing",
                        authorPhoto: "/assets/images/photos/veronica-salkin.png",
                        authorPhoto2x: "/assets/images/photos/veronica-salkin@2x.png",
                        authorPhoto3x: "/assets/images/photos/veronica-salkin@3x.png",
                        authorQuote: "“What I learned will stick with me far longer than a standard lecture-based curriculum could.”",
                        frameColor: "yellow"
                    },
                    {
                        authorName: "Benjamin Piven",
                        authorEducation: "Columbia University",
                        authorJob: "Digital Content Editor, Open Society Foundations",
                        authorPhoto: "/assets/images/photos/benjamin-piven.png",
                        authorPhoto2x: "/assets/images/photos/benjamin-piven@2x.png",
                        authorPhoto3x: "/assets/images/photos/benjamin-piven@3x.png",
                        authorQuote: "“#{brand_name_short} provides curious students of business with a convenient way to learn new skills, develop business acumen, and broaden their knowledge base.”",
                        frameColor: "blue"
                    },
                    {
                        authorName: "Lydia Montagnese",
                        authorEducation: "Johns Hopkins University",
                        authorJob: "CEO, Givdo",
                        authorPhoto: "/assets/images/photos/lydia-montagnese.png",
                        authorPhoto2x: "/assets/images/photos/lydia-montagnese@2x.png",
                        authorPhoto3x: "/assets/images/photos/lydia-montagnese@3x.png",
                        authorQuote: "“#{brand_name_short}'s mobile-friendly, almost gamified approach to learning helped me round out my proficiency on-the-go with important lessons in finance, economics, marketing, statistics, strategy, and more.”",
                        frameColor: "light-blue"
                    },
                    {
                        authorName: "Lindsey Allard",
                        authorEducation: "Dartmouth College",
                        authorJob: "The Strategic Agency, Marketing",
                        authorPhoto: "/assets/images/photos/lindsey-allard.png",
                        authorPhoto2x: "/assets/images/photos/lindsey-allard@2x.png",
                        authorPhoto3x: "/assets/images/photos/lindsey-allard@3x.png",
                        authorQuote: "“I loved the #{brand_name_short} program. I have never experienced interactive learning the way #{brand_name_short} provides. Highly recommend this to anybody who wants to take their career to the next level!”",
                        frameColor: "green"
                    },
                    {
                        authorName: "Brett Shadbolt",
                        authorEducation: "NYU Stern School of Business",
                        authorJob: "CEO, Phusjon Group",
                        authorPhoto: "/assets/images/photos/brett-shadbolt.png",
                        authorPhoto2x: "/assets/images/photos/brett-shadbolt@2x.png",
                        authorPhoto3x: "/assets/images/photos/brett-shadbolt@3x.png",
                        authorQuote: "“Great for working professionals. Very flexible and informative.”",
                        frameColor: "red"
                    },
                    {
                        authorName: "Alexandra Ekman",
                        authorEducation: "Karolinska Institutet",
                        authorJob: "Client Manager at Redeye AB",
                        authorPhoto: "/assets/images/photos/alexandra-ekman.png",
                        authorPhoto2x: "/assets/images/photos/alexandra-ekman@2x.png",
                        authorPhoto3x: "/assets/images/photos/alexandra-ekman@3x.png",
                        authorQuote: "“The freedom to take the courses wherever you are, together with the innovative pedagogy makes the #{brand_name_short} EMBA unique.”",
                        frameColor: "yellow"
                    },
                    {
                        authorName: "Erin Pellegrino",
                        authorEducation: "Cornell University",
                        authorJob: "Harvard University School of Design",
                        authorPhoto: "/assets/images/photos/erin-pellegrino.png",
                        authorPhoto2x: "/assets/images/photos/erin-pellegrino@2x.png",
                        authorPhoto3x: "/assets/images/photos/erin-pellegrino@3x.png",
                        authorQuote: "“I can't believe I went to two universities for undergraduate and graduate school, and never learned what #{brand_name_short} offered.”",
                        frameColor: "blue"
                    },
                    {
                        authorName: "Pearce Wurthner-Labrecque",
                        authorEducation: "UNC, Chapel Hill",
                        authorJob: "QuickBase, Inc",
                        authorPhoto: "/assets/images/photos/pearce-labrecque.png",
                        authorPhoto2x: "/assets/images/photos/pearce-labrecque@2x.png",
                        authorPhoto3x: "/assets/images/photos/pearce-labrecque@3x.png",
                        authorQuote: "“The #{brand_name_short} MBA program was an incredible experience and continual resource! Consider me a #{brand_name_short} brand ambassador!”",
                        frameColor: "light-blue"
                    },
                    {
                        authorName: "Tomas Nyitray",
                        authorEducation: "ETH Zurich",
                        authorJob: "Portfolio Manager, SBB Cargo",
                        authorPhoto: "/assets/images/photos/tomas-nyitray.png",
                        authorPhoto2x: "/assets/images/photos/tomas-nyitray@2x.png",
                        authorPhoto3x: "/assets/images/photos/tomas-nyitray@3x.png",
                        authorQuote: "“The content and key messages are really well prepared and easy to implement.”",
                        frameColor: "green"
                    },
                    {
                        authorName: "Regina Jaslow",
                        authorEducation: "University of Pennsylvania - The Wharton School",
                        authorJob: "Chief Revenue Officer, Amplicare",
                        authorPhoto: "/assets/images/photos/regina-jaslow.png",
                        authorPhoto2x: "/assets/images/photos/regina-jaslow@2x.png",
                        authorPhoto3x: "/assets/images/photos/regina-jaslow@3x.png",
                        authorQuote: "“New courses are continually added and offer fantastic value for a quality education. Having access to the careers platform is also a huge plus.”",
                        frameColor: "blue"
                    },
                    {
                        authorName: "Dylan Pradas",
                        authorEducation: "University of Virginia, McIntire School of Commerce",
                        authorJob: "Atlantic Media, Financial Manager",
                        authorPhoto: "/assets/images/photos/dylan-pradas.png",
                        authorPhoto2x: "/assets/images/photos/dylan-pradas@2x.png",
                        authorPhoto3x: "/assets/images/photos/dylan-pradas@3x.png",
                        authorQuote: "“You will find yourself referring back to the material found on #{brand_name_short} for the rest of your career.”",
                        frameColor: "yellow"
                    },
                    {
                        authorName: "Liza Graziano",
                        authorEducation: "Cornell University",
                        authorJob: "Verizon, HR",
                        authorPhoto: "/assets/images/photos/liza-graziano.png",
                        authorPhoto2x: "/assets/images/photos/liza-graziano@2x.png",
                        authorPhoto3x: "/assets/images/photos/liza-graziano@3x.png",
                        authorQuote: "“#{brand_name_short} was a great way for me to obtain additional business acumen without needing to commit to the time and cost of a traditional MBA.”",
                        frameColor: "blue"
                    },
                    {
                        authorName: "Chia Jia Hao",
                        authorEducation: "National University of Singapore",
                        authorJob: "Innovation Program Lead, DBS Bank",
                        authorPhoto: "/assets/images/photos/chia-jia-hao.png",
                        authorPhoto2x: "/assets/images/photos/chia-jia-hao@2x.png",
                        authorPhoto3x: "/assets/images/photos/chia-jia-hao@3x.png",
                        authorQuote: "“#{brand_name_short} is intense, but very effective! I was definitely challenged.”",
                        frameColor: "light-blue"
                    },
                    {
                        authorName: "Marcus Gilmore",
                        authorEducation: "New York University",
                        authorJob: "Sr. Regional Manager, Center for Sustainable Energy (CSE)",
                        authorPhoto: "/assets/images/photos/marcus-gilmore.png",
                        authorPhoto2x: "/assets/images/photos/marcus-gilmore@2x.png",
                        authorPhoto3x: "/assets/images/photos/marcus-gilmore@3x.png",
                        authorQuote: "“Participating in #{brand_name_short}'s EMBA influenced how I approached my current role and contributed to me receiving a promotion prior to completing the program.”",
                        frameColor: "green"
                    },
                    {
                        authorName: "Ian Lee",
                        authorEducation: "University of North Carolina at Chapel Hill",
                        authorJob: "Carbon Black, Product Marketing Manager",
                        authorPhoto: "/assets/images/photos/ian-lee.png",
                        authorPhoto2x: "/assets/images/photos/ian-lee@2x.png",
                        authorPhoto3x: "/assets/images/photos/ian-lee@3x.png",
                        authorQuote: "“#{brand_name_short} is the future of education: fast, effective and mobile.”",
                        frameColor: "red"
                    },
                    {
                        authorName: "Samuel Miles",
                        authorEducation: "Yale University",
                        authorJob: "African Leadership University, Facilitator",
                        authorPhoto: "/assets/images/photos/samuel-miles.png",
                        authorPhoto2x: "/assets/images/photos/samuel-miles@2x.png",
                        authorPhoto3x: "/assets/images/photos/samuel-miles@3x.png",
                        authorQuote: "“#{brand_name_short} is pedagogy done right for the modern omni-learner.  As an educator I could really see the best practices so often talked about baked in seamlessly.”",
                        frameColor: "yellow"
                    },
                    {
                        authorName: "Geoffrey Schutta",
                        authorEducation: "The College of William and Mary",
                        authorJob: "CGI, Senior Consultant",
                        authorPhoto: "/assets/images/photos/geoffrey-schutta.png",
                        authorPhoto2x: "/assets/images/photos/geoffrey-schutta@2x.png",
                        authorPhoto3x: "/assets/images/photos/geoffrey-schutta@3x.png",
                        authorQuote: "“This MBA program could become one of the most beneficial and worthwhile endeavors for students and companies.”",
                        frameColor: "blue"
                    },
                    {
                        authorName: "Sachin Doshi",
                        authorEducation: "Duke University",
                        authorJob: "Mental Health America (MHA)",
                        authorPhoto: "/assets/images/photos/sachin-doshi.png",
                        authorPhoto2x: "/assets/images/photos/sachin-doshi@2x.png",
                        authorPhoto3x: "/assets/images/photos/sachin-doshi@3x.png",
                        authorQuote: "“The format engaged me more than most classes I've taken in person. I feel better equipped to tackle real-world problems with the knowledge I've gained.”",
                        frameColor: "light-blue"
                    },
                    {
                        authorName: "Raphael Sung Tark Mun",
                        authorEducation: "Carnegie Mellon",
                        authorJob: "CEO, Lemmino",
                        authorPhoto: "/assets/images/photos/raphael-sung-tark-mun.png",
                        authorPhoto2x: "/assets/images/photos/raphael-sung-tark-mun@2x.png",
                        authorPhoto3x: "/assets/images/photos/raphael-sung-tark-mun@3x.png",
                        authorQuote: "“Finding out about #{brand_name_short} and deciding to apply is one of the best decisions I've ever made.”",
                        frameColor: "green"
                    },
                    {
                        authorName: "Jake Rudin",
                        authorEducation: "Cornell University",
                        authorJob: "GatherEducation, Director, Business Development",
                        authorPhoto: "/assets/images/photos/jake-rudin.png",
                        authorPhoto2x: "/assets/images/photos/jake-rudin@2x.png",
                        authorPhoto3x: "/assets/images/photos/jake-rudin@3x.png",
                        authorQuote: "“#{brand_name_short} provided me with an MBA \"on the go.\" It's everything you need in a degree and nothing you don't!”",
                        frameColor: "red"
                    },
                    {
                        authorName: "Ian Rea",
                        authorEducation: "Princeton University",
                        authorJob: "Pricing Associate at EDP Renewables North America",
                        authorPhoto: "/assets/images/photos/ian-rea.png",
                        authorPhoto2x: "/assets/images/photos/ian-rea@2x.png",
                        authorPhoto3x: "/assets/images/photos/ian-rea@3x.png",
                        authorQuote: "“Honestly, in terms of learning efficiency and effectiveness, the #{brand_name_short} app put most of the courses I took at Princeton to shame.”",
                        frameColor: "yellow"
                    },
                    {
                        authorName: "Elizabeth Kennard",
                        authorEducation: "Yale University",
                        authorJob: "Sr. Manager, Canon Medical Systems USA, Inc.",
                        authorPhoto: "/assets/images/photos/elizabeth-kennard.png",
                        authorPhoto2x: "/assets/images/photos/elizabeth-kennard@2x.png",
                        authorPhoto3x: "/assets/images/photos/elizabeth-kennard@3x.png",
                        authorQuote: "“The #{brand_name_short} program is a unique and engaging way for busy professionals to build their knowledge and gain their business degree.”",
                        frameColor: "green"
                    },
                    {
                        authorName: "Pavel Gurevich",
                        authorEducation: "UC, Berkeley",
                        authorJob: "hiQ Labs",
                        authorPhoto: "/assets/images/photos/pavel-gurevich.png",
                        authorPhoto2x: "/assets/images/photos/pavel-gurevich@2x.png",
                        authorPhoto3x: "/assets/images/photos/pavel-gurevich@3x.png",
                        authorQuote: "“#{brand_name_short} was an amazing experience!”",
                        frameColor: "light-bluee"
                    },
                    {
                        authorName: "Michael Horn",
                        authorEducation: "Yale University, HBS",
                        authorJob: "Co-Founder, Clayton Christensen Institute",
                        authorPhoto: "/assets/images/signup/michael_horn.png",
                        authorPhoto2x: "/assets/images/signup/michael_horn.png",
                        authorPhoto3x: "/assets/images/signup/michael_horn.png",
                        authorQuote: "“#{brand_name_short} is the educational framework of the future.”",
                        frameColor: "red"
                    },
                    {
                        authorName: "Greg Buechler",
                        authorEducation: "Talent Acquisition Specialist",
                        authorPhoto: "/assets/images/employers/talent-specialist-logo.png",
                        authorPhoto2x: "/assets/images/employers/talent-specialist-logo.png",
                        authorPhoto3x: "/assets/images/employers/talent-specialist-logo.png",
                        authorQuote: "“#{brand_name_short} has allowed us to hire executive talent from around the world in the shortest time I have ever experienced in my 30 years of Recruiting. I am almost unwilling to share this gem of a tool!”",
                        frameColor: ""
                    },
                    {
                        authorName: "Ricky Ge",
                        authorEducation: "Cofounder, ZoomKinetics",
                        authorPhoto: "/assets/images/meet_our_candidates/zoomkinetics-logo.jpg",
                        authorPhoto2x: "/assets/images/meet_our_candidates/zoomkinetics-logo.jpg",
                        authorPhoto3x: "/assets/images/meet_our_candidates/zoomkinetics-logo.jpg",
                        authorQuote: "“#{brand_name_short}'s curated talent pool and efficient discovery system made it fast and easy for me to recruit talent for my company”",
                        frameColor: ""
                    }
                ]
            }
        %>

        <hr class="divider divider--small divider--light-fade">

        <h1 class="section__title section__title--recognized">You’ll find leading companies in <br class="hidden-xs">Smartly Talent, our career network.</h1>
        <div class="leading-companies row">
            <%= render "shared/company_logos" %>
        </div>

        <hr class="divider divider--small divider--light-fade">

        <h1 class="section__title section__title--recognized">We’ve been recognized with <br class="hidden-xs">awards and distinctions.</h1>
        <div class="smartly-awards smartly-awards--why-people-love-us row">
            <div class="col-xs-12 col-md-10">
                <figure>
                    <img class="edtech" src="<%= get_webpack_asset_value_for_key '/assets/images/homepage/awards/edtech-awards.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/homepage/awards/edtech-awards@2x.png' %>" alt="EdTech Awards">
                </figure>
                <figure>
                    <img class="reimagine" src="<%= get_webpack_asset_value_for_key '/assets/images/homepage/awards/reimagine-education-awards.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/homepage/awards/reimagine-education-awards@2x.png' %>" alt="Reimagine Education Awards">
                </figure>
                <figure>
                    <img class="inovation" src="<%= get_webpack_asset_value_for_key '/assets/images/homepage/awards/innovation-awards.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/homepage/awards/innovation-awards@2x.png' %>" alt="Innovation Awards">
                </figure>
                <figure>
                    <img class="venture-out" src="<%= get_webpack_asset_value_for_key '/assets/images/homepage/awards/award-venture-out.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/homepage/awards/award-venture-out@2x.png' %>" alt="Venture Out Awards">
                </figure>
                <figure>
                    <img class="webby" src="<%= get_webpack_asset_value_for_key '/assets/images/homepage/awards/award-webby.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/homepage/awards/award-webby@2x.png' %>" alt="The Webby Awards">
                </figure>
                <figure>
                    <img class="dubai-future" src="<%= get_webpack_asset_value_for_key '/assets/images/homepage/awards/award-dubai.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/homepage/awards/award-dubai@2x.png' %>" alt="Dubai Future Accelerator Awards">
                </figure>
            </div>
        </div>
    </div>
</section>
<%= render partial: "marketing/banner/banner-call-to-action",
    locals: {
        title: "Ready to make a career move?",
        subtitle: "Your future is waiting for you.",
        bannerClass: "banner--sign-up-now",
        bgClass: "call-to-action__bg",
        btnText: "Sign Up Now",
        btnLink: "/candidates/register",
        btnClass: "button--md-primary"
    }
 %>
<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
