<div class="nav-menu-mobile hidden-md hidden-lg">

    <a class="nav-menu-mobile__toggler-btn">
        <img class="js-close-mobile-menu nav-menu-mobile__toggler-btn--close" src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/close-menu-icon.svg' %>" alt="close menu">
        <img class="js-close-mobile-menu nav-menu-mobile__toggler-btn--close-sticky" src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/close-menu-icon.svg' %>" alt="close menu">
        <img class="js-open-mobile-menu nav-menu-mobile__toggler-btn--open" src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/hamburger-menu-icon.svg' %>" alt="menu">
        <img class="js-open-mobile-menu nav-menu-mobile__toggler-btn--open-sticky" src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/hamburger-menu-pink-icon.svg' %>" alt="menu">
    </a>

    <div class="nav-menu-mobile__toggler-wrapper" style="opacity: 0; top: -100px; display: none;">

        <!-- TODO: Update to new login / signup routes after unifying -->
        <% if show_hiring_join_button %>
        <%= render partial: "marketing/buttons/button-lg-primary", locals: { text: "sign up - it's free", link: "/employers/signup", ng_show: "!app.loggedIn", ng_click: "app.logClick('join-hiring')" } %>
        <% end %>

        <% if show_learner_join_button %>
        <%= render partial: "marketing/buttons/button-lg-primary", locals: {
                text: local_assigns.fetch(:text, 'apply to the mba'),
                link: local_assigns.fetch(:link, '/candidates/signup'),
                ng_show: "!app.loggedIn",
                ng_click: "app.logClick('join-free')" } %>
        <% end %>

        <% if show_emba_join_button %>
        <%= render partial: "marketing/buttons/button-lg-primary", locals: { text: "apply to the emba", link: '/candidates/signup?program=emba', ng_show: "!app.loggedIn", ng_click: "app.logClick('apply-execmba')", target: "_blank" } %>
        <% end %>

        <% if show_demo_request_button %>
        <%= render partial: "marketing/buttons/button-lg-primary", locals: { text: "request demo", link: "/contact-form", ng_show: "!app.loggedIn", ng_click: "app.logClick('demo-request')", target: "_blank" } %>
        <% end %>

        <%= render partial: "marketing/buttons/button-lg-primary", locals: { text: "return to dashboard", link: "/home", ng_show: "!!app.loggedIn && !app.continueApplicationInMarketing", ng_click: "app.logClick('home')" } %>

        <%= render partial: "marketing/buttons/button-lg-primary", locals: { text: "continue my application", link: "/settings/application", ng_show: "!!app.loggedIn && app.continueApplicationInMarketing", ng_click: "app.logClick('application')" } %>

        <% if !omit_nav %>
        <div class="nav-menu-mobile__list-wrapper">
            <div class="scroll-pane">
                <ul class="nav-menu-mobile__list">
                    <li class="nav-menu-mobile__item">For Students</li>
                    <li>
                        <a href="/mba">The Free MBA</a>
                    </li>
                    <li>
                        <a href="/executive-mba">The Executive MBA</a>
                    </li>
                    <li>
                        <a href="/programs">All Programs</a>
                    </li>
                </ul>
                <ul class="nav-menu-mobile__list">
                    <li>
                        <a href="/tuition-assistance/students">Tuition Reimbursement</a>
                    </li>
                    <li>
                        <a href="/candidates/join-career-network">Career Network</a>
                    </li>
                </ul>
                <ul class="nav-menu-mobile__list">
                    <li class="nav-menu-mobile__item">For Employers</li>
                    <%= render partial: "/marketing/header/quantic/links/employers" %>
                </ul>

                <a ng-if="!app.loggedIn" class="link link--color-primary nav-menu-mobile__login-link text-center" href="/sign-in">
                    <span>log in</span>
                    <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'right-arrow-pink-icon.svg') %>
                </a>

                <br ng-if="!!app.loggedIn">

            </div>
        </div>
        <% end %>

    </div>

</div>
