<div class="nav-menu clearfix hidden-xs hidden-sm">

    <% if !omit_nav %>
    <div class="nav-menu__col pull-left">
        <div class="nav-menu__content-middle">
            <div class="nav-menu__list-wrapper">
                <a class="nav-menu__list-title nav-menu-toggler">
                    <span>For Students</span>
                    <img class="nav-menu-toggler__chevron-white" src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/chevron-icon.svg' %>" alt="chevron">
                    <img class="nav-menu-toggler__chevron-grey" src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/chevron-grey-icon.svg' %>" alt="grey chevron">
                </a>

                <ul class="nav-menu__list">
                    <li>
                        <a href="/mba">The Free MBA</a>
                    </li>
                    <li>
                        <a href="/executive-mba">The Executive MBA</a>
                    </li>
                    <li>
                        <a href="/programs">All Programs</a>
                    </li>
                    <li><hr></li>
                    <li>
                        <a href="/student-experience">Student Experience</a>
                    </li>
                    <li>
                        <a href="/tuition-assistance/students">Tuition Reimbursement</a>
                    </li>
                    <li>
                        <a href="/candidates/join-career-network">Career Network</a>
                    </li>
                </ul>
            </div>

            <div class="nav-menu__list-wrapper">
                <a class="nav-menu__list-title nav-menu-toggler">
                    <span>For Employers</span>
                    <img class="nav-menu-toggler__chevron-white" src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/chevron-icon.svg' %>" alt="chevron">
                    <img class="nav-menu-toggler__chevron-grey" src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/chevron-grey-icon.svg' %>" alt="grey chevron">
                </a>

                <ul class="nav-menu__list">
                    <%= render partial: "/marketing/header/quantic/links/employers" %>
                </ul>
            </div>
        </div>
    </div>
    <% end %>

    <div class="nav-menu__col pull-right">
        <div class="nav-menu__content-middle" style="opacity: 0;" ng-style="{opacity: 1}">

            <!-- TODO: Update to new login / signup routes after unifying -->
            <a ng-show="!app.loggedIn" class="link link--color-secondary nav-menu__login-link" href="/sign-in">log in</a>

            <% if show_hiring_join_button %>
            <a ng-show="!app.loggedIn" ng-click="app.logClick('join-hiring')" class="js-cta button <%= " #{signBtnClass}" if local_assigns.has_key? :signBtnClass %>" href="<%=local_assigns.fetch :link, '/employers/signup' %>" title="Get Started!">Sign Up - It’s Free</a>
            <% end %>

            <% if show_learner_join_button %>
            <a ng-show="!app.loggedIn" ng-click="app.logClick('join-free')" class="js-cta button <%= " #{signBtnClass}" if local_assigns.has_key? :signBtnClass %>" href="<%=local_assigns.fetch :link, '/candidates/signup' %>"><%=local_assigns.fetch :text, 'Apply to the MBA' %></a>
            <% end %>

            <% if show_emba_join_button %>
            <a ng-show="!app.loggedIn" ng-click="app.logClick('apply-execmba')" class="js-cta button <%= " #{signBtnClass}" if local_assigns.has_key? :signBtnClass %>" href="<%=local_assigns.fetch :link, '/candidates/signup?program=emba' %>" target="_blank" title="Get Started!">Apply to the EMBA</a>
            <% end %>

            <% if show_demo_request_button %>
            <a ng-show="!app.loggedIn" ng-click="app.logClick('demo-request')" class="js-cta button <%= " #{signBtnClass}" if local_assigns.has_key? :signBtnClass %>" href="<%= "/contact-form" %>" target="_blank" title="Demo Request">Request Demo</a>
            <% end %>

            <a ng-show="!!app.loggedIn && !app.continueApplicationInMarketing" ng-click="app.logClick('home')" class="js-cta button <%= " #{signBtnClass}" if local_assigns.has_key? :signBtnClass %>" href="/home" title="Return to Dashboard">Return to Dashboard</a>

            <a ng-show="!!app.loggedIn && app.continueApplicationInMarketing" ng-click="app.logClick('application')" class="js-cta button <%= " #{signBtnClass}" if local_assigns.has_key? :signBtnClass %>" href="/settings/application" title="Continue My Application">Continue My Application</a>

        </div>
    </div>

</div>
