<li>
    <a href="/mba">The Free MBA</a>
</li>
<li>
    <a href="/executive-mba">The Executive MBA</a>
</li>
<li>
    <a href="/prices/students">Program Comparison</a>
</li>
<li>
    <a href="/student-experience">Student Experience</a>
</li>
<li>
    <a href="/tuition-assistance/students">Tuition Reimbursement</a>
</li>
<li>
    <a href="/consumer-disclosure" target="_blank">Consumer Disclosure</a>
</li>
<li>
    <a href="/school-catalog" target="_blank">Quantic Catalog</a>
</li>
