<div class="idology-message">
    <h1>Document Upload Failed</h1>
    <p>To try again, <b>please return to <%= brand_name_short %></b> and request a new link.</p>
    <div class="important-tips">
        <h3><span>Important Tips</span></h3>
        <div>
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/phone-documents.svg' %>" class="bump">
            <ul>
                <li>Place document on dark, flat surface</li>
                <li>Ensure all 4 corners are visible in frame</li>
                <li>Avoid glare, blur, and shadows</li>
            </ul>
        </div>
        <div>
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/phone-selfie.svg' %>">
            <ul>
                <li>Take a clear, well-lit photo</li>
                <li>Ensure entire head is visible and centered</li>
                <li>Avoid blur and shadows</li>
            </ul>
        </div>
    </div>
</div>