<% if @idology_verification.verified == false %>
<div class="idology-message">
    <h1>Oops!</h1>
    <p>This link has already been used. <b>Please go back to <%= brand_name_short %></b> to request a new link.</p>
</div>
<% elsif @idology_verification.verified == true %>
<div class="idology-message">
    <h1>Success!</h1>
    <p>Your identity has already been verified using this link. <b>Please go back to <%= brand_name_short %></b>.</p>
</div>
<% else %>

<div class="idology-message hide-mobile">
    <h1>Oops!</h1>
    <p>Please open this link on a mobile device with a working camera.</p>
    <div class="icon">
        <svg width="41px" height="64px" viewBox="0 0 41 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path d="M36.4513678,0 C38.974924,0 41,2.03125 41,4.5625 L41,59.4375 C41,61.96875 38.974924,64 36.4513678,64 L4.54863222,64 C2.02507599,64 0,61.96875 0,59.4375 L0,4.5625 C0,2.03125 2.02507599,0 4.54863222,0 L36.4513678,0 Z M38.7256839,9.15625 L38.7256839,4.5625 C38.7256839,3.3125 37.6975684,2.28125 36.4513678,2.28125 L4.54863222,2.28125 C3.30243161,2.28125 2.27431611,3.3125 2.27431611,4.5625 L2.27431611,9.15625 L38.7256839,9.15625 Z M22.7743161,4.5625 C23.3974164,4.5625 23.9270517,5.09375 23.9270517,5.71875 C23.9270517,6.34375 23.3974164,6.84375 22.7743161,6.84375 L18.2256839,6.84375 C17.6025836,6.84375 17.0729483,6.34375 17.0729483,5.71875 C17.0729483,5.09375 17.6025836,4.5625 18.2256839,4.5625 L22.7743161,4.5625 Z M38.7256839,52.5625 L38.7256839,11.4375 L2.27431611,11.4375 L2.27431611,52.5625 L38.7256839,52.5625 Z M38.7256839,59.4375 L38.7256839,54.84375 L2.27431611,54.84375 L2.27431611,59.4375 C2.27431611,60.6875 3.30243161,61.71875 4.54863222,61.71875 L36.4513678,61.71875 C37.6975684,61.71875 38.7256839,60.6875 38.7256839,59.4375 Z M20.5,60.5625 C19.2537994,60.5625 18.2256839,59.5625 18.2256839,58.28125 C18.2256839,57.03125 19.2537994,56 20.5,56 C21.7462006,56 22.7743161,57.03125 22.7743161,58.28125 C22.7743161,59.5625 21.7462006,60.5625 20.5,60.5625 Z" id="" fill="#A9A197"></path>
            </g>
        </svg>
    </div>
</div>

<div class="idology-message firefox-mobile" id="firefox-mobile-message">
    <h1>We're sorry</h1>
    <p>Firefox on Android is not supported by IDology. Please use another web browser on your mobile device.</p>
</div>


<!--
<iframe class="idology-iframe" id="main-iframe" frameborder="0" src="<%= @scan_capture_url %>"></iframe>
-->

<script>

function ready(callback){
    // in case the document is already rendered
    if (document.readyState!='loading') callback();
    // modern browsers
    else if (document.addEventListener) document.addEventListener('DOMContentLoaded', callback);
    // IE <= 8
    else document.attachEvent('onreadystatechange', function(){
        if (document.readyState=='complete') callback();
    });
}

ready(function(){
    var parser = new window.UAParser();
    if (parser.getBrowser().name !== "Firefox" && (parser.getDevice().type == 'mobile' || parser.getUA().indexOf('Mobile') > -1)) {
        window.location = "<%= @scan_capture_url %>";
    }
});
</script>

<% end %>