<%= render partial: "marketing/the-executive-certificates/description", locals: {
  title: "Admission Decisions",
  text: "We evaluate candidates on their academic background, career accomplishments and the thoughtfulness and candor within their application. Ultimately, we look for driven professionals and entrepreneurs with business and management potential."
} %>

<section class="section section--admission-criteria section--admission-criteria--executive section--admission-criteria--executive--certificates">
  <div class="section--admission-criteria__background section--admission-criteria__background--executive"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center admission-criteria-text">
          <div class="gallery__title">Admission Criteria</div>
          <div class="gallery__description">The <strong><%= local_assigns[:title] %> Certificate</strong> is open to professionals from a diverse set of industry backgrounds, and is highly selective. It values, but does not assume, prior business experience, and has the following minimum requirements:</div>
        </div>
      </div>
      <div class="row text-center">
        <ul class="check-cards">
          <li>Undergraduate / bachelor’s degree*</li>
          <li>Minimum 2 years industry experience</li>
          <li>English language proficiency</li>
        </ul>
        <div class="executive-mba-under-check-cards-text">*with exceptional career achievements, this requirement may be waived.</div>
      </div>
      <div class="divider divider--light-fade executive-mba-under-check-cards-divider"></div>
    </div>
</section>

<section class="section section--one-by-one section--one-by-one-admissions-executive section--one-by-one-admissions-executive-certificates">
  <div class="gallery gallery--one-by-one container">
    <div class="row interviews">
      <div class="col-xs-12 col-sm-6">
        <img width="222" src="<%= get_webpack_asset_value_for_key '/assets/vectors/free-mba/illustration-interviews.svg' %>" class="gallery__illustration gallery__illustration--interviews">
      </div>
      <div class="col-xs-12 col-sm-6 text-center text-sm-left gallery__text">
        <div class="gallery__title">Enrollment</div>
        <p class="gallery__description">Once admitted, you may begin study at your convenience. The program is self-paced, typically completed in a 3-4 month timeframe.</p>
      </div>
    </div>
    <div class="row tuition-fees">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <img width="260" src="<%= get_webpack_asset_value_for_key '/assets/vectors/free-mba/pricing-scholarships.svg' %>" class="gallery__illustration gallery__illustration--tuition-fees">
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6 text-center text-sm-left gallery__text">
        <div class="gallery__title">Tuition Fees</div>
        <p class="gallery__description">Tuition for the <%= local_assigns[:title] %> Certificate is $1500 USD. Our fees are more affordable than traditional programs thanks to our innovative model that charges companies to hire students in our optional career network.</p>
      </div>
    </div>
  </div>
</section>
