<%= render partial: "marketing/the-executive-certificates/description", locals: {
  title: local_assigns[:description_title],
  text: local_assigns[:description_text]
} %>

<%= render partial: "marketing/the-executive-certificates/our-method",
    locals: {
      title: 'Our Method',
      text: "#{brand_name_short} is a pioneer in technology-driven instructional design. Our award-winning interactive software represents the core of this Executive Certificate curriculum. Our team of writers, editors and developers work with leading professors from top business schools to bring a traditional course of study to life, with bite-size lessons and individualized feedback every 8 seconds.",
      linkText: 'More About Our Method',
      linkUri: '/programs/method'
    }
%>

<section class="section section--the-curriculum section--the-curriculum-executive-certificates">
  <div class="section-cut-shape"></div>
  <div class="container">
    <div class="row text-center">
      <h1 class="gallery__title">The Curriculum</h1>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <p class="gallery__description">The <%= local_assigns[:title] %> curriculum is comprised of <strong><%= @curriculum[:concentrations][0][:streams].length %> required courses</strong> culminating in a final graded project.</p>
      </div>
    </div>
    <div class="the-curriculum-accordion">
      <div class="nestable-accordion">
        <%= render partial: "marketing/nestable-accordion-courses", locals: { courses: @curriculum[:concentrations][0][:streams] } %>
      </div>
    </div>
  </div>
</section>

<section class="section--executive-certificates-projects-diploma">
  <div class="container">
    <div class="row projects">
      <div class="col-xs-12 col-sm-6">
        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/illustration-written-project.svg' %>" alt="Projects" class="gallery__illustration">
      </div>
      <div class="col-xs-12 col-sm-6 gallery__text">
        <div class="gallery__title">Projects</div>
        <div class="gallery__description">In addition to completing the interactive online curriculum, enrolled students submit a final graded project at the conclusion of the program.</div>
      </div>
    </div>
    <div class="row diploma">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/certificates/executive-certificates.svg' %>" alt="Diploma" class="gallery__illustration">
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6 gallery__text">
        <div class="gallery__title">Diploma</div>
        <div class="gallery__description">The <%= local_assigns[:title] %> Certificate is awarded by Smartly's School of Professional Education, licensed by the Office of the State Superintendent of Education (OSSE) of Washington, DC.</div>
      </div>
    </div>
  </div>
</section>
