<%= render partial: "marketing/the-executive-certificates/description", locals: {
  title: "The #{brand_name_short} Network",
  text: "Beyond the award-winning education, our network of exceptional alumni and corporate partners will expand your career options. We're selective both in admissions and in our career network, offering our students the best personal connections and professional opportunities."
} %>

<section class="section section--one-by-one">
  <div class="section--one-by-one__background"></div>
  <div class="gallery gallery--one-by-one container">
    <div class="row students-alumni">
      <div class="col-xs-12 col-sm-6">
        <img width="240" src="<%= get_webpack_asset_value_for_key '/assets/vectors/mba/network/illustrations-students-alumni.svg' %>" class="gallery__illustration gallery__illustration--students-alumni">
      </div>
      <div class="col-xs-12 col-sm-6 text-center text-sm-left gallery__text">
        <div class="gallery__title">Students & Alumni</div>
        <p class="gallery__description">While a student, you’ll have the option to meet fellow students at social gatherings at international cities around the world. Even prior to completing the certificate, you’ll get the full power of our alumni network, connecting with thousands of the brightest minds who have joined us since our inception.</p>
      </div>
    </div>
    <div class="row smartly-talent">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <div class="smartly-talent__image">
          <picture>
            <source media="(min-width: 992px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/network/logos-smartly-talent-desktop.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/network/logos-smartly-talent-desktop@2x.png' %> 2x">
            <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/network/logos-smartly-talent.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/network/logos-smartly-talent@2x.png' %> 2x">
            <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/network/logos-smartly-talent.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/network/logos-smartly-talent@2x.png' %>" alt="">
          </picture>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6 text-center text-sm-left gallery__text">
        <div class="gallery__title">Smartly Talent</div>
        <p class="gallery__description">Our career network flips the model of traditional education. Instead of high tuition fees for students, we charge companies when they recruit and hire our exceptional students and graduates. Welcome to the business school of the future.</p>
        <div class="gallery__link">
          <a class="link link--text-sm" href="/employers/recruit-our-candidates">
            More About Smartly Talent
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>