

/* FLEXSLIDER = TESTIMONIALS */

.flexslider .slides img{
    /*behavior: url(css/PIE.htc);*/
}

/* end testimonial block */

.flex-direction-nav a {width: 35px; height: 52px; margin: -24px 0px 0;  background:#FFF;display: block; background: url('../img/mediumarrows.png') no-repeat 0 0; position: absolute; top: 50%; z-index: 9999999; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;transition: all .3s ease; -moz-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: -56px 0; right: -36px }
.flex-direction-nav .flex-prev {background-position: -3px -1px; left: -36px; display: none;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}

.testblock:hover .flex-next {opacity: 0.8; right: 5px;}
.testblock:hover .flex-prev {opacity: 0.8; left: 5px;}

@media (max-width: 767px) {
    body{
        padding-left:0px;
        padding-right:0px;
    }

    .paddingcnt{
        padding:0 20px;
    }

    .testimonialblock h1 {
    padding-bottom: 45px;
    padding-top:25px;
    }

    .testimonialblock {
        padding-bottom: 60px;
    }

    .bottompad {
        line-height: 65px;
    }

.flex-direction-nav .flex-next {background-position: -56px 0; right: 2px }
.flex-direction-nav .flex-prev {background-position: -3px -1px; left: 0px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 0px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}

.testblock:hover .flex-next {opacity: 0.8; right: 0px;}
.testblock:hover .flex-prev {opacity: 0.8; left: 0px;}
}

@media (min-width: 481px) and (max-width: 767px) {
    .flex-direction-nav a { top: 45%;}
}

@media (max-width: 480px) {
    .flex-direction-nav a { top: 40%;}
}



/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0; }
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block; border-radius:50%}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 0px; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; -webkit-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}



/** Morph Button **/

/* Morph Button: Default Styles */

.morph-button {
    position: relative;
    display: block;
    margin: 0 auto;
}

.morph-button > button {
    position: relative;
}

.morph-button.open > button {
    pointer-events: none;
}


.overlay {
    visibility: hidden;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    pointer-events: none;
}

.overlay.open {
    visibility: visible;
    display: block;
    opacity: 1;
}


.morph-content {
    background-color: #4D7AFF;
    color: #fff;
    pointer-events: none;
    width: 212px;
    height: 48px;
    position: fixed;
    z-index: 10000;
    opacity: 0;
    -webkit-transition: background-color 0.3s 0.5s, opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
    transition: background-color 0.3s 0.5s, opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
    overflow: hidden;
}

.morph-content > div {
    opacity: 0;
    height: 100%;
    -webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
    transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}

.morph-content.open {
    margin: -255px 0 0 -210px;
    width: 420px;
    height: 555px;
    pointer-events: auto;
    opacity: 1;
    top: 50% !important;
    left: 50% !important;
    -webkit-transition: background-color 0.3s 0.1s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
    transition: background-color 0.3s 0.1s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morph-content.open > div {
    opacity: 1;
    -webkit-transition: opacity 0.3s 0.3s;
    transition: opacity 0.3s 0.3s;
}


.morph-button-fixed > button {
    z-index: 1000;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.1s 0.5s;
    transition: opacity 0.1s 0.5s;
}

.morph-button-fixed.open > button {
    opacity: 0;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}

.morph-button-fixed.active > button {
    z-index: 9999;
}


.morph-button-modal.active::before {
    z-index: 1800;
}

/* Colors and sizes for individual modals */

.morph-button.morph-button-modal-3 {
    display: inline-block;
    margin: 10px 0px;
}

/* Colors and sizes non-modal launch buttons */

.launch-button {
    display: inline-block;
    position: relative;
    margin: 10px 0px;
     -webkit-transition: opacity 0.1s 0.5s;
    transition: opacity 0.1s 0.5s;
}
.launch-button > button.launch {
    border: 1px solid rgba(255,255,255,0.40);
}

/* Helper classes */
.noscroll {
    overflow: hidden;
}

.no-transition {
    -webkit-transition: none !important;
    transition: none !important;
}

/* Media Queries */

@media screen and (max-width: 767px) {
    .morph-content.open {
        top: 0% !important;
        left: 0% !important;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        -webkit-transition: background-color 0.4s 0.1s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
        transition: background-color 0.4s 0.1s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    }
}
