@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900|Merriweather+Sans:800);

/* Icons */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('/landing-pages/fonts/icomoon.woff?i64fx9') format('woff');
}

.icon-close {
	z-index: 100;
	display: block;
	overflow: hidden;
	width: 3em;
	height: 3em;
	text-align: center;
	line-height: 3;
	cursor: pointer;
}

.icon:before {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close::before {
	content: "\e601";
}

.icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
}

.icon-close:hover {
	color: #a50a05;
}


/* Style for form modal */
.content-style-form {
	font-family: 'Lato', Arial, sans-serif !important;
	font-weight: 300;
	position: relative;
	text-align: left;
	padding: 30px;
}

.content-style-form .form-description {
	margin: 0;
	line-height: 1.2em;
	font-size: 1.2em;
	color: #fff;
}

.content-style-form .form-description.error {
	color: #FFBE00;
	text-align: center;
}

.content-style-form h2 {
	margin: 0;
	padding: 0.4em 0 0.3em;
	text-align: center;
	font-weight: 300;
	font-size: 3.5em;
}

.content-style-form form {
	height: 410px;
}

.content-style-form form p {
	margin: 0 0 10px 0;
	font-size: 0.7em;
}

.content-style-form label {
	display: block;
	padding: 10px 0 0;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 900;
}

.clear {
	clear: both;
}

.content-style-form input[type="text"],
.content-style-form input[type="email"],
.content-style-form input[type="password"] {
	padding: 10px;
	width: 100%;
	border: 2px solid #194695;
	background: transparent;
	color: rgba(255,255,255,0.8);
	font-weight: 300;
	font-size: 2.2em;
}

.content-style-form input[type="text"]::-moz-placeholder,
.content-style-form input[type="email"]::-moz-placeholder,
.content-style-form input[type="password"]::-moz-placeholder {
  color: #194695;
  opacity: 1;
}
.content-style-form input[type="text"]:-ms-input-placeholder,
.content-style-form input[type="email"]:-ms-input-placeholder,
.content-style-form input[type="password"]:-ms-input-placeholder {
  color: #194695;
}
.content-style-form input[type="text"]::-webkit-input-placeholder,
.content-style-form input[type="email"]::-webkit-input-placeholder,
.content-style-form input[type="password"]::-webkit-input-placeholder {
  color: #194695;
}

.content-style-form input[type="text"]:focus,
.content-style-form input[type="email"]:focus,
.content-style-form input[type="password"]:focus {
	border-color: #fff;
	color: #fff;
}


.content-style-form input.ng-touched.ng-invalid-required:not(.ng-pristine):not(:focus),
.content-style-form input.ng-touched.ng-invalid-pattern:not(.ng-pristine):not(:focus) {
  border: 2px solid #FFBE00;
}

.content-style-form .password-hint {
  display: block;
  text-align: center;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}

.content-style-form input:focus {
	outline: 0;
}

.content-style-form span {
	margin-top: 0.5em;
	display: block;
	text-align: center;
}

.content-style-form button {
	display: block;
	margin-top: 1em;
	padding: 1.5em;
	width: 100%;
	border: none;
	background: #194695;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 800;
	font-size: 1.25em;
	cursor: pointer;
}
.content-style-form button:disabled {
	opacity: 0.6;
}

.content-style-form .icon-close {
	top: 0px;
	right: 0px;
	color: #fff;
	font-size: 75%;
}

.content-style-form .icon-close:hover {
	color: #194695;
}


.content-style-form-2 h2,
.content-style-form-2 p,
.content-style-form-2 .icon-close {
	opacity: 0;
	-webkit-transition: opacity 0.2s 0.3s, -webkit-transform 0.2s 0.3s;
	transition: opacity 0.2s 0.3s, transform 0.2s 0.3s;
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
}


.content-style-form-2,
.content-style-form-2 h2,
.content-style-form-2 p {
	font-family: Lato, Arial, sans-serif !important;
}

.content-style-form-2 h2 {
	margin: 0;
	padding: 0em 0 0.3em;
	text-align: center;
	font-weight: 300;
	font-size: 3.5em;
}

.content-style-form button.social {
	width: calc( 50% - 5px );
	display: inline-block;
	font-size: 0.9em;
	text-transform: none;
	margin-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	font-weight: 400;
}

.content-style-form button.social:hover {
	background: #1B4FA9;
}

.content-style-form .social:first-of-type {
	margin-right: 10px;
}

.content-style-form .terms-span {
	font-size: 1em;
	text-align: center;
	color: #1B4FA9;
}
.content-style-form .terms-span a {
	color: #1B4FA9;
	border-bottom: 1px dotted #1B4FA9;
}

.content-style-form .sign-up-submit-button-container {
	position: absolute;
	display: block;
	bottom: 20px;
	left: 20px;
	width: calc( 100% - 40px );
	margin-bottom: 0px;
}

@media (max-height: 550px) {
	.content-style-form .sign-up-submit-button-container {
		position: relative;
		padding-top: 0px;
		width: 100%;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
	}
}

.content-style-form .sign-up-submit-button {
	margin-top: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.content-style-form .method-p .method-span {
	position: relative;
	background: #4D7AFF;
	padding: 0 17px;
	z-index: 1;
	font-size: 16px;
	margin-top: 0px;
	display: inline;
}

.content-style-form .method-p {
	text-align: center;
	margin-bottom: 5px;
}

.content-style-form .method-p:before {
	height: 1px;
	width: 100%;
	margin-top: -2px;
	display: block;
	position: absolute;
	top: 50%;
	background: #194695;
	content: "";
}


@media only screen and (max-width : 767px) {
	.content-style-form {
		height: 100%;
		min-height: 550px;
	}
}

@media only screen and (max-width : 400px) {

	.icon-close {
		top: -10px !important;
	}

	.content-style-form {
		padding: 8px;
		height: 100%;
	}

	.content-style-form-2 h2 {
		font-size: 1.5em;
	}

	.content-style-form .form-description {
		font-size: 1em;
	}

	.content-style-form label {
		padding: 8px 0 0 0 !important;
	}

	input {
		font-size: 1.4em !important;
		padding: 8px !important;
	}
}

.content-style-form-2 p:first-child {
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
}

.content-style-form-2 p:nth-child(2) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.content-style-form-2 p:nth-child(3) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.content-style-form-2 p:nth-child(4) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morph-content.open .content-style-form-2 h2,
.morph-content.open .content-style-form-2 p,
.morph-content.open .content-style-form-2 .icon-close {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
