@charset "UTF-8";
/*
* Gumby Framework Version 2.0
* ---------------------------
* Follow @gumbycss on twitter and spread the love.
* We worked super hard on making this awesome and released it to the web.
* All we ask is you leave this intact. #gumbyisawesome
*
* http://www.gumbyframework.com/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

* html { font-size: 100%; }

html { font-size: 16px; line-height: 1.625em; }

html * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { background: white; color: #555555; position: relative; }
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; } }

html, body { height: 100%; min-height: 100%;  }

.hide { display: none; }

.hide.active, .show { display: block; }

.fixed { position: fixed; }
.fixed.pinned { position: absolute; }
@media only screen and (max-width: 768px) { .fixed { position: relative !important; top: auto !important; left: auto !important; } }

.unfixed { position: relative !important; top: auto !important; left: auto !important; }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

/*=================================================
 +++ LE GRID +++ A Responsive Grid -- Gumby defaults to a standard 960 grid, but you can change it to whatever you'd like.
 ==================================================*/
/*.container { padding: 0px $gutter-in-px;
}*/
.row { width: 100%; max-width: 940px; min-width: 320px; margin: 0 auto;  }
@media only screen and (max-width: 960px) { .row { padding: 0 20px; } }
.row .row { min-width: 0px; }
@media only screen and (max-width: 960px) { .row .row { padding: 0; } }

/* To fix the grid into a different size, set max-width to your desired width */
.column, .columns { margin-left: 2.12766%; float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.column:first-child, .columns:first-child, .alpha { margin-left: 0px; }

.column.omega, .columns.omega { float: right; }

/* Column Classes */
.row .one.column { width: 6.38298%; }
.row .one.columns { width: 6.38298%; }
.row .two.columns { width: 14.89362%; }
.row .three.columns { width: 23.40426%; }
.row .four.columns { width: 31.91489%; }
.row .five.columns { width: 40.42553%; }
.row .six.columns { width: 48.93617%; }
.row .seven.columns { width: 57.44681%; }
.row .eight.columns { width: 65.95745%; }
.row .nine.columns { width: 74.46809%; }
.row .ten.columns { width: 82.97872%; }
.row .eleven.columns { width: 91.48936%; }
.row .twelve.columns { width: 100%; }

/* Push Classes */
.row .push_one { margin-left: 10.6383%; }
.row .push_one:first-child { margin-left: 8.51064%; }
.row .push_two { margin-left: 19.14894%; }
.row .push_two:first-child { margin-left: 17.02128%; }
.row .push_three { margin-left: 27.65957%; }
.row .push_three:first-child { margin-left: 25.53191%; }
.row .push_four { margin-left: 36.17021%; }
.row .push_four:first-child { margin-left: 34.04255%; }
.row .push_five { margin-left: 44.68085%; }
.row .push_five:first-child { margin-left: 42.55319%; }
.row .push_six { margin-left: 53.19149%; }
.row .push_six:first-child { margin-left: 51.06383%; }
.row .push_seven { margin-left: 61.70213%; }
.row .push_seven:first-child { margin-left: 59.57447%; }
.row .push_eight { margin-left: 70.21277%; }
.row .push_eight:first-child { margin-left: 68.08511%; }
.row .push_nine { margin-left: 78.7234%; }
.row .push_nine:first-child { margin-left: 76.59574%; }
.row .push_ten { margin-left: 87.23404%; }
.row .push_ten:first-child { margin-left: 85.10638%; }
.row .push_eleven { margin-left: 95.74468%; }
.row .push_eleven:first-child { margin-left: 93.61702%; }

/* Centered Classes */
.row .one.centered { margin-left: 46.80851%; }
.row .two.centered { margin-left: 42.55319%; }
.row .three.centered { margin-left: 38.29787%; }
.row .four.centered { margin-left: 34.04255%; }
.row .five.centered { margin-left: 29.78723%; }
.row .six.centered { margin-left: 25.53191%; }
.row .seven.centered { margin-left: 21.2766%; }
.row .eight.centered { margin-left: 17.02128%; }
.row .nine.centered { margin-left: 12.76596%; }
.row .ten.centered { margin-left: 8.51064%; }
.row .eleven.centered { margin-left: 4.25532%; }

/* Hybrid Grid Columns */
.sixteen.colgrid .row .one.column { width: 4.25532%; }
.sixteen.colgrid .row .one.columns { width: 4.25532%; }
.sixteen.colgrid .row .two.columns { width: 10.6383%; }
.sixteen.colgrid .row .three.columns { width: 17.02128%; }
.sixteen.colgrid .row .four.columns { width: 23.40426%; }
.sixteen.colgrid .row .five.columns { width: 29.78723%; }
.sixteen.colgrid .row .six.columns { width: 36.17021%; }
.sixteen.colgrid .row .seven.columns { width: 42.55319%; }
.sixteen.colgrid .row .eight.columns { width: 48.93617%; }
.sixteen.colgrid .row .nine.columns { width: 55.31915%; }
.sixteen.colgrid .row .ten.columns { width: 61.70213%; }
.sixteen.colgrid .row .eleven.columns { width: 68.08511%; }
.sixteen.colgrid .row .twelve.columns { width: 74.46809%; }
.sixteen.colgrid .row .thirteen.columns { width: 80.85106%; }
.sixteen.colgrid .row .fourteen.columns { width: 87.23404%; }
.sixteen.colgrid .row .fifteen.columns { width: 93.61702%; }
.sixteen.colgrid .row .sixteen.columns { width: 100%; }

/* Hybrid Push Classes */
.sixteen.colgrid .row .push_one { margin-left: 8.51064%; }
.sixteen.colgrid .row .push_one:first-child { margin-left: 6.38298%; }
.sixteen.colgrid .row .push_two { margin-left: 14.89362%; }
.sixteen.colgrid .row .push_two:first-child { margin-left: 12.76596%; }
.sixteen.colgrid .row .push_three { margin-left: 21.2766%; }
.sixteen.colgrid .row .push_three:first-child { margin-left: 19.14894%; }
.sixteen.colgrid .row .push_four { margin-left: 27.65957%; }
.sixteen.colgrid .row .push_four:first-child { margin-left: 25.53191%; }
.sixteen.colgrid .row .push_five { margin-left: 34.04255%; }
.sixteen.colgrid .row .push_five:first-child { margin-left: 31.91489%; }
.sixteen.colgrid .row .push_six { margin-left: 40.42553%; }
.sixteen.colgrid .row .push_six:first-child { margin-left: 38.29787%; }
.sixteen.colgrid .row .push_seven { margin-left: 46.80851%; }
.sixteen.colgrid .row .push_seven:first-child { margin-left: 44.68085%; }
.sixteen.colgrid .row .push_eight { margin-left: 53.19149%; }
.sixteen.colgrid .row .push_eight:first-child { margin-left: 51.06383%; }
.sixteen.colgrid .row .push_nine { margin-left: 59.57447%; }
.sixteen.colgrid .row .push_nine:first-child { margin-left: 57.44681%; }
.sixteen.colgrid .row .push_ten { margin-left: 65.95745%; }
.sixteen.colgrid .row .push_ten:first-child { margin-left: 63.82979%; }
.sixteen.colgrid .row .push_eleven { margin-left: 72.34043%; }
.sixteen.colgrid .row .push_eleven:first-child { margin-left: 70.21277%; }
.sixteen.colgrid .row .push_twelve { margin-left: 78.7234%; }
.sixteen.colgrid .row .push_twelve:first-child { margin-left: 76.59574%; }
.sixteen.colgrid .row .push_thirteen { margin-left: 85.10638%; }
.sixteen.colgrid .row .push_thirteen:first-child { margin-left: 82.97872%; }
.sixteen.colgrid .row .push_fourteen { margin-left: 91.48936%; }
.sixteen.colgrid .row .push_fourteen:first-child { margin-left: 89.3617%; }
.sixteen.colgrid .row .push_fifteen { margin-left: 97.87234%; }
.sixteen.colgrid .row .push_fifteen:first-child { margin-left: 95.74468%; }

/* Hybrid Centered Classes */
.sixteen.colgrid .row .one.centered { margin-left: 47.87234%; }
.sixteen.colgrid .row .two.centered { margin-left: 44.68085%; }
.sixteen.colgrid .row .three.centered { margin-left: 41.48936%; }
.sixteen.colgrid .row .four.centered { margin-left: 38.29787%; }
.sixteen.colgrid .row .five.centered { margin-left: 35.10638%; }
.sixteen.colgrid .row .six.centered { margin-left: 31.91489%; }
.sixteen.colgrid .row .seven.centered { margin-left: 28.7234%; }
.sixteen.colgrid .row .eight.centered { margin-left: 25.53191%; }
.sixteen.colgrid .row .nine.centered { margin-left: 22.34043%; }
.sixteen.colgrid .row .ten.centered { margin-left: 19.14894%; }
.sixteen.colgrid .row .eleven.centered { margin-left: 15.95745%; }
.sixteen.colgrid .row .twelve.centered { margin-left: 12.76596%; }
.sixteen.colgrid .row .thirteen.centered { margin-left: 9.57447%; }
.sixteen.colgrid .row .fourteen.centered { margin-left: 6.38298%; }
.sixteen.colgrid .row .fifteen.centered { margin-left: 3.19149%; }

.pull_right { float: right; }

.pull_left { float: left; }

img, object, embed { max-width: 100%; height: auto; }

img { -ms-interpolation-mode: bicubic; }

#map_canvas img, .map_canvas img { max-width: none !important; }

/* Tile Grid */
.tiles { display: block; overflow: hidden; }
.tiles > li { display: block; height: auto; float: left; padding-bottom: 0; }
.tiles.two_up { margin-left: -4%; }
.tiles.two_up > li { margin-left: 4%; width: 46%; }
.tiles.three_up, .tiles.four_up { margin-left: -2%; }
.tiles.three_up > li { margin-left: 2%; width: 31.3%; }
.tiles.four_up > li { margin-left: 2%; width: 23%; }
.tiles.five_up { margin-left: -1.5%; }
.tiles.five_up > li { margin-left: 1.5%; width: 18.5%; }

/* Nicolas Gallagher's micro clearfix */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.row { *zoom: 1; }
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }

.valign { display: table; width: 100%; }
.valign > div { display: table-cell; vertical-align: middle; }
.valign ​ > article { display: table-cell; vertical-align: middle; }

/* Mobile */
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; }
  .container { min-width: 0; margin-left: 0; margin-right: 0; }
  .row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
  .row .row .column, .row .row .columns { padding: 0; }
  .row .centered { margin-left: 0 !important; }
  .column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
  .column:last-child, .columns:last-child { margin-right: 0; float: none; }
  [class*="column"] + [class*="column"]:last-child { float: none; }
  [class*="column"]:before { display: table; }
  [class*="column"]:after { display: table; clear: both; }
  [class^="push_"], [class*="push_"] { margin-left: 0 !important; } }
.image { line-height: 0; margin-bottom: 20px; }
.image.circle { -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; -ms-border-radius: 50% !important; -o-border-radius: 50% !important; border-radius: 50% !important; overflow: hidden; width: auto; }
.image.rounded { overflow: hidden; -webkit-border-radius: 4px 4px; -moz-border-radius: 4px 4px; -ms-border-radius: 4px 4px; -o-border-radius: 4px 4px; border-radius: 4px 4px; }
.image.photo { border: 5px solid white; -webkit-box-shadow: 0 0 1px #555555; -moz-box-shadow: 0 0 1px #555555; box-shadow: 0 0 1px #555555; }
.image.photo.polaroid { padding-bottom: 50px; background: #fff; }

table { display: table; background-color: white; border-collapse: collapse; border-spacing: 0; margin-bottom: 20px; width: 100%; border: 1px solid #e5e5e5; }
table caption { text-align: center; font-size: 30px; padding: .75em; }
table thead th, table tbody td, table tr td { display: table-cell; padding: 10px; vertical-align: top; text-align: left; border-top: 1px solid #e5e5e5; }
table tr td, table tbody tr td { font-size: 16px; }
table tr td:first-child { font-weight: bold; }
table thead { background-color: #3085d6; color: #fff; }
table thead tr th { font-size: 16px; font-weight: bold; vertical-align: bottom; }
table.striped tr:nth-of-type(even), table table tr.stripe, table table tr.striped { background-color: #e5e5e5; }
table.rounded { border-radius: 4px; border-collapse: separate; }
table.rounded caption + thead tr:first-child th:first-child, table.rounded caption + tr td:first-child, table.rounded > thead tr:first-child th:first-child, table.rounded > thead tr:first-child td:first-child, table.rounded > tr:first-child td:first-child { border-top-left-radius: 4px; }
table.rounded caption + thead tr:first-child th:last-child, table.rounded caption + tr td:last-child, table.rounded > thead tr:first-child th:last-child, table.rounded > thead tr:first-child td:last-child, table.rounded > tr:first-child td:last-child { border-top-right-radius: 4px; }
table.rounded thead ~ tr:last-child td:last-child, table.rounded tbody tr:last-child td:last-child { border-bottom-right-radius: 4px; }
table.rounded thead ~ tr:last-child td:first-child, table.rounded tbody tr:last-child td:first-child { border-bottom-left-radius: 4px; }
table.rounded thead th, table.rounded thead td, table.rounded caption + tbody tr:first-child td, table.rounded > tbody:first-child tr:first-child td { border-top: 0; }
