/*
 * Animations
 */

@-webkit-keyframes pushright {
    0%, 80%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(8px, 0, 0);
    }
}

@keyframes pushright {
    0%, 80%, 100% {
        transform: translate3d(0, 0, 0);
    }

    90% {
        transform: translate3d(8px, 0, 0);
    }
}

@-webkit-keyframes pulse-outline {
    0%, 100% {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }
}
@keyframes pulse-outline {
    0%, 100% {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }
}

.pulse-outline {
    -webkit-animation: pulse-outline 2s infinite;
    animation: pulse-outline 2s infinite;
}


/*********************
 * CSS Overrides
 *********************/


span {
    color: #fff;
    font-size: 0.8em;
    opacity: 1;
}

p {
    font-size: 18px;
}

a.launch {
    display: block;
    /* text-align: center;*/
}

button.launch {
    font-size: 1.2em;
    cursor: pointer;
    padding: 10px 25px 10px 25px;
    margin-top: 10px;

    background: #FF4D63;
    border: 1px solid transparent;
}

button.launch i.fa-lg {
    vertical-align: -10%;
    display: inline-block;

    -webkit-animation: pushright 2s infinite;
    animation: pushright 2s infinite;
}

.last-row {
    margin-top: 50px;
}


/*
 * Intro video and headline
 */

.video-overlay {
    position: fixed;
    top: -200px;
    right: 0;
    bottom: -200px;
    left: 0;
    background-color: rgba(0,0,0,0.3);
}

.header-page .header1 {
    display: block;
    text-align: center;
    padding: 0;
    margin-top: -55px;
    margin-bottom: 40px;
}

.header-page .header1 h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    font-weight: 100;
    line-height: 46px;
    letter-spacing: 0px;
    margin-top: 0.33em;
    margin-bottom: 0px;
    color: #FFF;
    text-align: center;
}

.header-page .header1 h2 {
    text-align: center;
    font-size: 25px;
    font-weight: inherit;
    margin: 0;
    line-height: 1em;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #FFF;
}

.header1-button-tagline {
    display: none;
}

.go-down {
    display: none;
}

.logo {
    position: relative;
}

.logo-phone {
    margin-bottom: 50px;
    margin-top: -50px;
}
.logo-phone img {
    height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}


/*
 * Blue Ocean Strategy Info Page
 */

.bos-page {
    background: #082047;
    padding: 80px 0;
}

.bos-page h3 {
    color: #FFF;
    font-weight: 100;
}

.bos-page .context-image {
    display: none;
    width: auto;
    height: 400px;
    margin: 0 auto;
}

.bos-page .iphone {
    right: 50px;
}

.bos-page .iphone img {
    width: 475px;
}

@media screen and (max-width: 768px) {

    .bos-page, .smartly-page, .page4, .page5 {
        padding:0px 0;
        text-align: center;
        width: 100%;
        height: auto;
    }

    .bos-page .columns {
        position: relative;
        width: 100%;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .bos-page .iphone {
        right: -100px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .bos-page .row .six.columns {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .bos-page .context-image {
        display: block;
    }

    .header1-button-tagline {
        display: inline-block;
    }

    .go-down {
        display: block;
    }
}

@media only screen and (max-device-width : 960px) and (orientation : landscape) {
    .header-page {
        height: 400px;
    }
    .huge-title {
        height: 600px;
        margin-top: 50px;
    }
}

/*
 * What You'll Learn Page
 */

.learn-page, .learn-page .article {
    background: #061630;
}

.learn-page h3 {
        color: #FFF;
        font-weight: 100;
}

.learn-page .article {
        position: relative;
        z-index: 999;
        height: 100%;
        text-align: center;
}

.learn-page .article li {
    position: relative;
}
.learn-page .article li:before {
    content: '\f13d';
    font-family: FontAwesome;
    position: absolute;
    left: -22px;
    top: 3px;
    color: #FF4D63; /*#4D7AFF;*/
    font-size: 0.8em;
    display: none;
}

@media only screen and (min-width: 768px) {
    .learn-page .article {
        text-align: left;
        padding-left: 10%;
    }
    .learn-page .article li:before {
        display: inline-block;
    }
}

/*
 * Smartly Info
 */

.smartly-page, .smartly-page .article {
    background: #061630;
}

.smartly-page a.launch {
    margin-bottom: 20px;
}

.smartly-page .context-image {
    width: auto;
    height: 500px;
    margin: 0 auto;
    display: block;
}
.smartly-page .context-image.devices {
    width: 90%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

.smartly-page .iphone-article {
    display: none;
}

@media only screen and (min-width: 768px) {

    .smartly-page .iphone-article {
        display: block;
    }
    .smartly-page .description {
        padding-left: 20px;
    }
    .smartly-page .context-image.devices {
        margin-top: 80px;
        margin-bottom: 20px;
    }

}

/*
 * Testimonials
 */

#testimonial {
    background: transparent;
    z-index: 1000;
    padding-top: 60px;
}

.title {
    text-align: center;
    color: #fff; /*#8ba6d9;*/ /*rgba(255,255,255,0.6);*/
}
.textblock {
    font-size: 1.3em;
    text-align: center;
    font-style: italic;
}
.textblock p {
    color: #fff;
}

#testimonial button.launch {
    border: 1px solid rgba(255,255,255,0.8);
    background: transparent;
}

#slider2:before, #slider2:after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    display: block;
    position: absolute;
    color: rgba(255,255,255,0.2);/*#082047;*/
    font-size: 4em;
}

#slider2:before {
    top: 40px;
    left: 10%;
    content: '\f10d';
}
#slider2:after {
    bottom: 30px;
    right: 10%;
    content: '\f10e';
}

@media only screen and (min-width : 768px) {

    #slider2 {
        padding-left: 220px;
        padding-right: 220px;
        position: relative;
    }

    #slider2 p {
        padding: 0;
    }

    #slider2:before, #slider2:after {
        font-size: 96px;
    }
    #slider2:before {
        top: 80px;
        left: 100px;
    }
    #slider2:after {
        top: 80px;
        right: 100px;
    }
}


/*
 * Footer
 */

.footer {
    background: #FF6357;
    z-index: 1000;
    position: relative;
    padding: 60px 0px 0px 0px;
}

.content-offer {
    color: #fff;
    opacity: 1;
}

.content-offer a, .content-offer a:hover {
    border: none !important;
}

.content-offer button {
    display: inline-block;
    padding: 5px 10px;
    margin: 0px 5px;
    border: 1px solid white;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
    color: #fff;
    font-family: inherit;
    font-size: inherit;

    text-decoration: none;
}

.content-offer button:hover {
    background: #fff;
    color: #FF6357;
    text-decoration: none;
}

.footer-links {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}

.footer-links > li {
    display: inline-block;
    padding: 20px 15px;
    color: rgba(255,255,255,0.8);
}

.footer-links > li > a {
    color: rgba(255,255,255,0.8);
}

.footer-links > li > a:hover {
    color: rgba(255,255,255,1);
}

.footer p.trademark {
    font-size: 0.5em;
    color: rgba(255,255,255,0.8);
    margin: 0px;
    padding-bottom: 8px;
    text-align:center;
    line-height: 1em;
}

@media only screen and (max-width: 767px) {

    #testimonial {
        background: #4D7AFF;
    }

    .content-offer {
        line-height: 1.2em;
    }
    .content-offer button {
        display: block;
        margin: 20px auto;
        padding: 10px 30px;
    }

    .footer-links > li.copyright {
        display: block;
    }
    .footer-links > li {
        padding: 3px;
    }

}
