/*

    EXHO TEMPLATE  V1.0 BY SUPVIEW.BE


    01. Font Face
    02. Generals Settings
    03. Header Section Settings
    04. Navigation Settings
    04. header-page / Header Section Settings
    05. bos-page Section Settings
    06. smartly-page Section Settings
    07. Page4 Section Settings
    08. Testimonials Section Settings
    09. Page5 / Subscribe Section Settings
    10. Preloading Effect
    11. Media Queries Settings

*/



/* 01. FONT FACE ================================================== */


@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 200;
    src: local("Source Sans Pro ExtraLight"), local("SourceSansPro-ExtraLight"), url("https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGEzfSP8PFPIaW8d4wHl9LSw.woff") format("woff");
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlDLXPPWpYIJRcQ99gLLWTOQ.woff") format("woff");
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url("https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGNF2eBBnhZOFf_rblGEjGiI.woff") format("woff");
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGBgDywzySrQSFSEUM6OqW_g.woff") format("woff");
}



/* 02. GENERALS SETTINGS ================================================== */



/* Container  */

.container {
    z-index: 9997; /* IMPORTANT */
    position: relative;
    background: #FFF;
    overflow: hidden;}



/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
    content: " ";
    display: table;
    padding:30px 0;}


.cbp-so-section:after {
    clear: both;}


body, html {
    background: #4D7AFF;
    padding: 0;
       font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    transition: opacity 400ms;
}


/* Selected text Color */

::-moz-selection {
    background: none;
    color: #5ac6ff;
}

::selection {
    background: none;
    color: #5ac6ff;
}

.centered {
    text-align: center;
}

b, strong {
    font-weight: 800;
}

/* Make a space */

.space {
    padding: 20px 0;
}



h1 {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0.75em 0.75em 0.25em;
    font-size: 2.70em;
}

h2 {
    font-size: 60px; /*46px;*/
    font-weight: 100;
    line-height: 46px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0.33em;
}

h3 {
    font: 42px 'Source Sans Pro', sans-serif;
    font-weight: 100;
    padding-bottom: 25px;
    padding-top: 0px;
}

h4 {
    font: 32px 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-weight: 100;
    padding-bottom: 15px;
}

h5 {
    font: 24px 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-weight: 100;
    color:#FFF;
}


span {
    color: #303333;
    font: 1.5em 'Source Sans Pro', sans-serif;
    opacity: 0.4;
    padding-top: 0px;
}

/* Link */

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #FFF;
}

/* Paragrah */

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    color: rgba(255,255,255,1);
    line-height: 30px;
}

p a {
    border-bottom: 1px dotted #888;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

p a:hover {
    border-bottom: 1px dotted #FFF;
}


/* Link with a border button */

.border-button {
    padding: 10px 35px 10px 15px;
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    color:rgba(255,255,255,0.80);
    border: 1px solid rgba(255,255,255,0.40);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.border-button:hover {
    border: 1px solid #FFF;
    color:#FFF;
}



/* 03. NAVIGATION SETTINGS ================================================== */


nav #logo {
    float: left;
    z-index: 99999;
}

nav #logo img {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

nav {
    z-index: 999;
    width: 100%;
    height: 80px;
}


/* Some stylesheet reset */

#nav, #nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* The main navigation bar */

#nav {
    width: 100%;
 /* The menu will take the width of its container */;
}

#nav>li {
    float: right;
    position: relative;
    padding: 20px 15px;
}


/* Navigation Fixed */

.cbp-af-header {
    font-family: 'Source Sans Pro', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    height: 80px;
    background: transparent;
    overflow: hidden;

    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}


.cbp-af-header #logo img{
    padding: 40px 20px 0px 0px;
}


/* Transitions */

.cbp-af-header #logo {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

/* Button Share */

.cbp-af-header .button {
    border-radius: 20px;
    color: #FFFFFF;
    margin-top: -100px;
    padding: 5px 15px;
    letter-spacing: 2px;
    background: #5ac6ff;
    font-weight: 600;
    float: right;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* Button Share:hover */

.cbp-af-header .button:hover {
    color: #FFF;
    background: #87d5fe;
}


/* Button Login */

.cbp-af-header .button.login {
    background: transparent;
    margin-top: 20px;
}
.cbp-af-header .button.login:hover {
    color: #FFF;
    background: transparent;
}


/* Navigation effect on scroll down */


.cbp-af-header.cbp-af-header-shrink {
    height: 80px;
    float: right;

    background: -moz-linear-gradient(top, rgba(6,22,48,1) 0%, rgba(6,22,48,0.99) 1%, rgba(6,22,48,0.48) 66%, rgba(6,22,48,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(6,22,48,1)), color-stop(1%,rgba(6,22,48,0.99)), color-stop(66%,rgba(6,22,48,0.48)), color-stop(100%,rgba(6,22,48,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(6,22,48,1) 0%,rgba(6,22,48,0.99) 1%,rgba(6,22,48,0.48) 66%,rgba(6,22,48,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(6,22,48,1) 0%,rgba(6,22,48,0.99) 1%,rgba(6,22,48,0.48) 66%,rgba(6,22,48,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(6,22,48,1) 0%,rgba(6,22,48,0.99) 1%,rgba(6,22,48,0.48) 66%,rgba(6,22,48,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(6,22,48,1) 0%,rgba(6,22,48,0.99) 1%,rgba(6,22,48,0.48) 66%,rgba(6,22,48,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#061630', endColorstr='#00061630',GradientType=0 ); /* IE6-9 */
}

.cbp-af-header.cbp-af-header-shrink #logo img {
    padding-top: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* The button comes to the right place */

.cbp-af-header.cbp-af-header-shrink .button {
    margin-top:20px;
    display: block;
}



/* 04. PAGE 1 / HEADER SETTINGS ================================================== */

input:invalid {
    box-shadow: none;
}

.header-page {
    background: url('/landing-pages/img/bg.jpg') #131313;
    background-size: cover;
    height: 100%;
    position: relative;
}

/* Don't display the logo for Phone */

.logo-phone {display: none;}

/* Huge Title */

.huge-title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100px;
}

/* Go down text & Button */

.go-down {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 50px;
}

/* Social Ico */

.social-ico {
    float: right;
    margin-top: 30px;
}

.social-ico .fb-like,
.social-ico .twitter-share-button  {
    margin-right: 15px;
}

.social-ico .fb-like > span {
    vertical-align: top !important;
}


/* 05. PAGE 2 SETTINGS ================================================== */


/* Image from right */

.iphone {
    bottom: 0;
    right: -70px;
    position: absolute;
    top: 3%;
}

/* Brand icon */


.brand li {
    display: inline-block;
    list-style: none;
    padding: 0 20px;
    opacity: 1;
}

.brand li:first-child {
    padding-left: 0px;
}

/* ToolTip */


.has-tooltip {
    position: relative;
}

.has-tooltip .tooltip {
    pointer-events: none;
    position: absolute;
    z-index: 9999;
    left: 50%;
    bottom: -55px;
    opacity: 0;
    -webkit-transition: ease-out opacity 300ms;
    -webkit-transition-delay: 0ms;
    -moz-transition: ease-out opacity 300ms 0ms;
    -o-transition: ease-out opacity 300ms 0ms;
    transition: ease-out opacity 300ms 0ms;
}

.has-tooltip .tooltip span {
    display: block;
    white-space: nowrap;
    position: relative;
    background: rgba(255, 255, 255, 1);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    padding: 12px 15px;
    left: -50%;
    font-size: 12px;
    font-weight: normal;
    color: #777;
}

.has-tooltip .tooltip span:after {
    top: -40%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-bottom-color: rgba(255, 255, 255, 1);
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}

.has-tooltip:hover span {
    opacity: 1;
}


/* 06. PAGE 3 SETTINGS ================================================== */



.smartly-page {
    background: #131313;
    z-index: 999;
    position: relative;
    padding: 80px 0;
    height: 880px;
}

.smartly-page h3 {
    color: #FFF;
    font-weight: 100;
}

/* Article */

.smartly-page .article {
    position: relative;
    z-index: 999;
    background: #131313;
    height: 100%;
}

/* Carousel */

.smartly-page .slider-mac {
    margin-left: 0%;
    position: absolute;
    max-width: 940px;
    bottom: -220px;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

/* Drag-it icon */

#dragit {
    background: rgba(19,19,19,0.7);
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
}

#dragit img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 220px;
    right: 0;
}



/* 07. PAGE 4 SETTINGS ================================================== */



.page4 {
    background: #191919;
    z-index: 999;
    position: relative;
    padding: 60px 0;
}

.page4 h4 {
    color:#FFF;
}


/* 08. TESTIMONIALS  ================================================== */


#testimonial {
    padding:80px 0;
    background: #131313;
    position: relative;
}


#slider1 img{
    width:170px;
    height:170px;
    margin:0px auto;
    overflow:hidden;
}

#slider2 {padding-top: 15px; padding-right:15px;}

#slider2 p {padding-right: 20px;}

.title{
    text-transform:uppercase;
}

.sub{
    margin:10px 0;
    color:rgba(255, 255, 255, 0.5);
    font-size:14px;
}

.textblock{
    line-height:21px;
}

.testblock{
    position:relative;
}



/* 09. PAGE 5 / SUBSCRIBE SETTINGS ================================================== */


.page5 {
    background: #F5F5F5 no-repeat center;
    z-index: 999;
    padding: 40px 0 40px 0;

}

form {
    overflow: hidden;
}

/* Mail Input Send */

#signup input {
    background-clip: padding-box;
    background-color: #FFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    border-radius: 3px;
    border: none;
    margin: 15px 0;
    color: #333;
    height: 50px;
    resize: none;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 9px 20px 8px;
    transition: all .3s ease-in-out;
    width: 98%;
}

#signup .button {
    background-clip: padding-box;
    background-color: #5ac6ff;
    color: #FFF;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    cursor: pointer;
    margin: 15px 0;
    height: 50px;
    font-weight: normal;
    letter-spacing: 3px;
    text-shadow: none;
    text-transform: uppercase;
    width: 98%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#signup .button:hover {
    color: #FFF;
    background: #87d5fe;
}

/* Promise we do not spam */

#signup .spam {
    font-size: 12px;
    padding: 10px 0 10px 0;
    color: #888;
}

#signup .spam img {
    margin-top: 10px;
    margin-bottom: -6px;
}

/* Message if it's ok */

#signup .msg-ok {
    font-size: 12px;
    padding: 10px 0 10px 0;
    color: #888;
}



/* 10. PRELOADING  ================================================== */



/* Preloader Effect */

#preloader {
    background-color: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;
}

/* Preloading Animation */

#loading-animation {
    background-image: url("/landing-pages/img/loading.gif") ;
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
    border-radius: 4px;
}



/* 11. MEDIA QUERIES  ============================================ */


@media screen and (max-width: 768px) {

h2 {font-size: 42px;}

h3 {font-size:32px;}

.iphone {display: none; }

.cbp-af-header {
    display: none;
}

.logo-phone {display: block;}

.huge-title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 400px;
    padding:20px;
}

.has-tooltip .tooltip {
    pointer-events: none;
    position: absolute;
    z-index: 9999;
    left: auto;
    bottom: -60px;
    opacity: 0;
    -webkit-transition: ease-out opacity 300ms;
    -webkit-transition-delay: 0ms;
    -moz-transition: ease-out opacity 300ms 0ms;
    -o-transition: ease-out opacity 300ms 0ms;
    transition: ease-out opacity 300ms 0ms;
}

.has-tooltip .tooltip span {
    display: block;
    white-space: nowrap;
    position: relative;
    background: rgba(255, 255, 255, 1);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    padding: 12px 15px;
    left: 0%;
    font-size: 11px;
    color: #777;
}

.has-tooltip .tooltip span:after {
    top: -40%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-bottom-color: rgba(255, 255, 255, 1);
    border-width: 8px;
    left: 10%;
    margin-left: -6px;
}

.smartly-page .slider-mac {
    margin-left: 0%;
    margin-top:80px;
    position: relative;
    max-width: 100%;
    bottom: 0px;
    padding-bottom: 0;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}


#dragit img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 80px;
    right: 0;
}


#testimonial {text-align: center;}

#slider2 {margin-top:20px; padding-right: 0px;}

#slider2 p {padding-right: 0px;}


#showhide .trigger{display: none; left: -1000px;}


}

/* Media Queries for iPad in Portrait */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

#testimonial .columns{width: 100%;}

#testimonial {text-align: center;}


.iphone {
    bottom: 0;
    right: -180px;
    position: absolute;
    display: none;
    top: 3%;}

.smartly-page .slider-mac {bottom: -70px; }

.page5 {padding: 40px 0;}

 }

/* Media Queries for iPad in Landscape */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

.iphone {
    bottom: 0;
    right: -180px;
    position: absolute;
    top: 3%;
}


}




