{
  "author_comments": <%= author_comments_json %>,
  "components": [
    {
      "id": "<%= main_ui_component_id %>",
      "behaviors": {
        "GotoNextOnChallengeComplete": {},
        "CompleteOnAllChallengesComplete": {},
        "RandomizeChallengeOrder": {}
      },
      "component_type": "ComponentizedFrame.Challenges",
      "editor_template": "this_or_that",
      "layout_id": "<%= layout_id %>",
      "shared_content_for_text_id": "<%= content_for_text_id %>",
      "shared_content_for_interactive_id": "<%= answer_list_id %>",
      "intro_content_for_image_id": "<%= start_button_id %>",
      "challenge_ids": [
      <% challenges.each_with_index do |challenge, i| %>
          <%= (i > 0 ? ', ' : '') %>
          "<%= challenge['id'] %>"
      <% end %>
      ]
    },
    {
      "id": "<%= content_for_text_id %>",
      "behaviors": {
          "ProcessesModals": {},
          "ProcessesMarkdown": {},
          "ProcessesInlineImages": {},
          "ProcessesMathjax": {}
      },
      "component_type": "ComponentizedFrame.Text",
      "text": "<%= main_text %>",
      "modal_ids": [
      <% modals.each_with_index do |modal, i| %>
          <%= (i > 0 ? ', ' : '') %>
          "<%= modal['id'] %>"
      <% end %>
        ]
    }
    <% for @image in images %>
    ,
    {
      "id": "<%= @image['id'] %>",
      "behaviors": {},
      "image": <%= @image['json'] %>,
      "label": "<%= @image['label'] %>",
      "component_type": "ComponentizedFrame.Image"
    }
    <% end %>
    <% for @modal in modals %>
    ,
    {
      "id": "<%= @modal['id'] %>",
      "behaviors": {
          "ProcessesModals": {},
          "ProcessesMarkdown": {},
          "ProcessesInlineImages": {},
          "ProcessesMathjax": {}
      },
      "text": "<%= @modal['text'] %>",
      "component_type": "ComponentizedFrame.Text"
    }
    <% end %>
    ,
    {
      "id": "<%= start_button_id %>",
      "behaviors": {},
      "component_type": "ComponentizedFrame.ChallengesReadyIntro"
    },
    {
      "id": "<%= layout_id %>",
      "behaviors": {},
      "component_type": "ComponentizedFrame.TextImageInteractive",
      "target_id": "<%= main_ui_component_id %>"
    },
    {
      "id": "<%= continue_button_id %>",
      "behaviors": {},
      "component_type": "ComponentizedFrame.ChallengesContinueButton",
      "target_component_id": "<%= main_ui_component_id %>"
    },
    {
      "id": "<%= answer_list_id %>",
      "behaviors": {},
      "component_type": "ComponentizedFrame.AnswerList",
      "answer_ids": [
        <% answers.each_with_index do |answer, i| %>
          <%= (i > 0 ? ', ' : '') %>
          "<%= answer['id'] %>"
        <% end %>
      ],
      "skin": "buttons"
    }
    <% for @answer in answers %>
    ,
    {
      "id": "<%= @answer['id'] %>",
      "behaviors": {},
      "text_id": "<%= @answer['text_id'] %>",
      "component_type": "ComponentizedFrame.SelectableAnswer"
    },
    {
      "id": "<%= @answer['text_id'] %>",
      "behaviors": {
          "ProcessesModals": {},
          "ProcessesMarkdown": {},
          "ProcessesInlineImages": {},
          "ProcessesMathjax": {}
      },
      "text": "<%= @answer['text'] %>",
      "component_type": "ComponentizedFrame.Text"
    }
    <% end %>
    <% for @challenge in challenges %>
    ,
    {
      "id": "<%= @challenge['id'] %>",
      "behaviors": {
          "ImmediateValidation": {},
          "CompleteOnCorrect": {},
          "ResetAnswersOnActivated": {},
          "DisallowMultipleSelect": {},
          "ShowCorrectStyling": {},
          "FlashIncorrectStyling": {},
          "ClearMessagesOnAnswerSelect": {}
      },
      "component_type": "ComponentizedFrame.MultipleChoiceChallenge",
      "editor_template": "this_or_that",
      "validator_id": "<%= @challenge['validator_id'] %>",
      "content_for_image_id": "<%= @challenge['spinning_prompt_id'] %>",
      "answer_list_id": "<%= answer_list_id %>"
    },
    {
      "id": "<%= @challenge['validator_id'] %>",
      "behaviors": {
        "HasAllExpectedAnswers": {},
        "HasNoUnexpectedAnswers": {}
      },
      "component_type": "ComponentizedFrame.ChallengeValidator",
      "expected_answer_matcher_ids": [
        "<%= @challenge['expected_answer_matcher_id'] %>"
      ],
      "challenge_id": "<%= @challenge['id'] %>"
    },
    {
      "id": "<%= @challenge['expected_answer_matcher_id'] %>",
      "behaviors": {},
      "component_type": "ComponentizedFrame.SimilarToSelectableAnswer",
      "answer_id": "<%= @challenge['correct_answer_id'] %>"
    },
    {
      "id": "<%= @challenge['spinning_prompt_id'] %>",
      "behaviors": {},
      "component_type": "ComponentizedFrame.SpinningPrompt",
      <% if @challenge['spinning_prompt_text_id'] %>
        "text_id": "<%= @challenge['spinning_prompt_text_id'] %>"
      <% else %>
        "image_id": "<%= @challenge['spinning_prompt_image_id'] %>"
      <% end %>

    }
      <% if @challenge['spinning_prompt_text_id'] %>
      ,
      {
        "id": "<%= @challenge['spinning_prompt_text_id'] %>",
        "behaviors": {
            "ProcessesModals": {},
            "ProcessesMarkdown": {},
            "ProcessesInlineImages": {},
            "ProcessesMathjax": {}
        },
        "text": "<%= @challenge['text'] %>",
        "component_type": "ComponentizedFrame.Text"
      }
      <% end %>
    <% end %>
  ],
  "continue_button_id": "<%= continue_button_id %>",
  "frame_type": "componentized",
  "frame_guid": "<%= frame_guid %>",
  "main_ui_component_id": "<%= main_ui_component_id %>"  
}