{
  "author_comments": <%= author_comments_json %>,
  "components": [
    {
      "id": "<%= main_ui_component_id %>",
      "behaviors": {
        "GotoNextOnChallengeComplete": {},
        "CompleteOnAllChallengesComplete": {}
      },
      "component_type": "ComponentizedFrame.Challenges",
      "editor_template": "fill_in_the_blanks",
      "layout_id": "<%= layout_id %>",
      "shared_content_for_text_id": "<%= content_for_text_id %>",
      "shared_content_for_image_id": "<%= content_for_image_id %>",
      <% if @consumable %>
        "shared_content_for_interactive_id": "<%= shared_answer_list_id %>",
      <% end %>
      "challenge_ids": [
      <% challenges.each_with_index do |challenge, i| %>
          <%= (i > 0 ? ', ' : '') %>
          "<%= challenge['id'] %>"
      <% end %>
      ]
    },
    {
      "id": "<%= content_for_text_id %>",
      "behaviors": {
          "ProcessesModals": {},
          "ProcessesMarkdown": {},
          "ProcessesInlineImages": {},
          "ProcessesMathjax": {}
      },
      "component_type": "ComponentizedFrame.Text",
      "text": "<%= main_text %>",
      "modal_ids": [
      <% modals.each_with_index do |modal, i| %>
          <%= (i > 0 ? ', ' : '') %>
          "<%= modal['id'] %>"
      <% end %>
        ]
    }
    <% for @image in images %>
    ,
    {
      "id": "<%= @image['id'] %>",
      "behaviors": {},
      "image": <%= @image['json'] %>,
      "label": "<%= @image['label'] %>",
      "component_type": "ComponentizedFrame.Image"
    }
    <% end %>
    <% for @modal in modals %>
    ,
    {
      "id": "<%= @modal['id'] %>",
      "behaviors": {
          "ProcessesModals": {},
          "ProcessesMarkdown": {},
          "ProcessesInlineImages": {},
          "ProcessesMathjax": {}
      },
      "text": "<%= @modal['text'] %>",
      "component_type": "ComponentizedFrame.Text"
    }
    <% end %>
    ,
    {
      "id": "<%= layout_id %>",
      "behaviors": {},
      "component_type": "ComponentizedFrame.TextImageInteractive",
      "target_id": "<%= main_ui_component_id %>"
    },
    {
      "id": "<%= continue_button_id %>",
      "behaviors": {},
      "component_type": "ComponentizedFrame.ChallengesContinueButton",
      "target_component_id": "<%= main_ui_component_id %>"
    }
    <% for @answer_list in answer_lists %>
    ,
    {
      "id": "<%= @answer_list['id'] %>",
      "behaviors": {
        "RandomizeAnswerOrder": {}
      },
      "component_type": "ComponentizedFrame.AnswerList",
      "answer_ids": [
        <% @answer_list['answers'].each_with_index do |answer, i| %>
          <%= (i > 0 ? ', ' : '') %>
          "<%= answer['id'] %>"
        <% end %>
      ],
      "skin": "buttons"
    }
    <% end %>
    <% for @answer in answers %>
    ,
    {
      "id": "<%= @answer['id'] %>",
      "behaviors": {},
      "text_id": "<%= @answer['text_id'] %>",
      "component_type": "ComponentizedFrame.SelectableAnswer"
    },
    {
      "id": "<%= @answer['text_id'] %>",
      "behaviors": {
          "ProcessesModals": {},
          "ProcessesMarkdown": {},
          "ProcessesInlineImages": {},
          "ProcessesMathjax": {}
      },
      "text": "<%= @answer['text'] %>",
      "component_type": "ComponentizedFrame.Text"
    }
    <% end %>
    <% for @challenge in challenges %>
    ,
    {
      "id": "<%= @challenge['id'] %>",
      "behaviors": {
          "ImmediateValidation": {},
          "CompleteOnCorrect": {},
          <% if @sequential %>
          "ResetAnswersOnActivated": {},
          <% end %>
          "DisallowMultipleSelect": {},
          "ShowCorrectStyling": {},
          "FlashIncorrectStyling": {},
          "ClearMessagesOnAnswerSelect": {}
      },
      "component_type": "ComponentizedFrame.MultipleChoiceChallenge",
      "editor_template": "fill_in_the_blanks",
      "validator_id": "<%= @challenge['validator_id'] %>",
      "message_ids": <%= @challenge['message_ids'] %>,
      <% if @sequential %>
      "content_for_interactive_id": "<%= @challenge['answer_list_id'] %>",
      <% end %>
      "answer_list_id": "<%= @challenge['answer_list_id'] %>"      
    },
    <% for @message in @challenge['messages'] %>
    {
      "id": "<%= @message['id'] %>",
      "component_type": "ComponentizedFrame.MultipleChoiceMessage",
      "event": "validated",
      "challenge_id": "<%= @challenge['id'] %>",
      "message_text_id": "<%= @message['text_id'] %>",
      "answer_matcher_id": "<%= @message['expected_answer_matcher_id'] %>"
    },
    {
      "id": "<%= @message['expected_answer_matcher_id'] %>",
      "component_type": "ComponentizedFrame.SimilarToSelectableAnswer",
      "answer_id": "<%= @message['answer_id'] %>"
    },
    {
      "id": "<%= @message['text_id'] %>",
      "behaviors": {
          "ProcessesModals": {},
          "ProcessesMarkdown": {},
          "ProcessesInlineImages": {},
          "ProcessesMathjax": {}
      },
      "component_type": "ComponentizedFrame.Text",
      "text": "<%= @message['text'] %>"
    },
    <% end %>
    {
      "id": "<%= @challenge['validator_id'] %>",
      "behaviors": {
        "HasAllExpectedAnswers": {},
        "HasNoUnexpectedAnswers": {}
      },
      "component_type": "ComponentizedFrame.ChallengeValidator",
      "expected_answer_matcher_ids": [
        "<%= @challenge['expected_answer_matcher_id'] %>"
      ],
      "challenge_id": "<%= @challenge['id'] %>"
    },
    {
      "id": "<%= @challenge['expected_answer_matcher_id'] %>",
      "behaviors": {},
      "component_type": "ComponentizedFrame.SimilarToSelectableAnswer",
      "answer_id": "<%= @challenge['correct_answer_id'] %>"
    }
    <% end %>
  ],
  "continue_button_id": "<%= continue_button_id %>",
  "frame_type": "componentized",
  "frame_guid": "<%= frame_guid %>",
  "main_ui_component_id": "<%= main_ui_component_id %>"  
}