{
  "author_comments": <%= author_comments_json %>,
  "components": [
    {
      "id": "<%= main_ui_component_id %>",
      "behaviors": {},
      "component_type": "ComponentizedFrame.TextImageInteractive",
      "editor_template": "no_interaction",
      "content_for_text_id": "<%= content_for_text_id %>",
      "content_for_image_id": "<%= content_for_image_id %>"
    },
    {
      "id": "<%= content_for_text_id %>",
      "behaviors": {
          "ProcessesModals": {},
          "ProcessesMarkdown": {},
          "ProcessesInlineImages": {},
          "ProcessesMathjax": {}
      },
      "component_type": "ComponentizedFrame.Text",
      "text": "<%= main_text %>",
      "modal_ids": [
      <% modals.each_with_index do |modal, i| %>
          <%= (i > 0 ? ', ' : '') %>
          "<%= modal['id'] %>"
      <% end %>
        ]
    },
    {
      "id": "<%= continue_button_id %>",
      "behaviors": {},
      "component_type": "ComponentizedFrame.AlwaysReadyContinueButton"
    }
    <% for @image in images %>
    ,
    {
      "id": "<%= @image['id'] %>",
      "behaviors": {},
      "image": <%= @image['json'] %>,
      "label": "<%= @image['label'] %>",
      "component_type": "ComponentizedFrame.Image"
    }
    <% end %>
    <% for @modal in modals %>
    ,
    {
      "id": "<%= @modal['id'] %>",
      "behaviors": {
          "ProcessesModals": {},
          "ProcessesMarkdown": {},
          "ProcessesInlineImages": {},
          "ProcessesMathjax": {}
      },
      "text": "<%= @modal['text'] %>",
      "component_type": "ComponentizedFrame.Text"
    }
    <% end %>
  ],
  "continue_button_id": "<%= continue_button_id %>",
  "frame_type": "componentized",
  "frame_guid": "<%= frame_guid %>",
  "main_ui_component_id": "<%= main_ui_component_id %>"  
}