<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

    <%= render "shared/shared_head" %>

    <!-- Stylesheets /-->
    <link rel="stylesheet" href="/wwf/css/consolidated.css"><!-- gumby, component, animate, style, smartly, content -->
    <link href="/assets/fontawesome/v5/css/all.min.css" rel="stylesheet">

    <script>
        window.MANUAL_BOOTSTRAP_MODULE = 'WWFLanding';
    </script>

</head>

<body ng-controller="WWFLandingCtrl as app">
    <script type="text/javascript">
        if (localStorageEnabled && !!window.localStorage.auth_headers && window.localStorage.auth_headers !== '{}') {
            // redirect to dashboard
            window.location = '/home';
        }
    </script>

    <!-- Preload the Whole Page -->
    <div id="preloader">
        <div id="loading-animation">&nbsp;</div>
    </div>


    <div class="overlay"></div>
    <signup-form></signup-form>

    <!-- NAVIGATION ############################################### -->
    <div class="cbp-af-header">

        <nav class="row">

            <!--  Share DIV-->
             <div class="right">

                <a class="button login" href="/wwf/sign-in" target="_self" ng-click="app.logClick('sign-in')">Login</a>

                <a class="button share">Share</a>

                <div class="social-ico" id="social-container" style="">

                    <!--  Facebook Share Button-->
                    <div class="fb-like" data-href="https://smart.ly/wwf" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

                    <!-- Twitter Share Button -->
                    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Low Carbon Lessons from @<%= brand_social_name %> and @WWF" data-url="https://smart.ly/wwf">Tweet</a>

                </div> <!-- End class social-ico div -->

            </div> <!-- End Share dIV -->

             <!-- Logo -->
            <div id="logo">
                <a href="/" target="_self" ng-click="app.logClick('home')">
                    <img alt="Smartly" width="150" height="76" src="/landing-pages/img/smartly-logo2.svg">
                </a>
            </div>

        </nav>
    </div>
    <!-- END NAVIGATION ############################################### -->


    <!-- HEADER ############################################### -->


    <section class="header-page" id="top">

        <div class="video-overlay"></div>

        <!-- Huge Title centered -->

        <div class="huge-title">

            <!-- This Logo is only displayed on Tablet/iPhone !-->
            <div class="logo-phone centered"><img alt="Smartly" src="/landing-pages/img/smartly-icon.svg"></div>

            <div class="header1">
                <h1>Low Carbon Lessons</h1>
                <h2>Save your business money while saving the planet.</h2>
                <!-- <a href="#"> -->

                    <!-- begin: morph button -->
                    <div ng-click="app.logClick('launch-button-1')" class="morph-button morph-button-modal morph-button-modal-3 morph-button-fixed launch-button-1">
                        <button type="button" class="launch border-button pulse-outline">Start Now <i class="fa fa-angle-right fa-lg animated"></i></button>
                    </div>
                    <!-- end: morph-button -->
                    <a href="#container"><button type="button" class="launch border-button learn-more-button">Learn More</button></a>
                <!-- </a> -->
            </div>
        </div>

        <!-- Little text on bottom with arrow -->
        <a href="#container">
            <div class="go-down">
                <p>Learn More</p>
                <img src="/landing-pages/img/go-down.png" alt="Go Down">
            </div>
        </a>

    </section>
    <!-- END HEADER ############################################### -->


    <!-- BEGIN CONTAINER ############################################### -->
    <div id="container" class="container">


        <!-- PEDAGO INFO SECTION ############################################### -->
        <section class="cbp-so-section">
            <div class="background-overlay"></div>

            <div class="row">
                <div class="six columns article make-it-appear-left">

                    <!-- Title -->
                    <h3>Smart Businesses are Reducing Carbon.</h3>

                    <!-- Content -->
                    <p>
                        Many of the world’s leading companies have made major strides in addressing climate change over the last decade. By establishing climate targets, they pushed themselves to look harder at energy waste and found money lying on their factory floors.
                        <br><br>
                        In these free lessons, learn the basics of how you can save your company money while reducing your carbon footprint.
                    </p>

                    <div ng-click="app.logClick('launch-button-2')" class="morph-button morph-button-modal morph-button-modal-3 morph-button-fixed launch-button-2">
                        <button type="button" class="launch border-button">Start Learning <i class="fa fa-angle-right fa-lg animated"></i></button>
                    </div>

                </div>

                <div class="six columns article pedago-africa-logos make-it-appear-right">
                    <div class="space"></div>
                    <img src="/wwf/img/productivity.png" alt="productivity image" class="context-image">
                </div>
            </div> <!-- End row div -->

        </section>
        <!-- PEDAGO INFO SECTION ############################################### -->


        <!-- SOLUTION SECTION ############################################### -->
        <section class="learn-page cbp-so-section">

            <div class="row make-it-appear-top">
                <div class="twelve columns centered">
                    <h3>What You'll Learn</h3>
                </div>
            </div>

            <div class="row make-it-appear-top">
                <div class="six columns article">
                    <ul>
                        <li><p>Greenhouse Gas (GHG) Protocol</p></li>
                        <li><p>2&deg;C Threshold</p></li>
                        <li><p>Emission Scopes</p></li>
                    </ul>
                </div>
                <div class="six columns article">
                    <ul>
                        <li><p>Stretch Targets</p></li>
                        <li><p>Cost Reduction Strategies</p></li>
                        <li><p>Direct &amp; Indirect Emissions</p></li>
                    </ul>
                </div>
            </div>

        </section>

        <!-- END SOLUTION SECTION ############################################### -->

    </div>
    <!-- END CONTAINER ############################################### -->


    <!-- TESTIMONIALS SECTION ############################################### -->
    <section id="testimonial">

        <div class="row make-it-appear-top">

            <div class="twelve columns flexslider" id="slider2">

                <ul class="slides">
                    <li>
                        <h4 class="title">Jeff Seabright, Vice President, The Coca-Cola Company.</h5>
                        <div class="textblock">
                            <p>There are tremendous opportunities for companies to make operational changes that benefit both the environment and their economic bottom-lines.</p>
                        </div>
                    </li>

                    <li>
                        <h4 class="title">Chris Librie, Senior Director, HP Sustainability &amp; Social Innovation</h5>
                        <div class="textblock">
                            <p>Not taking action to reduce emissions and fight climate change is like leaving big money on the table.</p>
                        </div>
                    </li>

                    <li>
                        <h4 class="title">Jed Richardson, Global Energy Director, Johnson &amp; Johnson</h5>
                        <div class="textblock">
                            <p>These [are] win win opportunities that are available to corporations</p>
                        </div>
                    </li>
                </ul>

            </div> <!-- Columns end !-->

        </div> <!-- End Row !-->

    </section>
    <!-- END TESTIMONIALS SECTION ############################################### -->


    <!-- SMARTLY SECTION ############################################### -->
    <section class="cbp-so-section smartly-page" >

        <div class="row">

            <div class="six columns article make-it-appear-left">
                <div class="space"></div>
                <img src="/wwf/img/screenshots.png" alt="laptop, desktop, tablet, phone" class="context-image devices">
            </div>

            <div class="six columns article make-it-appear-right description">

                <!-- Title -->
                <h3><img src="/wwf/img/wwf_logo.png" class="wwf-logo-inline"> and <img src="/wwf/img/smartly-logo-black.svg" width="180" height="42" class="smartly-logo-inline"></h3>

                <!-- Content -->
                <p>
                    The WWF is actively working with industry leaders to develop low, zero or carbon positive business models and demonstrate that reductions in greenhouse gas emissions can go hand-in-hand with economic growth.
                    <br><br>
                    Low Carbon Lessons have been developed in partnership with the WWF to share this knowledge. Smartly's unique active learning platform is designed to make learning fun, efficient, and highly effective.
                </p>

                <div class="space"></div>

                    <div ng-click="app.logClick('launch-button-3')" class="morph-button morph-button-modal morph-button-modal-3 morph-button-fixed launch-button-3">
                        <button type="button" class="launch border-button">Start Learning <i class="fa fa-angle-right fa-lg animated"></i></button>
                    </div>

            </div>
        </div>
    </section>
    <!-- END SMARTLY SECTION ############################################### -->

    <section class="mandela-quote">
        <div class="row">
            <div class="eight columns centered article">
                <h3>"Education is the most powerful weapon which you can use to change the world."<h3>
                <h4>Nelson Mandela</h4>
            </div>
        </div>
    </section>

    <!-- BEGIN FOOTER SECTION ############################################### -->
    <section class="footer">
        <div class="row">
            <div class="article twelve columns centered">
                <!-- <p class="centered content-offer">
                    Meet us during Transform Africa. <a href="mailto:Transform2015@pedago.com" target="_blank"><button type="button" ng-click="app.logClick('contact-us-button')" class="contact-us-button">Transform2015@pedago.com</button></a>
                </p>
 -->
                <ul class="footer-links" >
                    <li class="copyright">&copy; Pedago, LLC 2016</li>
                    <li><a href="/terms" target="_self" ng-click="app.logClick('terms')">Terms</a></li>
                    <li><a href="/privacy" target="_self" ng-click="app.logClick('privacy')">Privacy</a></li>
                    <li><a href="mailto:questions@pedago.com" target="_blank" ng-click="app.logClick('contact-us-link')">Contact</a></li>
                </ul>
            </div>
        </div>

    </section>
    <!-- BEGIN FOOTER SECTION ############################################### -->
    <%= render "shared/webpack_scripts", chunks: [{name: 'front-royal'}] %>

    <script type="text/javascript" src="/landing-pages/js/jquery.flexslider.js" defer></script>          <!-- FlexSlider -->
    <script type="text/javascript" src="/landing-pages/js/waypoints.min.js" defer></script>              <!-- Waypoints -->
    <script type="text/javascript" src="/landing-pages/js/jquery.backgroundvideo.js" defer></script>     <!-- Video Background -->
    <script type="text/javascript" src="/landing-pages/js/mediaCheck.js" defer></script>                 <!-- MediaCheck -->
    <script type="text/javascript" src="/landing-pages/js/jquery.easing.min.js" defer></script>          <!-- Easings -->
    <script type="text/javascript" src="/landing-pages/js/uiMorphingButton_fixed.js" defer></script>     <!-- Morphing Button Form -->
    <script type="text/javascript" src="/landing-pages/js/angular_signup_modal.js" defer></script>
    <script type="text/javascript" src="/wwf/js/main.js" defer></script>                       <!-- Main Javascript File -->

    <div id="fb-root"></div>
    <script>
    // setup the registration modal code from angular_signup_modal.js
    window.landingConfig = {
        module: 'WWFLanding',
        controller: 'WWFLandingCtrl',
        page: 'wwf',
        pageTitle: 'wwf-index',
        path: '/wwf',
        signUpCode: 'WWF',
        facebookConversionImg: undefined,
        googleConversionImg: undefined
    };

    // setup social sharing
    function initializeSocial() {
        var d = document, s = 'script', id = 'facebook-jssdk';
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=978172552216701";
        fjs.parentNode.insertBefore(js, fjs);


        id = 'twitter-wjs';
        fjs = d.getElementsByTagName(s)[0];

        if(d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = '//platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js,fjs);

        // Twitter button won't render inside of a container that is initially display: none
        container = d.getElementById('social-container');
        container.style.opacity = 0;
        setTimeout(function() {
            container.style.display = 'none';
            container.style.opacity = 1;
        }, 2000);
    }
    if (window.addEventListener) window.addEventListener("load", initializeSocial, false);
    else if (window.attachEvent) window.attachEvent("onload", initializeSocial);
    else window.onload = initializeSocial;
    </script>

</body>


</html>
