<div class="modal fade modal--message-tooltip" id="<%= modalId %>" tabindex="-1" role="dialog" aria-labelledby="<%= modalId %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= title %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/cross-icon.svg' %>" data-no-retina>
        </button>
      </div>
      <div class="modal-body">
        <% if local_assigns.has_key? :listContent %>
          <% local_assigns[:listContent].each do |item| %>
            <p><%= raw item %></p>
          <% end %>
        <% else %>
        <div class="text-content">
          <% if local_assigns.has_key? :contentTitle %>
            <strong><%= contentTitle %></strong>
          <% end %>
          <% if local_assigns.has_key? :contentText %>
            <p><%= contentText %></p>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>