<% if local_assigns.has_key? :releases %>
<div class="container">
    <ul>
        <% local_assigns[:releases].each do |release| %>
        <li>
            <a  href="<%= release[:url] %>" target="_blank"><strong><%= release[:title] %></strong></a>
            <br>
            <a class="link link--text-xs" href="<%= release[:url] %>" target="_blank">Read More</a>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
