<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Successfully logged in</title>
    <script type="text/javascript">
		window.onload = function() {
			// See https://stackoverflow.com/a/29170988/1747491
			window.opener.onLinkedInProfileFetched({
				profileJsonString: <%= raw(@profile_api_response_body.to_json) %>,
				error: "<%= @error %>",
				errorDescription: "<%= @error_description %>"
			});

			window.close();
		};
	</script>
</head>
<body>
</body>
</html>