<% if !alternateBottom %>
    <div class="footer-mobile hidden-md hidden-lg">
        <% if top %>
        <div class="footer-mobile__links">
            <div class="footer-mobile__links-row accordion">
                <div class="accordion__header">
                    <span class="accordion__title">quantic</span>
                    <div class="accordion__btn accordion__btn--expand">
                        <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'expand-footer-mobile-icon.svg') %>
                    </div>
                    <div class="accordion__btn accordion__btn--close">
                        <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'close-footer-mobile-icon.svg') %>
                    </div>
                </div>

                <div class="accordion__content">
                    <ul class="footer-mobile__links-list">
                        <%= render partial: "marketing/footer/quantic/links/quantic" %>
                    </ul>
                </div>
            </div>

            <div class="footer-mobile__links-row accordion">
                <div class="accordion__header">
                    <span class="accordion__title">career network</span>
                    <div class="accordion__btn accordion__btn--expand">
                        <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'expand-footer-mobile-icon.svg') %>
                    </div>
                    <div class="accordion__btn accordion__btn--close">
                        <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'close-footer-mobile-icon.svg') %>
                    </div>
                </div>

                <div class="accordion__content">
                    <ul class="footer-mobile__links-list">
                        <%= render partial: "marketing/footer/quantic/links/jobs", :locals => local_assigns %>
                    </ul>
                </div>
            </div>

            <div class="footer-mobile__links-row accordion">
                <div class="accordion__header">
                    <span class="accordion__title">about</span>
                    <div class="accordion__btn accordion__btn--expand">
                        <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'expand-footer-mobile-icon.svg') %>
                    </div>
                    <div class="accordion__btn accordion__btn--close">
                        <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'close-footer-mobile-icon.svg') %>
                    </div>
                </div>

                <div class="accordion__content">
                    <ul class="footer-mobile__links-list">
                        <%= render partial: "marketing/footer/quantic/links/about" %>
                    </ul>
                </div>
            </div>

            <div class="footer-mobile__links-row accordion">
                <div class="accordion__header">
                    <span class="accordion__title">resources</span>

                    <div class="accordion__btn accordion__btn--expand">
                        <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'expand-footer-mobile-icon.svg') %>
                    </div>
                    <div class="accordion__btn accordion__btn--close">
                        <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'close-footer-mobile-icon.svg') %>
                    </div>
                </div>

                <div class="accordion__content">
                    <ul class="footer-mobile__links-list">
                        <li><a href="/help/" target="_blank">FAQ</a></li>
                        <li><a href="/help/contact" target="_blank">Contact</a></li>
                        <li><a href="/press">Press</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-mobile__social">
            <%= render partial: "marketing/footer/links/socialmedia" %>
        </div>

        <div class="footer-mobile__legal">
            <a class="footer-mobile__legal-link" href="/terms">Terms</a>
            <a class="footer-mobile__legal-link" href="/privacy">Privacy</a>
            <a class="footer-mobile__legal-link" href="/cookies">Cookies</a>
            <% if include_impressum %><a class="footer-mobile__legal-link" href="/impressum">Impressum</a><% end %>
            <a class="footer-mobile__legal-link" href="/regulatory-information">Regulatory Information</a>
        </div>

        <hr class="divider divider--light footer-mobile__separator">

        <div class="footer-mobile__app-download">
            <a class="footer-mobile__app-download-btn" href="https://itunes.apple.com/us/app/id1014850662" target="_blank">
                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/download-on-the-app-store-button.svg' %>" alt="App Store">
            </a>
            <a class="footer-mobile__app-download-btn" href="https://play.google.com/store/apps/details?id=com.smartly.hybrid" target="_blank">
                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/icons/get-it-on-google-play-button.svg' %>" alt="Google Play">
            </a>
        </div>

        <hr class="divider divider--light footer-mobile__separator">
        <% end %>
        <% if bottom and !alternateBottom %>
        <footer class="footer-mobile__credits">
            <div class="footer-mobile__credits-logo">
                <a href="#">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/logos/quantic-logo-full-color.svg' %>" alt="Quantic School of Business and Technology" width="150">
                </a>
            </div>

            <h6>Washington, DC</h6>

            <h6>©<%= Time.new.year %> Pedago, LLC. All rights reserved.</h6>
        </footer>
        <% end %>
    </div>
<% end %>
<% if alternateBottom  %>
    <div class="footer-mobile-alternate visible-xs visible-sm">
        <div>
            <a href="/terms" target="_blank">Terms</a>
            <span class="separator">·</span>
            <a href="/privacy" target="_blank">Privacy</a>
            <span class="separator">·</span>
            <a href="/cookies" target="_blank">Cookies</a>
            <% if include_impressum %>
            <span class="separator">·</span>
            <a href="/impressum" target="_blank">Impressum</a>
            <% end %>
            <span class="separator">·</span>
            <a href="/regulatory-information">Regulatory Information</a>
        </div>
        <div>©<%= Time.new.year %> Pedago, LLC. All rights reserved.</div>
    </div>
<% end %>
