<div class="footer-desktop hidden-xs hidden-sm">
    <% if top %>
        <div class="footer-desktop__top-wrapper">
            <div class="container">
                <div class="row">

                    <div class="col-md-1">
                        <div class="footer-desktop__logo">
                            <a href="/">
                                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/logos/quantic-logo-footer.svg' %>" alt="Quantic" width="60">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="footer-desktop__links">
                            <div class="footer-desktop__links-col">
                                <h2 class="footer-desktop__links-header">quantic</h2>

                                <ul class="footer-desktop__links-list">
                                    <%= render partial: "marketing/footer/quantic/links/quantic" %>
                                </ul>
                            </div>

                            <div class="footer-desktop__links-col">
                                <h2 class="footer-desktop__links-header">career network</h2>

                                <ul class="footer-desktop__links-list">
                                    <%= render partial: "marketing/footer/quantic/links/jobs", :locals => local_assigns %>
                                </ul>
                            </div>

                            <div class="footer-desktop__links-col">
                                <h2 class="footer-desktop__links-header">about</h2>

                                <ul class="footer-desktop__links-list">
                                    <%= render partial: "marketing/footer/quantic/links/about" %>
                                </ul>
                            </div>

                            <div class="footer-desktop__links-col">
                                <h2 class="footer-desktop__links-header">resources</h2>

                                <ul class="footer-desktop__links-list">
                                    <li>
                                        <a href="https://itunes.apple.com/us/app/id1014850662" target="_blank">
                                            <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'apple-footer-icon.svg')  %>
                                            <span>iOS App</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://play.google.com/store/apps/details?id=com.smartly.hybrid" target="_blank">
                                            <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'icons', 'android-footer-icon.svg')  %>
                                            <span>Android App</span>
                                        </a>
                                    </li>
                                    <li><a href="/help/" target="_blank">FAQ</a></li>
                                    <li><a href="/help/contact" target="_blank">Contact</a></li>
                                    <li><a href="/press">Press</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-desktop__social">
                            <%= render partial: "marketing/footer/links/socialmedia" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    <% if bottom %>
        <div class="footer-desktop__bottom-wrapper <% if defined? sticky && sticky %>footer-desktop__bottom-wrapper--sticky<% end %>">
            <div class="container">
                <div class="row">

                    <div class="col-md-5 pull-left">
                        <footer class="footer-desktop__credits">
                            <span>©<%= Time.new.year %> Pedago, LLC. All rights reserved.</span>
                        </footer>
                    </div>

                    <div class="col-md-2">
                        <div class="footer-desktop__location">
                            <span>Washington, DC</span>
                        </div>
                    </div>

                    <div class="col-md-5 pull-right">
                        <div class="footer-desktop__legal">
                            <a class="footer-desktop__legal-link" href="/terms">Terms</a>
                            <a class="footer-desktop__legal-link" href="/privacy">Privacy</a>
                            <a class="footer-desktop__legal-link" href="/cookies">Cookies</a>
                            <% if include_impressum %><a class="footer-desktop__legal-link" href="/impressum">Impressum</a><% end %>
                            <a class="footer-desktop__legal-link" href="/regulatory-information">Regulatory Information</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    <% end %>
</div>
