<div class="footer footer--landing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer__wrapper">
          <div class="footer__legal">
            <a class="footer__legal-link" href="/terms">Terms & Conditions</a>
            <a class="footer__legal-link" href="/privacy">Privacy Policy</a>
          </div>
          <div class="footer__divider"></div>
          <div class="footer__credits">
            <p>©
              <%= Time.new.year %> Pedago, LLC. All rights reserved.</p>
          </div>
          <div class="footer__divider"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "marketing/footer/quantic/footer-disclaimer", locals: { noAccreditationLink: true } %>