<div class="footer-disclaimer">
  <div class="divider divider--light-fade hidden-sm hidden-md hidden-lg"></div>
  <p style="max-width: 800px; margin: 0 auto;" class="hidden-xs">
    Quantic School of Business and Technology is licensed by the Office of the State Superintendent of Education (OSSE) in Washington, DC and 
    <% if local_assigns.has_key?(:noAccreditationLink) && local_assigns[:noAccreditationLink] %>
    accredited
    <% else %>
    <a href="/accreditation">accredited</a>
    <% end %>
    by the Distance Education Accreditation Commission (DEAC). The DEAC is listed by the United States Department of Education as a recognized accrediting agency and is also recognized by the Council for Higher Education Accreditation (CHEA).
  </p>
  <p style="margin: 0 auto;" class="visible-xs">
    Quantic School of Business and Technology is 
    <% if local_assigns.has_key?(:noAccreditationLink) && local_assigns[:noAccreditationLink] %>
    accredited
    <% else %>
    <a href="/accreditation">accredited</a>
    <% end %>
    by the Distance Education Accreditation Commission (DEAC). The DEAC is listed by the United States Department of Education as a recognized accrediting agency and is also recognized by the Council for Higher Education Accreditation (CHEA).
  </p>
  <p>
    3000 K St NW, Ste 275, Washington, DC, 20007, USA • info@<%= AppConfig.quantic_domain %>
  </p>
</div>