<span class="confirmation">You have successfully unsubscribed from <%= @type_pretty %> notifications!</span>

<span class="footnote">Please login to <%= brand_name_short %> and visit your <a href="/settings/notifications">Notification Settings</a> to change your preferences.</span>
