<li>
  <a href="/employers/recruit-our-candidates">Hire Our Learners</a>
</li>
<% unless local_assigns.fetch(:hidePricing, false) %>
<li>
    <a href="/prices/employers">Employer Pricing</a>
</li>
<% end %>