<% safe_cache [local_assigns.to_json.hash] do %>

<div class="gallery gallery--1x1-top<%= " #{galleryClass}" if local_assigns.has_key? :galleryClass%> container">
    <div class="row">
        <div class="col-xs-12">
            <%= if local_assigns.has_key? :stats
                render partial: "marketing/galleries/stats", locals: local_assigns[:stats]
            end %>

            <%= render partial: "marketing/galleries/full-content", locals: col1 %>
        </div>
    </div>
</div>

<% end %>