<% safe_cache [local_assigns.to_json.hash] do %>

<%
    if local_assigns.has_key? :items
        local_assigns[:items].each do |item|
%>
<div class="gallery gallery--1x1-frame<%= " #{item[:galleryClass]}" if item.has_key? :galleryClass %>">
    <%= render partial: "marketing/galleries/frame", locals: item %>

    <div class="gallery__content">
        <%= render partial: "marketing/galleries/full-content", locals: item %>
    </div>
</div>
<%
        end
    end
%>

<% end %>