<% safe_cache [local_assigns.to_json.hash] do %>

<div class="gallery gallery--2x4 container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="gallery--2x4__wrapper">
                <%= render partial: "marketing/galleries/full-content", locals: col1 %>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="gallery--2x4__wrapper">
                <%= render partial: "marketing/galleries/full-content", locals: col2 %>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="gallery--2x4__wrapper">
                <%= render partial: "marketing/galleries/full-content", locals: col3 %>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="gallery--2x4__wrapper">
                <%= render partial: "marketing/galleries/full-content", locals: col4 %>
            </div>
        </div>
    </div>
</div>

<% end %>