<% safe_cache [local_assigns.to_json.hash] do %>

<div class="gallery gallery--3x3 container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="gallery--3x3__wrapper<%= " #{col1[:galleryClass]}" if local_assigns[:col1].has_key? :galleryClass %>">
                <%= render partial: "marketing/galleries/full-content", locals: col1 %>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="gallery--3x3__wrapper<%= " #{col2[:galleryClass]}" if local_assigns[:col2].has_key? :galleryClass %>">
                <%= render partial: "marketing/galleries/full-content", locals: col2 %>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="gallery--3x3__wrapper<%= " #{col3[:galleryClass]}" if local_assigns[:col3].has_key? :galleryClass %>">
                <%= render partial: "marketing/galleries/full-content", locals: col3 %>
            </div>
        </div>

        <% if local_assigns.has_key? :contentBelow %>
        <div class="col-xs-12">
            <div class="gallery--3x3__wrapper below-content">
                <%= render partial: "marketing/galleries/full-content", locals: contentBelow %>
            </div>
        </div>
        <% end %>
    </div>
</div>

<% end %>