<% safe_cache [local_assigns.to_json.hash] do %>

<div class="gallery__frame<%= " #{frameClass}" if local_assigns.has_key? :frameClass %>">
    <% if local_assigns.has_key? :frameVectorMobile 
        frameVectorMobile = get_webpack_asset_value_for_key local_assigns[:frameVectorMobile]
    end %>
    <img src="<%= " #{frameVectorMobile}" if local_assigns.has_key? :frameVectorMobile %>" alt="<%= " #{title}" if local_assigns.has_key? :title %>" class="visible-xs">
    <% if local_assigns.has_key? :frameVectorDesktop 
        frameVectorDesktop = get_webpack_asset_value_for_key local_assigns[:frameVectorDesktop]
    end %>
    <img src="<%= " #{frameVectorDesktop}" if local_assigns.has_key? :frameVectorDesktop %>" alt="<%= " #{title}" if local_assigns.has_key? :title %>" class="hidden-xs">
</div>

<% end %>