<% safe_cache [local_assigns.to_json.hash] do %>

<% if local_assigns.has_key? :vectorPathMobile 
    vectorPathMobile = get_webpack_asset_value_for_key local_assigns[:vectorPathMobile]
    retinaData = (local_assigns.has_key? :vectorPathMobileRetina) ? " data-rjs='#{get_webpack_asset_value_for_key local_assigns[:vectorPathMobileRetina]}'" : " data-no-retina"
%>
<div class="gallery__illustration<%= " #{vectorClass}" if local_assigns.has_key? :vectorClass %><%= ' visible-xs' if local_assigns.has_key? :vectorPathDesktop %>">
    <%#= image_tag(vectorPathMobile, alt: title) %>
    <img src="<%= vectorPathMobile %>" alt="<%= title %>"<%= retinaData %>>
</div>
<% end %>

<% if local_assigns.has_key? :vectorPathDesktop 
    vectorPathDesktop = get_webpack_asset_value_for_key local_assigns[:vectorPathDesktop]
%>
<div class="gallery__illustration<%= " #{vectorClass}" if local_assigns.has_key? :vectorClass %> hidden-xs">
    <%= image_tag(vectorPathDesktop, alt: title) %>
</div>
<% end %>

<% if local_assigns.has_key? :youtubeEmbed %>
<%# extra div needed to work around insane bug in firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=958714 %>
<div><div class="gallery__youtube"><iframe class="youtube-iframe" src="" frameborder="0" allowfullscreen></iframe></div></div>
<% end %>

<% if local_assigns.has_key? :video
    video[:thumbnail] = get_webpack_asset_value_for_key video[:thumbnail]
    video[:thumbnailRetina] = get_webpack_asset_value_for_key video[:thumbnailRetina]
    video[:thumbnailMobile] = get_webpack_asset_value_for_key video[:thumbnailMobile]
    video[:thumbnailMobileRetina] = get_webpack_asset_value_for_key video[:thumbnailMobileRetina]
%>
<div class="gallery__video" data-video-url="<%= video[:url] %>">
    <picture>
        <source media="(max-width: 767px)" srcset="<%= video[:thumbnailMobile] %> 1x, <%= video[:thumbnailMobileRetina] %> 2x">
        <img src="<%= video[:thumbnail] %>" data-rjs="<%= video[:thumbnailRetina] %>" alt="<%= video[:thumbnailCaption] %>">
    </picture>
</div>
<% end %>

<% if local_assigns.has_key? :title %>
<div class="gallery__title text-center">
    <%= title.html_safe %>
</div>
<% end %>

<% if local_assigns.has_key? :description %>
<div class="gallery__description text-center">
    <%= simple_format(description) %>
</div>
<% end %>

<% if local_assigns.has_key? :description_html %>
<div class="gallery__description text-center">
    <%= description_html.html_safe %>
</div>
<% end %>

<% if local_assigns.has_key? :linkText %>
<div class="gallery__link text-center">
    <a
        class="link
        <% if local_assigns.has_key? :linkClass %>
            <%= linkClass %>
        <% end%>
        <% if !local_assigns.has_key? :linkUri %>
            link--mute
        <% end%>"
        <% if local_assigns.has_key? :linkUri and !local_assigns.has_key? :modalAnchor %>
            href="<%=linkUri %>"
        <% end %>
        <% if local_assigns.has_key? :linkTarget %>
            target="<%=linkTarget %>"
        <% end %>
        <% if local_assigns.has_key? :modalAnchor %>
            data-toggle="modal" data-target="#<%=modalAnchor %>"
        <% end %>
        <% if local_assigns.has_key? :logClick %>
            ng-click="app.logClick('<%=logClick %>')"
        <% end %>
    >
        <span><%= linkText %></span>
        <% if local_assigns.has_key? :linkUri or local_assigns.has_key? :modalAnchor %>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"/>
            </svg>
        <% end %>
    </a>
</div>
<% end %>

<% end %>