<% safe_cache [local_assigns.to_json.hash] do %>

<div class="gallery__stats<%= " gallery__stats--#{classModifier}" if local_assigns.has_key? :classModifier %>">

    <% local_assigns[:items].each do |item| %>
    <div class="gallery__stats-item">
        <% if item.has_key? :custom %>
            <img class="gallery__stats-custom" src="<%= get_webpack_asset_value_for_key item[:custom] %>" alt="Icon Stat"><%= item[:number] %></span>
        <% else %>
            <span class="gallery__stats-number gallery__stats-number--<%= item[:numberColor] %>"><%= item[:number] %></span>
        <% end %>
        <div class="gallery__stats-caption">
            <div class="gallery__stats-icon">
                <% if item.has_key? :iconPath
                    item[:iconPath] = get_webpack_asset_value_for_key item[:iconPath]
                end %>
                <img src="<%= item[:iconPath] %>" alt="<%= item[:iconTitle] %>">

            </div>
            <span class="gallery__stats-title"><%= item[:title] %></span>
        </div>
    </div>
    <% end %>

</div>

<% end %>