<% safe_cache [local_assigns.to_json.hash] do %>

<div class="gallery gallery--2x2-1image<%= " #{galleryClass}" if local_assigns.has_key? :galleryClass%> container">
    <div class="gallery__timeline visible-xs">
        <div class="gallery__counter"><span><%= galleryCount %></span></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 <%= 'col-sm-push-6' if local_assigns.has_key? :vectorRight%>">
            <% if local_assigns.has_key? :vectorPathMobile
                vectorPathMobile = get_webpack_asset_value_for_key local_assigns[:vectorPathMobile]
                retinaData = (local_assigns.has_key? :vectorPathMobileRetina) ? " data-rjs='#{get_webpack_asset_value_for_key local_assigns[:vectorPathMobileRetina]}'" : " data-no-retina"
            %>
            <div class="gallery__illustration<%= " gallery__illustration--#{illustrationModifier}" if local_assigns.has_key? :illustrationModifier%><%= ' visible-xs' if local_assigns.has_key? :vectorPathDesktop %>">
                <img src="<%= vectorPathMobile %>" alt="<%= title %>"<%= retinaData %>>
            </div>
            <% end %>
            <% if local_assigns.has_key? :vectorPathDesktop
                vectorPathDesktop = get_webpack_asset_value_for_key local_assigns[:vectorPathDesktop]
                retinaData = (local_assigns.has_key? :vectorPathDesktopRetina) ? " data-rjs='#{get_webpack_asset_value_for_key local_assigns[:vectorPathDesktopRetina]}'" : " data-no-retina"
            %>
            <div class="gallery__illustration<%= " gallery__illustration--#{illustrationModifier}" if local_assigns.has_key? :illustrationModifier%> hidden-xs">
                <img src="<%= vectorPathDesktop %>" alt="<%= title %>" <%= retinaData %>>
            </div>
            <% end %>
        </div>
        <div class="col-xs-12 col-sm-6 gallery__information <%= 'col-sm-pull-6' if local_assigns.has_key? :vectorRight %>">
            <div class="gallery__timeline hidden-xs">
                <div class="gallery__counter"><span><%= galleryCount %></span></div>
            </div>
            <div class="gallery__information-content">
                <div class="gallery__title">
                    <%= simple_format(title) %>
                </div>
                <% if local_assigns.has_key? :description %>
                <div class="gallery__description">
                    <%= simple_format(description, {}, sanitize: !local_assigns.has_key?(:disableDescriptionSanitize)) %>
                </div>
                <% end %>

                <% if local_assigns.has_key? :listItems %>
                <ul class="gallery__list">
                  <% local_assigns[:listItems].each do |item| %>
                    <li>
                      <%= simple_format(item, {}, sanitize: !local_assigns.has_key?(:disableDescriptionSanitize)) %>
                    </li>
                  <% end %>
                </ul>
                <% end %>

                <% if local_assigns.has_key? :linkText %>
                <div class="gallery__link">
                    <a class="link link--text-sm link--color-default
                        <% if local_assigns.has_key? :linkClass %>
                            <%= linkClass %>
                        <% end%>
                        <% if !local_assigns.has_key? :linkUri and !local_assigns.has_key? :modalAnchor %>
                            link--mute
                        <% end %>"
                        <% if local_assigns.has_key? :linkUri %>
                            href="<%=linkUri %>"
                        <% end %>
                        <% if local_assigns.has_key? :modalAnchor %>
                            data-toggle="modal" data-target="#<%=modalAnchor %>"
                        <% end %>
                        <% if local_assigns.has_key? :linkTarget %>
                            target="<%=linkTarget %>"
                        <% end %>
                        <% if local_assigns.has_key? :logClick %>
                            ng-click="app.logClick('<%=logClick %>')"
                        <% end %>
                        >
                        <%= linkText %>
                        <% if local_assigns.has_key? :linkUri or local_assigns.has_key? :modalAnchor %>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                                <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"/>
                            </svg>
                        <% end %>
                    </a>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<% end %>
