<% safe_cache [local_assigns.to_json.hash] do %>

<div class="video-gallery container">
    <div class="row">
        <div class="col-xs-12">
            <% if local_assigns.has_key? :title %>
            <div class="video-gallery__title text-center">
                <p><%= title %></p>
            </div>
            <% end %>

            <% if local_assigns.has_key? :videos %>
            <div class="video-gallery__wrapper row">
                <% local_assigns[:videos].each do |video| %>
                <div class="video-gallery__card col-md-4">
                    <div class="video-gallery__panel" data-video-url="<%= video[:url] %>">
                        <picture>
                            <% if video.present?
                                video[:thumbnail] = get_webpack_asset_value_for_key video[:thumbnail]
                                video[:thumbnailRetina] = get_webpack_asset_value_for_key video[:thumbnailRetina]
                                video[:thumbnailMobile] = get_webpack_asset_value_for_key video[:thumbnailMobile]
                                video[:thumbnailMobileRetina] = get_webpack_asset_value_for_key video[:thumbnailMobileRetina]
                            end %>
                            <source media="(max-width: 991px)" srcset="<%= video[:thumbnailMobile] %> 1x, <%= video[:thumbnailMobileRetina] %> 2x">
                            <img src="<%= video[:thumbnail] %>" data-rjs="<%= video[:thumbnailRetina] %>" alt="<%= video[:title] %>">
                        </picture>
                    </div>
                    <div class="video-gallery__card-content">
                        <h1><%= video[:title] %></h1>
                        <h2><%= raw video[:subtitle] %></h2>
                        <h3><%= video[:content] %></h3>
                    </div>
                </div>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
</div>

<% end %>