<%= render partial: "marketing/helpscout/helpscout-hiring" %>

<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-blue",
        text: "Sign up - It's free",
        link: "/employers/signup",
        banner: {
            cssClass: 'banner-message--blue'
        }
    }
%>

<%#
- Set $version as "A" to display Image in Hero with several people
- Set $version as "B" to display Image in Hero with only people
%>
<% $version = 'B' %>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--recruit-our-candidates hero--version-b hero--emba hero--main-employers">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-blue">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-blue"></span>
    </div>

    <div class="hero__wrapper container">
      <div class="row">
        <div class="col-md-5 hidden-xs hidden-sm">
          <% if $version == 'A' %>
          <picture class="hero__image-wrapper">
            <img class="hero__image" src="<%= get_webpack_asset_value_for_key '/assets/images/employers-landing/illustration-main-landing.png' %>" srcset="<%= get_webpack_asset_value_for_key '/assets/images/employers-landing/illustration-main-landing.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/employers-landing/illustration-main-landing@2x.png' %> 2x" alt="Hero Image">
          </picture>
          <% else %>
          <picture class="hero__image-wrapper hero__image-wrapper--tech">
            <img class="hero__image" src="<%= get_webpack_asset_value_for_key '/assets/images/employers-landing/recruit-tech.png' %>" srcset="<%= get_webpack_asset_value_for_key '/assets/images/employers-landing/recruit-tech.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/employers-landing/recruit-tech@2x.png' %> 2x" alt="Hero Image">
          </picture>
          <% end %>
        </div>
        <div class="col-xs-12 col-md-7">
          <div class="hero__content">
            <div class="hero__headline color-text-highlight has-button">
                <h1>Build a world-class team of business and tech leads</h1>
                <div class="hero-subsection">
                  <h2>SIGN UP TO...</h2>
                  <div class="divider"></div>
                  <ul class="hero-subsection__list">
                    <li>Find and engage top tech and business candidates.</li>
                    <li>Get your open job posts to the right audience quickly.</li>
                    <li>Review applications and connect in 15 minutes or less.</li>
                  </ul>
                </div>
              <div>
                <a class="button button--sm-primary-pink button--sm-secondary" href="/employers/signup">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<div class="wrapper">
  <%= render partial: "marketing/employers-landing/employers-logos",
    locals: {
      sectionModifier: "section--main-employers-logos",
      logos: [
        {
          image: "/assets/images/employers-landing/logos/logo-laserfiche.png",
          imageRetina: "/assets/images/employers-landing/logos/logo-laserfiche@2x.png",
          name: "Laserfiche",
        },
        {
          image: "/assets/images/employers-landing/logos/logo-earnest.png",
          imageRetina: "/assets/images/employers-landing/logos/logo-earnest@2x.png",
          name: "Earnest",
        },
        {
          image: "/assets/images/employers-landing/logos/logo-patient-ping.png",
          imageRetina: "/assets/images/employers-landing/logos/logo-patient-ping@2x.png",
          name: "Patient Ping",
        },
        {
          image: "/assets/images/employers-landing/logos/logo-better.png",
          imageRetina: "/assets/images/employers-landing/logos/logo-better@2x.png",
          name: "Better",
        },
        {
          image: "/assets/images/employers-landing/logos/logo-honeywell.png",
          imageRetina: "/assets/images/employers-landing/logos/logo-honeywell@2x.png",
          name: "Honeywell",
        },
        {
          image: "/assets/images/employers-landing/logos/logo-mosaic.png",
          imageRetina: "/assets/images/employers-landing/logos/logo-mosaic@2x.png",
          name: "Mosaic",
        }
      ]
    }
  %>

  <%= render partial: "marketing/employers-landing/employers-roles" %>

  <%= render partial: "marketing/employers-landing/employers-timeline",
    locals:{
        title: "How Smartly Works",
    }
  %>

  <%= render partial: "marketing/employers-landing/employers-testimonials",
    locals:{
        sectionModifier: "section--main-employers-testimonials",
    }
  %>

  <%= render partial: "marketing/banner/banner-hiring-form",
    locals:{
        title: "Hire top talent now.",
        subtitle: "Enter your email to get started.",
        inputPlaceholder: "Your work email",
        wrapperClass: "hiring-form-wrapper--sign-up",
        bgClass: "hiring-form-wrapper--bg",
        btnClass: "button--md-primary",
        link: "/employers/signup"
    }
  %>
</div>

<%= render partial: "marketing/modal/modal-tooltip",
  locals:{
      modalId: "modal__levels",
      title: "Levels",
      contentTitle: "Candidates from big cities across:",
      contentText: "North America, Europe, and the APAC region. We’re rapidly growing in the Middle East, South America, and Africa.",
  }
%>

<%= render partial: "marketing/modal/modal-tooltip",
  locals: {
      modalId: "modal__locations",
      title: "Locations",
      contentTitle: "Connect with Candidates across:",
      contentText: "Entry to mid-level, Director level, and Executive / C-Suite levels.",
  }
%>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>