<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary",
        banner: {
            application_deadline_message: @application_deadline_message,
            linkText: "Apply now",
            linkUri: "/candidates/signup"
        }
    }
%>

<section class="hero hero--homepage smartly-index">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right">
            <div class="hero__figure hidden-xs hidden-sm">
                <%= render_svg Rails.root.join('vendor', 'vectors', '_minified', 'homepage', 'homepage-header-illustration.svg') %>
            </div>
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-4 col-lg-7 col-lg-offset-5">
                <div class="hero__content">
                    <div class="hero__headline hero__headline--large color-text-highlight">
                        <h1><span>Where Education Meets</span> <b>Opportunity</b>.</h1>
                        <p>Smartly is an education ecosystem that connects affordable, mobile-first learning with career advancement.</p>
                    </div>

                    <div class="hero__links">
                        <div class="hero__link-wrapper">
                            <%=
                                render partial: "marketing/buttons/button-lg-primary",
                                locals: {
                                    text: "learn more",
                                    link: "/vision"
                                }
                            %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="wrapper">
    <section class="section section--platforms text-center">
        <h1 class="section__title primary-title">Smartly's Education Platforms</h1>
        <h2 class="section__title">Learning Designed for All</h2>

        <div class="section__content container">
            <div class="board-wrapper">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="board">
                            <img class="quantic" src="<%= get_webpack_asset_value_for_key '/assets/vectors/logos/quantic-logo-full-color.svg' %>" alt="Quantic Logo">
                            <div>
                                <h2>The #ModernMBA for <br class="hidden-md hidden-lg">Today's Leaders</h2>
                                <p>Quantic is a top-tier, radically affordable international business school offering MBA and Executive MBA degrees.</p>
                                <p class="gallery__link">
                                    <a class="link link--text-xs link--color-primary" href="https://<%= AppConfig.quantic_domain%>">
                                        <span>learn more</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                                            <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"/>
                                        </svg>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <div class="board">
                            <span class="top-caption">coming soon</span>
                            <img class="smartly" src="<%= get_webpack_asset_value_for_key '/assets/images/homepage/smartly/smartly-learning.png' %>" alt="Smartly Learning Logo">
                            <div>
                                <h2>Love How You Learn</h2>
                                <p>The Smartly Learning platform offers free certificates, test prep, and other non-degree learning programs using our proprietary pedagogical model.</p>
                                <p class="gallery__link">
                                    <a class="link link--text-xs link--color-primary" href="/our-programs">
                                        <span>learn more</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                                            <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"/>
                                        </svg>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="board">
                            <span class="top-caption">in development</span>
                            <img class="bachelors" src="<%= get_webpack_asset_value_for_key '/assets/vectors/mba/two-by-one/degree-program.svg' %>" alt="Graduation Cap">
                            <div>
                                <h2>A More Accessible, <br class="hidden-xs">Affordable Bachelor's Degree</h2>
                                <p>Smartly is developing an undergraduate bachelor's degree program that's affordable, flexible, and convenient.</p>
                                <p class="gallery__link">
                                    <span class="link link--text-xs link--color-primary">
                                        <span>check back soon for updates</span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-6">
                        <div class="board">
                            <img class="miyamiya" src="<%= get_webpack_asset_value_for_key '/assets/images/miyamiya/miyamiya-logo.png' %>" alt="Miya Miya Logo">
                            <div>
                                <h2>Empowering High School <br class="hidden-xs">Students to Achieve More</h2>
                                <p>Miya Miya is high school STEM program empowering disadvantaged Jordanian youth and Syrian refugees with a more accessible, comprehensive education. </p>
                                <p class="gallery__link">
                                    <a class="link link--text-xs link--color-primary" href="https://miyamiya.org">
                                        <span>learn more</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                                            <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"/>
                                        </svg>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

 <div class="banner banner--quantic">
    <div class="banner__background"></div>
    <div class="banner__container container">
        <div class="row">
            <div class="col-xs-12 col-lg-9">
                <header class="banner__header">
                    <h1>Smartly Institute is now Quantic!</h1>
                    <p>Smartly's business school has changed its name to Quantic School of Business and Technology. Head to <a href="https://<%= AppConfig.quantic_domain %>">Quantic</a> to find out more.</p>
                </header>
            </div>

            <div class="col-xs-12 col-lg-3">
                <a class="button button--md-primary" href="https://<%= AppConfig.quantic_domain %>">Learn More</a>
            </div>
        </div>
    </div>
</div>


<div class="wrapper">
    <section class="section section--smartly-talent text-center container">
        <h1 class="section__title primary-title"><span class="highlight highlight--blue"><em>Smartly Talent</em></span></h1>

        <div class="row tuition-fees">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/for-managers-illustration.svg' %>" class="gallery__illustration">
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 text-center text-sm-left gallery__text">
                <div class="gallery__title">Helping companies build world-class teams in business and technology</div>
                <p class="gallery__description">Smartly Talent is the fastest and most effiicient way to hire top talent. Candidates are sourced from our highly selective and innovative business school, Quantic School of Business and Technology.</p>
                <p class="gallery__link">
                    <a class="link link--text-xs link--color-primary" href="/employers/recruit-our-candidates">
                        <span>learn more</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                            <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"/>
                        </svg>
                    </a>
                </p>
            </div>
        </div>
    </section>
</div>

<hr class="divider divider--light banner__separator hidden-xs hidden-sm">

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
