<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-blue",
        text: "Sign Up - It’s Free",
        link: "/candidates/register",
        banner: {
            cssClass: 'banner-message--blue'
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--smartly-platforms">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>Education with Real Outcomes</h1>
                        <p>Smartly is a collection of education platforms that feed into a built-in career network, Smartly Talent. Each program is built to be mobile-first, flexible, and radically affordable.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-xs hidden-sm">
                <img class="hat-illustration" src="<%= get_webpack_asset_value_for_key '/assets/vectors/mission/smartly/hat.svg' %>" alt="hat illustration">
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <section class="section section--program-missions text-center">
        <h1 class="section__title primary-title">The Smartly <br class="visible-xs"><span class="highlight highlight--pink"><em>Network</em></span></h1>

        <%= render partial: "marketing/galleries/3x3",
        locals: {
            col1:{
                title: "Quantic School of Business and Technology",
                description: "Quantic is a top-tier, radically affordable global business school offering MBA and Executive MBA degrees.",
                vectorPathMobile: '/assets/vectors/logos/quantic-logo-full-color.svg',
                vectorPathDesktop: '/assets/vectors/logos/quantic-logo-full-color.svg',
                vectorClass: 'gallery__illustration--quantic',
                linkText: "Apply Now",
                linkUri: "https://#{AppConfig.quantic_domain}",
                linkClass: 'link--text-xs link--color-primary'
            },
            col2:{
                title: "An Affordable Bachelor's Degree",
                description: "Currently in development, Smartly aims to provide learners with a more accessible and affordable undergraduate degree program.",
                vectorPathMobile: '/assets/vectors/mba/two-by-one/degree-program.svg',
                vectorPathDesktop: '/assets/vectors/mba/two-by-one/degree-program.svg',
                vectorClass: 'gallery__illustration--bachelors'
            },
            col3:{
                title: "Smartly Learning",
                description_html: "<br class=\"hidden-xs hidden-sm\">Smartly Learning offers free certificates, test prep, and other non-degree learning programs using our proprietary pedagogical model.",
                vectorPathMobile: '/assets/vectors/logos/smartly-learning-logo.svg',
                vectorPathDesktop: '/assets/vectors/logos/smartly-learning-logo.svg',
                vectorClass: 'gallery__illustration--smartly-learning',
                linkText: "Learn More",
                linkUri: '/our-programs',
                linkClass: 'link--text-xs link--color-primary'
            }
        }
        %>

        <%= render partial: "marketing/galleries/3x3",
        locals: {
            col1:{
                title: "Miya Miya",
                description: "Miya Miya is a high school STEM program empowering disadvantaged Jordanian youth and Syrian refugees with a more accessible, comprehensive education.",
                vectorPathMobile: '/assets/images/miyamiya/miyamiya-logo.png',
                vectorPathDesktop: '/assets/images/miyamiya/miyamiya-logo.png',
                vectorClass: 'gallery__illustration--miyamiya',
                linkText: "Learn More",
                linkUri: 'https://miyamiya.org',
                linkClass: 'link--text-xs link--color-primary'
            },
            col2:{
                title: "Smartly Corporate Training",
                description: "Corporate training programs that are fast, fun, and effective. Level-up your team with customized instruction developed by leading subject matter experts.",
                vectorPathMobile: '/assets/vectors/mission/smartly/smartly-corporate.svg',
                vectorPathDesktop: '/assets/vectors/mission/smartly/smartly-corporate.svg',
                vectorClass: 'gallery__illustration--corporate-training',
                linkText: "Learn More",
                linkUri: '/corporate-training',
                linkClass: 'link--text-xs link--color-primary'
            },
            col3:{
                title: "Smartly Talent",
                description: "Smartly Talent is a hiring platform connecting our learners with top employers around the world. Candidates are sourced from our selective business school, Quantic.",
                vectorPathMobile: '/assets/images/mission/smartly/smartly-talent@2x.png',
                vectorPathDesktop: '/assets/images/mission/smartly/smartly-talent@2x.png',
                vectorClass: 'gallery__illustration--smartly-talent',
                linkText: "Hire our Students",
                linkUri: '/employers/recruit-our-candidates',
                linkClass: 'link--text-xs link--color-primary'
            }
        }
        %>

    </section>
    
    <hr class="divider divider--light section__separator">
</div>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
