<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-pink",
        text: "Apply to the MBA",
        link: "/candidates/signup",
        banner: {
            application_deadline_message: @application_deadline_message,
            linkText: "Apply now",
            linkUri: "/candidates/signup",
            cssClass: "banner-message--red"
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--learn-with-smartly">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left hero__gradient--left-pink">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right hero__gradient--right-pink">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right hero__shadow--top-right-pink"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>Fundamentals to Grow Your Potential</h1>
                        <p>The Smartly Learning platform offers a wide range of business certificates, <br class="hidden-xs hidden-sm">as well as a library of open courses available to everyone.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="learn-with-smartly">
    <section class="" style="background-color: white">
            <div class="container text-center smartly-learning-logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="160" height="82" viewBox="0 0 160 82"><g fill="#FF4D63" fill-rule="evenodd"><path d="M79.272.194a1.542 1.542 0 0 1 1.499 0l15.458 8.853c.471.259.771.777.771 1.338 0 .519-.343 1.037-.814 1.296L83.17 18.547l13.06 7.47c.471.26.771.778.771 1.469l-.043 16.798c0 .561-.3 1.08-.813 1.339l-15.502 8.204c-.085.043-.171.043-.257.087-.042.043-.085.043-.128.043-.044.043-.13.043-.258.043-.257 0-.514-.086-.77-.216l-15.374-8.118c-.513-.26-.813-.734-.813-1.296 0-.561.3-1.08.77-1.338l13.018-7.471-13.017-6.866c-.514-.26-.814-.734-.814-1.296V10.385c0-.56.3-1.08.77-1.338zm14.73 29.624L81.585 36.38v13.603l12.461-6.564-.042-13.602zm-15.415 8.204l-10.834 6.219 10.834 5.7V38.022zm2.955-16.97V32.97l10.833-5.7-10.833-6.218zm-15.459-8.248v13.602l12.461 6.564V19.367l-12.46-6.563zm13.96-9.63l-12.29 7.082 12.333 6.52 12.29-6.52-12.333-7.082z"/><path fill-rule="nonzero" d="M4.181 82c.579 0 1.108-.084 1.588-.251a3.52 3.52 0 0 0 1.232-.721c.34-.313.604-.696.79-1.148a4.02 4.02 0 0 0 .277-1.534c0-.58-.128-1.067-.382-1.458a3.648 3.648 0 0 0-.963-.997 7.53 7.53 0 0 0-1.25-.712c-.444-.201-.86-.4-1.248-.595a4.21 4.21 0 0 1-.963-.645 1.12 1.12 0 0 1-.382-.855c0-.313.11-.57.33-.771.22-.201.497-.302.833-.302.358 0 .67.098.936.293.266.196.515.512.746.947l1.822-1.123c-.335-.681-.8-1.206-1.396-1.575C5.555 70.184 4.852 70 4.043 70c-.475 0-.914.084-1.32.251a3.321 3.321 0 0 0-1.049.68 3.105 3.105 0 0 0-.945 2.253c0 .626.124 1.143.373 1.55.248.408.564.755.945 1.04.382.285.79.525 1.223.72.434.196.842.386 1.224.57.381.185.696.383.945.595.249.213.373.48.373.805 0 .536-.144.924-.434 1.164-.289.24-.67.36-1.145.36-.335 0-.63-.063-.884-.192a2.306 2.306 0 0 1-.677-.52 3.167 3.167 0 0 1-.503-.762 6.126 6.126 0 0 1-.347-.905L0 78.715c.093.447.26.869.503 1.265.243.397.544.746.902 1.048.359.302.772.539 1.24.712.47.173.981.26 1.536.26zm8.577-.134v-7.24l2.325 6.167h1.63l2.326-6.167v7.24h2.255V70.134h-2.533l-2.863 7.324-2.863-7.324h-2.533v11.732h2.256zm12.845 0l.884-2.765h3.852l.885 2.765h2.429L29.54 70.134h-2.256l-4.111 11.732h2.429zm4.094-4.777H27.13l1.284-4.072 1.284 4.072zm7.952 4.777v-5.062h1.18l3.262 5.062h2.515l-3.365-5.246c.74-.223 1.304-.612 1.691-1.165.388-.553.581-1.215.581-1.986 0-.48-.078-.927-.234-1.34a2.744 2.744 0 0 0-.703-1.056 3.38 3.38 0 0 0-1.162-.688c-.463-.167-.995-.25-1.596-.25h-4.424v11.73h2.255zm2.186-7.073H37.65v-2.648h2.186c.405 0 .743.1 1.015.302.272.201.408.542.408 1.022s-.136.822-.408 1.023c-.272.2-.61.301-1.015.301zm11.092 7.073v-9.72h3.366v-2.012h-8.987v2.011h3.366v9.72h2.255zm12.95 0v-2.011h-5.154v-9.72h-2.255v11.73h7.408zm5.158 0v-4.994l3.505-6.738h-2.43l-2.203 4.559-2.203-4.559h-2.43l3.505 6.738v4.994h2.256zm17.24 0v-2.011h-5.153v-9.72h-2.256v11.73h7.409zm9.947 0v-2.011h-5.43V76.62h4.216v-2.01h-4.216v-2.464h5.257v-2.01h-7.513v11.73h7.686zm3.736 0l.885-2.765h3.852l.884 2.765h2.43l-4.113-11.732h-2.255l-4.112 11.732h2.43zm4.095-4.777h-2.568l1.284-4.072 1.284 4.072zm7.952 4.777v-5.062h1.18l3.261 5.062h2.516l-3.366-5.246c.74-.223 1.304-.612 1.692-1.165.387-.553.58-1.215.58-1.986 0-.48-.077-.927-.233-1.34a2.744 2.744 0 0 0-.703-1.056 3.38 3.38 0 0 0-1.162-.688c-.463-.167-.995-.25-1.597-.25h-4.424v11.73h2.256zm2.186-7.073h-2.186v-2.648h2.186c.405 0 .743.1 1.015.302.271.201.407.542.407 1.022s-.136.822-.407 1.023c-.272.2-.61.301-1.015.301zm8.854 7.073v-7.743l4.459 7.743h2.377V70.134h-2.256v7.743l-4.459-7.743h-2.377v11.732h2.256zm11.804 0V70.134h-2.256v11.732h2.256zm4.967 0v-7.743l4.46 7.743h2.376V70.134h-2.255v7.743l-4.46-7.743h-2.376v11.732h2.255zm14.962.134c.775 0 1.402-.145 1.882-.436.48-.29.836-.609 1.067-.955l.191 1.257h1.891V75.95h-4.441v1.81h2.255a2.722 2.722 0 0 1-.234.796c-.122.262-.292.5-.512.712-.22.212-.492.386-.815.52-.324.134-.712.2-1.163.2-.474 0-.92-.075-1.336-.225a2.848 2.848 0 0 1-1.093-.713c-.312-.324-.558-.737-.737-1.24-.18-.503-.27-1.106-.27-1.81 0-.682.09-1.274.27-1.777.18-.502.428-.916.746-1.24a3.09 3.09 0 0 1 1.11-.729 3.769 3.769 0 0 1 1.362-.243c.74 0 1.35.201 1.83.604.48.402.865.938 1.154 1.608l2.065-.52a5.913 5.913 0 0 0-.677-1.482 4.663 4.663 0 0 0-2.533-1.944 5.81 5.81 0 0 0-1.839-.277c-.752 0-1.475.126-2.169.377a5.407 5.407 0 0 0-1.847 1.123c-.538.497-.966 1.12-1.284 1.869-.318.748-.477 1.625-.477 2.631 0 1.006.153 1.883.46 2.631.306.749.72 1.372 1.24 1.869.52.497 1.12.872 1.796 1.123a6.01 6.01 0 0 0 2.108.377z"/></g></svg>
                <br>
                <br>
                <br>
                <hr class="divider divider--light-fade">
            </div>
            
            <div class="">
                <%= render partial: "marketing/galleries/2x2-1image",
                    locals: {
                        galleryClass: "gallery--free-business-certifications",
                        title: "The Free Certificates",
                        description: "These short, self-paced courses give instruction for a range of foundational business topics. Admission is selective, but if you're accepted, they're free.",
                        vectorPathMobile: '/assets/vectors/candidates/our-courses/mobile/free-business-certifications.svg',
                        vectorPathDesktop: '/assets/vectors/candidates/our-courses/desktop/free-business-certifications.svg',
                        linkText: "Learn More",
                        linkUri: '/the-free-certificates'
                    }
                %>
            </div>

            <div class="wrapper--executive-business-certifications">
                <%= render partial: "marketing/galleries/2x2-1image",
                    locals: {
                        galleryClass: "gallery--executive-business-certifications",
                        title: "The Executive Certificates",
                        description: "Providing focus and depth within a single business area, Executive Certificates teach the practical skills to advance your career. Choose courses in Data Analytics, Accounting, Marketing, Management and Strategy.",
                        vectorPathMobile: '/assets/vectors/certificates/executive-certificates.svg',
                        vectorPathDesktop: '/assets/vectors/certificates/executive-certificates.svg',
                        vectorRight: true,
                        linkText: "Learn More",
                        linkUri: '/the-executive-certificates'
                    }
                %>
            </div>

            <%= render partial: "marketing/galleries/1x1",
                locals: {
                    galleryClass: "gallery--open-courses",
                    col1:{
                        title: "The Open Courses",
                        description: "Choose from a library of short, individual business courses offered through our graduate school, <a href=\"https://#{AppConfig.quantic_domain}\">Quantic</a>. Simply sign up and start learning!",
                        vectorPathMobile: '/assets/vectors/candidates/our-courses/mobile/open-courses-illustration.svg',
                        vectorPathDesktop: '/assets/vectors/candidates/our-courses/desktop/open-courses-illustration.svg',
                        linkText: "Sign Up",
                        linkUri: "https://#{AppConfig.quantic_domain}",
                        vectorClass: '',
                    }
                }
            %>
    </section>
</div>

<%# <div class="hiring-form--no-bkg">
    <%= render partial: "marketing/banner/banner-hiring-form",
        locals: {
            title: "Ready to jump start your career?",
            subtitle: "Start learning with Smartly today.",
            inputPlaceholder: "Your email",
            bgClass: "hiring-form-wrapper--bg hiring-form-wrapper--bg--blue",
            btnClass: "button--lg-primary",
            wrapperClass: "hiring-form-wrapper--candidate",
            link: "/candidates/register"
        } 
</div> %>


<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
