<%= render partial: "marketing/header/header",
    locals: {
        signBtnClass: "button--sm-primary button--sm-primary-blue",
        text: "Sign Up - It’s Free",
        link: "/candidates/register",
        banner: {
            cssClass: 'banner-message--blue'
        }
    }
%>

<section class="hero hero--sm hero--homepage hero--how-it-works hero--smartly-vision">
    <div class="hero__background">
        <div class="hero__gradient hero__gradient--left">
            <%# Shadow nested to hide overflow %>
            <span class="hero__shadow hero__shadow--bottom-left"></span>
        </div>
        <div class="hero__gradient hero__gradient--right">
        </div>
        <span class="hero__shadow hero__shadow--top-left"></span>
        <span class="hero__shadow hero__shadow--top-right"></span>
    </div>

    <div class="hero__wrapper container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero__content">
                    <div class="hero__headline color-text-highlight">
                        <h1>It's Time for the Tesla of Education</h1>
                        <p>Smartly has the right technology, mindset, and pedagogy to reshape education on a global scale.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrapper">
    <section class="section section--education-mission">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-1">
                    <div class="vision-frame">Our Vision</div>

                    <p>
                        To date, technology that helps people learn has been neither effective nor profitable. MOOCs (Massive Open Online Courses) and their lecture-centric teaching models typically fail to keep students interested longterm. Meanwhile, traditional higher education entities are porting their programs online, but have neglected what makes in-person learning so beneficial: a community and alumni network. Smartly's education programs remedy this shortcoming with curated student communities that instill a sense of belonging and shared motivation. 
                    </p>
                    <p>
                        Smartly's technology, pedagogy, and network-first approach have been proven in its business school, <a href="https://<%= AppConfig.quantic_domain %>">Quantic</a>, and recently launched high school program, <a href="https://miyamiya.org">Miya Miya</a>. As we speak, we're hard at work developing additional non-degree programs, certificates, test prep courses, and an affordable bachelor's degree. 
                    </p>
                    <p>
                        By connecting each of our educational programs to our career network, <a href="/employers/recruit-our-candidates">Smartly Talent</a>, we are the first talent engine where the success of our business is directly linked to the success of our students. And because we've built a scalable platform where students learn 10x faster and with higher retention, we dream of even bigger, global possibilities. We believe that investing in people and empowering them with a high quality education will result in a brighter future for all of us. 
                    </p>
                </div>

                <div class="col-xs-12 col-md-5 text-center">
                    <picture class="hidden-xs hidden-sm">
                        <source srcset="<%= get_webpack_asset_value_for_key '/assets/images/mission/smartly/rocket.png' %> 1x, <%= get_webpack_asset_value_for_key '/assets/images/mission/smartly/rocket@2x.png' %> 2x, <%= get_webpack_asset_value_for_key '/assets/images/mission/smartly/rocket@3x.png' %> 3x">
                        <img src="<%= get_webpack_asset_value_for_key '/assets/images/mission/smartly/rocket.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/mission/smartly/rocket@2x.png' %>" alt="Rocket Image">
                    </picture>

                    <img class="visible-xs-inline-block visible-sm-inline-block" src="<%= get_webpack_asset_value_for_key '/assets/vectors/mission/smartly/rocket.svg' %>" alt="rocket">
                </div>
            </div>
        </div>
    </section>
    
    <hr class="divider divider--light section__separator">
</div>

<%= render :partial => "marketing/footer/footer", :locals => { :top => true, :bottom => true, :alternateBottom => false, :sticky => false } %>
