<!DOCTYPE html>
<html lang="en" class="<%= @is_staging ? 'staging' : '' %> <%= @is_local ? 'local' : '' %>">
  <head>

    <title><%= @action_metadata.title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="robots" content="noindex"> <!-- not visible to search -->
    <%= render "shared/favicons" %>
    <%= render "shared/head_scripts" %>

    <!-- Styles -->
    <%= webpack_style_tags_for_chunk 'common' %>

  </head>
  <body class="idology <%= @body_class %>">
    <!-- Main View HTML -->
    <div id="loading">
        Loading&hellip;
    </div>

    <div id="idology-content"><%= yield %></div>

    <%= render "shared/webpack_scripts", chunks: [{name: 'front-royal'}] %>

    <script type="text/javascript">
    'use strict';

    window.addEventListener('DOMContentLoaded', function() {
      document.getElementById('loading').classList.add('hide');
      document.getElementById('idology-content').classList.add('show');

      var parser = new window.UAParser();
      var isMobile = parser.getDevice().type === 'mobile';
      var isFireFox = parser.getBrowser().name === 'Firefox';
      if (isMobile && isFireFox) {
          document.getElementById('main-iframe').classList.add('show-firefox-mobile');
          document.getElementById('firefox-mobile-message').classList.add('show');
      }
    });
    </script>

  </body>
</html>
