<!DOCTYPE html>
<html lang="en" class="<%= @is_staging ? 'staging' : '' %> <%= @is_local ? 'local' : '' %>">
  <head>
    <!-- Smart App Banner -->
    <meta name="apple-itunes-app" content="app-id=<%= @ios_id %>">

    <% if !@visible_to_search %>
    <meta name="robots" content="noindex">
    <% end %>

    <%= render "shared/shared_head" %>

    <link href="https://pbs.twimg.com" rel="preconnect">

    <%= render "marketing/google_optimize_page_hiding_snippet" if @google_optimize_active_route %>
    <%= render "shared/inline_config" %>

    <!-- Styles -->
    <%= webpack_style_tags_for_chunk @page_css_namespace %>
    <%= webpack_style_tags_for_chunk 'common' %>

    <script>
        'use strict';
        (function() {
            var deviceCheck = {
                isMacOS : navigator.appVersion.indexOf('Mac') !== -1,
                isWindows : navigator.appVersion.indexOf('Win') !== -1,
                isIphone : navigator.appVersion.indexOf('iPhone') !== -1,
                isIE : navigator.appName === 'Microsoft Internet Explorer' || !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv 11/)),
                isFirefox : navigator.userAgent.indexOf('Firefox') !== -1,
                isWin10 : navigator.appVersion.indexOf('Windows NT 10.0') !== -1,
                isIOS : !!navigator.userAgent.match(/iPad/i) || !!navigator.userAgent.match(/iPhone/i),
                isAndroid: navigator.userAgent.indexOf('Android') !== -1,
                isLinux: navigator.userAgent.indexOf('Linux') !== -1,
                isSafari : Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0,
                isMobileSafari : navigator.userAgent.match(/(iPod|iPhone|iPad)/) && navigator.userAgent.match(/AppleWebKit/),
                isTouch : isTouchDevice()
            };

            for (var device in deviceCheck) {
                if (deviceCheck.hasOwnProperty(device) && device) {
                    if(deviceCheck[device]){
                        bodyClass(device);
                    }
                }
            }

            function bodyClass(name){
                document.querySelector('html').className += ' ' + name;
            }

            function isTouchDevice() {
                try {
                    document.createEvent('TouchEvent');
                    return true;
                } catch (_error) {
                    return false;
                }
            }

             window.serverDeterminedLocale = '<%= @server_determined_locale %>';
        })();
    </script>

    <%= render "shared/check_auth_headers" %>

    <%= render "redirect" if @redirect_support %>

    <script>
        window.MANUAL_BOOTSTRAP_MODULE = '<%= @angular_module %>';
        window.disableFrontRoyalRoutes = true;

        // See https://trello.com/c/l7HEY7ru
        window.SupportedLocales = ['en'];

    </script>
  </head>
  <body class="mba freemba <%= @body_class %>" ng-controller="<%= @main_ctrl %> as app">
    <!-- Main View HTML -->
    <%= yield %>

    <%= render "shared/webpack_scripts", {
        include_common: !@using_dynamic_landing_page,
        chunks: [
            {name: 'marketing', if: !@using_dynamic_landing_page},
            {name: 'front-royal', if: !@using_dynamic_landing_page && @angular_module == 'FrontRoyal'}
        ]
    } %>
  </body>
</html>
