<div class="pricing-table hidden-xs hidden-sm">
  <header class="pricing-table__header">
    <div class="pricing-table__header-block">
      <br>
    </div>
    <div class="pricing-table__header-block" data-item="Post your Jobs">
      <a href="#" onclick="return false;">Post your<br class="visible-xs"> Jobs</a>
    </div>
    <div class="pricing-table__header-block" data-item="Post + Source">
      <a href="#" onclick="return false;">Post <br class="visible-xs">+ Source</a>
    </div>
  </header>

  <div class="pricing-table__body">
    <div class="pricing-table__body-block">
      <div class="pricing-table__body-options">
        <div class="pricing-table__body-options-title">
          <h3>Posts</h3>
        </div>
        <div class="pricing-table__body-options-info" data-item="Post your Jobs">
          <p>Pay Per Post</p>
        </div>
        <div class="pricing-table__body-options-info" data-item="Post + Source">
          <p>Unlimited</p>
        </div>
      </div>

      <div class="pricing-table__body-options">
        <div class="pricing-table__body-options-title message-tooltip">
          <h3>Sourcing</h3>
        </div>
        <div class="pricing-table__body-options-info" data-item="Post your Jobs">
          <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="No icon">
        </div>
        <div class="pricing-table__body-options-info" data-item="Post + Source">
          <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="Yes icon">
        </div>
      </div>

      <div class="pricing-table__body-options">
        <div class="pricing-table__body-options-title message-tooltip">
          <a href="javascript:void(0);" data-target='#modal__applicant'>
            <h3>Applicant management <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/employers-landing/info.svg' %>" alt="Info icon"></h3>
            <div class="message-tooltip__content" id="tooltip__applicant">
              <div class="text-content">
                <p>Easily track and monitor the status of the candidates in your pipeline.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="pricing-table__body-options-info" data-item="Post your Jobs">
          <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="Yes icon">
        </div>
        <div class="pricing-table__body-options-info" data-item="Post + Source">
          <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="Yes icon">
        </div>
      </div>

      <div class="pricing-table__body-options">
        <div class="pricing-table__body-options-title">
          <h3>Seats</h3>
        </div>
        <div class="pricing-table__body-options-info" data-item="Post your Jobs">
          <p>5 seats</p>
        </div>
        <div class="pricing-table__body-options-info" data-item="Post + Source">
          <p>10 seats</p>
        </div>
      </div>

      <div class="pricing-table__body-options">
        <div class="pricing-table__body-options-title">
          <h3>Price</h3>
        </div>
        <div class="pricing-table__body-options-info" data-item="Post your Jobs">
          <strong><span>$89</span> / post</strong>
        </div>
        <div class="pricing-table__body-options-info" data-item="Post + Source">
          <strong><span>$249</span> / month</strong>

          <div class="pricing-table__body-options-special">
            <p>2-Week Free Trial</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>