<div class="pricing-table hidden-md hidden-lg">
  <div class="pricing-table__header-container">
    <header class="pricing-table__header">
      <div class="pricing-table__header-block active-table" data-item="Post your Jobs">
        <a href="#" onclick="return false;">Post your<br class="visible-xs"> Jobs</a>
      </div>
      <div class="pricing-table__header-block" data-item="Post + Source">
        <a href="#" onclick="return false;">Post <br class="visible-xs">+ Source</a>
      </div>
    </header>
  </div>
  <div class="pricing-table__body">
    <div class="pricing-table__body-block active-table" data-table="Post your Jobs">
      <div class="pricing-table__body-title">
        <h2>Post your Jobs</h2>
      </div>
      <div class="pricing-table__body-options">
        <div class="pricing-table__body-options-title">
          <h3>Posts</h3>
        </div>
        <div class="pricing-table__body-options-info">
          <p>Pay Per Post</p>
        </div>
      </div>
      <div class="pricing-table__body-options">
        <div class="pricing-table__body-options-title">
          <h3>Sourcing</h3>
        </div>
        <div class="pricing-table__body-options-info">
          <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/no-icon.svg' %>" alt="No icon">
        </div>
      </div>
      <div class="pricing-table__body-options">
        <div class="pricing-table__body-options-title message-tooltip">
          <h3>Applicant management</h3>
        </div>
        <div class="pricing-table__body-options-info">
          <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="Yes icon">
        </div>
      </div>
      <div class="pricing-table__body-options">
        <div class="pricing-table__body-options-title">
          <h3>Seats</h3>
        </div>
        <div class="pricing-table__body-options-info">
          <p>5 seats</p>
        </div>
      </div>
      <div class="pricing-table__body-options">
        <div class="pricing-table__body-options-title">
          <h3>Price</h3>
        </div>
        <div class="pricing-table__body-options-info">
          <strong><span>$89</span> / post</strong>
        </div>
      </div>
    </div>

    <div class="pricing-table__body-block" data-table="Post + Source">
      <div class="pricing-table__body-title">
        <h2>Post + Source</h2>
      </div>
      <div class="pricing-table__body-options">
        <div class="pricing-table__body-options-title">
          <h3>Posts</h3>
        </div>
        <div class="pricing-table__body-options-info">
          <p>Unlimited</p>
        </div>
      </div>
      <div class="pricing-table__body-options">
        <div class="pricing-table__body-options-title">
          <h3>Applicant management</h3>
        </div>
        <div class="pricing-table__body-options-info">
          <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="Yes icon">
        </div>
      </div>
      <div class="pricing-table__body-options">
        <div class="pricing-table__body-options-title">
          <h3>Sourcing</h3>
        </div>
        <div class="pricing-table__body-options-info">
          <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_executive_mba/yes-icon.svg' %>" alt="Yes icon">
        </div>
      </div>
      <div class="pricing-table__body-options">
        <div class="pricing-table__body-options-title">
          <h3>Seats</h3>
        </div>
        <div class="pricing-table__body-options-info">
          <p>10 seats</p>
        </div>
      </div>
      <div class="pricing-table__body-options">
        <div class="pricing-table__body-options-title">
          <h3>Price</h3>
        </div>
        <div class="pricing-table__body-options-info">
          <strong><span>$249</span> / month</strong>

          <div class="pricing-table__body-options-special">
            <p>2-Week Free Trial</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>