<%= render partial: "marketing/the-free-mba/description", locals: {
  title: "Admission Decisions",
  text: "We evaluate candidates on their academic background, career accomplishments and the thoughtfulness and candor within their application. Ultimately, we look for driven, early-career professionals with business leadership potential."
} %>

<section class="section section--admission-criteria">
  <div class="section--admission-criteria__background"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center admission-criteria-text">
        <div class="gallery__title">Admission Criteria</div>
        <div class="gallery__description">The program is tailored for early-career professionals from a diverse set of industry backgrounds, and is highly selective. It values, but does not assume, prior business experience, and has the following minimum requirements:</div>
      </div>
    </div>
    <div class="row text-center">
      <ul class="check-cards">
        <li>Undergraduate / bachelor’s degree</li>
        <li>Minimum 2 years industry experience</li>
        <li>English language proficiency</li>
      </ul>
      <div class="executive-mba-under-check-cards-text">GRE and GMAT scores are accepted but not required</div>
    </div>
    <div class="row text-center">
      <%= render partial: "marketing/key-dates-timeline", locals: { dates: @curriculum[:dates] } %>
    </div>
  </div>
</section>

<section class="section section--one-by-one section--one-by-one-admissions">
  <div class="gallery gallery--one-by-one container">
    <div class="row interviews">
      <div class="col-xs-12 col-sm-6">
        <img width="222" src="<%= get_webpack_asset_value_for_key '/assets/vectors/free-mba/illustration-interviews.svg' %>" class="gallery__illustration gallery__illustration--interviews">
      </div>
      <div class="col-xs-12 col-sm-6 text-center text-sm-left gallery__text">
        <div class="gallery__title">Interviews</div>
        <p class="gallery__description">You may be selected for a brief interview with our Admissions team. This is good news! It's an opportunity for us to learn more about you and establish your fit for the program.</p>
      </div>
    </div>
    <div class="row tuition-fees">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <img width="260" src="<%= get_webpack_asset_value_for_key '/assets/vectors/free-mba/pricing-scholarships.svg' %>" class="gallery__illustration gallery__illustration--tuition-fees">
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6 text-center text-sm-left gallery__text">
        <div class="gallery__title">Tuition Fees</div>
        <p class="gallery__description">Tuition is 100% free for our MBA students thanks to our innovative model that charges companies to hire early-career students in our career network. To attend some of our optional group events and excursions, there may be a modest activity fee to cover costs.</p>
        <div class="gallery__link">
          <a class="link link--text-sm" href="/candidates/signup">
            Apply Now
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
