<%= render partial: "marketing/the-free-mba/description", locals: {
  title: "Who Enrolls?",
  text: "Selective in admissions, we welcome an international group of high-potential, early-career students to each class with up to six years of work experience. Most come from highly regarded academic and professional backgrounds, though we welcome exceptional candidates from non-traditional backgrounds as well. Mid-career professionals and entrepreneurs may consider our <a href=\"/executive-mba\">Executive MBA</a>."
} %>

<section class="meet-smartly-students meet-smartly-students--classmates meet-smartly-students--grey-reversed-background">
    <%
    @helena = {
        url: "https://www.youtube.com/watch?v=9L5qhhzyzps",
        thumbnail: "/assets/images/the_free_mba/thumbnails/image-1.png",
        thumbnailRetina: "/assets/images/the_free_mba/thumbnails/image-1@2x.png",
        thumbnailMobile: "/assets/images/the_free_mba/thumbnails/image-1-mobile.png",
        thumbnailMobileRetina: "/assets/images/the_free_mba/thumbnails/image-1-mobile@2x.png",
        title: "Helena Horsburgh",
        subtitle: "Distribution Strategy, Dropbox",
        content: "University of Oxford"
    }
    @david = {
        url: "https://www.youtube.com/watch?v=1bGDK5Uih9E",
        thumbnail: "/assets/images/the_free_mba/thumbnails/desktop-david.jpg",
        thumbnailRetina: "/assets/images/the_free_mba/thumbnails/desktop-david@2x.jpg",
        thumbnailMobile: "/assets/images/the_free_mba/thumbnails/mobile-david.jpg",
        thumbnailMobileRetina: "/assets/images/the_free_mba/thumbnails/mobile-david@2x.jpg",
        title: "David Tarr",
        subtitle: "Management Consultant",
        content: "Massachusetts Institute of Technology"
    }
    @sachin = {
        url: "https://www.youtube.com/watch?v=1du_qyWq_70",
        thumbnail: "/assets/images/the_free_mba/thumbnails/desktop-sachin.jpg",
        thumbnailRetina: "/assets/images/the_free_mba/thumbnails/desktop-sachin@2x.jpg",
        thumbnailMobile: "/assets/images/the_free_mba/thumbnails/mobile-sachin.jpg",
        thumbnailMobileRetina: "/assets/images/the_free_mba/thumbnails/mobile-sachin@2x.jpg",
        title: "Sachin Doshin",
        subtitle: "Director of Development",
        content: "Mental Health America"
    }
    @mary = {
        url: "https://www.youtube.com/watch?v=EprK6XKbDB0",
        thumbnail: "/assets/images/the_free_mba/thumbnails/desktop-mary.jpg",
        thumbnailRetina: "/assets/images/the_free_mba/thumbnails/desktop-mary@2x.jpg",
        thumbnailMobile: "/assets/images/the_free_mba/thumbnails/mobile-mary.jpg",
        thumbnailMobileRetina: "/assets/images/the_free_mba/thumbnails/mobile-mary@2x.jpg",
        title: "Mary Iafelice",
        subtitle: "Co-Founder humble ventures",
        content: "Forbes 30 under 30"
    }
    @michele = {
        url: "https://www.youtube.com/watch?v=Zfdrvv95f-U",
        thumbnail: "/assets/images/the_free_mba/thumbnails/desktop-michele.jpg",
        thumbnailRetina: "/assets/images/the_free_mba/thumbnails/desktop-michele@2x.jpg",
        thumbnailMobile: "/assets/images/the_free_mba/thumbnails/mobile-michele.jpg",
        thumbnailMobileRetina: "/assets/images/the_free_mba/thumbnails/mobile-michele@2x.jpg",
        title: "Michele Malski",
        subtitle: "Founder and President",
        content: "SPRING"
    }
    @amanda = {
        url: "https://www.youtube.com/watch?v=Iwk0iX74biU",
        thumbnail: "/assets/images/the_free_mba/thumbnails/desktop-amanda.jpg",
        thumbnailRetina: "/assets/images/the_free_mba/thumbnails/desktop-amanda@2x.jpg",
        thumbnailMobile: "/assets/images/the_free_mba/thumbnails/mobile-amanda.jpg",
        thumbnailMobileRetina: "/assets/images/the_free_mba/thumbnails/mobile-amanda@2x.jpg",
        title: "Amanda Molina",
        subtitle: "Legislative Counsel",
        content: "US House of Representatives"
    }

    @videos = [@helena, @david, @sachin, @mary, @michele, @amanda]
    %>
    <%= render partial: "marketing/galleries/video-gallery",
        locals: {
            title: "#{brand_name_standard} Students",
            videos: @videos
        }
    %>
</section>

<div class="free-mba__separator free-mba__separator--classmates"></div>

<div class="section__poster section__poster--winter-class section__poster--classmates text-center">
    <picture>
        <source media="(max-width: 767px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/mba-infographic.png' %>">
        <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/mba-infographic@2x.png' %>" alt="MBA March 2019 class" class="section__poster-image" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/mba-infographic@2x.png' %>">
    </picture>
</div>
