<%= render partial: "marketing/the-free-mba/description", locals: {
  title: "Empower Your Future",
  text: "Develop core business skills to maximize your career success. As an accelerated 10-month program of study, the MBA is designed for the early-career professional with leadership potential. The award-winning curriculum combines interactive technology and collaborative group study with exceptional classmates around the world, delivered in a structured, yet flexible format."
} %>

<%= render partial: "marketing/the-executive-mba/student-experience",
    locals: {
      title: 'Student Experience',
      text: "Students learn through our innovative Active Learning <em>method</em>, while collaborating with classmates in case studies, discussions, group projects, and events held virtually and around the world. <br/> <br/> The curriculum is enhanced with an online library, paid research databases, lifelong access to courses, resume and cover letter consultations and our built-in career network, <em>Smartly Talent.</em>",
      linkText: 'More on the student experience',
      linkUri: '/student-experience'
    }
%>

<%= render partial: "marketing/the-executive-certificates/our-method",
    locals: {
      title: 'Our Method',
      text: "#{brand_name_standard} is a pioneer in technology-driven instructional design. Our award-winning interactive software represents the core of the Executive MBA curriculum. Our team of writers, editors and developers work with leading professors from top business schools to bring the traditional MBA to life, with bite-size lessons and individualized feedback every 8 seconds.<br><br>Cohorts follow a guided sequence through the curriculum, working together on case studies and group projects in our accompanying social learning platform.",
      linkText: 'More About Our Method',
      linkUri: '/programs/method'
    }
%>

<section class="section section--the-curriculum">
  <div class="section-cut-shape"></div>
  <div class="container">
    <div class="row text-center">
      <h1 class="gallery__title">The Curriculum</h1>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <p class="gallery__description">The curriculum is comprised of <strong><%= @curriculum[:concentrations].length %> required concentrations</strong> during the 10-month course of study, and includes a midterm and final exam.</p>
      </div>
    </div>
    <div class="the-curriculum-accordion">
      <div class="nestable-accordion">
        <%= render partial: "marketing/nestable-accordion-playlists", locals: { playlists: @curriculum[:concentrations] } %>
      </div>
    </div>
  </div>
</section>


<section class="section section--two-by-one-wrapper">
  <div class="gallery gallery--two-by-one container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1 two-by-one-social">
        <div class="gallery__illustration-wrapper">
          <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/mba/two-by-one/social.svg' %>" class="gallery__illustration gallery__illustration--social">
        </div>
        <div class="gallery__title">Social Learning</div>
        <p class="gallery__description">As a companion to our interactive online curriculum, enrolled students engage with their classmates around the world in our social learning platform. Students work together on case studies and collaborative group assignments throughout the program.</p>
      </div>
      <div class="col-xs-12 col-sm-5 two-by-one-events">
        <div class="gallery__illustration-wrapper">
          <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/mba/two-by-one/events.svg' %>" class="gallery__illustration gallery__illustration--events">
        </div>
        <div class="gallery__title">Events</div>
        <p class="gallery__description">We organize virtual and physical meetups and excursions in international cities around the world, giving our thousands of students and alumni the chance to socialize and network professionally. Students benefit from the learning and bonding experience with their exceptional classmates and the <%= brand_name_standard %> staff.</p>
      </div>
    </div>
    <div class="gallery__separator"></div>
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/mba/two-by-one/degree-program.svg' %>" class="gallery__illustration gallery__illustration--degree">
      </div>
      <div class="col-xs-12 col-sm-5 col-sm-offset-1 two-by-one-degree">
        <div class="gallery__title">Degree</div>
        <p class="gallery__description">The MBA is awarded by <%= brand_name_standard %>, a DEAC accredited, degree granting institution of higher education, licensed by the Office of the State Superintendent of Education (OSSE) of Washington, DC.</p>
        <div class="gallery__link">
          <a class="link link--text-sm" href="/help/article/317-smartlys-degrees-and-certifications" target="_blank">
            Learn More
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
