<section class="section section--free-mba-first-section text-center">
  <%= render partial: "marketing/program-description", locals: {
    title: local_assigns[:title],
    text: local_assigns[:text],
    cta_board:  {
      title: "Ready to start?",
      subtitle: "Apply for free!",
      button: {
        text: "apply now",
        link: "/candidates/signup"
      },
      crosslink: "Mid-career professional? <br class=\"visible-xs\"> Learn about the <a href=\"/executive-mba\">Executive MBA</a>.",
      list: [
        {
          icon: "/assets/vectors/board/icon-duration.svg",
          label: "duration",
          text: "10 months"
        },
        {
          icon: "/assets/vectors/board/icon-class.svg",
          label: "class size",
          text: "150 - 200 Students"
        },
        {
          icon: "/assets/vectors/board/icon-effort.svg",
          label: "effort",
          text: "5-15 hours / week"
        },
        {
          icon: "/assets/vectors/board/icon-career-stage.svg",
          label: "career stage",
          text: "Early Career"
        },
        {
          icon: "/assets/vectors/board/icon-format.svg",
          label: "format",
          text: "Online Cohort"
        },
        {
          icon: "/assets/vectors/board/icon-tuition.svg",
          label: "tuition",
          text: "Free"
        }
      ]
    }
  } %>
</section>