<section class="section section--leap-forward text-center text-sm-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6 gallery__rocket-illustration">
                <picture class="visible-xs">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/rocket-mobile-illustration.svg' %>" alt="Leap Forward Mobile" class="gallery__illustration">
                </picture>
                <picture class="hidden-xs">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/rocket-illustration.svg' %>" alt="Leap Forward" class="gallery__illustration">
                </picture>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6 gallery__text">
                <img class="gallery__logo" src="<%= get_webpack_asset_value_for_key '/assets/vectors/logos/quantic-logo-pink.svg' %>" alt="Quantic Pink">
                <div class="gallery__title">A Quantic Leap Forward</div>
                <h2 class="gallery__description">See how we're empowering students and accelerating careers.</h2>
            </div>
        </div>
    </div>
</section>

<section class="section section--statistics text-center">
    <div class="container container--with-shadow">
        <div class="segment segment--blue"></div>

        <div class="gallery__title gallery__title--level-up">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/graduation-icon.svg' %>" alt="Modern Education" class="title-icon title-icon--graduation">
            <span><%= brand_name_standard %> helps leaders level up</span>
        </div>
        <div class="gallery__achieved-goals section--limiter">
            <div class="text-left">
                <h3 class="gallery__sub-title hidden-xs"><%= brand_name_standard %> Learners</h3>
                <li class="gallery__description gallery__description--checklist">Get Promoted</li>
                <li class="gallery__description gallery__description--checklist">Earn more</li>
                <li class="gallery__description gallery__description--checklist">Start companies</li>
                <li class="gallery__description gallery__description--checklist">Get hired</li>
            </div>
            <div class="gallery__stats">
                <div class="gallery__stats-percentage">
                    <%# <span class="gallery__stats-value">94%</span> %>
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/percentages/ninety-four-percentage.svg' %>" alt="Leap Forward Percentage" class="gallery__stats-value">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/percentages/ninety-four-graphic.svg' %>" alt="Leap Forward" class="gallery__illustration">
                </div>
                <p class="gallery__stats-caption">Students who say they've achieved their goals post graduation</p>
            </div>
        </div>

        <div class="gallery__title gallery__title--promotions">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/career-advancement-icon.svg' %>" alt="Career Advancement" class="title-icon title-icon--career-advancement">
            <span>Students earn promotions within six months of graduating</h1>
        </div>
        <p class="gallery__description gallery__description--role hidden-xs"><span class="text--percentage">66%</span> of students got a bigger role and <span class="text--percentage">80%</span> say <%= brand_name_standard %> helped them get it</p>

        <div class="gallery__promotions">
           <div class="gallery__stats">
                <div class="gallery__stats-percentage">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/percentages/sixty-six-graphic.svg' %>" alt="Bigger Role" class="gallery__illustration">
                </div>
                <p class="gallery__description gallery__description--role visible-xs"><span class="text--percentage">66%</span> of students got a bigger role</p>
                <div class="gallery__stats-percentage">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/percentages/eighty-graphic.svg' %>" alt="Helped by Quantic" class="gallery__illustration">
                </div>
                <p class="gallery__description gallery__description--role visible-xs"><span class="text--percentage">80%</span> say <%= brand_name_standard %> helped them get it</p>
            </div>
        </div>

        <div class="gallery__title gallery__title--salary">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/icon-results--blue.svg' %>" alt="Salary Increase" class="title-icon title-icon--salary-increase">
            <span>Graduates see significant salary increases</h1>
        </div>
        <p class="gallery__description gallery__description--salaries">Median salary increases <span class="text--percentage">+23%</span> within 6 months of graduation</p>
        <div class="gallery__illustration gallery__salary-graphic">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/salary-increase-illustration.svg' %>" alt="Salary Increase Illustration">
        </div>
        <p class="gallery__note">Quantic's global student base results in greater salary variations than US-based programs.</p>

    </div>
</section>


<section class="section section--networking text-center">
    <div class="section__background"></div>
    <div class="container container--with-shadow">
        <div class="segment segment--pink"></div>

        <div class="gallery__title gallery__title--connections">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/globe-icon--pink.svg' %>" alt="Globe Connections" class="title-icon title-icon--global-connections">
            <span>A Network-first Approach Sparks Connections</h1>
        </div>
        <p class="gallery__description">Peer-to-Peer learning is accompanied by networking events both online and in cities around the world.</p>

        <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/outcomes/left-globe.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/outcomes/left-globe@2x.png' %>" alt="" class="gallery__background-illustration gallery__background-illustration--left-globe hidden-xs hidden-sm">
        <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/outcomes/bottom-left-globe.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/outcomes/bottom-left-globe@2x.png' %>" alt="" class="gallery__background-illustration gallery__background-illustration--left-globe visible-xs visible-sm">
        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/trail-left.svg' %>" alt="" class="gallery__background-illustration gallery__background-illustration--trail-left hidden-xs">
        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/trail-left--mobile.svg' %>" alt="" class="gallery__background-illustration gallery__background-illustration--trail-left visible-xs">

        <div class="gallery__networking">
            <div>

                <div class="col-xs-12 col-md-6 gallery__networking-container gallery__networking-container--value">
                    <div class="gallery__value text-center">20,581</div>
                    <div class="gallery__title text-center">Connections Made Within Student and Alumni Network</div>
                    <div class="gallery__description text-center">Total student and alumni searches for classmates </div>
                </div>
                <div class="col-xs-12 col-md-6 gallery__networking-container gallery__networking-container--value">
                    <div class="gallery__value text-center">119</div>
                    <div class="gallery__title text-center">Total Countries</div>
                    <div class="gallery__description text-center">Countries in our student and alumni network</div>
                </div>
                <div class="col-xs-12 col-md-6 gallery__networking-container gallery__networking-container--value">
                    <div class="gallery__value text-center">4791</div>
                    <div class="gallery__title text-center">Online Events</div>
                    <div class="gallery__description text-center">Average events accessed per month</div>
                </div>
                <div class="col-xs-12 col-md-6 gallery__networking-container gallery__networking-container--value">
                    <div class="gallery__value text-center">7,159</div>
                    <div class="gallery__title text-center">Peer Learning</div>
                    <div class="gallery__description text-center">Average messages sent between peers per cohort</div>
                </div>
                <div class="col-xs-12 col-md-6 gallery__networking-container gallery__networking-container--text">
                    <div class="gallery__title gallery__title--pink text-center">Top 5 Companies Where Our Students Work</div>
                    <div class="gallery__description text-center">Apple, Google, Amazon, Facebook, Accenture</div>
                </div>
                <div class="col-xs-12 col-md-6 gallery__networking-container gallery__networking-container--text">
                    <div class="gallery__title gallery__title--pink text-center">Top 5 Schools Our Students Attended</div>
                    <div class="gallery__description text-center">Stanford, Oxford, MIT, Cambridge, National University of Singapore</div>
                </div>
            </div>
        </div>

        <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/outcomes/right-globe.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/outcomes/right-globe@2x.png' %>" alt="" class="gallery__background-illustration gallery__background-illustration--right-globe hidden-xs hidden-sm">
        <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/outcomes/top-right-globe.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/outcomes/top-right-globe@2x.png' %>" alt="" class="gallery__background-illustration gallery__background-illustration--right-globe visble-xs visible-sm">
        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/trail-right.svg' %>" alt="" class="gallery__background-illustration gallery__background-illustration--trail-right hidden-xs">
        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/trail-right--mobile.svg' %>" alt="" class="gallery__background-illustration gallery__background-illustration--trail-right visible-xs">
        <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/trail-left--mobile.svg' %>" alt="" class="gallery__background-illustration gallery__background-illustration--trail-left-bottom visible-xs">

    </div>
</section>

<section class="section section--comparison text-center">
    <div class="section__background hidden-xs"></div>
    <div class="container">
        <div class="gallery__title gallery__title--experience">
            <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/award-icon--yellow.svg' %>" alt="Educational Experience" class="title-icon title-icon--educational-experience">
            <span>Best-in-class Educational Experience</h1>
        </div>
        <p class="gallery__description gallery__description--engaging">Quantic's Active Learning method is more effective and engaging - students learn faster and retain more!</p>

        <div class="gallery__mba-comparison row">
            <div class="gallery__title text-left visible-xs"><%= brand_name_standard %> vs Top MBAs</div>
            <div class="col-xs-12 col-sm-6 comparison-graphic">
                <picture class="visible-xs">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/comparison-graphic--mobile.svg' %>" alt="Comparison Graphic Mobile" class="gallery__illustration">
                </picture>
                <picture class="hidden-xs">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/the_free_mba/comparison-graphic.svg' %>" alt="Comparison Graphic" class="gallery__illustration">
                </picture>
            </div>
            <div class="col-xs-12 col-sm-6 performance-analysis">
                <div class="gallery__title text-left hidden-xs"><%= brand_name_standard %> vs. Top MBAs</div>
                <div class="gallery__description gallery__description--study text-left">In an independent study by Stanford researchers, Quantic learners performed as well or better in a standardized test covering Accounting and Finance than MBA students who attended top 10 business schools. Oh, and they did so over 5 times as quickly.</div>
                <div class="gallery__description gallery__description--links text-left">Read more on this study <a class="text--percentage" href="/efficacy-2016-download" target="_blank">here</a>, and see the study on how our teaching bests other online leaders <a class="text--percentage" href="/efficacy-2017-download" target="_blank">here</a>.</div>
            </div>
        </div>
    </div>
</section>