<section class="section section--free-mba-overview text-center">

    <%= render partial: "marketing/galleries/1x1",
        locals: {
            galleryClass: 'gallery--price-tag',
            col1:{
                title: "Yes, it’s really free",
                description: "We’re selective, but if you’re in, it’s free. How? <a href='/mission'><em>Our mission</em></a> is to change the education landscape, connecting learning to careers. If you opt in and get hired through our career network, companies pay us. This helps us keep our education free!",
                linkText: "More About Admissions",
                linkUri: '/mba/admissions',
                video: {
                    url: "#{is_quantic? ? 'https://www.youtube.com/watch?v=7h6VOagXwzI' : 'https://www.youtube.com/watch?v=eemBZF3dnJM'}",
                    thumbnail: "/assets/images/the_free_mba/thumbnails/image-3.jpg",
                    thumbnailRetina: "/assets/images/the_free_mba/thumbnails/image-3@2x.jpg",
                    thumbnailMobile: "/assets/images/the_free_mba/thumbnails/image-3-mobile.jpg",
                    thumbnailMobileRetina: "/assets/images/the_free_mba/thumbnails/image-3-mobile@2x.jpg",
                    thumbnailCaption: "#{brand_name_short} Admissions"
                }
            }
        }
    %>

    <%= render partial: "marketing/galleries/2x2-1image",
        locals: {
            title: "Curriculum and Student Experience",
            description: "Designed with business professors from top MBA programs, #{brand_name_short}'s revolutionary active learning platform combines interactive, self-guided software with collaborative case studies, discussions, and group projects. The <em>student experience</em> also includes access to library services, paid research databases, resume consultations, and events.",
            vectorPathMobile: '/assets/vectors/the_free_mba/courses-mba-mobile-illustration.svg',
            vectorPathDesktop: '/assets/vectors/the_free_mba/courses-mba-illustration.svg',
            linkText: "Full curriculum details",
            linkUri: '/mba/curriculum',
            vectorRight: true,
            galleryClass: "gallery--curriculum"
        }
    %>
</section>

<section class="meet-smartly-students meet-smartly-students--grey-background">

    <%
    @helena = {
        url: "https://www.youtube.com/watch?v=9L5qhhzyzps",
        thumbnail: "/assets/images/the_free_mba/thumbnails/image-1.png",
        thumbnailRetina: "/assets/images/the_free_mba/thumbnails/image-1@2x.png",
        thumbnailMobile: "/assets/images/the_free_mba/thumbnails/image-1-mobile.png",
        thumbnailMobileRetina: "/assets/images/the_free_mba/thumbnails/image-1-mobile@2x.png",
        title: "Helena Horsburgh",
        subtitle: "Distribution Strategy, Dropbox",
        content: "University of Oxford"
    }
    @david = {
        url: "https://www.youtube.com/watch?v=1bGDK5Uih9E",
        thumbnail: "/assets/images/the_free_mba/thumbnails/desktop-david.jpg",
        thumbnailRetina: "/assets/images/the_free_mba/thumbnails/desktop-david@2x.jpg",
        thumbnailMobile: "/assets/images/the_free_mba/thumbnails/mobile-david.jpg",
        thumbnailMobileRetina: "/assets/images/the_free_mba/thumbnails/mobile-david@2x.jpg",
        title: "David Tarr",
        subtitle: "Management Consultant",
        content: "Massachusetts Institute of Technology"
    }

    @videos = [@helena, @david]
    %>

    <%= render partial: "marketing/galleries/video-gallery",
        locals: {
            videos: @videos
        }
    %>
</section>

<div class="container">
    <hr class="divider divider--small divider--light-fade">
</div>

<section class="section section--future-classmates text-center">
    <div class="gallery__title">MBA Student Profile</div>
    <div class="future-classmates-wrapper">

    <%= render partial: "marketing/galleries/1x1",
        locals: {
            stats: {
                classModifier: "future-classmates",
                items: [
                    {
                        title: "Top 30 schools",
                        number: "80%",
                        numberColor: "blue",
                        iconPath: "/assets/vectors/the_free_mba/schools-icon.svg",
                        iconTitle: "schools icon"
                    },
                    {
                        title: "Countries",
                        number: "35",
                        numberColor: "yellow",
                        iconPath: "/assets/vectors/the_executive_mba/globe-icon.svg",
                        iconTitle: "countries icon"
                    },
                    {
                        title: "Age 24-32",
                        number: "83%",
                        numberColor: "green",
                        iconPath: "/assets/vectors/the_free_mba/age-icon.svg",
                        iconTitle: "age icon"
                    },
                    {
                        title: "Top Employers",
                        custom: "/assets/vectors/the_free_mba/top-employers-illustration.svg",
                        numberColor: "grey",
                        iconPath: "/assets/vectors/the_free_mba/award-icon.svg",
                        iconTitle: "award icon"
                    }
                ]
            },
            col1: {
                description: "Your future classmates have attended the world's best universities and have worked a few years in the most impactful companies and organizations. They are the driven leaders of tomorrow. We hope to see you join them in the next class.",
                linkText: "More about our students",
                linkUri: '/mba/students'
            }
        }
    %>

    </div>

    <div class="section__poster section__poster--winter-class">
        <picture>
            <source media="(max-width: 767px)" srcset="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/mba-infographic.png' %>">
            <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/mba-infographic@2x.png' %>" alt="MBA March 2019 class" class="section__poster-image" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/mba-infographic@2x.png' %>">
        </picture>
    </div>

    <section class="section--our-community text-center text-sm-left">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-push-6">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/vectors/homepage/meaningful-connections-illustration.svg' %>" alt="" class="gallery__illustration gallery__illustration--right">
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-pull-6 gallery__text gallery__text--right">
                    <div class="gallery__title">Accelerated Career Outcomes</div>
                    <p class="gallery__description"><%= brand_name_standard %> students gain the skills and perspective needed to secure more senior roles, and the confidence and connections to join or start a new company. In fact, 94% of our alumni say they met their career goals post graduation.</p>
                    <div class="gallery__link">
                        <a class="link link--text-sm" href="/mba/outcomes">
                            More About Student Outcomes
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                                <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-push-6">
                    <img src="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/our-community.png' %>" data-rjs="<%= get_webpack_asset_value_for_key '/assets/images/the_free_mba/our-community@2x.png' %>" alt="" class="gallery__illustration">
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-pull-6 gallery__text">
                    <div class="gallery__title">Our community</div>
                    <p class="gallery__description">Beyond the curriculum, you'll connect with thousands of high-caliber students and employers in our network. From physical and online meet-ups and events around the world, <%= brand_name_standard %> is the destination to enhance your professional network.</p>
                    <div class="gallery__link">
                        <a class="link link--text-sm" href="/mba/network">
                            More about our Network
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                                <path fill="#4C79FF" d="M8.58578644,6 L2,6 C0.666666667,6 0.666666667,8 2,8 L8.58578644,8 L6.29289322,10.2928932 C5.90236893,10.6834175 5.90236893,11.3165825 6.29289322,11.7071068 C6.68341751,12.0976311 7.31658249,12.0976311 7.70710678,11.7071068 L11.7071068,7.70710678 C12.0976311,7.31658249 12.0976311,6.68341751 11.7071068,6.29289322 L7.70710678,2.29289322 C7.31658249,1.90236893 6.68341751,1.90236893 6.29289322,2.29289322 C5.90236893,2.68341751 5.90236893,3.31658249 6.29289322,3.70710678 L8.58578644,6 Z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
